# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.4.0
  title: Content Delivery Network (CDN)
  description: Публичная спецификация сервиса Content Delivery Network (CDN)

servers:
  - url: https://cdn.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /cdn/v1/projects/{project}/cdnResources:
    get:
      tags:
        - cdnResource
      summary: Получить список CDN-ресурсов
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `status.ready.state`
          - `spec.active`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `metadata.updateTime`
          - `status.ready.state`
          - `spec.active`
      operationId: ListCdnResources
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список CDN-ресурсов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResourcesResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /cdn/v1/projects/{project}/cdnResources/{cdnResource}:
    post:
      tags:
        - cdnResource
      summary: Создать или обновить CDN-ресурс
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertCdnResource
      parameters:
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_validateOnly"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_cdnResource"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CdnResourceRequest'
      responses:
        "200":
          description: Актуальное состояние ресурса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdnResourceResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - cdnResource
      summary: Получить выбранный CDN-ресурс
      operationId: GetCdnResource
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cdnResource"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Актуальное состояние ресурса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdnResourceResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - cdnResource
      summary: Удалить выбранный CDN-ресурс
      operationId: DeleteCdnResource
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_ifExist"
        - $ref: "#/components/parameters/query_validateOnly"
        - $ref: "#/components/parameters/query_cascade"
        - $ref: "#/components/parameters/path_cdnResource"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Ресурс удалён
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /cdn/v1/projects/{project}/cacheTasks:
    get:
      tags:
        - cacheTask
      summary: Получить список задач на управление кешем CDN
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `spec.resource`
          - `spec.action.purge`
          - `spec.action.prefetch`
          - `status.ready.state`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `spec.resource`
          - `metadata.createTime`
          - `metadata.updateTime`
          - `status.ready.state`
      operationId: ListCacheTasks
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список задач на управление кешем CDN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCacheTasksResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /cdn/v1/projects/{project}/cacheTasks/{cacheTask}:
    post:
      tags:
        - cacheTask
      summary: Создать задачу на управление кешем CDN
      operationId: CreateCacheTask
      parameters:
        - $ref: "#/components/parameters/query_validateOnly"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_cacheTask"
      security:
        - BearerAuth: []
      requestBody:
        description: Задача на управление кешем CDN
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CacheTaskRequest'
      responses:
        "200":
          description: Актуальное состояние ресурса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheTaskResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - cacheTask
      summary: Получить задачу на управление кешем CDN
      operationId: GetCacheTask
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cacheTask"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Актуальное состояние ресурса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheTaskResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /cdn/v1/egressIps:
    get:
      tags:
        - egressIp
      summary: Получение полного списка IP-префиксов CDN-серверов
      description: Получение полного списка IP-префиксов CDN-серверов
      operationId: GetEgressIps
      security:
        - {}
      responses:
        "200":
          description: Cписок IP префиксов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EgressIpsResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    ListResourcesResponseResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CdnResourceResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    CdnResourceResponse:
      type: object
      description: Основная логическая сущность, позволяющая настраивать и управлять распространением контента с источников через CDN
      properties:
        kind:
          type: string
          default: cdn/v1/cdnResource
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/CdnResourceSpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/CdnResourceStatusResponse'
          nullable: true
      required:
        - spec

    CommonTypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        id:
          type: string
          description: |-
            ID свойства
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
        displayName:
          type: string
          description: Отображаемое имя свойства
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса
          format: date-time
        purgeTime:
          type: string
          description: Время удаления ресурса
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/UsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    UsageResponse:
      type: object
      description: Связь ресурса с другим ресурсом. В зависимости от типа связи операции над ресурсом могут быть ограничены
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных `own` и `use` могут быть добавлены специализированные типы для конкретных сервисов
        name:
          type: string
          description: Имя связи. Требуется для модификации коллекции
        resource:
          type: string
          description: Ссылка на ресурс
      required:
        - usageType
        - name
        - resource

    CdnResourceSpecResponse:
      type: object
      properties:
        origins:
          type: array
          description: Список источников контента
          items:
            $ref: '#/components/schemas/CdnResourceOriginResponse'
        active:
          type: boolean
          description: Ресурс CDN активен/остановлен
          default: true
        certificates:
          type: array
          description: Ссылка на TLS-сертификаты. В данный момент разрешено указывать только один сертификат
          items:
            type: string
            description: |-
              Ссылка на ресурс
            
              Строка в форматах:
                Полный формат:
                  - "certmanager/projects/{project}/certificates/{name}"
                Сокращенные форматы:
                  - "projects/{project}/certificates/{name}"
                  - "certificates/{name}"
                  - "{name}"
            
              Полный формат всегда корректен.
              Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
            
              Примеры:
                - "certmanager/projects/myProject/certificates/myName"
                - "projects/myProject/certificates/myName"
                - "certificates/myName"
                - "myName"
        cnames:
          type: array
          description: Список доменов 3-го уровня или выше, по которым будет доступен CDN помимо сгенерированного домена
          items:
            type: string
        forceHttps:
          type: boolean
          description: Принудительное использование защищенного HTTPS-соединения
        http3:
          type: boolean
          description: Включить HTTP/3
        shielding:
          type: boolean
          description: Включить shielding
        options:
          $ref: '#/components/schemas/OptionsResponse'
          description: Дополнительные опции доставки контента для ресурса CDN. Распространяются на весь контент, если не определены location-специфичные опции
        locationOptions:
          type: array
          description: Правила доставки контента для определенных путей
          items:
            $ref: '#/components/schemas/LocationOptionsResponse'
        accessLogs:
          allOf:
            - $ref: '#/components/schemas/AccessLogsResponse'
          description: Конфигурация доставки логов доступа (access logs)
          nullable: true
      required:
        - origins
        - forceHttps
        - http3
        - options

    CdnResourceOriginResponse:
      type: object
      description: Источник контента для CDN-ресурса
      properties:
        spec:
          allOf:
            - $ref: '#/components/schemas/OriginSpecResponse'
          description: Спецификация источника контента
          nullable: true

    OriginSpecResponse:
      type: object
      description: Спецификация источника контента
      properties:
        externalUrl:
          type: string
          description: URL и порт (опционально) внешнего источника
        backup:
          type: boolean
          description: Использовать источник как бэкап (будет задействован только в случае если "основные" источники недоступны)
      required:
        - externalUrl

    OptionsResponse:
      type: object
      description: Дополнительные опции доставки контента для ресурса CDN. Распространяются на весь контент, если не определены location-специфичные опции
      properties:
        ignoreSetCookie:
          $ref: '#/components/schemas/IgnoreSetCookieOption'
          description: Игнорировать значение заголовка Set-Cookie. При выключенной опции файл с разными значениями заголовка Set-Cookie интерпретируется как разные файлы
        clientCaching:
          allOf:
            - $ref: '#/components/schemas/ClientCachingOptionResponse'
          description: Кэширование контента на стороне клиента (если не задано - Заголовок Cache-Control не передается)
          nullable: true
        cdnCaching:
          $ref: '#/components/schemas/CdnCachingOptionResponse'
          description: Кеширование контента на стороне CDN
        rewrite:
          allOf:
            - $ref: '#/components/schemas/RewriteOptionResponse'
          description: Изменение URI запроса с помощью регулярных выражений (если не задано - rewrite выключен)
          nullable: true
        optimization:
          allOf:
            - $ref: '#/components/schemas/OptimizationOptionResponse'
          description: Оптимизация доставки контента (если не задано - оптимизации выключены)
          nullable: true
        followRedirects:
          $ref: '#/components/schemas/FollowRedirectsOption'
          description: Если источник вернёт редирект, опция позволяет CDN получить запрошенный контент с адреса, который был возвращён в редиректе
        addResponseHeaders:
          type: array
          description: Дополнительные заголовки, которые добавляются в ответ источника контента на запросы клиента
          items:
            $ref: '#/components/schemas/HeaderOptionResponse'
        addRequestHeaders:
          type: array
          description: Дополнительные заголовки, которые добавляются в запрос клиента к источнику контента
          items:
            $ref: '#/components/schemas/HeaderOptionResponse'
        cors:
          allOf:
            - $ref: '#/components/schemas/CorsOptionResponse'
          description: Работа с CORS (если не задано - CORS выключен)
          nullable: true
        removeResponseHeaders:
          type: array
          description: Исключить заголовки в ответе от источника контента клиенту
          items:
            type: string
        removeRequestHeaders:
          type: array
          description: Исключить заголовки в запросе от клиента к источнику контента
          items:
            type: string
        hostHeader:
          $ref: '#/components/schemas/HostHeaderOptionResponse'
          description: Задает значение заголовка Host при обращении к источнику контента
        geoAccessPolicy:
          allOf:
            - $ref: '#/components/schemas/GeoAccessPolicyOptionResponse'
          description: Доступ к контенту по странам (если не задано - контент доступен всем странам)
          nullable: true
        ipAccessPolicy:
          allOf:
            - $ref: '#/components/schemas/IpAccessPolicyOptionResponse'
          description: Доступ к контенту по IP-адресам (если не задано - контент доступен всем IP-адресам)
          nullable: true
        domainNameAccessPolicy:
          allOf:
            - $ref: '#/components/schemas/DomainNameAccessPolicyOptionResponse'
          description: Доступ к контенту по домену (если не задано - контент доступен для клиентов с любым значением заголовка Referer)
          nullable: true
        sniHost:
          allOf:
            - $ref: '#/components/schemas/SniHostOptionResponse'
          description: Изменение SNI-хоста (если не задано - SNI-хост соответствует значению заголовка Host)
          nullable: true
        websockets:
          $ref: '#/components/schemas/WebSocketsOption'
          description: Включить возможность получение контента через WebSocket-соединение
      required:
        - cdnCaching
        - hostHeader

    IgnoreSetCookieOption:
      type: boolean
      description: Игнорировать значение заголовка Set-Cookie. При выключенной опции файл с разными значениями заголовка Set-Cookie интерпретируется как разные файлы

    ClientCachingOptionResponse:
      type: object
      description: Настройка кеширования контента на стороне клиента (заголовок Cache-Control)
      properties:
        maxAge:
          type: string
          description: |-
            Клиент получает ответ с заголовком Cache-Control, где значение инструкции max-age соответствует указанному значению
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        drop:
          type: boolean
          description: Заголовок Cache-Control не передается
        forward:
          type: boolean
          description: Заголовок "Cache-Control" пересылается от источника к клиенту без изменений
        useResourceOption:
          type: boolean
          description: Клиент получает ответ с заголовком Cache-Control, где значение инструкции max-age соответствует настройкам кеширования ресурса CDN

    CdnCachingOptionResponse:
      type: object
      description: Настройка кеширования контента на стороне CDN
      properties:
        origin:
          allOf:
            - $ref: '#/components/schemas/CdnCachingOptionOriginResponse'
          description: Настройка кеширования контента на стороне CDN с приоритетом на заголовки origin
          nullable: true
        custom:
          allOf:
            - $ref: '#/components/schemas/CdnCachingOptionCustomResponse'
          description: Настройка кеширования контента на стороне CDN с указанием кастомных кодов
          nullable: true
        disabled:
          type: boolean
          description: Кеширование выключено

    CdnCachingOptionOriginResponse:
      type: object
      description: Настройка кеширования контента на стороне CDN с приоритетом на заголовки origin
      properties:
        ttl:
          type: string
          description: |-
            Базовое время жизни кеша
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        queryCaching:
          allOf:
            - $ref: '#/components/schemas/QueryCachingResponse'
          description: Кеширование контента по query-параметрам
          nullable: true
      required:
        - ttl

    QueryCachingResponse:
      type: object
      description: Кеширование контента по query-параметрам
      properties:
        useAll:
          type: boolean
          description: Использовать все параметры
        ignoreAll:
          type: boolean
          description: Игнорировать все параметры
        whitelist:
          type: array
          description: Использовать белый список параметров
          items:
            type: string
        blacklist:
          type: array
          description: Использовать черный список параметров
          items:
            type: string

    CdnCachingOptionCustomResponse:
      type: object
      description: Настройка кеширования контента на стороне CDN с указанием кастомных кодов
      properties:
        ttl:
          type: string
          description: |-
            Базовое время жизни кеша
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        intervals:
          type: array
          items:
            $ref: '#/components/schemas/CacheIntervalResponse'
        queryCaching:
          allOf:
            - $ref: '#/components/schemas/QueryCachingResponse'
          description: Кеширование контента по query-параметрам
          nullable: true
      required:
        - ttl

    CacheIntervalResponse:
      type: object
      description: Настройка кеширования контента на стороне CDN
      properties:
        ttl:
          type: string
          description: |-
            Время жизни кеша
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        httpCodes:
          type: array
          items:
            type: string
      required:
        - ttl
        - httpCodes

    RewriteOptionResponse:
      type: object
      description: Настройки перезаписи URI запроса с помощью регулярных выражений
      properties:
        regex:
          type: string
          description: Регулярное выражение, определяющее путь, для которого будет применяться перезапись
        replacement:
          type: string
          description: Целевой паттерн для перезаписи
      required:
        - regex
        - replacement

    OptimizationOptionResponse:
      type: object
      description: Настройки оптимизации доставки контента
      properties:
        gzip:
          type: boolean
          description: Перед доставкой контент будет сжиматься CDN-серверами с помощью алгоритма сжатия Gzip
        slicing:
          type: boolean
          description: Файл будет запрашиваться и храниться в кеше частями по 10МБ
        originCompression:
          type: boolean
          description: Запрашивать сжатие на источнике
      required:
        - gzip
        - slicing
        - originCompression

    FollowRedirectsOption:
      type: boolean
      description: Если источник вернёт редирект, опция позволяет CDN получить запрошенный контент с адреса, который был возвращён в редиректе

    HeaderOptionResponse:
      type: object
      description: 'HTTP-заголовок: имя и значение'
      properties:
        name:
          type: string
          description: Имя заголовка
        value:
          type: string
          description: Значение заголовка
      required:
        - name
        - value

    CorsOptionResponse:
      type: object
      description: Настройка работы с CORS. Определяет значение заголовка Access-Control-Allow-Origin. Если не задано - CORS выключен
      properties:
        domains:
          type: array
          description: Разрешить CORS-запросы для доменов из списка. В заголовке Access-Control-Allow-Origin ответа будет значение заголовка Origin из запроса
          items:
            type: string
        all:
          type: boolean
          description: Разрешить CORS-запросы для всех доменов. В заголовке Access-Control-Allow-Origin ответа будет значение "*"
        origin:
          type: boolean
          description: Разрешить CORS-запросы для всех доменов. В заголовке Access-Control-Allow-Origin ответа будет значение заголовка Origin из запроса
        disabled:
          type: boolean
          description: CORS выключен. Заголовок Access-Control-Allow-Origin не передается

    HostHeaderOptionResponse:
      type: object
      description: Задает значение заголовка Host при обращении к источнику контента
      properties:
        value:
          type: string
          description: Задает собственное значение заголовка Host
        forward:
          type: boolean
          description: Пересылается значение заголовка Host из запроса клиента

    GeoAccessPolicyOptionResponse:
      type: object
      description: Политика доступа к контенту по странам. Если политика доступа не задана, то контент доступен для всех стран
      properties:
        allow:
          type: array
          description: Список кодов стран в формате ISO 3166-1 alpha-2. Для указанных стран доступ к контенту разрешен, для остальных - запрещен
          items:
            type: string
        deny:
          type: array
          description: Список кодов стран в формате ISO 3166-1 alpha-2. Для указанных стран доступ к контенту запрещен, для остальных - разрешен
          items:
            type: string

    IpAccessPolicyOptionResponse:
      type: object
      description: Политика доступа к контенту по IP-адресам. Если политика доступа не задана, то контент доступен для любых IP-адресов
      properties:
        allow:
          type: array
          description: Список диапазонов IP-адресов в нотации CIDR. Для указанных диапазонов IP-адресов доступ к контенту разрешен, для остальных - запрещен
          items:
            type: string
        deny:
          type: array
          description: Список диапазонов IP-адресов в нотации CIDR. Для указанных диапазонов IP-адресов доступ к контенту запрещен, для остальных - разрешен
          items:
            type: string

    DomainNameAccessPolicyOptionResponse:
      type: object
      description: Политика доступа к контенту по доменному имени из значения заголовка Referer. Если политика доступа не задана, то контент доступен для запросов с любых доменов
      properties:
        allow:
          type: array
          description: Список доменных имен (поддерживаются маски). Для указанных доменных имен доступ к контенту разрешен, для остальных - запрещен
          items:
            type: string
        deny:
          type: array
          description: Список доменных имен (поддерживаются маски). Для указанных доменных имен доступ к контенту запрещен, для остальных - разрешен
          items:
            type: string

    SniHostOptionResponse:
      type: object
      description: Задает имя SNI-хоста для индикации хоста-источника, к которому обращается сервер CDN. Применимо только для защищенного HTTPS-соединения
      properties:
        sniHost:
          type: string
          description: Имя SNI-хоста
        useHostHeader:
          type: boolean
          description: Имя SNI-хоста соответствует значению заголовка Host. См. опцию hostHeader

    WebSocketsOption:
      type: boolean
      description: Включить возможность получение контента через WebSocket-соединение

    LocationOptionsResponse:
      type: object
      description: Дополнительные специфичные опции доставки контента для ресурса CDN. Могут различаться в зависимости от локации (location). Наличие опции переопределяет соответствующую опцию ресурса CDN. Исключение — настройки перезаписи URI (опция rewrite)
      properties:
        description:
          type: string
          description: Описание набора опций
        locationPattern:
          type: string
          description: Регулярное выражение, описывающее путь к контенту
        ignoreSetCookie:
          $ref: '#/components/schemas/IgnoreSetCookieOption'
          description: Игнорировать значение заголовка Set-Cookie. При выключенной опции файл с разными значениями заголовка Set-Cookie интерпретируется как разные файлы
        clientCaching:
          allOf:
            - $ref: '#/components/schemas/ClientCachingOptionResponse'
          description: Настройка кеширования контента на стороне клиента (заголовок Cache-Control)
          nullable: true
        cdnCaching:
          allOf:
            - $ref: '#/components/schemas/CdnCachingOptionResponse'
          description: Настройка кеширования контента на стороне CDN
          nullable: true
        rewrite:
          allOf:
            - $ref: '#/components/schemas/RewriteOptionResponse'
          description: Настройки перезаписи URI запроса с помощью регулярных выражений
          nullable: true
        optimization:
          allOf:
            - $ref: '#/components/schemas/OptimizationOptionResponse'
          description: Настройки оптимизации доставки контента
          nullable: true
        websockets:
          $ref: '#/components/schemas/WebSocketsOption'
          description: Включить возможность получение контента через WebSocket-соединение
        followRedirects:
          $ref: '#/components/schemas/FollowRedirectsOption'
          description: Если источник вернёт редирект, опция позволяет CDN получить запрошенный контент с адреса, который был возвращён в редиректе
        addResponseHeaders:
          type: array
          description: Дополнительные заголовки, которые добавляются в ответ источника контента на запросы клиента
          items:
            $ref: '#/components/schemas/HeaderOptionResponse'
        addRequestHeaders:
          type: array
          description: Дополнительные заголовки, которые добавляются в запрос клиента к источнику контента
          items:
            $ref: '#/components/schemas/HeaderOptionResponse'
        cors:
          allOf:
            - $ref: '#/components/schemas/CorsOptionResponse'
          description: Настройка работы с CORS. Определяет значение заголовка Access-Control-Allow-Origin. Если не задано - CORS выключен
          nullable: true
        removeResponseHeaders:
          type: array
          description: Исключить заголовки в ответе от источника контента клиенту
          items:
            type: string
        removeRequestHeaders:
          type: array
          description: Исключить заголовки в запросе от клиента к источнику контента
          items:
            type: string
        hostHeader:
          allOf:
            - $ref: '#/components/schemas/HostHeaderOptionResponse'
          description: Задает значение заголовка Host при обращении к источнику контента
          nullable: true
        geoAccessPolicy:
          allOf:
            - $ref: '#/components/schemas/GeoAccessPolicyOptionResponse'
          description: Политика доступа к контенту по странам. Если политика доступа не задана, то контент доступен для всех стран
          nullable: true
        ipAccessPolicy:
          allOf:
            - $ref: '#/components/schemas/IpAccessPolicyOptionResponse'
          description: Политика доступа к контенту по IP-адресам. Если политика доступа не задана, то контент доступен для любых IP-адресов
          nullable: true
        domainNameAccessPolicy:
          allOf:
            - $ref: '#/components/schemas/DomainNameAccessPolicyOptionResponse'
          description: Политика доступа к контенту по доменному имени из значения заголовка Referer. Если политика доступа не задана, то контент доступен для запросов с любых доменов
          nullable: true
        sniHost:
          allOf:
            - $ref: '#/components/schemas/SniHostOptionResponse'
          description: Задает имя SNI-хоста для индикации хоста-источника, к которому обращается сервер CDN. Применимо только для защищенного HTTPS-соединения
          nullable: true
      required:
        - description
        - locationPattern

    AccessLogsResponse:
      type: object
      description: Конфигурация доставки логов доступа (access logs)
      properties:
        enabled:
          type: boolean
          description: Доставка логов доступа (access logs) выключена
        bucket:
          type: string
          description: |-
            Ссылка на бакет
          
            Строка в форматах:
              Полный формат:
                - "storage/projects/{project}/buckets/{bucket}"
              Сокращенные форматы:
                - "projects/{project}/buckets/{bucket}"
                - "buckets/{bucket}"
                - "{bucket}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "storage/projects/myProject/buckets/myBucket"
              - "projects/myProject/buckets/myBucket"
              - "buckets/myBucket"
              - "myBucket"
        prefix:
          type: string
          description: Prefix пути в бакете
      required:
        - bucket

    CdnResourceStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            fqdn:
              type: string
              description: Сгенерированное доменное имя ресурса CDN

    ResourceStatusResponse:
      type: object
      description: Текущее состояние ресурса, вычисляемое системой
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    CdnResourceRequest:
      type: object
      description: Основная логическая сущность, позволяющая настраивать и управлять распространением контента с источников через CDN
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/CdnResourceSpecRequest'
          description: Обязательно для заполнения при создании ресурса

    CommonTypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя свойства
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    CdnResourceSpecRequest:
      type: object
      properties:
        origins:
          type: array
          description: |-
            Список источников контента
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/CdnResourceOriginRequest'
        active:
          type: boolean
          description: Ресурс CDN активен/остановлен
          default: true
        certificates:
          type: array
          description: |-
            Ссылка на TLS-сертификаты. В данный момент разрешено указывать только один сертификат
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string
            description: |-
              Ссылка на ресурс
            
              Строка в форматах:
                Полный формат:
                  - "certmanager/projects/{project}/certificates/{name}"
                Сокращенные форматы:
                  - "projects/{project}/certificates/{name}"
                  - "certificates/{name}"
                  - "{name}"
            
              Полный формат всегда корректен.
              Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
            
              Примеры:
                - "certmanager/projects/myProject/certificates/myName"
                - "projects/myProject/certificates/myName"
                - "certificates/myName"
                - "myName"
        cnames:
          type: array
          description: |-
            Список доменов 3-го уровня или выше, по которым будет доступен CDN помимо сгенерированного домена
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string
        forceHttps:
          type: boolean
          description: |-
            Принудительное использование защищенного HTTPS-соединения
          
            Обязательно для заполнения при создании ресурса
        http3:
          type: boolean
          description: |-
            Включить HTTP/3
          
            Обязательно для заполнения при создании ресурса
        shielding:
          type: boolean
          description: Включить shielding
        options:
          $ref: '#/components/schemas/OptionsRequest'
          description: |-
            Дополнительные опции доставки контента для ресурса CDN. Распространяются на весь контент, если не определены location-специфичные опции
          
            Обязательно для заполнения при создании ресурса
        locationOptions:
          type: array
          description: |-
            Правила доставки контента для определенных путей
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/LocationOptionsRequest'
        accessLogs:
          allOf:
            - $ref: '#/components/schemas/AccessLogsRequest'
          description: Конфигурация доставки логов доступа (access logs)
          nullable: true

    CdnResourceOriginRequest:
      type: object
      description: Источник контента для CDN-ресурса
      properties:
        spec:
          allOf:
            - $ref: '#/components/schemas/OriginSpecRequest'
          description: Спецификация источника контента
          nullable: true

    OriginSpecRequest:
      type: object
      description: Спецификация источника контента
      properties:
        externalUrl:
          type: string
          description: |-
            URL и порт (опционально) внешнего источника
          
            Обязательно для заполнения при создании ресурса
        backup:
          type: boolean
          description: Использовать источник как бэкап (будет задействован только в случае если "основные" источники недоступны)

    OptionsRequest:
      type: object
      description: Дополнительные опции доставки контента для ресурса CDN. Распространяются на весь контент, если не определены location-специфичные опции
      properties:
        ignoreSetCookie:
          $ref: '#/components/schemas/IgnoreSetCookieOption'
          description: Игнорировать значение заголовка Set-Cookie. При выключенной опции файл с разными значениями заголовка Set-Cookie интерпретируется как разные файлы
        clientCaching:
          allOf:
            - $ref: '#/components/schemas/ClientCachingOptionRequest'
          description: Кэширование контента на стороне клиента (если не задано - Заголовок Cache-Control не передается)
          nullable: true
        cdnCaching:
          $ref: '#/components/schemas/CdnCachingOptionRequest'
          description: |-
            Кеширование контента на стороне CDN
          
            Обязательно для заполнения при создании ресурса
        rewrite:
          allOf:
            - $ref: '#/components/schemas/RewriteOptionRequest'
          description: Изменение URI запроса с помощью регулярных выражений (если не задано - rewrite выключен)
          nullable: true
        optimization:
          allOf:
            - $ref: '#/components/schemas/OptimizationOptionRequest'
          description: Оптимизация доставки контента (если не задано - оптимизации выключены)
          nullable: true
        followRedirects:
          $ref: '#/components/schemas/FollowRedirectsOption'
          description: Если источник вернёт редирект, опция позволяет CDN получить запрошенный контент с адреса, который был возвращён в редиректе
        addResponseHeaders:
          type: array
          description: |-
            Дополнительные заголовки, которые добавляются в ответ источника контента на запросы клиента
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/HeaderOptionRequest'
        addRequestHeaders:
          type: array
          description: |-
            Дополнительные заголовки, которые добавляются в запрос клиента к источнику контента
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/HeaderOptionRequest'
        cors:
          allOf:
            - $ref: '#/components/schemas/CorsOptionRequest'
          description: Работа с CORS (если не задано - CORS выключен)
          nullable: true
        removeResponseHeaders:
          type: array
          description: |-
            Исключить заголовки в ответе от источника контента клиенту
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string
        removeRequestHeaders:
          type: array
          description: |-
            Исключить заголовки в запросе от клиента к источнику контента
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string
        hostHeader:
          $ref: '#/components/schemas/HostHeaderOptionRequest'
          description: |-
            Задает значение заголовка Host при обращении к источнику контента
          
            Обязательно для заполнения при создании ресурса
        geoAccessPolicy:
          allOf:
            - $ref: '#/components/schemas/GeoAccessPolicyOptionRequest'
          description: Доступ к контенту по странам (если не задано - контент доступен всем странам)
          nullable: true
        ipAccessPolicy:
          allOf:
            - $ref: '#/components/schemas/IpAccessPolicyOptionRequest'
          description: Доступ к контенту по IP-адресам (если не задано - контент доступен всем IP-адресам)
          nullable: true
        domainNameAccessPolicy:
          allOf:
            - $ref: '#/components/schemas/DomainNameAccessPolicyOptionRequest'
          description: Доступ к контенту по домену (если не задано - контент доступен для клиентов с любым значением заголовка Referer)
          nullable: true
        sniHost:
          allOf:
            - $ref: '#/components/schemas/SniHostOptionRequest'
          description: Изменение SNI-хоста (если не задано - SNI-хост соответствует значению заголовка Host)
          nullable: true
        websockets:
          $ref: '#/components/schemas/WebSocketsOption'
          description: Включить возможность получение контента через WebSocket-соединение

    ClientCachingOptionRequest:
      type: object
      description: Настройка кеширования контента на стороне клиента (заголовок Cache-Control)
      properties:
        maxAge:
          type: string
          description: |-
            Клиент получает ответ с заголовком Cache-Control, где значение инструкции max-age соответствует указанному значению
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        drop:
          type: boolean
          description: Заголовок Cache-Control не передается
        forward:
          type: boolean
          description: Заголовок "Cache-Control" пересылается от источника к клиенту без изменений
        useResourceOption:
          type: boolean
          description: Клиент получает ответ с заголовком Cache-Control, где значение инструкции max-age соответствует настройкам кеширования ресурса CDN

    CdnCachingOptionRequest:
      type: object
      description: Настройка кеширования контента на стороне CDN
      properties:
        origin:
          allOf:
            - $ref: '#/components/schemas/CdnCachingOptionOriginRequest'
          description: Настройка кеширования контента на стороне CDN с приоритетом на заголовки origin
          nullable: true
        custom:
          allOf:
            - $ref: '#/components/schemas/CdnCachingOptionCustomRequest'
          description: Настройка кеширования контента на стороне CDN с указанием кастомных кодов
          nullable: true
        disabled:
          type: boolean
          description: Кеширование выключено

    CdnCachingOptionOriginRequest:
      type: object
      description: Настройка кеширования контента на стороне CDN с приоритетом на заголовки origin
      properties:
        ttl:
          type: string
          description: |-
            Базовое время жизни кеша
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        queryCaching:
          allOf:
            - $ref: '#/components/schemas/QueryCachingRequest'
          description: Кеширование контента по query-параметрам
          nullable: true

    QueryCachingRequest:
      type: object
      description: Кеширование контента по query-параметрам
      properties:
        useAll:
          type: boolean
          description: Использовать все параметры
        ignoreAll:
          type: boolean
          description: Игнорировать все параметры
        whitelist:
          type: array
          description: |-
            Использовать белый список параметров
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string
        blacklist:
          type: array
          description: |-
            Использовать черный список параметров
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string

    CdnCachingOptionCustomRequest:
      type: object
      description: Настройка кеширования контента на стороне CDN с указанием кастомных кодов
      properties:
        ttl:
          type: string
          description: |-
            Базовое время жизни кеша
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        intervals:
          type: array
          description: Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/CacheIntervalRequest'
        queryCaching:
          allOf:
            - $ref: '#/components/schemas/QueryCachingRequest'
          description: Кеширование контента по query-параметрам
          nullable: true

    CacheIntervalRequest:
      type: object
      description: Настройка кеширования контента на стороне CDN
      properties:
        ttl:
          type: string
          description: |-
            Время жизни кеша
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        httpCodes:
          type: array
          description: |-
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            type: string

    RewriteOptionRequest:
      type: object
      description: Настройки перезаписи URI запроса с помощью регулярных выражений
      properties:
        regex:
          type: string
          description: |-
            Регулярное выражение, определяющее путь, для которого будет применяться перезапись
          
            Обязательно для заполнения при создании ресурса
        replacement:
          type: string
          description: |-
            Целевой паттерн для перезаписи
          
            Обязательно для заполнения при создании ресурса

    OptimizationOptionRequest:
      type: object
      description: Настройки оптимизации доставки контента
      properties:
        gzip:
          type: boolean
          description: |-
            Перед доставкой контент будет сжиматься CDN-серверами с помощью алгоритма сжатия Gzip
          
            Обязательно для заполнения при создании ресурса
        slicing:
          type: boolean
          description: |-
            Файл будет запрашиваться и храниться в кеше частями по 10МБ
          
            Обязательно для заполнения при создании ресурса
        originCompression:
          type: boolean
          description: |-
            Запрашивать сжатие на источнике
          
            Обязательно для заполнения при создании ресурса

    HeaderOptionRequest:
      type: object
      description: 'HTTP-заголовок: имя и значение'
      properties:
        name:
          type: string
          description: |-
            Имя заголовка
          
            Обязательно для заполнения при создании ресурса
        value:
          type: string
          description: |-
            Значение заголовка
          
            Обязательно для заполнения при создании ресурса

    CorsOptionRequest:
      type: object
      description: Настройка работы с CORS. Определяет значение заголовка Access-Control-Allow-Origin. Если не задано - CORS выключен
      properties:
        domains:
          type: array
          description: |-
            Разрешить CORS-запросы для доменов из списка. В заголовке Access-Control-Allow-Origin ответа будет значение заголовка Origin из запроса
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string
        all:
          type: boolean
          description: Разрешить CORS-запросы для всех доменов. В заголовке Access-Control-Allow-Origin ответа будет значение "*"
        origin:
          type: boolean
          description: Разрешить CORS-запросы для всех доменов. В заголовке Access-Control-Allow-Origin ответа будет значение заголовка Origin из запроса
        disabled:
          type: boolean
          description: CORS выключен. Заголовок Access-Control-Allow-Origin не передается

    HostHeaderOptionRequest:
      type: object
      description: Задает значение заголовка Host при обращении к источнику контента
      properties:
        value:
          type: string
          description: Задает собственное значение заголовка Host
        forward:
          type: boolean
          description: Пересылается значение заголовка Host из запроса клиента

    GeoAccessPolicyOptionRequest:
      type: object
      description: Политика доступа к контенту по странам. Если политика доступа не задана, то контент доступен для всех стран
      properties:
        allow:
          type: array
          description: |-
            Список кодов стран в формате ISO 3166-1 alpha-2. Для указанных стран доступ к контенту разрешен, для остальных - запрещен
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string
        deny:
          type: array
          description: |-
            Список кодов стран в формате ISO 3166-1 alpha-2. Для указанных стран доступ к контенту запрещен, для остальных - разрешен
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string

    IpAccessPolicyOptionRequest:
      type: object
      description: Политика доступа к контенту по IP-адресам. Если политика доступа не задана, то контент доступен для любых IP-адресов
      properties:
        allow:
          type: array
          description: |-
            Список диапазонов IP-адресов в нотации CIDR. Для указанных диапазонов IP-адресов доступ к контенту разрешен, для остальных - запрещен
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string
        deny:
          type: array
          description: |-
            Список диапазонов IP-адресов в нотации CIDR. Для указанных диапазонов IP-адресов доступ к контенту запрещен, для остальных - разрешен
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string

    DomainNameAccessPolicyOptionRequest:
      type: object
      description: Политика доступа к контенту по доменному имени из значения заголовка Referer. Если политика доступа не задана, то контент доступен для запросов с любых доменов
      properties:
        allow:
          type: array
          description: |-
            Список доменных имен (поддерживаются маски). Для указанных доменных имен доступ к контенту разрешен, для остальных - запрещен
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string
        deny:
          type: array
          description: |-
            Список доменных имен (поддерживаются маски). Для указанных доменных имен доступ к контенту запрещен, для остальных - разрешен
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string

    SniHostOptionRequest:
      type: object
      description: Задает имя SNI-хоста для индикации хоста-источника, к которому обращается сервер CDN. Применимо только для защищенного HTTPS-соединения
      properties:
        sniHost:
          type: string
          description: Имя SNI-хоста
        useHostHeader:
          type: boolean
          description: Имя SNI-хоста соответствует значению заголовка Host. См. опцию hostHeader

    LocationOptionsRequest:
      type: object
      description: Дополнительные специфичные опции доставки контента для ресурса CDN. Могут различаться в зависимости от локации (location). Наличие опции переопределяет соответствующую опцию ресурса CDN. Исключение — настройки перезаписи URI (опция rewrite)
      properties:
        description:
          type: string
          description: |-
            Описание набора опций
          
            Обязательно для заполнения при создании ресурса
        locationPattern:
          type: string
          description: |-
            Регулярное выражение, описывающее путь к контенту
          
            Обязательно для заполнения при создании ресурса
        ignoreSetCookie:
          $ref: '#/components/schemas/IgnoreSetCookieOption'
          description: Игнорировать значение заголовка Set-Cookie. При выключенной опции файл с разными значениями заголовка Set-Cookie интерпретируется как разные файлы
        clientCaching:
          allOf:
            - $ref: '#/components/schemas/ClientCachingOptionRequest'
          description: Настройка кеширования контента на стороне клиента (заголовок Cache-Control)
          nullable: true
        cdnCaching:
          allOf:
            - $ref: '#/components/schemas/CdnCachingOptionRequest'
          description: Настройка кеширования контента на стороне CDN
          nullable: true
        rewrite:
          allOf:
            - $ref: '#/components/schemas/RewriteOptionRequest'
          description: Настройки перезаписи URI запроса с помощью регулярных выражений
          nullable: true
        optimization:
          allOf:
            - $ref: '#/components/schemas/OptimizationOptionRequest'
          description: Настройки оптимизации доставки контента
          nullable: true
        websockets:
          $ref: '#/components/schemas/WebSocketsOption'
          description: Включить возможность получение контента через WebSocket-соединение
        followRedirects:
          $ref: '#/components/schemas/FollowRedirectsOption'
          description: Если источник вернёт редирект, опция позволяет CDN получить запрошенный контент с адреса, который был возвращён в редиректе
        addResponseHeaders:
          type: array
          description: |-
            Дополнительные заголовки, которые добавляются в ответ источника контента на запросы клиента
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/HeaderOptionRequest'
        addRequestHeaders:
          type: array
          description: |-
            Дополнительные заголовки, которые добавляются в запрос клиента к источнику контента
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/HeaderOptionRequest'
        cors:
          allOf:
            - $ref: '#/components/schemas/CorsOptionRequest'
          description: Настройка работы с CORS. Определяет значение заголовка Access-Control-Allow-Origin. Если не задано - CORS выключен
          nullable: true
        removeResponseHeaders:
          type: array
          description: |-
            Исключить заголовки в ответе от источника контента клиенту
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string
        removeRequestHeaders:
          type: array
          description: |-
            Исключить заголовки в запросе от клиента к источнику контента
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string
        hostHeader:
          allOf:
            - $ref: '#/components/schemas/HostHeaderOptionRequest'
          description: Задает значение заголовка Host при обращении к источнику контента
          nullable: true
        geoAccessPolicy:
          allOf:
            - $ref: '#/components/schemas/GeoAccessPolicyOptionRequest'
          description: Политика доступа к контенту по странам. Если политика доступа не задана, то контент доступен для всех стран
          nullable: true
        ipAccessPolicy:
          allOf:
            - $ref: '#/components/schemas/IpAccessPolicyOptionRequest'
          description: Политика доступа к контенту по IP-адресам. Если политика доступа не задана, то контент доступен для любых IP-адресов
          nullable: true
        domainNameAccessPolicy:
          allOf:
            - $ref: '#/components/schemas/DomainNameAccessPolicyOptionRequest'
          description: Политика доступа к контенту по доменному имени из значения заголовка Referer. Если политика доступа не задана, то контент доступен для запросов с любых доменов
          nullable: true
        sniHost:
          allOf:
            - $ref: '#/components/schemas/SniHostOptionRequest'
          description: Задает имя SNI-хоста для индикации хоста-источника, к которому обращается сервер CDN. Применимо только для защищенного HTTPS-соединения
          nullable: true

    AccessLogsRequest:
      type: object
      description: Конфигурация доставки логов доступа (access logs)
      properties:
        enabled:
          type: boolean
          description: Доставка логов доступа (access logs) выключена
        bucket:
          type: string
          description: |-
            Ссылка на бакет
          
            Строка в форматах:
              Полный формат:
                - "storage/projects/{project}/buckets/{bucket}"
              Сокращенные форматы:
                - "projects/{project}/buckets/{bucket}"
                - "buckets/{bucket}"
                - "{bucket}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "storage/projects/myProject/buckets/myBucket"
              - "projects/myProject/buckets/myBucket"
              - "buckets/myBucket"
              - "myBucket"
        prefix:
          type: string
          description: Prefix пути в бакете

    ListCacheTasksResponseResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CacheTaskResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    CacheTaskResponse:
      type: object
      description: Задача на управление кешем CDN
      properties:
        kind:
          type: string
          default: cdn/v1/cacheTask
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/CacheTaskSpecResponse'
          description: Спецификация задачи на управление кешем CDN
        status:
          allOf:
            - $ref: '#/components/schemas/ResourceStatusResponse'
          description: Текущее состояние ресурса, вычисляемое системой
          nullable: true
      required:
        - metadata
        - spec

    CacheTaskSpecResponse:
      type: object
      description: Спецификация задачи на управление кешем CDN
      properties:
        resource:
          type: string
          description: |-
            Ссылка на ресурс CDN
          
            Строка в форматах:
              Полный формат:
                - "cdn/projects/{project}/cdnResources/{cdnResource}"
              Сокращенные форматы:
                - "projects/{project}/cdnResources/{cdnResource}"
                - "cdnResources/{cdnResource}"
                - "{cdnResource}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "cdn/projects/myProject/cdnResources/myCdnResource"
              - "projects/myProject/cdnResources/myCdnResource"
              - "cdnResources/myCdnResource"
              - "myCdnResource"
        action:
          allOf:
            - $ref: '#/components/schemas/CacheActionSpecResponse'
          description: Тип задачи, которую необходимо совершить с кешем
          nullable: true

    CacheActionSpecResponse:
      type: object
      description: Тип задачи, которую необходимо совершить с кешем
      properties:
        purge:
          allOf:
            - $ref: '#/components/schemas/CachePurgePathsSpecResponse'
          description: Относительные пути для контента, который должен быть удален из кеша CDN
          nullable: true
        prefetch:
          allOf:
            - $ref: '#/components/schemas/CachePrefetchPathsSpecResponse'
          description: Относительные пути для контента, который должен быть предзагружен в кеш CDN
          nullable: true

    CachePurgePathsSpecResponse:
      type: object
      description: Относительные пути для контента, который должен быть удален из кеша CDN
      properties:
        paths:
          type: array
          description: Список путей к контенту. Поддерживаются маски
          items:
            type: string
      required:
        - paths

    CachePrefetchPathsSpecResponse:
      type: object
      description: Относительные пути для контента, который должен быть предзагружен в кеш CDN
      properties:
        paths:
          type: array
          description: Список путей к конкретным файлам
          items:
            type: string
      required:
        - paths

    CacheTaskRequest:
      type: object
      description: Задача на управление кешем CDN
      properties:
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/CacheTaskSpecRequest'
          description: Спецификация задачи на управление кешем CDN
      required:
        - metadata
        - spec

    CacheTaskSpecRequest:
      type: object
      description: Спецификация задачи на управление кешем CDN
      properties:
        resource:
          type: string
          description: |-
            Ссылка на ресурс CDN
          
            Строка в форматах:
              Полный формат:
                - "cdn/projects/{project}/cdnResources/{cdnResource}"
              Сокращенные форматы:
                - "projects/{project}/cdnResources/{cdnResource}"
                - "cdnResources/{cdnResource}"
                - "{cdnResource}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "cdn/projects/myProject/cdnResources/myCdnResource"
              - "projects/myProject/cdnResources/myCdnResource"
              - "cdnResources/myCdnResource"
              - "myCdnResource"
        action:
          allOf:
            - $ref: '#/components/schemas/CacheActionSpecRequest'
          description: Тип задачи, которую необходимо совершить с кешем
          nullable: true

    CacheActionSpecRequest:
      type: object
      description: Тип задачи, которую необходимо совершить с кешем
      properties:
        purge:
          allOf:
            - $ref: '#/components/schemas/CachePurgePathsSpecRequest'
          description: Относительные пути для контента, который должен быть удален из кеша CDN
          nullable: true
        prefetch:
          allOf:
            - $ref: '#/components/schemas/CachePrefetchPathsSpecRequest'
          description: Относительные пути для контента, который должен быть предзагружен в кеш CDN
          nullable: true

    CachePurgePathsSpecRequest:
      type: object
      description: Относительные пути для контента, который должен быть удален из кеша CDN
      properties:
        paths:
          type: array
          description: Список путей к контенту. Поддерживаются маски
          items:
            type: string
      required:
        - paths

    CachePrefetchPathsSpecRequest:
      type: object
      description: Относительные пути для контента, который должен быть предзагружен в кеш CDN
      properties:
        paths:
          type: array
          description: Список путей к конкретным файлам
          items:
            type: string
      required:
        - paths

    EgressIpsResponse:
      type: object
      description: Список IPv4 и IPv6 префиксов CDN-серверов
      properties:
        updatedAt:
          type: string
          description: Дата и время последнего обновления списков
          format: date-time
        ipv4Prefixes:
          type: array
          description: Список IPv4-префиксов
          items:
            $ref: '#/components/schemas/EgressIpResponse'
        ipv6Prefixes:
          type: array
          description: Список IPv6-префиксов
          items:
            $ref: '#/components/schemas/EgressIpResponse'
      required:
        - updatedAt
        - ipv4Prefixes
        - ipv6Prefixes

    EgressIpResponse:
      type: object
      description: IP-префикс CDN сервера
      properties:
        ipPrefix:
          type: string
      required:
        - ipPrefix

    ApiError:
      type: object
      description: Описание ошибки (если HTTP-статус отличен от 2xx)
      properties:
        code:
          type: string
          description: Короткий код ошибки
          enum:
            - "ALREADY_EXISTS"
            - "CANCELLED"
            - "DEADLINE_EXCEEDED"
            - "FAILED_PRECONDITION"
            - "INTERNAL"
            - "INVALID_ARGUMENT"
            - "NOT_FOUND"
            - "PERMISSION_DENIED"
            - "QUOTA_EXCEEDED"
            - "IDEMPOTENCY_KEY_ALREADY_USED"
            - "INVALID_ETAG_KEY"
            - "UNAUTHENTICATED"
            - "UNAVAILABLE"
            - "METHOD_NOT_ALLOWED"
            - "TOO_MANY_REQUESTS"
        type:
          type: string
          description: Подтип расширенной информации по ошибкам к которому удалось его привести. Null если привели к базовому типу
        description:
          type: string
          description: Развёрнутое пояснение ошибки
        retryPolicy:
          allOf:
            - $ref: '#/components/schemas/RetryPolicy'
          description: Правила выполнения повторных попыток в случае ошибки
          nullable: true
        details:
          type: object
          description: |-
            Детальная информация по ошибке в произвольном JSON формате. Содержимое не предназначено для машинной обработки
          
            Примеры:
              - '{"jsonPaths": [{"path": "foo.bar", "reason": "some reason", "offset": "line: 1, column: 2"}]}'
              - '{"errorInfo": "some error info"}'
          additionalProperties: true
      required:
        - code

    RetryPolicy:
      type: object
      description: Правила выполнения повторных попыток в случае ошибки
      properties:
        retryCount:
          type: integer
          description: Максимальное количество повторных попыток. 0 - значение по-умолчанию
        retryTimeout:
          type: string
          description: |-
            Пауза между повторными попытками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        retryTimeoutScale:
          $ref: '#/components/schemas/RetryTimeoutScale'
          description: Шаг увеличения таймаута
        maxRetryTimeout:
          type: string
          description: |-
            Максимальная длительность таймаута
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
      required:
        - retryCount
        - retryTimeout

    RetryTimeoutScale:
      type: string
      description: Шаг увеличения таймаута
      enum:
        - "FIXED"
        - "LINEAR"
        - "PROGRESSIVE"
        - "EXPONENTIAL"

  securitySchemes:
    BearerAuth:
      description: Токен авторизации IAM
      type: apiKey
      in: header
      name: Authorization

  parameters:
    header_Idempotency-Key:
      name: Idempotency-Key
      in: header
      description: Ключ идемпотентности
      style: simple
      schema:
        type: string

    path_cacheTask:
      name: cacheTask
      in: path
      required: true
      description: Имя задачи на управление кешем CDN
      style: simple
      schema:
        type: string
        pattern: ^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$

    path_cdnResource:
      name: cdnResource
      in: path
      required: true
      description: Имя ресурса CDN
      style: simple
      schema:
        type: string
        pattern: ^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$

    path_project:
      name: project
      in: path
      required: true
      description: Путь к проекту.
      style: simple
      schema:
        type: string

    query_cascade:
      name: cascade
      in: query
      description: Удалить зависимые ресурсы, в противном случае при их наличии, будет возвращен ответ `Aborted`
      style: form
      explode: true
      schema:
        type: boolean

    query_createOnly:
      name: createOnly
      in: query
      description: Создать ресурс. Если ресурс уже существует, будет возвращен ответ `AlreadyExists`
      style: form
      explode: true
      schema:
        type: boolean

    query_filter:
      name: filter
      in: query
      description: |-
        Строка фильтра.
        Для фильтрации используется ограниченная реализация AIP-160 (https://google.aip.dev/160).
        Она включает в себя операции =, !=, OR, AND и (), фильтрацию свойств вложенных объектов и wildcard-поиск подстрок
      style: form
      explode: true
      schema:
        type: string

    query_ifExist:
      name: ifExist
      in: query
      description: |-
        Удалить ресурс если он существует. Если ресурс не существует, будет возвращен ответ `Not Found`.
        Если прав на выполнение операции недостаточно, будет возвращен ответ `PermissionDenied`
      style: form
      explode: true
      schema:
        type: boolean

    query_orderBy:
      name: orderBy
      in: query
      description: |-
        Строка сортировки.
        Для сортировки используется реализация AIP-132 (https://google.aip.dev/132#ordering).
        Указывается перечислением полей с направлением сортировки (asc, desc) через запятую.
        По умолчанию используется сортировка по возрастанию (asc)
      style: form
      explode: true
      schema:
        type: string

    query_pageSize:
      name: pageSize
      in: query
      description: Максимальное количество объектов, которые клиент готов принять. Сервис определяет значение по умолчанию и верхнюю границу
      style: form
      explode: true
      schema:
        type: integer

    query_pageToken:
      name: pageToken
      in: query
      description: Строка, из предыдущего ответа на аналогичный запрос, для получения следующей страницы с объектами. Не задано для получения первой страницы
      style: form
      explode: true
      schema:
        type: string

    query_showDeleted:
      name: showDeleted
      in: query
      description: Вывод удаленных объектов для ресурсов, поддерживающих soft delete
      style: form
      explode: true
      schema:
        type: string

    query_updateOnly:
      name: updateOnly
      in: query
      description: |-
        Обновить ресурс, если он существует. Если ресурс не существует, будет возвращен ответ `Not Found`.
        Если прав на выполнение операции недостаточно, будет возвращен ответ `PermissionDenied`
      style: form
      explode: true
      schema:
        type: boolean

    query_validateOnly:
      name: validateOnly
      in: query
      description: Dry run позволяет выполнить все проверки для выполнения операции, но не выполнять саму операцию.
      style: form
      explode: true
      schema:
        type: boolean

