# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.6.0
  title: Virtual Private Cloud (VPC)
  description: Публичная спецификация сервиса Virtual Private Cloud (VPC)

servers:
  - url: https://vpc.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /vpc/v1/projects/{project}/networks:
    get:
      tags:
        - network
      summary: Получить список сетей
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `spec.mtu`
          - `status.mtu`
          - `status.ready.state`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `spec.mtu`
          - `status.ready.state`
          - `status.mtu`
      operationId: ListNetworks
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNetworksResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}:
    post:
      tags:
        - network
      summary: Создать или изменить сеть
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertNetwork
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения сети
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - network
      summary: Получить информацию о сети
      operationId: GetNetwork
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - network
      summary: Удалить сеть
      operationId: DeleteNetwork
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Пустой ответ
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/natGateways:
    get:
      tags:
        - natGateway
      summary: Получить список NAT-шлюзов
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `status.ready.state`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `status.ready.state`
      operationId: ListNatGateways
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNatGatewayResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/externalAddresses:
    get:
      tags:
        - externalAddress
      summary: Получить список внешних IP-адресов
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `spec.version`
          - `status.ipAddress`
          - `status.ready.state`
          - `status.region.region`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `status.ready.state`
          - `status.ipAddress`
          - `status.region.region`
      operationId: ListExternalAddresses
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExternalAddressesResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/externalAddresses/{externalAddress}:
    post:
      tags:
        - externalAddress
      summary: Создать или изменить внешний IP-адрес
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertExternalAddress
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_externalAddress"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения внешнего IP-адреса
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalAddressRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAddressResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - externalAddress
      summary: Получить информацию о внешнем IP-адресе
      operationId: GetExternalAddress
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_externalAddress"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAddressResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - externalAddress
      summary: Удалить внешний IP-адрес
      operationId: DeleteExternalAddress
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_externalAddress"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Пустой ответ
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}/subnets:
    get:
      tags:
        - subnet
      summary: Получить список подсетей
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `spec.dhcpOptions.domainName`
          - `status.dhcpOptions.domainName`
          - `status.ready.state`
          - `status.region.region`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `spec.dhcpOptions.domainName`
          - `status.ready.state`
          - `status.dhcpOptions.domainName`
          - `status.region.region`
      operationId: ListSubnets
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSubnetsResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}/subnets/{subnet}:
    post:
      tags:
        - subnet
      summary: Создать или изменить подсеть
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertSubnet
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_subnet"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения подсети
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubnetRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubnetResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - subnet
      summary: Получить информацию о подсети
      operationId: GetSubnet
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_subnet"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubnetResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - subnet
      summary: Удалить подсеть
      operationId: DeleteSubnet
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_subnet"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Пустой ответ
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}/routes:
    get:
      tags:
        - route
      summary: Получить список маршрутов
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `status.ready.state`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `status.ready.state`
      operationId: ListRoutes
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoutesResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}/routes/{route}:
    post:
      tags:
        - route
      summary: Создать или изменить маршрут
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertRoute
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_route"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения маршрута
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - route
      summary: Получить информацию о маршруте
      operationId: GetRoute
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_route"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - route
      summary: Удалить маршрут
      operationId: DeleteRoute
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_route"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Пустой ответ
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}/oneToOneNats:
    get:
      tags:
        - oneToOneNat
      summary: Получить список One-to-One NAT
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `status.ready.state`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `status.ready.state`
      operationId: ListOneToOneNats
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOneToOneNatResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}/oneToOneNats/{oneToOneNat}:
    post:
      tags:
        - oneToOneNat
      summary: Создать или изменить One-to-One NAT
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertOneToOneNat
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_oneToOneNat"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения One-to-One NAT
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OneToOneNatRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneToOneNatResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - oneToOneNat
      summary: Получить информацию о One-to-One NAT
      operationId: GetOneToOneNat
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_oneToOneNat"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneToOneNatResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - oneToOneNat
      summary: Удалить One-to-One NAT
      operationId: DeleteOneToOneNat
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_oneToOneNat"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Пустой ответ
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}/firewallRules:
    get:
      tags:
        - firewallRule
      summary: Получить список правил файрвола
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `spec.action`
          - `spec.active`
          - `spec.direction`
          - `status.active`
          - `status.ready.state`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `spec.priority`
          - `metadata.createTime`
          - `status.ready.state`
          - `status.priority`
      operationId: ListFirewallRules
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFirewallRulesResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}/firewallRules/{firewallRule}:
    post:
      tags:
        - firewallRule
      summary: Создать или изменить правило файрвола
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertFirewallRule
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_firewallRule"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения правила файрвола
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRuleRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRuleResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - firewallRule
      summary: Получить информацию о правиле файрвола
      operationId: GetFirewallRule
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_firewallRule"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRuleResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - firewallRule
      summary: Удалить правило файрвола
      operationId: DeleteFirewallRule
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_firewallRule"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Пустой ответ
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}/egressNats:
    get:
      tags:
        - egressNat
      summary: Получить список Egress NAT
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `status.ready.state`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `status.ready.state`
      operationId: ListEgressNats
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEgressNatResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}/egressNats/{egressNat}:
    post:
      tags:
        - egressNat
      summary: Создать или изменить Egress NAT
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertEgressNat
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_egressNat"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения Egress NAT
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EgressNatRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EgressNatResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - egressNat
      summary: Получить информацию об Egress NAT
      operationId: GetEgressNat
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_egressNat"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EgressNatResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - egressNat
      summary: Удалить Egress NAT
      operationId: DeleteEgressNat
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_egressNat"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Пустой ответ
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}/addresses:
    get:
      tags:
        - address
      summary: Получить список IP-адресов
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `spec.version`
          - `spec.ipAddress`
          - `spec.subnet.name`
          - `status.ipAddress`
          - `status.ready.state`
          - `status.region.region`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `spec.ipAddress`
          - `status.ready.state`
          - `status.ipAddress`
          - `status.region.region`
      operationId: ListAddresses
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAddressesResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}/addresses/{address}:
    post:
      tags:
        - address
      summary: Создать или изменить IP-адрес
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertAddress
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_address"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения IP-адреса
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - address
      summary: Получить информацию об IP-адресе
      operationId: GetAddress
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_address"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - address
      summary: Удалить IP-адрес
      operationId: DeleteAddress
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_address"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Пустой ответ
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}/addressGroups:
    get:
      tags:
        - addressGroup
      summary: Получить список групп адресов
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `status.ready.state`
          - `status.region.region`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `status.ready.state`
          - `status.region.region`
      operationId: ListAddressGroups
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpcAddressGroupsResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vpc/v1/projects/{project}/networks/{network}/addressGroups/{addressGroup}:
    post:
      tags:
        - addressGroup
      summary: Создать или изменить группу адресов
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertAddressGroup
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_addressGroup"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения группы адресов
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpcAddressGroupRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcAddressGroupResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - addressGroup
      summary: Получить группу адресов
      operationId: GetAddressGroup
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_addressGroup"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcAddressGroupResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - addressGroup
      summary: Удалить группу адресов
      operationId: DeleteAddressGroup
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_addressGroup"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    ListNetworksResponseResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/NetworkResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    NetworkResponse:
      type: object
      description: Сеть — это виртуальный аналог физической сети на базе инфраструктуры MWS
      properties:
        kind:
          type: string
          default: vpc/v1/network
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/VpcNetworkSpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/NetworkStatusResponse'
          nullable: true
      required:
        - spec

    CommonTypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        id:
          type: string
          description: |-
            ID свойства
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
        displayName:
          type: string
          description: Отображаемое имя свойства
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса
          format: date-time
        purgeTime:
          type: string
          description: Время удаления ресурса
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/UsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    UsageResponse:
      type: object
      description: Связь ресурса с другим ресурсом. В зависимости от типа связи операции над ресурсом могут быть ограничены
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных `own` и `use` могут быть добавлены специализированные типы для конкретных сервисов
        name:
          type: string
          description: Имя связи. Требуется для модификации коллекции
        resource:
          type: string
          description: Ссылка на ресурс
      required:
        - usageType
        - name
        - resource

    VpcNetworkSpecResponse:
      type: object
      properties:
        mtu:
          type: integer
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          format: int32
          default: 1500
        internetAccess:
          type: boolean
          default: true

    NetworkStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            mtu:
              type: integer
              description: Максимальная единица передачи в байтах (maximum transmission unit - MTU)
              format: int32
              example: 1500
            internetAccess:
              type: boolean
              description: Доступ в интернет

    ResourceStatusResponse:
      type: object
      description: Текущее состояние ресурса, вычисляемое системой
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
          example: Success operation
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    NetworkRequest:
      type: object
      description: Сеть — это виртуальный аналог физической сети на базе инфраструктуры MWS
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/VpcNetworkSpecRequest'
          description: Обязательно для заполнения при создании ресурса

    CommonTypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя свойства
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    VpcNetworkSpecRequest:
      type: object
      properties:
        mtu:
          type: integer
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          format: int32
          default: 1500
        internetAccess:
          type: boolean
          default: true

    ListNatGatewayResponseResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/NatGatewayResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    NatGatewayResponse:
      type: object
      description: Описывает Nat шлюз
      properties:
        kind:
          type: string
          default: vpc/v1/natGateway
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Метаданные Nat шлюза
          nullable: true
        spec:
          type: object
          description: Спецификация Nat шлюза
        status:
          allOf:
            - $ref: '#/components/schemas/NatGatewayStatusResponse'
          description: Статус NAT шлюза
          nullable: true
      required:
        - spec

    NatGatewayStatusResponse:
      description: Статус NAT шлюза
      $ref: '#/components/schemas/ResourceStatusResponse'

    ListExternalAddressesResponseResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ExternalAddressResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    ExternalAddressResponse:
      type: object
      description: Внешний адрес — IP-адрес, который используется для связи ресурсов с интернетом
      properties:
        kind:
          type: string
          default: vpc/v1/externalAddress
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Метаданные внешнего адреса
          nullable: true
        spec:
          $ref: '#/components/schemas/VpcExternalAddressSpecResponse'
          description: Спецификация внешнего адреса
        status:
          allOf:
            - $ref: '#/components/schemas/ExternalAddressStatusResponse'
          description: Статус внешнего адреса
          nullable: true
      required:
        - spec

    VpcExternalAddressSpecResponse:
      type: object
      description: Спецификация внешнего адреса
      properties:
        region:
          type: string
          description: |-
            Регион, которому принадлежит адрес
          
            Строка в форматах:
              Полный формат:
                - "rm/regions/{region}"
              Сокращенные форматы:
                - "regions/{region}"
                - "{region}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "rm/regions/myRegion"
              - "regions/myRegion"
              - "myRegion"
        natGateway:
          type: string
          description: |-
            Шлюз, к которому относится адрес. Если шлюз не указан, для трансляции IP-адресов используется шлюз по умолчанию для выхода в интернет (ref=natGateways/internet-gateway)
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/natGateways/{natGateway}"
              Сокращенные форматы:
                - "projects/{project}/natGateways/{natGateway}"
                - "natGateways/{natGateway}"
                - "{natGateway}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "vpc/projects/myProject/natGateways/myNatGateway"
              - "projects/myProject/natGateways/myNatGateway"
              - "natGateways/myNatGateway"
              - "myNatGateway"

    ExternalAddressStatusResponse:
      type: object
      description: Статус внешнего адреса
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            ipAddress:
              type: string
              description: |-
                Присвоенный адрес
              
                IPv4- или IPv6-адрес
              
                Примеры:
                  - "192.168.1.1"
                  - "2001:db8:130F::9C0:876A:130B"
              example: 201.1.1.1
            active:
              type: boolean
              description: 'Состояние внешнего адреса: активен или не активен'
            region:
              type: string
              description: |-
                Регион, которому принадлежит адрес
              
                Строка в формате: "rm/regions/{region}"
              
                Пример: "rm/regions/myRegion"

    ExternalAddressRequest:
      type: object
      description: Внешний адрес — IP-адрес, который используется для связи ресурсов с интернетом
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Метаданные внешнего адреса
          nullable: true
        spec:
          $ref: '#/components/schemas/VpcExternalAddressSpecRequest'
          description: |-
            Спецификация внешнего адреса
          
            Обязательно для заполнения при создании ресурса

    VpcExternalAddressSpecRequest:
      type: object
      description: Спецификация внешнего адреса
      properties:
        region:
          type: string
          description: |-
            Регион, которому принадлежит адрес
          
            Строка в форматах:
              Полный формат:
                - "rm/regions/{region}"
              Сокращенные форматы:
                - "regions/{region}"
                - "{region}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "rm/regions/myRegion"
              - "regions/myRegion"
              - "myRegion"
        natGateway:
          type: string
          description: |-
            Шлюз, к которому относится адрес. Если шлюз не указан, для трансляции IP-адресов используется шлюз по умолчанию для выхода в интернет (ref=natGateways/internet-gateway)
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/natGateways/{natGateway}"
              Сокращенные форматы:
                - "projects/{project}/natGateways/{natGateway}"
                - "natGateways/{natGateway}"
                - "{natGateway}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "vpc/projects/myProject/natGateways/myNatGateway"
              - "projects/myProject/natGateways/myNatGateway"
              - "natGateways/myNatGateway"
              - "myNatGateway"

    ListSubnetsResponseResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SubnetResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    SubnetResponse:
      type: object
      description: Подсеть - это сегмент сети, ассоциированный с диапазоном внутренних адресов
      properties:
        kind:
          type: string
          default: vpc/v1/subnet
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/SubnetSpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/SubnetStatusResponse'
          nullable: true
      required:
        - spec

    SubnetSpecResponse:
      type: object
      properties:
        region:
          type: string
          description: |-
            Регион, которому принадлежит подсеть
          
            Строка в форматах:
              Полный формат:
                - "rm/regions/{region}"
              Сокращенные форматы:
                - "regions/{region}"
                - "{region}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "rm/regions/myRegion"
              - "regions/myRegion"
              - "myRegion"
        cidr:
          type: string
          description: |-
            IPv4 подсеть в CIDR нотации
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Пример: "192.168.1.0/24"
          example: 192.168.0.0/24
        dhcpOptions:
          allOf:
            - $ref: '#/components/schemas/SubnetDhcpOptionsResponse'
          nullable: true
      required:
        - cidr

    SubnetDhcpOptionsResponse:
      type: object
      properties:
        domainName:
          type: string
          description: Базовое доменное имя для разрешения имен
          example: vpc.local
          nullable: true
        domainNameServers:
          type: array
          description: Список адресов DNS-серверов
          items:
            type: string
            description: |-
              IPv4-адрес
            
              Пример: "192.168.1.1"
          nullable: true
        ntpServers:
          type: array
          description: Список адресов NTP серверов
          items:
            type: string
            description: |-
              IPv4-адрес
            
              Пример: "192.168.1.1"
          nullable: true

    SubnetStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            dhcpOptions:
              allOf:
                - $ref: '#/components/schemas/SubnetDhcpOptionsResponse'
              nullable: true
            region:
              type: string
              description: |-
                Регион, которому принадлежит подсеть
              
                Строка в формате: "rm/regions/{region}"
              
                Пример: "rm/regions/myRegion"

    SubnetRequest:
      type: object
      description: Подсеть - это сегмент сети, ассоциированный с диапазоном внутренних адресов
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/SubnetSpecRequest'
          description: Обязательно для заполнения при создании ресурса

    SubnetSpecRequest:
      type: object
      properties:
        region:
          type: string
          description: |-
            Регион, которому принадлежит подсеть
          
            Строка в форматах:
              Полный формат:
                - "rm/regions/{region}"
              Сокращенные форматы:
                - "regions/{region}"
                - "{region}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "rm/regions/myRegion"
              - "regions/myRegion"
              - "myRegion"
        cidr:
          type: string
          description: |-
            IPv4 подсеть в CIDR нотации
          
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Пример: "192.168.1.0/24"
          example: 192.168.0.0/24
        dhcpOptions:
          allOf:
            - $ref: '#/components/schemas/SubnetDhcpOptionsRequest'
          nullable: true

    SubnetDhcpOptionsRequest:
      type: object
      properties:
        domainName:
          type: string
          description: Базовое доменное имя для разрешения имен
          example: vpc.local
          nullable: true
        domainNameServers:
          type: array
          description: |-
            Список адресов DNS-серверов
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string
            description: |-
              IPv4-адрес
            
              Пример: "192.168.1.1"
          nullable: true
        ntpServers:
          type: array
          description: |-
            Список адресов NTP серверов
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            type: string
            description: |-
              IPv4-адрес
            
              Пример: "192.168.1.1"
          nullable: true

    ListRoutesResponseResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/RouteResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    RouteResponse:
      type: object
      description: Маршрут — это набор правил, определяющих путь пакетов от источника к получателю
      properties:
        kind:
          type: string
          default: vpc/v1/route
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/RouteSpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/RouteStatusResponse'
          nullable: true
      required:
        - spec

    RouteSpecResponse:
      type: object
      properties:
        destination:
          $ref: '#/components/schemas/RouteDestinationResponse'
          description: Назначение
        nextHop:
          $ref: '#/components/schemas/RouteNextHopResponse'
          description: Переход
      required:
        - destination
        - nextHop

    RouteDestinationResponse:
      type: object
      description: Назначение
      properties:
        spec:
          type: object
          properties:
            cidrs:
              type: array
              description: Набор IP-Адресов подсетей назначения
              items:
                type: string
                description: |-
                  IPv4 или IPv6 подсеть в CIDR нотации
                
                  Примеры:
                    - "192.168.1.0/24"
                    - "2001:db8::/64"
          required:
            - cidrs
      required:
        - spec

    RouteNextHopResponse:
      type: object
      description: Переход
      properties:
        networkLocal:
          description: Локальная сеть
        natGateway:
          type: string
          description: |-
            NAT шлюз
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/natGateways/{natGateway}"
              Сокращенные форматы:
                - "projects/{project}/natGateways/{natGateway}"
                - "natGateways/{natGateway}"
                - "{natGateway}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/natGateways/myNatGateway"
              - "projects/myProject/natGateways/myNatGateway"
              - "natGateways/myNatGateway"
              - "myNatGateway"
          nullable: true
        address:
          type: object
          description: Адрес
          properties:
            ref:
              type: string
              description: |-
                Ссылка на IP-Адрес назначения
              
                Строка в форматах:
                  Полный формат:
                    - "vpc/projects/{project}/networks/{network}/addresses/{address}"
                  Сокращенные форматы:
                    - "projects/{project}/networks/{network}/addresses/{address}"
                    - "networks/{network}/addresses/{address}"
                    - "addresses/{address}"
                    - "{address}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Примеры:
                  - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
                  - "projects/myProject/networks/myNetwork/addresses/myAddress"
                  - "networks/myNetwork/addresses/myAddress"
                  - "addresses/myAddress"
                  - "myAddress"
          required:
            - ref
          nullable: true

    RouteStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            nextHop:
              allOf:
                - $ref: '#/components/schemas/RouteStatusNextHopResponse'
              nullable: true
            destination:
              allOf:
                - $ref: '#/components/schemas/RouteStatusDestinationResponse'
              nullable: true

    RouteStatusNextHopResponse:
      type: object
      properties:
        networkLocal:
          description: Локальная сеть
        natGateway:
          type: string
          description: |-
            NAT шлюз
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/natGateways/{natGateway}"
              Сокращенные форматы:
                - "projects/{project}/natGateways/{natGateway}"
                - "natGateways/{natGateway}"
                - "{natGateway}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/natGateways/myNatGateway"
              - "projects/myProject/natGateways/myNatGateway"
              - "natGateways/myNatGateway"
              - "myNatGateway"
        address:
          allOf:
            - $ref: '#/components/schemas/ResourceAddressStatusResponse'
          description: Адрес
          nullable: true

    ResourceAddressStatusResponse:
      type: object
      description: Статус IP-адреса внутреннего балансировщика
      properties:
        ref:
          type: string
          description: |-
            Относительная ссылка на статический адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
        ipAddress:
          type: string
          description: |-
            Значение IP адреса
          
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"
          example: 192.168.1.2
      required:
        - ref
        - ipAddress

    RouteStatusDestinationResponse:
      type: object
      properties:
        cidrs:
          type: array
          description: Набор IP-Адресов подсетей назначения
          items:
            type: string
            description: |-
              IPv4 или IPv6 подсеть в CIDR нотации
            
              Примеры:
                - "192.168.1.0/24"
                - "2001:db8::/64"

    RouteRequest:
      type: object
      description: Маршрут — это набор правил, определяющих путь пакетов от источника к получателю
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/RouteSpecRequest'
          description: Обязательно для заполнения при создании ресурса

    RouteSpecRequest:
      type: object
      properties:
        destination:
          $ref: '#/components/schemas/RouteDestinationRequest'
          description: |-
            Назначение
          
            Обязательно для заполнения при создании ресурса
        nextHop:
          $ref: '#/components/schemas/RouteNextHopRequest'
          description: |-
            Переход
          
            Обязательно для заполнения при создании ресурса

    RouteDestinationRequest:
      type: object
      description: Назначение
      properties:
        spec:
          type: object
          description: Обязательно для заполнения при создании ресурса
          properties:
            cidrs:
              type: array
              description: |-
                Набор IP-Адресов подсетей назначения
              
                Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
              
                Обязательно для заполнения при создании ресурса
              items:
                type: string
                description: |-
                  IPv4 или IPv6 подсеть в CIDR нотации
                
                  Примеры:
                    - "192.168.1.0/24"
                    - "2001:db8::/64"

    RouteNextHopRequest:
      type: object
      description: Переход
      properties:
        natGateway:
          type: string
          description: |-
            NAT шлюз
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/natGateways/{natGateway}"
              Сокращенные форматы:
                - "projects/{project}/natGateways/{natGateway}"
                - "natGateways/{natGateway}"
                - "{natGateway}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/natGateways/myNatGateway"
              - "projects/myProject/natGateways/myNatGateway"
              - "natGateways/myNatGateway"
              - "myNatGateway"
          nullable: true
        address:
          type: object
          description: Адрес
          properties:
            ref:
              type: string
              description: |-
                Ссылка на IP-Адрес назначения
              
                Строка в форматах:
                  Полный формат:
                    - "vpc/projects/{project}/networks/{network}/addresses/{address}"
                  Сокращенные форматы:
                    - "projects/{project}/networks/{network}/addresses/{address}"
                    - "networks/{network}/addresses/{address}"
                    - "addresses/{address}"
                    - "{address}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Обязательно для заполнения при создании ресурса
              
                Примеры:
                  - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
                  - "projects/myProject/networks/myNetwork/addresses/myAddress"
                  - "networks/myNetwork/addresses/myAddress"
                  - "addresses/myAddress"
                  - "myAddress"
          nullable: true

    ListOneToOneNatResponseResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OneToOneNatResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    OneToOneNatResponse:
      type: object
      description: One-to-One NAT-шлюз — механизм, с помощью которого ресурсы во внутренней сети могут выходить в интернет через внешний IP-адрес
      properties:
        kind:
          type: string
          default: vpc/v1/oneToOneNat
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/OneToOneNatSpecResponse'
          description: Описывает спецификацию One-to-One NAT-шлюза
        status:
          allOf:
            - $ref: '#/components/schemas/OneToOneNatStatusResponse'
          description: Описывает статус One-to-One NAT-шлюза
          nullable: true
      required:
        - spec

    OneToOneNatSpecResponse:
      type: object
      description: Описывает спецификацию One-to-One NAT-шлюза
      properties:
        internal:
          $ref: '#/components/schemas/OneToOneNatSpecInternalResponse'
          description: |-
            Группирующий элемент для всего, что касается внутренних ресурсов
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        external:
          $ref: '#/components/schemas/OneToOneNatSpecExternalResponse'
          description: Группирующий элемент для всего что, касается внешней части (ресурсов, доступных извне)
      required:
        - internal
        - external

    OneToOneNatSpecInternalResponse:
      type: object
      description: Группирующий элемент для всего, что касается внутренних ресурсов
      properties:
        address:
          $ref: '#/components/schemas/ResourceAddressSpecOrRefResponse'
          description: Спецификация внутреннего адреса, для которого будет осуществляться трансляция
      required:
        - address

    ResourceAddressSpecOrRefResponse:
      type: object
      description: Описывает ссылку на внутренний адрес или спецификацию внутреннего адреса как дополнительный ресурс
      properties:
        ref:
          type: string
          description: |-
            Относительная ссылка на статический внутренний адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/ResourceAddressSpecResponse'
          description: Спецификация внутреннего адреса
          nullable: true

    ResourceAddressSpecResponse:
      type: object
      description: Описывает спецификацию внутреннего адреса как дополнительный ресурс
      properties:
        subnet:
          type: string
          description: |-
            Подсеть сети, к которой принадлежит адрес. В случае внутреннего адреса, он всегда принадлежит к некоторой подсети внутри сети
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"
        ipAddress:
          type: string
          description: |-
            Значение IP адреса
          
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"
          example: 192.168.1.2
        dns:
          type: array
          description: Спецификация DNS для IP-адреса
          items:
            $ref: '#/components/schemas/VpcAddressDnsSpecResponse'
          nullable: true
      required:
        - subnet

    VpcAddressDnsSpecResponse:
      type: object
      properties:
        name:
          type: string
          description: DNS-имя виртуальной машины в MWS Cloud Platform
          example: vm1dns.dev
        ttl:
          type: string
          description: |-
            Продолжительность хранения DNS записи в кеше
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          example: 60s
        ptr:
          type: boolean
          description: Создать обратную DNS-запись
      required:
        - name
        - ttl
        - ptr

    OneToOneNatSpecExternalResponse:
      type: object
      description: Группирующий элемент для всего что, касается внешней части (ресурсов, доступных извне)
      properties:
        address:
          $ref: '#/components/schemas/ResourceExternalAddressSpecOrRefResponse'
          description: Спецификация внешнего адреса, через который будет осуществляться трансляция
      required:
        - address

    ResourceExternalAddressSpecOrRefResponse:
      type: object
      description: Описывает ссылку на внешний адрес или спецификацию внешнего адреса как дополнительный ресурс
      properties:
        ref:
          type: string
          description: |-
            Относительная ссылка на статический внешний IP-адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/ResourceExternalAddressSpecResponse'
          description: Спецификация внешнего IP-адреса
          nullable: true

    ResourceExternalAddressSpecResponse:
      type: object
      description: Описывает спецификацию внешнего адреса как дополнительный ресурс
      properties:
        natGateway:
          type: string
          description: |-
            Шлюз, к которому относится адрес. Если шлюз не указан, для трансляции IP-адресов используется шлюз по умолчанию для выхода в интернет (ref=natGateways/internet-gateway)
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/natGateways/{natGateway}"
              Сокращенные форматы:
                - "projects/{project}/natGateways/{natGateway}"
                - "natGateways/{natGateway}"
                - "{natGateway}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "vpc/projects/myProject/natGateways/myNatGateway"
              - "projects/myProject/natGateways/myNatGateway"
              - "natGateways/myNatGateway"
[...]
