# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.6.0
  title: Managed Kubernetes
  description: Публичная спецификация сервиса Managed Kubernetes

servers:
  - url: https://mk8s.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /mk8s/v1/projects/{project}/stats:
    get:
      tags:
        - mk8sProjectStat
      summary: Получение статистики managed k8s в проекте
      operationId: GetProjectStats
      parameters:
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Returns statistics for managed k8s in the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectStatisticsResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mk8s/v1/projects/{project}/releaseChannels:
    get:
      tags:
        - mk8sReleaseChannel
      summary: Получение списка доступных релизных каналов
      operationId: ListMk8sReleaseChannels
      parameters:
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of available release channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReleaseChannelResponse'
                required:
                  - items
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mk8s/v1/projects/{project}/clusters:
    get:
      tags:
        - mk8sCluster
      summary: Получение списка managed k8s cluster
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.displayName`
          - `metadata.id.clusterName`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.displayName`
          - `status.clusterStatus.state`
          - `metadata.createTime`
          - `metadata.updateTime`
      operationId: ListMk8sClusters
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of managed k8s clusters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mk8s/v1/projects/{project}/clusters/{clusterName}:
    post:
      tags:
        - mk8sCluster
      summary: Создание или обновление managed k8s cluster-а
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertMk8sCluster
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_clusterName"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: managed k8s cluster object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRequest'
      responses:
        "200":
          description: Managed k8s cluster object accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 422, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - mk8sCluster
      summary: Получение cluster по имени
      operationId: GetMk8sCluster
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_clusterName"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Managed k8s cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - mk8sCluster
      summary: Удаление managed k8s cluster
      operationId: DeleteMk8sCluster
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_clusterName"
        - $ref: "#/components/parameters/header_Idempotency-Key"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mk8s/v1/projects/{project}/releaseChannels/{releaseChannelName}/versions:
    get:
      tags:
        - mk8sVersion
      summary: Получение списка доступных managed k8s версий
      operationId: ListMk8sVersions
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_releaseChannelName"
        - $ref: "#/components/parameters/query_subject"
        - $ref: "#/components/parameters/query_clusterName"
        - $ref: "#/components/parameters/query_nodeGroupName"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of available versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/VersionResponse'
                required:
                  - items
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mk8s/v1/projects/{project}/clusters/{clusterName}/nodeGroups:
    get:
      tags:
        - mk8sNodeGroup
      summary: Получение списка managed k8s node groups
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.displayName`
          - `metadata.id.nodeGroupName`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.displayName`
          - `spec.zone`
          - `status.nodeGroupStatus.state`
          - `metadata.createTime`
          - `metadata.updateTime`
      operationId: ListMk8sNodeGroups
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_clusterName"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of managed k8s node groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeGroupListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mk8s/v1/projects/{project}/clusters/{clusterName}/nodeGroups/{nodeGroupName}:
    post:
      tags:
        - mk8sNodeGroup
      summary: Создание или обновление managed k8s node group
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertMk8sNodeGroup
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_clusterName"
        - $ref: "#/components/parameters/path_nodeGroupName"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: managed k8s node group object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NodeGroupRequest'
      responses:
        "200":
          description: Данные для создания или обновления node group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeGroupResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 422, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - mk8sNodeGroup
      summary: Получение managed k8s node group по имени
      operationId: GetMk8sNodeGroup
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_clusterName"
        - $ref: "#/components/parameters/path_nodeGroupName"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Managed k8s node group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeGroupResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - mk8sNodeGroup
      summary: Удаление managed k8s node group
      operationId: DeleteMk8sNodeGroup
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_clusterName"
        - $ref: "#/components/parameters/path_nodeGroupName"
        - $ref: "#/components/parameters/header_Idempotency-Key"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Managed k8s node group accepted to be removed with no content in response
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    ProjectStatisticsResponse:
      type: object
      properties:
        clusterCount:
          type: integer
          format: int64
        updatedAt:
          type: string
          format: date-time
      required:
        - clusterCount
        - updatedAt

    ReleaseChannelResponse:
      type: object
      properties:
        name:
          type: string
          description: Если release channel name не указан, то будет проставлено default значение stable
        description:
          type: string
          nullable: true
        enabled:
          type: boolean
          description: Если false, то релизный канал не доступен для выбора
      required:
        - name
        - enabled

    ClusterListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ClusterResponse'
        nextPageToken:
          allOf:
            - $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
          nullable: true
      required:
        - items

    ClusterResponse:
      type: object
      description: |-
        Кластер Managed Kubernetes — кластер Kubernetes на базе облачной
        инфраструктуры MWS Cloud Platform. Представляет собой совокупность Control
        Plane (управляющего слоя) и групп рабочих узлов
      properties:
        kind:
          type: string
          default: mk8s/v1/Cluster
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/ClusterSpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/ClusterStatusResponse'
          description: Описывает статусную модель k8s cluster
          nullable: true
      required:
        - spec

    CommonTypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        id:
          type: string
          description: |-
            ID свойства
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
        displayName:
          type: string
          description: Отображаемое имя свойства
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса
          format: date-time
        purgeTime:
          type: string
          description: Время удаления ресурса
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/UsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    UsageResponse:
      type: object
      description: Связь ресурса с другим ресурсом. В зависимости от типа связи операции над ресурсом могут быть ограничены
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных `own` и `use` могут быть добавлены специализированные типы для конкретных сервисов
        name:
          type: string
          description: Имя связи. Требуется для модификации коллекции
        resource:
          type: string
          description: Ссылка на ресурс
      required:
        - usageType
        - name
        - resource

    ClusterSpecResponse:
      type: object
      properties:
        availability:
          $ref: '#/components/schemas/ClusterAvailabilitySpecResponse'
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        network:
          type: object
          properties:
            primaryEndpoint:
              $ref: '#/components/schemas/ClusterPrimaryEndpointSpecOrRefResponse'
              description: |-
                Ip-адрес внутри vpc
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
            publicEndpoint:
              allOf:
                - $ref: '#/components/schemas/ClusterPublicEndpointSpecOrRefResponse'
              description: Внешний ip-адрес
              nullable: true
            podsCidr:
              type: string
              description: |-
                Необходим ip-range v4
              
                IPv4 подсеть в CIDR нотации
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
              
                Пример: "192.168.1.0/24"
              example: 10.222.0.0/18
            servicesCidr:
              type: string
              description: |-
                Необходим ip-range v4
              
                IPv4 подсеть в CIDR нотации
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
              
                Пример: "192.168.1.0/24"
              example: 10.222.64.0/18
          required:
            - primaryEndpoint
            - podsCidr
            - servicesCidr
        versionControl:
          $ref: '#/components/schemas/ClusterVersionControlSpecResponse'
        plugins:
          allOf:
            - $ref: '#/components/schemas/PluginsSpecResponse'
          nullable: true
        securityPosture:
          allOf:
            - $ref: '#/components/schemas/SecurityPostureSpecResponse'
          description: Настройка KSP для кластера
          nullable: true
      required:
        - availability
        - network
        - versionControl

    ClusterAvailabilitySpecResponse:
      type: object
      properties:
        standalone:
          type: object
          description: |-
            Кластер с одним мастером
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          properties:
            zone:
              type: string
              description: |-
                Имя зоны для размещения cluster
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
          required:
            - zone
          nullable: true
        zonalHa:
          type: object
          description: |-
            Зональный высокодоступный кластер с несколькими мастерами
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          properties:
            zone:
              type: string
              description: |-
                Имя зоны для размещения cluster
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
          required:
            - zone
          nullable: true

    ClusterPrimaryEndpointSpecOrRefResponse:
      type: object
      description: Ip-адрес внутри vpc
      properties:
        ref:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/ClusterPrimaryEndpointSpecResponse'
          description: |-
            Описание subnet пользователя, из которого будет выделен ip-адрес
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          nullable: true

    ClusterPrimaryEndpointSpecResponse:
      type: object
      description: Описание subnet пользователя, из которого будет выделен ip-адрес
      properties:
        ipAddress:
          type: string
          description: |-
            Желаемый IP адрес. Если не указан, то будет выделен из пула адресов подсети
          
            IPv4-адрес
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Пример: "192.168.1.1"
          example: 192.168.1.2
          nullable: true
        subnet:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"
      required:
        - subnet

    ClusterPublicEndpointSpecOrRefResponse:
      type: object
      description: Внешний ip-адрес
      properties:
        ref:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/ClusterPublicEndpointSpecResponse'
          description: Ожидаем пустой объект в случае автоматического выделения внешнего ip-адреса
          nullable: true

    ClusterPublicEndpointSpecResponse:
      type: object
      description: Ожидаем пустой объект в случае автоматического выделения внешнего ip-адреса
      properties:
        version:
          type: string
          description: Версия IP протокола
          enum:
            - "IPV4"
            - "IPV6"
          default: IPV4

    ClusterVersionControlSpecResponse:
      type: object
      properties:
        releaseChannel:
          type: string
          description: Cluster обновляется всегда до default версии, поэтому необходимо выбрать релизный канал и настроить окно обслуживания
        version:
          type: string
          description: Минимальная версия Cluster. Автоматически обновляется до версии default в окно обслуживания. При указании версии выше default обновление запускается немедленно. Во время автоматического обновления это поле не изменяется, а актуальная версия указывается в статусе Cluster
          nullable: true
        maintenanceWindow:
          allOf:
            - $ref: '#/components/schemas/MaintenanceWindowResponse'
          description: Если окно обслуживания не заполнено, то время проведения работ не ограничено. Duration нельзя указывать, так как обновление мастер нод не прерывается
          nullable: true
      required:
        - releaseChannel

    MaintenanceWindowResponse:
      type: object
      properties:
        weekly:
          $ref: '#/components/schemas/WeeklyMaintenanceWindowResponse'
      required:
        - weekly

    WeeklyMaintenanceWindowResponse:
      type: object
      properties:
        days:
          type: array
          description: Дни недели, в которые будет запущено задание на тех. обслуживание
          items:
            $ref: '#/components/schemas/DayOfWeek'
        hour:
          type: integer
          description: Час, в который будет запущено задание на тех. обслуживание
        duration:
          type: string
          description: |-
            Допустимая продолжительность процесса обновления. Если не указано, то не ограничено по времени. Принимается только формат в часах (h)
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          nullable: true
      required:
        - days
        - hour

    DayOfWeek:
      type: string
      description: День недели
      enum:
        - "MONDAY"
        - "TUESDAY"
        - "WEDNESDAY"
        - "THURSDAY"
        - "FRIDAY"
        - "SATURDAY"
        - "SUNDAY"

    PluginsSpecResponse:
      type: object
      properties:
        cni:
          type: object
          description: Настройка CNI-плагина для кластера; для создания кластера без CNI передайте пустой объект
          properties:
            calico:
              description: Настройка CNI-плагина Calico
            cilium:
              description: Настройка CNI-плагина Cilium
          nullable: true

    SecurityPostureSpecResponse:
      type: object
      description: Настройка KSP для кластера
      properties:
        enabled:
          type: boolean
          description: Определяет, работает ли в кластере KSP. Если значение равно false, сканирование кластера выключено
          default: true

    ClusterStatusResponse:
      type: object
      description: Описывает статусную модель k8s cluster
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            clusterCaCertificate:
              type: string
              description: Root сертификат кластера
              format: byte
              nullable: true
            network:
              type: object
              properties:
                vpcNetwork:
                  type: object
                  properties:
                    ref:
                      type: string
                      description: |-
                        Ссылка на ресурс
                      
                        Строка в форматах:
                          Полный формат:
                            - "vpc/projects/{project}/networks/{network}"
                          Сокращенные форматы:
                            - "projects/{project}/networks/{network}"
                            - "networks/{network}"
                            - "{network}"
                      
                        Полный формат всегда корректен.
                        Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
                      
                        Примеры:
                          - "vpc/projects/myProject/networks/myNetwork"
                          - "projects/myProject/networks/myNetwork"
                          - "networks/myNetwork"
                          - "myNetwork"
                  required:
                    - ref
                  nullable: true
                subnet:
                  type: object
                  properties:
                    ref:
                      type: string
                      description: |-
                        Ссылка на ресурс
                      
                        Строка в форматах:
                          Полный формат:
                            - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
                          Сокращенные форматы:
                            - "projects/{project}/networks/{network}/subnets/{subnet}"
                            - "networks/{network}/subnets/{subnet}"
                            - "subnets/{subnet}"
                            - "{subnet}"
                      
                        Полный формат всегда корректен.
                        Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
                      
                        Примеры:
                          - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
                          - "projects/myProject/networks/myNetwork/subnets/mySubnet"
                          - "networks/myNetwork/subnets/mySubnet"
                          - "subnets/mySubnet"
                          - "mySubnet"
                  required:
                    - ref
                  nullable: true
                primaryEndpoint:
                  type: object
                  description: Внутренний ip-адрес
                  properties:
                    ref:
                      type: string
                      description: |-
                        Ссылка на ресурс
                      
                        Строка в форматах:
                          Полный формат:
                            - "vpc/projects/{project}/networks/{network}/addresses/{address}"
                          Сокращенные форматы:
                            - "projects/{project}/networks/{network}/addresses/{address}"
                            - "networks/{network}/addresses/{address}"
                            - "addresses/{address}"
                            - "{address}"
                      
                        Полный формат всегда корректен.
                        Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
                      
                        Примеры:
                          - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
                          - "projects/myProject/networks/myNetwork/addresses/myAddress"
                          - "networks/myNetwork/addresses/myAddress"
                          - "addresses/myAddress"
                          - "myAddress"
                  required:
                    - ref
                  nullable: true
                primaryAddress:
                  type: string
                  description: |-
                    IPv4-адрес
                  
                    Пример: "192.168.1.1"
                  example: 192.168.1.2
                  nullable: true
                publicEndpoint:
                  type: object
                  description: Внешний ip-адрес
                  properties:
                    ref:
                      type: string
                      description: |-
                        Ссылка на ресурс
                      
                        Строка в форматах:
                          Полный формат:
                            - "vpc/projects/{project}/externalAddresses/{externalAddress}"
                          Сокращенные форматы:
                            - "projects/{project}/externalAddresses/{externalAddress}"
                            - "externalAddresses/{externalAddress}"
                            - "{externalAddress}"
                      
                        Полный формат всегда корректен.
                        Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
                      
                        Примеры:
                          - "vpc/projects/myProject/externalAddresses/myExternalAddress"
                          - "projects/myProject/externalAddresses/myExternalAddress"
                          - "externalAddresses/myExternalAddress"
                          - "myExternalAddress"
                  required:
                    - ref
                  nullable: true
                publicAddress:
                  type: string
                  description: |-
                    IPv4-адрес
                  
                    Пример: "192.168.1.1"
                  nullable: true
              nullable: true
            versionControl:
              allOf:
                - $ref: '#/components/schemas/ClusterVersionControlStatusResponse'
              nullable: true
            clusterStatus:
              type: object
              properties:
                state:
                  type: string
                  description: Текущий статус cluster
                  enum:
                    - "INIT"
                    - "PENDING"
                    - "RUNNING"
                    - "UPGRADING"
                    - "DEGRADED"
                    - "DELETING"
                    - "UNKNOWN"
                  nullable: true
                message:
                  type: string
                  nullable: true
              nullable: true
            plugins:
              allOf:
                - $ref: '#/components/schemas/PluginsStatusResponse'
              nullable: true
            securityPosture:
              allOf:
                - $ref: '#/components/schemas/SecurityPostureStatusResponse'
              description: Статус KSP для кластера
              nullable: true

    ResourceStatusResponse:
      type: object
      description: Текущее состояние ресурса, вычисляемое системой
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
          example: Success operation
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    ClusterVersionControlStatusResponse:
      type: object
      properties:
        releaseChannel:
          type: string
          description: Cluster обновляется всегда до default версии, поэтому необходимо выбрать релизный канал и настроить окно обслуживания
          nullable: true
        version:
          type: string
          description: Текущая версия Cluster
          nullable: true
        maintenanceWindow:
          allOf:
            - $ref: '#/components/schemas/MaintenanceWindow2Response'
          nullable: true

    MaintenanceWindow2Response:
      type: object
      properties:
        weekly:
          $ref: '#/components/schemas/WeeklyMaintenanceWindowResponse'
      required:
        - weekly

    PluginsStatusResponse:
      type: object
      properties:
        cni:
          type: object
          properties:
            calico:
              description: Настройка CNI-плагина Calico
            cilium:
              description: Настройка CNI-плагина Cilium
          nullable: true

    SecurityPostureStatusResponse:
      type: object
      description: Статус KSP для кластера
      properties:
        enabled:
          type: boolean
          description: Показывает, работает ли в кластере KSP

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    ClusterRequest:
      type: object
      description: |-
        Кластер Managed Kubernetes — кластер Kubernetes на базе облачной
        инфраструктуры MWS Cloud Platform. Представляет собой совокупность Control
        Plane (управляющего слоя) и групп рабочих узлов
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/ClusterSpecRequest'
          description: Обязательно для заполнения при создании ресурса

    CommonTypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя свойства
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    ClusterSpecRequest:
      type: object
      properties:
        availability:
          $ref: '#/components/schemas/ClusterAvailabilitySpecRequest'
          description: |-
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        network:
          type: object
          description: Обязательно для заполнения при создании ресурса
          properties:
            primaryEndpoint:
              $ref: '#/components/schemas/ClusterPrimaryEndpointSpecOrRefRequest'
              description: |-
                Ip-адрес внутри vpc
              
                Обязательно для заполнения при создании ресурса
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
            publicEndpoint:
              allOf:
                - $ref: '#/components/schemas/ClusterPublicEndpointSpecOrRefRequest'
              description: Внешний ip-адрес
              nullable: true
            podsCidr:
              type: string
              description: |-
                Необходим ip-range v4
              
                IPv4 подсеть в CIDR нотации
              
                Обязательно для заполнения при создании ресурса
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
              
                Пример: "192.168.1.0/24"
              example: 10.222.0.0/18
            servicesCidr:
              type: string
              description: |-
                Необходим ip-range v4
              
                IPv4 подсеть в CIDR нотации
              
                Обязательно для заполнения при создании ресурса
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
              
                Пример: "192.168.1.0/24"
              example: 10.222.64.0/18
        versionControl:
          $ref: '#/components/schemas/ClusterVersionControlSpecRequest'
          description: Обязательно для заполнения при создании ресурса
        plugins:
          allOf:
            - $ref: '#/components/schemas/PluginsSpecRequest'
          nullable: true
        securityPosture:
          allOf:
            - $ref: '#/components/schemas/SecurityPostureSpecRequest'
          description: Настройка KSP для кластера
          nullable: true

    ClusterAvailabilitySpecRequest:
      type: object
      properties:
        standalone:
          type: object
          description: |-
            Кластер с одним мастером
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          properties:
            zone:
              type: string
              description: |-
                Имя зоны для размещения cluster
              
                Обязательно для заполнения при создании ресурса
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
          nullable: true
        zonalHa:
          type: object
          description: |-
            Зональный высокодоступный кластер с несколькими мастерами
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          properties:
            zone:
              type: string
              description: |-
                Имя зоны для размещения cluster
              
                Обязательно для заполнения при создании ресурса
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
          nullable: true

    ClusterPrimaryEndpointSpecOrRefRequest:
      type: object
      description: Ip-адрес внутри vpc
      properties:
        ref:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/ClusterPrimaryEndpointSpecRequest'
          description: |-
            Описание subnet пользователя, из которого будет выделен ip-адрес
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          nullable: true

    ClusterPrimaryEndpointSpecRequest:
      type: object
      description: Описание subnet пользователя, из которого будет выделен ip-адрес
      properties:
        ipAddress:
          type: string
          description: |-
            Желаемый IP адрес. Если не указан, то будет выделен из пула адресов подсети
          
            IPv4-адрес
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Пример: "192.168.1.1"
          example: 192.168.1.2
          nullable: true
        subnet:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"

    ClusterPublicEndpointSpecOrRefRequest:
      type: object
      description: Внешний ip-адрес
      properties:
        ref:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/ClusterPublicEndpointSpecRequest'
          description: Ожидаем пустой объект в случае автоматического выделения внешнего ip-адреса
          nullable: true

    ClusterPublicEndpointSpecRequest:
      type: object
      description: Ожидаем пустой объект в случае автоматического выделения внешнего ip-адреса
      properties:
        version:
          type: string
          description: Версия IP протокола
          enum:
            - "IPV4"
            - "IPV6"
          default: IPV4

    ClusterVersionControlSpecRequest:
      type: object
      properties:
        releaseChannel:
          type: string
          description: |-
            Cluster обновляется всегда до default версии, поэтому необходимо выбрать релизный канал и настроить окно обслуживания
          
            Обязательно для заполнения при создании ресурса
        version:
          type: string
          description: Минимальная версия Cluster. Автоматически обновляется до версии default в окно обслуживания. При указании версии выше default обновление запускается немедленно. Во время автоматического обновления это поле не изменяется, а актуальная версия указывается в статусе Cluster
          nullable: true
        maintenanceWindow:
          allOf:
            - $ref: '#/components/schemas/MaintenanceWindowRequest'
          description: Если окно обслуживания не заполнено, то время проведения работ не ограничено. Duration нельзя указывать, так как обновление мастер нод не прерывается
          nullable: true

    MaintenanceWindowRequest:
      type: object
      properties:
        weekly:
          $ref: '#/components/schemas/WeeklyMaintenanceWindowRequest'
          description: Обязательно для заполнения при создании ресурса

    WeeklyMaintenanceWindowRequest:
      type: object
      properties:
        days:
          type: array
          description: |-
            Дни недели, в которые будет запущено задание на тех. обслуживание
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/DayOfWeek'
        hour:
          type: integer
          description: |-
            Час, в который будет запущено задание на тех. обслуживание
          
            Обязательно для заполнения при создании ресурса
        duration:
          type: string
          description: |-
            Допустимая продолжительность процесса обновления. Если не указано, то не ограничено по времени. Принимается только формат в часах (h)
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          nullable: true

    PluginsSpecRequest:
      type: object
      properties:
        cni:
          type: object
          description: Настройка CNI-плагина для кластера; для создания кластера без CNI передайте пустой объект
          properties:
            calico:
              description: Настройка CNI-плагина Calico
            cilium:
              description: Настройка CNI-плагина Cilium
          nullable: true

    SecurityPostureSpecRequest:
      type: object
      description: Настройка KSP для кластера
      properties:
        enabled:
          type: boolean
          description: Определяет, работает ли в кластере KSP. Если значение равно false, сканирование кластера выключено
          default: true

    VersionResponse:
      type: object
      description: Описание версии
      properties:
        name:
          type: string
          example: v1.22.3-mws.1
        description:
          type: string
          example: kubernetes v1.22.3 - сборка 1
          nullable: true
        default:
          type: boolean
      required:
        - name
        - default

    NodeGroupListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/NodeGroupResponse'
        nextPageToken:
          allOf:
            - $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
          nullable: true
      required:
        - items

    NodeGroupResponse:
      type: object
      description: |-
        Группа узлов в кластере Managed Kubernetes — это группа виртуальных машин
        Compute, на которых запускаются контейнеры с приложениями
      properties:
        kind:
          type: string
          default: mk8s/v1/NodeGroup
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/NodeGroupSpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/NodeGroupStatusResponse'
          description: Описывает статусную модель групп узлов Kubernetes
          nullable: true
      required:
        - spec

    NodeGroupSpecResponse:
      type: object
      properties:
        zone:
          type: string
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        subnet:
          type: object
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          properties:
            ref:
              type: string
              description: |-
                Ссылка на ресурс
              
                Строка в форматах:
                  Полный формат:
                    - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
                  Сокращенные форматы:
                    - "projects/{project}/networks/{network}/subnets/{subnet}"
                    - "networks/{network}/subnets/{subnet}"
                    - "subnets/{subnet}"
                    - "{subnet}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Примеры:
                  - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
                  - "projects/myProject/networks/myNetwork/subnets/mySubnet"
                  - "networks/myNetwork/subnets/mySubnet"
                  - "subnets/mySubnet"
                  - "mySubnet"
          required:
            - ref
        vmType:
          type: object
          description: Тип VM
          properties:
            ref:
              type: string
              description: |-
                Ссылка на ресурс
              
                Строка в форматах:
                  Полный формат:
                    - "compute/vmTypes/{vmType}"
                  Сокращенные форматы:
                    - "vmTypes/{vmType}"
                    - "{vmType}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Примеры:
                  - "compute/vmTypes/myVmType"
                  - "vmTypes/myVmType"
                  - "myVmType"
          required:
            - ref
        imageStorageSize:
          type: string
          description: |-
            Размер хранилища для образов и контейнеров, в Gb
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
          default: 15Gb
        imageStorageIops:
          type: integer
          description: Количество операций ввода-вывода в секунду (IOPS) для хранилища образов и контейнеров
          format: int64
          default: 1000
        localDisks:
          type: array
          description: Параметры локальных дисков для каждого узла в группе узлов
          items:
            $ref: '#/components/schemas/LocalDiskSpecResponse'
          nullable: true
        scale:
          type: object
          description: Необходимо заполнить одно из полей — "fixed" или "autoscaling"
          properties:
            fixed:
              type: integer
              description: Количество узлов в группе узлов
              nullable: true
            autoscaling:
              type: object
              properties:
                min:
                  type: integer
                  description: Минимально количество узлов в группе узлов
                max:
                  type: integer
                  description: Максимальное количество узлов в группе узлов
              required:
                - min
                - max
              nullable: true
        labels:
          type: array
          items:
            $ref: '#/components/schemas/NodeLabelSpecResponse'
          nullable: true
        taints:
          type: array
          items:
            $ref: '#/components/schemas/NodeTaintSpecResponse'
          nullable: true
        versionControl:
          $ref: '#/components/schemas/NodeGroupVersionControlSpecResponse'
        rolloutStrategy:
          type: object
          description: Стратегия обновления (rollout) узлов в группе узлов
          properties:
            maxSurge:
              type: integer
              default: 1
            maxUnavailable:
              type: integer
        serviceAccount:
          type: object
          description: |-
            Сервисный аккаунт для выполнения функций:
            - скачивание образов из Artifact Registry (требуются права на чтение образов);
            - сбор системных метрик с узлов (требуются права на чтение статусов узлов)
          properties:
            ref:
              type: string
              description: |-
                Ссылка на ресурс
              
                Строка в форматах:
                  Полный формат:
                    - "iam/projects/{project}/serviceAccounts/{serviceAccount}"
                  Сокращенные форматы:
                    - "projects/{project}/serviceAccounts/{serviceAccount}"
                    - "serviceAccounts/{serviceAccount}"
                    - "{serviceAccount}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Примеры:
                  - "iam/projects/myProject/serviceAccounts/myServiceAccount"
                  - "projects/myProject/serviceAccounts/myServiceAccount"
                  - "serviceAccounts/myServiceAccount"
                  - "myServiceAccount"
          required:
            - ref
      required:
        - zone
        - subnet
        - vmType
        - scale
        - versionControl
        - rolloutStrategy
        - serviceAccount

    LocalDiskSpecResponse:
      type: object
      properties:
        name:
          type: string
          description: Уникальное имя диска в рамках виртуальной машины
        deviceName:
          type: string
          description: Имя устройства в /dev/disk/by-id/mws-*. Если не указано — mws-{name}
          nullable: true
        size:
          type: string
          description: |-
            Размер диска. Должен быть кратен 248GB
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
      required:
        - name
        - size

    NodeLabelSpecResponse:
      type: object
      properties:
        key:
          type: string
          description: |-
            Ключ может состоять из двух частей: необязательный префикс и ключ, разделенные '/'
            Максимальная длина префикса 253 символа.
            Максимальная длина ключа 63 символа
        value:
          type: string
          description: Значение метки на узле
      required:
        - key
        - value

    NodeTaintSpecResponse:
      type: object
      properties:
        key:
          type: string
          description: |-
            Ключ может состоять из двух частей: необязательный префикс и ключ, разделенные "/".
            Максимальная длина префикса 253 символа.
            Максимальная длина ключа 63 символа
        value:
          type: string
          description: Значение taint на node. Если строка пустая, то value нет
        effect:
          type: string
          description: Эффект taint на node, влияющий на pod scheduling, которые под него попадают
          enum:
            - "NO_SCHEDULE"
            - "PREFER_NO_SCHEDULE"
            - "NO_EXECUTE"
      required:
        - key
        - value
        - effect

    NodeGroupVersionControlSpecResponse:
      type: object
      properties:
        version:
          type: string
          description: Минимальная версия NodeGroup. Не может быть выше версии кластера.  Автоматически обновляется до default-версии в окно обслуживания. Если указанная версия выше текущей, обновление запустится немедленно. Во время автоматического обновления это поле не изменяется, а актуальная версия указывается в статусе NodeGroup
          nullable: true
        autoUpdate:
          type: boolean
          description: Авто обновление версии нод группы в рамках релизного канала и окна обслуживания
          default: true
        maintenanceWindow:
          allOf:
            - $ref: '#/components/schemas/MaintenanceWindowResponse'
          description: Если окно обслуживания не заполнено, то время проведения работ не ограничено. Duration можно указывать. Если отсутствует, то не ограничено по времени
          nullable: true

    NodeGroupStatusResponse:
      type: object
      description: Описывает статусную модель групп узлов Kubernetes
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            vmType:
              type: object
              properties:
                ref:
                  type: string
                  description: |-
                    Ссылка на ресурс
                  
                    Строка в форматах:
                      Полный формат:
                        - "compute/vmTypes/{vmType}"
                      Сокращенные форматы:
                        - "vmTypes/{vmType}"
                        - "{vmType}"
                  
                    Полный формат всегда корректен.
                    Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
                  
                    Примеры:
                      - "compute/vmTypes/myVmType"
                      - "vmTypes/myVmType"
                      - "myVmType"
              required:
                - ref
              nullable: true
            cpu:
              type: string
              description: Количество ядер vCPU на узле
              nullable: true
            memory:
              type: string
              description: |-
                Объем оперативной памяти на узле
              
                Размер в байтах. Формат: <число> [единица измерения].
                Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
                Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
                Значение базовой единицы измерения (в байтах) должно оставаться целым.
                Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
              
                Примеры:
                  - "1"
                  - "1 B"
                  - "1024 kb"
                  - "1.5 TB"
              example: 16 GB
              nullable: true
            imageStorageSize:
              type: string
              description: |-
                Размер в байтах. Формат: <число> [единица измерения].
                Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
                Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
                Значение базовой единицы измерения (в байтах) должно оставаться целым.
                Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
              
                Примеры:
                  - "1"
                  - "1 B"
                  - "1024 kb"
                  - "1.5 TB"
              nullable: true
            imageStorageIops:
              type: integer
              description: Количество операций ввода-вывода в секунду (IOPS) для хранилища образов и контейнеров
              format: int64
              nullable: true
            localDisks:
              type: array
              description: Параметры локальных дисков для каждого узла в группе узлов
              items:
                $ref: '#/components/schemas/LocalDiskStatusResponse'
              nullable: true
            scale:
              type: object
              properties:
                fixed:
                  type: integer
                  nullable: true
                autoscaling:
                  type: object
                  properties:
                    min:
                      type: integer
                      description: Минимальное количество узлов в группе узлов
                    max:
                      type: integer
                      description: Максимальное количество узлов в группе узлов
                  required:
                    - min
                    - max
                  nullable: true
              nullable: true
            nodesReady:
              type: integer
              description: Текущее количество узлов, готовых для работы
              nullable: true
            labels:
              type: array
              items:
                $ref: '#/components/schemas/NodeLabelSpecResponse'
              nullable: true
            taints:
              type: array
              items:
                $ref: '#/components/schemas/NodeTaintSpecResponse'
              nullable: true
            rolloutStrategy:
              type: object
              description: Стратегия обновления (rollout) узлов в группе узлов
              properties:
                maxSurge:
                  type: integer
                maxUnavailable:
                  type: integer
              required:
                - maxSurge
                - maxUnavailable
              nullable: true
            versionControl:
              allOf:
                - $ref: '#/components/schemas/NodeGroupVersionControlStatusResponse'
              nullable: true
            serviceAccount:
              type: object
              properties:
                ref:
                  type: string
                  description: |-
                    Ссылка на ресурс
                  
                    Строка в форматах:
                      Полный формат:
                        - "iam/projects/{project}/serviceAccounts/{serviceAccount}"
                      Сокращенные форматы:
                        - "projects/{project}/serviceAccounts/{serviceAccount}"
                        - "serviceAccounts/{serviceAccount}"
                        - "{serviceAccount}"
                  
                    Полный формат всегда корректен.
                    Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
                  
                    Примеры:
                      - "iam/projects/myProject/serviceAccounts/myServiceAccount"
                      - "projects/myProject/serviceAccounts/myServiceAccount"
                      - "serviceAccounts/myServiceAccount"
                      - "myServiceAccount"
              required:
                - ref
              nullable: true
            nodeGroupStatus:
              type: object
              properties:
                state:
                  type: string
                  description: Текущий статус группы узлов
                  enum:
                    - "INIT"
                    - "PENDING"
                    - "RUNNING"
                    - "SCALING_UP"
                    - "SCALING_DOWN"
                    - "UPGRADING"
                    - "DEGRADED"
                    - "DELETING"
                    - "UNKNOWN"
                  nullable: true
                message:
                  type: string
                  nullable: true
              nullable: true

    LocalDiskStatusResponse:
      type: object
      description: Статус локального диска. Все поля read-only
      properties:
        name:
          type: string
          description: Уникальное имя диска в рамках виртуальной машины
          nullable: true
        deviceName:
          type: string
          description: Имя устройства в `/dev/disk/by-id/mws-*`. Если не указано — `mws-{name}`
          nullable: true
        size:
          type: string
          description: |-
            Размер диска
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
          nullable: true

    NodeGroupVersionControlStatusResponse:
      type: object
      properties:
        version:
          type: string
          description: Текущая версия NodeGroup
          nullable: true
        autoUpdate:
          type: boolean
          nullable: true
        maintenanceWindow:
          allOf:
            - $ref: '#/components/schemas/MaintenanceWindow2Response'
          nullable: true

    NodeGroupRequest:
      type: object
      description: |-
        Группа узлов в кластере Managed Kubernetes — это группа виртуальных машин
        Compute, на которых запускаются контейнеры с приложениями
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/NodeGroupSpecRequest'
          description: Обязательно для заполнения при создании ресурса

    NodeGroupSpecRequest:
      type: object
      properties:
        zone:
          type: string
          description: |-
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        subnet:
          type: object
          description: |-
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          properties:
            ref:
              type: string
              description: |-
                Ссылка на ресурс
              
                Строка в форматах:
                  Полный формат:
                    - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
                  Сокращенные форматы:
                    - "projects/{project}/networks/{network}/subnets/{subnet}"
                    - "networks/{network}/subnets/{subnet}"
                    - "subnets/{subnet}"
                    - "{subnet}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Обязательно для заполнения при создании ресурса
              
                Примеры:
                  - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
                  - "projects/myProject/networks/myNetwork/subnets/mySubnet"
                  - "networks/myNetwork/subnets/mySubnet"
                  - "subnets/mySubnet"
                  - "mySubnet"
        vmType:
          type: object
          description: |-
            Тип VM
          
            Обязательно для заполнения при создании ресурса
          properties:
            ref:
              type: string
              description: |-
                Ссылка на ресурс
              
                Строка в форматах:
                  Полный формат:
                    - "compute/vmTypes/{vmType}"
                  Сокращенные форматы:
                    - "vmTypes/{vmType}"
                    - "{vmType}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Обязательно для заполнения при создании ресурса
              
                Примеры:
                  - "compute/vmTypes/myVmType"
                  - "vmTypes/myVmType"
                  - "myVmType"
        imageStorageSize:
          type: string
          description: |-
            Размер хранилища для образов и контейнеров, в Gb
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
          default: 15Gb
        imageStorageIops:
          type: integer
          description: Количество операций ввода-вывода в секунду (IOPS) для хранилища образов и контейнеров
          format: int64
          default: 1000
        localDisks:
          type: array
          description: |-
            Параметры локальных дисков для каждого узла в группе узлов
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/LocalDiskSpecRequest'
          nullable: true
        scale:
          type: object
          description: |-
            Необходимо заполнить одно из полей — "fixed" или "autoscaling"
          
            Обязательно для заполнения при создании ресурса
          properties:
            fixed:
              type: integer
              description: Количество узлов в группе узлов
              nullable: true
            autoscaling:
              type: object
              properties:
                min:
                  type: integer
                  description: |-
                    Минимально количество узлов в группе узлов
                  
                    Обязательно для заполнения при создании ресурса
                max:
                  type: integer
                  description: |-
                    Максимальное количество узлов в группе узлов
                  
                    Обязательно для заполнения при создании ресурса
              nullable: true
        labels:
          type: array
          description: Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/NodeLabelSpecRequest'
          nullable: true
        taints:
          type: array
          description: Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/NodeTaintSpecRequest'
          nullable: true
        versionControl:
          $ref: '#/components/schemas/NodeGroupVersionControlSpecRequest'
          description: Обязательно для заполнения при создании ресурса
        rolloutStrategy:
          type: object
          description: |-
            Стратегия обновления (rollout) узлов в группе узлов
          
            Обязательно для заполнения при создании ресурса
          properties:
            maxSurge:
              type: integer
              default: 1
            maxUnavailable:
              type: integer
        serviceAccount:
          type: object
          description: |-
            Сервисный аккаунт для выполнения функций:
            - скачивание образов из Artifact Registry (требуются права на чтение образов);
            - сбор системных метрик с узлов (требуются права на чтение статусов узлов)
          
            Обязательно для заполнения при создании ресурса
          properties:
            ref:
              type: string
              description: |-
                Ссылка на ресурс
              
                Строка в форматах:
                  Полный формат:
                    - "iam/projects/{project}/serviceAccounts/{serviceAccount}"
                  Сокращенные форматы:
                    - "projects/{project}/serviceAccounts/{serviceAccount}"
                    - "serviceAccounts/{serviceAccount}"
                    - "{serviceAccount}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Обязательно для заполнения при создании ресурса
              
                Примеры:
                  - "iam/projects/myProject/serviceAccounts/myServiceAccount"
                  - "projects/myProject/serviceAccounts/myServiceAccount"
                  - "serviceAccounts/myServiceAccount"
                  - "myServiceAccount"

    LocalDiskSpecRequest:
      type: object
      properties:
        name:
          type: string
          description: |-
            Уникальное имя диска в рамках виртуальной машины
          
            Обязательно для заполнения при создании ресурса
        deviceName:
          type: string
          description: Имя устройства в /dev/disk/by-id/mws-*. Если не указано — mws-{name}
          nullable: true
        size:
          type: string
          description: |-
            Размер диска. Должен быть кратен 248GB
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"

    NodeLabelSpecRequest:
      type: object
      properties:
        key:
          type: string
          description: |-
            Ключ может состоять из двух частей: необязательный префикс и ключ, разделенные '/'
            Максимальная длина префикса 253 символа.
            Максимальная длина ключа 63 символа
          
            Обязательно для заполнения при создании ресурса
        value:
          type: string
          description: |-
            Значение метки на узле
          
            Обязательно для заполнения при создании ресурса

    NodeTaintSpecRequest:
      type: object
      properties:
        key:
          type: string
          description: |-
            Ключ может состоять из двух частей: необязательный префикс и ключ, разделенные "/".
            Максимальная длина префикса 253 символа.
            Максимальная длина ключа 63 символа
          
            Обязательно для заполнения при создании ресурса
        value:
          type: string
          description: |-
            Значение taint на node. Если строка пустая, то value нет
          
            Обязательно для заполнения при создании ресурса
        effect:
          type: string
          description: |-
            Эффект taint на node, влияющий на pod scheduling, которые под него попадают
          
            Обязательно для заполнения при создании ресурса
          enum:
            - "NO_SCHEDULE"
            - "PREFER_NO_SCHEDULE"
            - "NO_EXECUTE"

    NodeGroupVersionControlSpecRequest:
      type: object
      properties:
        version:
          type: string
          description: Минимальная версия NodeGroup. Не может быть выше версии кластера.  Автоматически обновляется до default-версии в окно обслуживания. Если указанная версия выше текущей, обновление запустится немедленно. Во время автоматического обновления это поле не изменяется, а актуальная версия указывается в статусе NodeGroup
          nullable: true
        autoUpdate:
          type: boolean
          description: Авто обновление версии нод группы в рамках релизного канала и окна обслуживания
          default: true
        maintenanceWindow:
          allOf:
            - $ref: '#/components/schemas/MaintenanceWindowRequest'
          description: Если окно обслуживания не заполнено, то время проведения работ не ограничено. Duration можно указывать. Если отсутствует, то не ограничено по времени
          nullable: true

    ApiError:
      type: object
      description: Описание ошибки (если HTTP-статус отличен от 2xx)
      properties:
        code:
          type: string
          description: Короткий код ошибки
          enum:
            - "ALREADY_EXISTS"
            - "CANCELLED"
            - "DEADLINE_EXCEEDED"
            - "FAILED_PRECONDITION"
            - "INTERNAL"
            - "INVALID_ARGUMENT"
            - "NOT_FOUND"
            - "PERMISSION_DENIED"
            - "QUOTA_EXCEEDED"
            - "IDEMPOTENCY_KEY_ALREADY_USED"
            - "INVALID_ETAG_KEY"
            - "UNAUTHENTICATED"
            - "UNAVAILABLE"
            - "METHOD_NOT_ALLOWED"
            - "TOO_MANY_REQUESTS"
        type:
          type: string
          description: Подтип расширенной информации по ошибкам к которому удалось его привести. Null если привели к базовому типу
        description:
          type: string
          description: Развёрнутое пояснение ошибки
        retryPolicy:
          allOf:
            - $ref: '#/components/schemas/RetryPolicy'
          description: Правила выполнения повторных попыток в случае ошибки
          nullable: true
        details:
          type: object
          description: |-
            Детальная информация по ошибке в произвольном JSON формате. Содержимое не предназначено для машинной обработки
          
            Примеры:
              - '{"jsonPaths": [{"path": "foo.bar", "reason": "some reason", "offset": "line: 1, column: 2"}]}'
              - '{"errorInfo": "some error info"}'
          additionalProperties: true
      required:
        - code

    RetryPolicy:
      type: object
      description: Правила выполнения повторных попыток в случае ошибки
      properties:
        retryCount:
          type: integer
          description: Максимальное количество повторных попыток. 0 - значение по-умолчанию
        retryTimeout:
          type: string
          description: |-
            Пауза между повторными попытками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        retryTimeoutScale:
          $ref: '#/components/schemas/RetryTimeoutScale'
          description: Шаг увеличения таймаута
        maxRetryTimeout:
          type: string
          description: |-
            Максимальная длительность таймаута
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
      required:
        - retryCount
        - retryTimeout

    RetryTimeoutScale:
      type: string
      description: Шаг увеличения таймаута
      enum:
        - "FIXED"
        - "LINEAR"
        - "PROGRESSIVE"
        - "EXPONENTIAL"

  securitySchemes:
    BearerAuth:
      description: Токен авторизации IAM
      type: apiKey
      in: header
      name: Authorization

  parameters:
    header_Idempotency-Key:
      name: Idempotency-Key
      in: header
      description: Ключ идемпотентности
      style: simple
      schema:
        type: string

    path_clusterName:
      name: clusterName
      in: path
      required: true
      description: Имя Cluster
      style: simple
      schema:
        type: string
        example: mws-taovchi1-by75d03
        pattern: ^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$

    path_nodeGroupName:
      name: nodeGroupName
      in: path
      required: true
      description: Имя Node-группы
      style: simple
      schema:
        type: string
        example: ng-01
        pattern: ^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$

    path_project:
      name: project
      in: path
      required: true
      description: Путь к проекту.
      style: simple
      schema:
        type: string

    path_releaseChannelName:
      name: releaseChannelName
      in: path
      required: true
      description: Имя Release Channel
      style: simple
      schema:
        type: string
        example: stable

    query_clusterName:
      name: clusterName
      in: query
      description: Имя Cluster
      style: form
      explode: true
      schema:
        type: string
        example: mws-taovchi1-by75d03
        pattern: ^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$

    query_createOnly:
      name: createOnly
      in: query
      description: Создать ресурс. Если ресурс уже существует, будет возвращен ответ `AlreadyExists`
      style: form
      explode: true
      schema:
        type: boolean

    query_filter:
      name: filter
      in: query
      description: |-
        Строка фильтра.
        Для фильтрации используется ограниченная реализация AIP-160 (https://google.aip.dev/160).
        Она включает в себя операции =, !=, OR, AND и (), фильтрацию свойств вложенных объектов и wildcard-поиск подстрок
      style: form
      explode: true
      schema:
        type: string

    query_nodeGroupName:
      name: nodeGroupName
      in: query
      description: Имя Node Group-ы
      style: form
      explode: true
      schema:
        type: string
        example: mws-taovchi1-by75d03
        pattern: ^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$

    query_orderBy:
      name: orderBy
      in: query
      description: |-
        Строка сортировки.
        Для сортировки используется реализация AIP-132 (https://google.aip.dev/132#ordering).
        Указывается перечислением полей с направлением сортировки (asc, desc) через запятую.
        По умолчанию используется сортировка по возрастанию (asc)
      style: form
      explode: true
      schema:
        type: string

    query_pageSize:
      name: pageSize
      in: query
      description: Максимальное количество объектов, которые клиент готов принять. Сервис определяет значение по умолчанию и верхнюю границу
      style: form
      explode: true
      schema:
        type: integer

    query_pageToken:
      name: pageToken
      in: query
      description: Строка, из предыдущего ответа на аналогичный запрос, для получения следующей страницы с объектами. Не задано для получения первой страницы
      style: form
      explode: true
      schema:
        type: string

    query_subject:
      name: subject
      in: query
      description: Объект получения версий, возможные варианты значений cluster или nodeGroup
      style: form
      explode: true
      schema:
        type: string
        default: cluster
        example: cluster
        pattern: ^[a-z][A-Za-z]{0,19}$

    query_updateOnly:
      name: updateOnly
      in: query
      description: |-
        Обновить ресурс, если он существует. Если ресурс не существует, будет возвращен ответ `Not Found`.
        Если прав на выполнение операции недостаточно, будет возвращен ответ `PermissionDenied`
      style: form
      explode: true
      schema:
        type: boolean

