# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.6.0
  title: Managed ClickHouse
  description: Публичная спецификация сервиса Managed ClickHouse

servers:
  - url: https://mclickhouse.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /mclickhouse/v1/projects/{project}/clusters:
    get:
      tags:
        - clickhouseCluster
      summary: Получить список кластеров ClickHouse
      description: |-
        Возвращает постраничный список кластеров ClickHouse в указанном проекте
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.cluster`
          - `metadata.displayName`
          - `status.cluster.region.region`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.cluster`
          - `metadata.displayName`
          - `metadata.createTime`
          - `metadata.updateTime`
          - `spec.version`
          - `spec.active`
          - `status.health`
          - `status.state`
          - `status.ready.state`
          - `status.cluster.region.region`
      operationId: ListClickhouseClusters
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список кластеров ClickHouse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickhouseClusterPageResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mclickhouse/v1/projects/{project}/clusters/{cluster}:stop:
    post:
      tags:
        - clickhouseCluster
      summary: Остановить кластер ClickHouse
      description: Остановить кластер ClickHouse
      operationId: StopCluster
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Остановка кластера ClickHouse инициирована
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickhouseClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mclickhouse/v1/projects/{project}/clusters/{cluster}:start:
    post:
      tags:
        - clickhouseCluster
      summary: Запустить кластер ClickHouse
      description: Запустить кластер ClickHouse
      operationId: StartCluster
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Запуск кластера ClickHouse инициирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickhouseClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mclickhouse/v1/projects/{project}/clusters/{cluster}:
    post:
      tags:
        - clickhouseCluster
      summary: Создать или изменить кластер ClickHouse
      description: |-
        Создаёт новый кластер ClickHouse или изменяет существующий (upsert)
      
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertClickhouseCluster
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения кластера ClickHouse
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClickhouseClusterRequest'
      responses:
        "200":
          description: Кластер ClickHouse успешно создан или изменён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickhouseClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - clickhouseCluster
      summary: Получить информацию о кластере ClickHouse
      description: Возвращает информацию об указанном кластере ClickHouse
      operationId: GetClickhouseCluster
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Информация о кластере ClickHouse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickhouseClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - clickhouseCluster
      summary: Удалить кластер ClickHouse
      description: Удаляет указанный кластер ClickHouse
      operationId: DeleteClickhouseCluster
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/query_purge"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Кластер ClickHouse удалён
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mclickhouse/v1/projects/{project}/availableConfigParameters:
    get:
      tags:
        - clickhouseConfig
      summary: Получить доступные параметры конфигурации ClickHouse
      description: Возвращает список доступных параметров конфигурации ClickHouse для указанной версии
      operationId: GetAvailableConfigParameters
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_version"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список доступных параметров конфигурации ClickHouse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableConfigParametersSchema'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mclickhouse/v1/projects/{project}/clusters/{cluster}/users:
    get:
      tags:
        - clickhouseClusterUser
      summary: Получить список пользователей кластера ClickHouse
      description: |-
        Возвращает постраничный список пользователей указанного кластера ClickHouse
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.user`
          - `metadata.displayName`
          - `spec.role.name`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.user`
          - `metadata.displayName`
          - `status.ready.state`
      operationId: ListClickhouseClusterUsers
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список пользователей кластера ClickHouse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickhouseClusterUserPageResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mclickhouse/v1/projects/{project}/clusters/{cluster}/users/{user}:
    post:
      tags:
        - clickhouseClusterUser
      summary: Создать или изменить пользователя кластера ClickHouse
      description: |-
        Создаёт нового пользователя кластера ClickHouse или изменяет существующего (upsert)
      
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpdateClickhouseClusterUser
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_user"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения пользователя кластера ClickHouse
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClickhouseClusterUserRequest'
      responses:
        "200":
          description: Пользователь кластера ClickHouse успешно создан или изменён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickhouseClusterUserResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mclickhouse/v1/projects/{project}/clusters/{cluster}/backups:
    get:
      tags:
        - clickhouseClusterBackup
      summary: Получить список резервных копий кластера ClickHouse
      description: Возвращает постраничный список резервных копий указанного кластера ClickHouse
      operationId: ListClickhouseClusterBackups
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список резервных копий кластера ClickHouse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickhouseBackupPageResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mclickhouse/v1/projects/{project}/clusters/{cluster}/backups/{backup}:
    post:
      tags:
        - clickhouseClusterBackup
      summary: Создать резервную копию кластера ClickHouse
      description: |-
        Создаёт новую резервную копию кластера ClickHouse
      
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertClickhouseClusterBackup
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_backup"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания резервной копии кластера ClickHouse
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClickhouseBackupRequest'
      responses:
        "200":
          description: Создание резервной копии кластера ClickHouse инициировано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickhouseBackupResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - clickhouseClusterBackup
      summary: Получить информацию о резервной копии кластера ClickHouse
      description: Возвращает информацию об указанной резервной копии кластера ClickHouse
      operationId: GetClickhouseClusterBackup
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_backup"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Информация о резервной копии кластера ClickHouse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickhouseBackupResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - clickhouseClusterBackup
      summary: Удалить резервную копию кластера ClickHouse
      description: Удаляет указанную резервную копию кластера ClickHouse
      operationId: DeleteClickhouseClusterBackup
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_backup"
        - $ref: "#/components/parameters/query_purge"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Резервная копия кластера ClickHouse удалена
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mclickhouse/v1/projects/{project}/clusters/{cluster}/backups/{backup}:restoreCluster:
    post:
      tags:
        - clickhouseBackupRestore
      summary: Восстановить кластер ClickHouse из резервной копии (в новый кластер)
      description: Запускает восстановление кластера ClickHouse из указанной резервной копии в новый кластер
      operationId: RestoreClickhouseBackup
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_backup"
      security:
        - BearerAuth: []
      requestBody:
        description: Параметры восстановления из резервной копии
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClickhouseClusterRestoreRequest'
      responses:
        "200":
          description: Восстановление из резервной копии инициировано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickhouseClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mclickhouse/v1/projects/{project}/availableVmTypes:
    get:
      tags:
        - vmType
      summary: Получить доступные типы ВМ для кластера ClickHouse
      description: Возвращает список доступных типов виртуальных машин для кластера ClickHouse
      operationId: GetClickhouseClusterVmTypes
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_region"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список доступных типов ВМ для кластера ClickHouse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickhouseClusterVmTypesResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    ClickhouseClusterPageResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ClickhouseClusterResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    ClickhouseClusterResponse:
      type: object
      description: Кластер Managed ClickHouse — это группа узлов (виртуальных машин), объединенных для высокоскоростной обработки и хранения данных с помощью СУБД ClickHouse
      properties:
        kind:
          type: string
          default: mclickhouse/v1/cluster
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    Ссылка на типизированный референс
                  
                    Строка в формате: "mclickhouse/projects/{project}/clusters/{cluster}"
                  
                    Пример: "mclickhouse/projects/myProject/clusters/myCluster"
          nullable: true
        spec:
          $ref: '#/components/schemas/ClickhouseClusterSpecResponse'
          description: Параметры кластера
        status:
          allOf:
            - $ref: '#/components/schemas/ClickhouseClusterStatusResponse'
          nullable: true
      required:
        - spec

    TypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя. Необязательное поле, можно свободно задавать и изменять для удобства организации ресурсов
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса (не фактическое время удаления)
          format: date-time
        purgeTime:
          type: string
          description: Время удаления ресурса
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/TypedUsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    TypedUsageResponse:
      type: object
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных `own` и `use` могут быть добавлены специализированные типы для конкретных сервисов
        resource:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
      required:
        - usageType
        - resource

    ClickhouseClusterSpecResponse:
      type: object
      description: Параметры кластера
      properties:
        active:
          type: boolean
          description: Состояние кластера — включен или выключен
          default: true
        version:
          type: string
          description: Версия продукта
        region:
          type: string
          description: |-
            Регион, в котором располагается кластер
          
            Строка в форматах:
              Полный формат:
                - "rm/regions/{region}"
              Сокращенные форматы:
                - "regions/{region}"
                - "{region}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "rm/regions/myRegion"
              - "regions/myRegion"
              - "myRegion"
        endpoints:
          type: array
          description: Описание эндпоинтов кластера
          items:
            $ref: '#/components/schemas/ClickhouseEndpointResponse'
        coordinator:
          allOf:
            - $ref: '#/components/schemas/ClickhouseClusterCoordinatorResponse'
          description: Описание координатора кластера
          nullable: true
        shards:
          type: array
          description: Описание шардов кластера
          items:
            $ref: '#/components/schemas/ClickhouseClusterShardResponse'
        config:
          type: object
          description: Настройки ClickHouse. Если не указаны, будут использованы настройки по умолчанию
          additionalProperties:
            description: Значение не может равняться `null`
        storage:
          allOf:
            - $ref: '#/components/schemas/ClickhouseStorageConfigurationResponse'
          description: Конфигурация схемы хранилищ ClickHouse
          nullable: true
        bootstrapAdmin:
          $ref: '#/components/schemas/ClickhouseClusterBootstrapAdminSpecResponse'
          description: Добавление пользователей при создании кластера ClickHouse
        backup:
          allOf:
            - $ref: '#/components/schemas/ClickhouseClusterBackupResponse'
          description: Спецификация работы автоматического резервного копирования
          nullable: true
        maintenanceWindow:
          allOf:
            - $ref: '#/components/schemas/MaintenanceWindowResponse'
          nullable: true
      required:
        - version
        - shards
        - bootstrapAdmin

    ClickhouseEndpointResponse:
      type: object
      description: Описание спецификации эндпойнта кластера
      properties:
        address:
          $ref: '#/components/schemas/ClickhouseEndpointAddressSpecOrRefResponse'
          description: 'Описание адреса эндпоинта. Если указан `ref`, будет использован существующий внутренний адрес VPC. Если указан `spec`, будут созданы внутренние адреса в указанной подсети: для эндпоинта кластера или шарда — по одному адресу на эндпоинт, для эндпоинтов узлов — по одному адресу на каждый эндпоинт каждого созданного узла'
        externalAddress:
          allOf:
            - $ref: '#/components/schemas/ClickhouseEndpointExternalAddressSpecOrRefResponse'
          description: Описание шаблона внешнего адреса/адресов, которые будут выделены. Для `ref` будет выделен только один адрес, для `spec` будет выделено необходимое количество адресов в зависимости от сущности, для которой выделяются адреса
          nullable: true
      required:
        - address

    ClickhouseEndpointAddressSpecOrRefResponse:
      type: object
      description: 'Описание адреса эндпоинта. Если указан `ref`, будет использован существующий внутренний адрес VPC. Если указан `spec`, будут созданы внутренние адреса в указанной подсети: для эндпоинта кластера или шарда — по одному адресу на эндпоинт, для эндпоинтов узлов — по одному адресу на каждый эндпоинт каждого созданного узла'
      properties:
        ref:
          type: string
          description: |-
            Ссылка на внутренний адрес эндпоинта в VPC
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
        spec:
          allOf:
            - $ref: '#/components/schemas/ClickhouseEndpointAddressSpecResponse'
          description: Описание шаблона адреса, который будет использоваться при выделении адресов
          nullable: true

    ClickhouseEndpointAddressSpecResponse:
      type: object
      description: Описание шаблона адреса, который будет использоваться при выделении адресов
      properties:
        subnet:
          type: string
          description: |-
            Подсеть облачной сети, которой принадлежит адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"
      required:
        - subnet

    ClickhouseEndpointExternalAddressSpecOrRefResponse:
      type: object
      description: Описание шаблона внешнего адреса/адресов, которые будут выделены. Для `ref` будет выделен только один адрес, для `spec` будет выделено необходимое количество адресов в зависимости от сущности, для которой выделяются адреса
      properties:
        ref:
          type: string
          description: |-
            Ссылка на внешний адрес эндпоинта в VPC
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
        spec:
          allOf:
            - $ref: '#/components/schemas/ClickhouseEndpointExternalAddressSpecResponse'
          description: Описание шаблона внешнего адреса, который будет использоваться при выделении адресов
          nullable: true

    ClickhouseEndpointExternalAddressSpecResponse:
      type: object
      description: Описание шаблона внешнего адреса, который будет использоваться при выделении адресов

    ClickhouseClusterCoordinatorResponse:
      type: object
      description: Описание координатора кластера
      properties:
        type:
          $ref: '#/components/schemas/ClickhouseCoordinatorType'
          description: |-
            Тип координатора. Если не указано, то при наличии более одного узла, используется ClickHouse Keeper
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        resources:
          $ref: '#/components/schemas/ClickhouseCoordinatorHWResourcesResponse'
          description: Параметры виртуальной машины, на которой будет работать ClickHouse Keeper. Необязательный параметр в standalone-конфигурации
        instances:
          type: array
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          items:
            $ref: '#/components/schemas/ClickhouseClusterCoordinatorInstanceResponse'
      required:
        - resources
        - instances

    ClickhouseCoordinatorType:
      type: string
      description: Тип координатора. Если не указано, то при наличии более одного узла, используется ClickHouse Keeper
      enum:
        - "CLICKHOUSE_KEEPER"
        - "ZOOKEEPER"
      default: CLICKHOUSE_KEEPER

    ClickhouseCoordinatorHWResourcesResponse:
      type: object
      description: Ресурсы одного узла-координатора ClickHouse Keeper
      properties:
        vmType:
          type: string
          description: |-
            Тип виртуальной машины, описывающий ресурсы (vCPU, memory)
          
            Строка в форматах:
              Полный формат:
                - "mclickhouse/vmTypes/{vmType}"
              Сокращенные форматы:
                - "vmTypes/{vmType}"
                - "{vmType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "mclickhouse/vmTypes/myVmType"
              - "vmTypes/myVmType"
              - "myVmType"
        disk:
          $ref: '#/components/schemas/ClickhouseInstanceDiskSpecResponse'
          description: Параметры диска
      required:
        - vmType
        - disk

    ClickhouseInstanceDiskSpecResponse:
      type: object
      description: Параметры диска
      properties:
        size:
          type: string
          description: |-
            Размер диска
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
        type:
          $ref: '#/components/schemas/ClickhouseDataDiskType'
          description: |-
            Тип используемого диска:
            * `NETWORK_STANDARD_SSD` — сетевой SSD
        iops:
          $ref: '#/components/schemas/Iops'
          description: IOPS
      required:
        - size
        - type

    ClickhouseDataDiskType:
      type: string
      description: |-
        Тип используемого диска:
        * `NETWORK_STANDARD_SSD` — сетевой SSD
      enum:
        - "NETWORK_STANDARD_SSD"

    Iops:
      type: integer
      description: IOPS
      format: int32
      example: 1000

    ClickhouseClusterCoordinatorInstanceResponse:
      type: object
      description: Описание узла координатора
      properties:
        count:
          type: integer
          description: Количество узлов в зоне доступности
          default: 1
        zone:
          type: string
          description: |-
            Зона доступности
          
            Строка в форматах:
              Полный формат:
                - "rm/zones/{zone}"
              Сокращенные форматы:
                - "zones/{zone}"
                - "{zone}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "rm/zones/myZone"
              - "zones/myZone"
              - "myZone"
      required:
        - zone

    ClickhouseClusterShardResponse:
      type: object
      description: Описание спецификации шарда кластера
      properties:
        name:
          type: string
          description: |-
            -> Имя шарда, которому будут принадлежать узлы. В случае с несколькими шардами имя формируется как `name-{shardIndex}`
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        resources:
          $ref: '#/components/schemas/ClickhouseInstanceHWResourcesResponse'
          description: Ресурсы одного узла ClickHouse
        weight:
          type: integer
          description: Вес шарда
          default: 1
        endpoints:
          type: array
          description: Описание эндпоинтов шардов
          items:
            $ref: '#/components/schemas/ClickhouseEndpointResponse'
        instances:
          type: array
          items:
            $ref: '#/components/schemas/ClickhouseClusterInstanceResponse'
      required:
        - name
        - resources
        - instances

    ClickhouseInstanceHWResourcesResponse:
      type: object
      description: Ресурсы одного узла ClickHouse
      properties:
        vmType:
          type: string
          description: |-
            Тип виртуальной машины, описывающий ресурсы (vCPU, memory)
          
            Строка в форматах:
              Полный формат:
                - "mclickhouse/vmTypes/{vmType}"
              Сокращенные форматы:
                - "vmTypes/{vmType}"
                - "{vmType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "mclickhouse/vmTypes/myVmType"
              - "vmTypes/myVmType"
              - "myVmType"
        disk:
          $ref: '#/components/schemas/ClickhouseInstanceDiskSpecResponse'
          description: Параметры диска
      required:
        - vmType
        - disk

    ClickhouseClusterInstanceResponse:
      type: object
      description: Описание узла кластера
      properties:
        name:
          type: string
          description: |-
            -> Имя узла или узлов в шарде. В случае count>1, имя формируется как name{replicaIndex}, где replicaIndex имеет сквозную нумерацию в рамках указанного имени
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        count:
          type: integer
          description: Количество узлов в зоне доступности
          default: 1
        zone:
          type: string
          description: |-
            Зона доступности
          
            Строка в форматах:
              Полный формат:
                - "rm/zones/{zone}"
              Сокращенные форматы:
                - "zones/{zone}"
                - "{zone}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "rm/zones/myZone"
              - "zones/myZone"
              - "myZone"
        endpoints:
          type: array
          description: Описание эндпоинтов узлов
          items:
            $ref: '#/components/schemas/ClickhouseEndpointResponse'
      required:
        - name
        - zone

    ClickhouseStorageConfigurationResponse:
      type: object
      description: Конфигурация схемы хранилищ ClickHouse
      properties:
        hybridStorageEnabled:
          type: boolean
          description: Включить гибридное хранилище (hot SSD + cold S3)
        moveFactor:
          type: number
          description: Соотношение свободного дискового пространства на SSD дисках кластера (от 0.01 до 1) Когда это соотношение превышает значение параметра конфигурации, ClickHouse начинает перемещать данные в следующий том по порядку
          format: float64
          default: 0.1
          example: 0.3
        dataCachingEnabled:
          type: boolean
          description: Включить кеширование данных с объектного хранилища на сетевых SSD дисках
        cacheMaxSize:
          type: string
          description: |-
            Максимальный размер кеша объектного хранилища, расположенный на SSD
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
          default: 1Gb
        maxDataPartSizeSsd:
          type: string
          description: |-
            Максимальный размер части данных в байтах, который может храниться на дисках тома (SSD)
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
          default: 10Gb
          example: 10Gb

    ClickhouseClusterBootstrapAdminSpecResponse:
      type: object
      description: Добавление пользователей при создании кластера ClickHouse
      properties:
        username:
          type: string
          description: Имя учетной записи администратора
      required:
        - username

    ClickhouseClusterBackupResponse:
      type: object
      description: Спецификация работы автоматического резервного копирования
      properties:
        hour:
          type: integer
          description: Час начала окна автоматического резервного копирования
          default: 1
        retainPeriodDays:
          type: integer
          description: Количество дней хранения успешно снятой резервной копии
          default: 7

    MaintenanceWindowResponse:
      type: object
      properties:
        weekly:
          $ref: '#/components/schemas/WeeklyMaintenanceWindowResponse'
      required:
        - weekly

    WeeklyMaintenanceWindowResponse:
      type: object
      properties:
        days:
          type: array
          description: Дни недели, в которые будет запущено задание на тех. обслуживание
          items:
            $ref: '#/components/schemas/DayOfWeek'
        hour:
          type: integer
          description: Час, в который будет запущено задание на тех. обслуживание
        duration:
          type: string
          description: |-
            Допустимая продолжительность процесса обновления. Если не указано, то не ограничено по времени. Принимается только формат в часах (h)
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          nullable: true
      required:
        - days
        - hour

    DayOfWeek:
      type: string
      description: День недели
      enum:
        - "MONDAY"
        - "TUESDAY"
        - "WEDNESDAY"
        - "THURSDAY"
        - "FRIDAY"
        - "SATURDAY"
        - "SUNDAY"

    ClickhouseClusterStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            health:
              $ref: '#/components/schemas/ClusterHealth'
              description: |-
                Работоспособность кластера:
                  * `ALIVE`    - Полностью работоспособен;
                  * `DEGRADED` - Деградирует (некоторые, но не все, узлы неработоспособны);
                  * `FAILED`   - Неработоспособен;
                  * `UNKNOWN`  - Не удаётся определить состояние (на этапе создания)
            state:
              $ref: '#/components/schemas/ClusterState'
              description: |-
                Состояние кластера:
                  * `CREATING`     - Создаётся;
                  * `RUNNING`      - Работает в штатном режиме;
                  * `STOPPING`     - Останавливается;
                  * `STOPPED`      - Остановлен;
                  * `STARTING`     - Запуск ранее остановленного;
                  * `UPDATING`     - Выполняется обновление;
                  * `ERROR`        - Произошла ошибка, требуется участие команды поддержки;
                  * `DELETING`     - Удаляется;
                  * `DELETED`      - Удалён;
                  * `UNIDENTIFIED` - Не удаётся определить статус;
                  * `RESTORING`    - Восстанавливается
            cluster:
              allOf:
                - $ref: '#/components/schemas/ClickhouseClusterResourceResponse'
              description: Параметры объекта кластера
              nullable: true

    ResourceStatusResponse:
      type: object
      description: Текущее состояние ресурса, вычисляемое системой
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
          example: Success operation
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    ClusterHealth:
      type: string
      description: |-
        Работоспособность кластера:
          * `ALIVE`    - Полностью работоспособен;
          * `DEGRADED` - Деградирует (некоторые, но не все, узлы неработоспособны);
          * `FAILED`   - Неработоспособен;
          * `UNKNOWN`  - Не удаётся определить состояние (на этапе создания)
      enum:
        - "ALIVE"
        - "DEGRADED"
        - "FAILED"
        - "UNKNOWN"

    ClusterState:
      type: string
      description: |-
        Состояние кластера:
          * `CREATING`     - Создаётся;
          * `RUNNING`      - Работает в штатном режиме;
          * `STOPPING`     - Останавливается;
          * `STOPPED`      - Остановлен;
          * `STARTING`     - Запуск ранее остановленного;
          * `UPDATING`     - Выполняется обновление;
          * `ERROR`        - Произошла ошибка, требуется участие команды поддержки;
          * `DELETING`     - Удаляется;
          * `DELETED`      - Удалён;
          * `UNIDENTIFIED` - Не удаётся определить статус;
          * `RESTORING`    - Восстанавливается
      enum:
        - "CREATING"
        - "RUNNING"
        - "STOPPING"
        - "STOPPED"
        - "STARTING"
        - "UPDATING"
        - "ERROR"
        - "UNIDENTIFIED"
        - "DELETING"
        - "DELETED"
        - "RESTORING"

    ClickhouseClusterResourceResponse:
      type: object
      description: Параметры объекта кластера
      properties:
        active:
          type: boolean
          description: Состояние кластера — включен или выключен
        version:
          type: string
          description: Версия продукта
        region:
          type: string
          description: |-
            Регион, в котором располагается кластер
          
            Строка в формате: "rm/regions/{region}"
          
            Пример: "rm/regions/myRegion"
        endpoints:
          type: array
          description: Список эндпойнтов для подключения к кластеру
          items:
            $ref: '#/components/schemas/ClickhouseEndpointResourceResponse'
        coordinator:
          allOf:
            - $ref: '#/components/schemas/ClickhouseClusterCoordinatorResourceResponse'
          description: Описание координаторов кластера
          nullable: true
        shards:
          type: array
          description: Описание шардов кластера
          items:
            $ref: '#/components/schemas/ClickhouseClusterShardResourceResponse'
        config:
          type: object
          description: Настройки ClickHouse
          additionalProperties:
            description: Значение не может равняться `null`
        storage:
          allOf:
            - $ref: '#/components/schemas/ClickhouseStorageConfigurationResponse'
          description: Конфигурация схемы хранилищ ClickHouse
          nullable: true
        maintenanceWindow:
          $ref: '#/components/schemas/MaintenanceWindowResponse'
        backup:
          $ref: '#/components/schemas/ClickhouseClusterBackupResourceResponse'
          description: Спецификация работы автоматического резервного копирования
      required:
        - active
        - version
        - region
        - shards
        - maintenanceWindow
        - backup

    ClickhouseEndpointResourceResponse:
      type: object
      description: Описание эндпойнта кластера в пользовательской сети (VPC)
      properties:
        address:
          $ref: '#/components/schemas/ClickhouseEndpointAddressResourceResponse'
          description: Описание эндпойнта кластера в пользовательской сети (VPC)
        externalAddress:
          allOf:
            - $ref: '#/components/schemas/ClickhouseEndpointExternalAddressResourceResponse'
          description: Описание внешнего доступа к кластеру
          nullable: true
      required:
        - address

    ClickhouseEndpointAddressResourceResponse:
      type: object
      description: Описание эндпойнта кластера в пользовательской сети (VPC)
      properties:
        ref:
          type: string
          description: |-
            Идентификатор адреса в VPC
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
        subnet:
          type: string
          description: |-
            Идентификатор подсети облачной сети, к которой принадлежит адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"
        ipAddress:
          type: string
          description: |-
            Выделенный адрес
          
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"
        dns:
          type: array
          description: Доменные имена
          items:
            $ref: '#/components/schemas/ClickhouseEndpointAddressDnsResourceResponse'
      required:
        - ref
        - subnet
        - ipAddress
        - dns

    ClickhouseEndpointAddressDnsResourceResponse:
      type: object
      description: Описание DNS имени, назначенного адресу в пользовательской сети
      properties:
        name:
          type: string
          description: DNS-имя
      required:
        - name

    ClickhouseEndpointExternalAddressResourceResponse:
      type: object
      description: Описание внешнего доступа к кластеру
      properties:
        ref:
          type: string
          description: |-
            Идентификатор адреса в VPC
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
        ipAddress:
          type: string
          description: |-
            Выделенный адрес
          
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"
      required:
        - ref
        - ipAddress

    ClickhouseClusterCoordinatorResourceResponse:
      type: object
      description: Описание координатора кластера
      properties:
        type:
          $ref: '#/components/schemas/ClickhouseCoordinatorType'
          description: |-
            Тип координатора. Если не указано, то при наличии более одного узла, используется ClickHouse Keeper
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        resources:
          $ref: '#/components/schemas/ClickhouseCoordinatorHWResourcesResponse'
          description: Параметры виртуальной машины, на которой будет работать ClickHouse Keeper. Необязательный параметр в standalone-конфигурации
        instances:
          type: array
          description: Описание узлов координатора
          items:
            $ref: '#/components/schemas/ClickhouseClusterCoordinatorInstanceResourceResponse'
      required:
        - resources
        - instances

    ClickhouseClusterCoordinatorInstanceResourceResponse:
      type: object
      description: Описание узла координатора
      properties:
        id:
          type: string
          description: |-
            Идентификатор узла координатора
          
            Строка в формате: "mclickhouse/projects/{project}/clusters/{cluster}/coordinators/{coordinator}/instances/{instance}"
          
            Пример: "mclickhouse/projects/myProject/clusters/myCluster/coordinators/myCoordinator/instances/myInstance"
        zone:
          type: string
          description: |-
            Зона доступности
          
            Строка в форматах:
              Полный формат:
                - "rm/zones/{zone}"
              Сокращенные форматы:
                - "zones/{zone}"
                - "{zone}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "rm/zones/myZone"
              - "zones/myZone"
              - "myZone"
        health:
          $ref: '#/components/schemas/ClickhouseInstanceHealth'
      required:
        - id
        - zone

    ClickhouseInstanceHealth:
      type: string
      enum:
        - "ALIVE"
        - "FAILED"
        - "UNKNOWN"

    ClickhouseClusterShardResourceResponse:
      type: object
      description: Шард кластера
      properties:
        id:
          type: string
          description: |-
            Идентификатор шарда
          
            Строка в формате: "mclickhouse/projects/{project}/clusters/{cluster}/shards/{shard}"
          
            Пример: "mclickhouse/projects/myProject/clusters/myCluster/shards/myShard"
        name:
          type: string
          description: Имя шарда, которому будут принадлежать узлы
        weight:
          type: integer
          description: Вес шарда
        index:
          type: integer
          description: Индекс шарда в кластере ClickHouse, который будет указан в настройках кластера в макросе `shard`. Влияет на очередность исполнения распределенных запросов в кластере
        resources:
          $ref: '#/components/schemas/ClickhouseInstanceHWResourcesResponse'
          description: Параметры виртуальной машины, где будут работать узлы ClickHouse данного шарда
        endpoints:
          type: array
          description: Список эндпойнтов для подключения к шарду
          items:
            $ref: '#/components/schemas/ClickhouseEndpointResourceResponse'
        instances:
          type: array
          description: Описание узлов шарда
          items:
            $ref: '#/components/schemas/ClickhouseClusterInstanceResourceResponse'
      required:
        - id
        - weight
        - resources
        - instances

    ClickhouseClusterInstanceResourceResponse:
      type: object
      description: Описание узла шарда
      properties:
        id:
          type: string
          description: |-
            Идентификатор узла шарда
          
            Строка в формате: "mclickhouse/projects/{project}/clusters/{cluster}/shards/{shard}/instances/{instance}"
          
            Пример: "mclickhouse/projects/myProject/clusters/myCluster/shards/myShard/instances/myInstance"
        index:
          type: integer
          description: Индекс реплики в шарде в кластере ClickHouse, который будет указан в настройках кластера в макросе `replica`. Влияет на очередность исполнения распределенных запросов в кластере
        zone:
          type: string
          description: |-
            Зона доступности
          
            Строка в форматах:
              Полный формат:
                - "rm/zones/{zone}"
              Сокращенные форматы:
                - "zones/{zone}"
                - "{zone}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "rm/zones/myZone"
              - "zones/myZone"
              - "myZone"
        endpoints:
          type: array
          description: Список эндпойнтов для подключения к узлу
          items:
            $ref: '#/components/schemas/ClickhouseEndpointResourceResponse'
        health:
          $ref: '#/components/schemas/ClickhouseInstanceHealth'
      required:
        - id
        - zone

    ClickhouseClusterBackupResourceResponse:
      type: object
      description: Спецификация работы автоматического резервного копирования
      properties:
        hour:
          type: integer
          description: Час начала окна автоматического резервного копирования
        retainPeriodDays:
          type: integer
          description: Количество дней хранения успешно снятой резервной копии
      required:
        - hour
        - retainPeriodDays

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    ClickhouseClusterRequest:
      type: object
      description: Кластер Managed ClickHouse — это группа узлов (виртуальных машин), объединенных для высокоскоростной обработки и хранения данных с помощью СУБД ClickHouse
      properties:
        metadata:
          $ref: '#/components/schemas/TypedResourceMetadataRequest'
        spec:
          $ref: '#/components/schemas/ClickhouseClusterSpecRequest'
          description: |-
            Параметры кластера
          
            Обязательно для заполнения при создании ресурса

    TypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя. Необязательное поле, можно свободно задавать и изменять для удобства организации ресурсов
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    ClickhouseClusterSpecRequest:
      type: object
      description: Параметры кластера
      properties:
        active:
          type: boolean
          description: Состояние кластера — включен или выключен
          default: true
        version:
          type: string
          description: |-
            Версия продукта
          
            Обязательно для заполнения при создании ресурса
        region:
          type: string
          description: |-
            Регион, в котором располагается кластер
          
            Строка в форматах:
              Полный формат:
                - "rm/regions/{region}"
              Сокращенные форматы:
                - "regions/{region}"
                - "{region}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "rm/regions/myRegion"
              - "regions/myRegion"
              - "myRegion"
        endpoints:
          type: array
          description: |-
            Описание эндпоинтов кластера
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/ClickhouseEndpointRequest'
        coordinator:
          allOf:
            - $ref: '#/components/schemas/ClickhouseClusterCoordinatorRequest'
          description: Описание координатора кластера
          nullable: true
        shards:
          type: array
          description: |-
            Описание шардов кластера
          
            Сложная коллекция. При обновлении ресурса сложная коллекция, переданная в запросе, объединяется с существующей по определенным правилам. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/ClickhouseClusterShardRequest'
        config:
          type: object
          description: Настройки ClickHouse. Если не указаны, будут использованы настройки по умолчанию
          additionalProperties:
            description: Значение не может равняться `null`
        storage:
          allOf:
            - $ref: '#/components/schemas/ClickhouseStorageConfigurationRequest'
          description: Конфигурация схемы хранилищ ClickHouse
          nullable: true
        bootstrapAdmin:
          $ref: '#/components/schemas/ClickhouseClusterBootstrapAdminSpecRequest'
          description: |-
            Добавление пользователей при создании кластера ClickHouse
          
            Обязательно для заполнения при создании ресурса
        backup:
          allOf:
            - $ref: '#/components/schemas/ClickhouseClusterBackupRequest'
          description: Спецификация работы автоматического резервного копирования
          nullable: true
        maintenanceWindow:
          $ref: '#/components/schemas/MaintenanceWindowRequest'

    ClickhouseEndpointRequest:
      type: object
      description: Описание спецификации эндпойнта кластера
      properties:
        address:
          $ref: '#/components/schemas/ClickhouseEndpointAddressSpecOrRefRequest'
          description: |-
            Описание адреса эндпоинта. Если указан `ref`, будет использован существующий внутренний адрес VPC. Если указан `spec`, будут созданы внутренние адреса в указанной подсети: для эндпоинта кластера или шарда — по одному адресу на эндпоинт, для эндпоинтов узлов — по одному адресу на каждый эндпоинт каждого созданного узла
          
            Обязательно для заполнения при создании ресурса
        externalAddress:
          allOf:
            - $ref: '#/components/schemas/ClickhouseEndpointExternalAddressSpecOrRefRequest'
          description: Описание шаблона внешнего адреса/адресов, которые будут выделены. Для `ref` будет выделен только один адрес, для `spec` будет выделено необходимое количество адресов в зависимости от сущности, для которой выделяются адреса
          nullable: true

    ClickhouseEndpointAddressSpecOrRefRequest:
      type: object
      description: 'Описание адреса эндпоинта. Если указан `ref`, будет использован существующий внутренний адрес VPC. Если указан `spec`, будут созданы внутренние адреса в указанной подсети: для эндпоинта кластера или шарда — по одному адресу на эндпоинт, для эндпоинтов узлов — по одному адресу на каждый эндпоинт каждого созданного узла'
      properties:
        ref:
          type: string
          description: |-
            Ссылка на внутренний адрес эндпоинта в VPC
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
        spec:
          $ref: '#/components/schemas/ClickhouseEndpointAddressSpecRequest'
          description: Описание шаблона адреса, который будет использоваться при выделении адресов

    ClickhouseEndpointAddressSpecRequest:
      type: object
      description: Описание шаблона адреса, который будет использоваться при выделении адресов
      properties:
        subnet:
          type: string
          description: |-
            Подсеть облачной сети, которой принадлежит адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"

    ClickhouseEndpointExternalAddressSpecOrRefRequest:
      type: object
      description: Описание шаблона внешнего адреса/адресов, которые будут выделены. Для `ref` будет выделен только один адрес, для `spec` будет выделено необходимое количество адресов в зависимости от сущности, для которой выделяются адреса
      properties:
        ref:
          type: string
          description: |-
            Ссылка на внешний адрес эндпоинта в VPC
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
        spec:
          $ref: '#/components/schemas/ClickhouseEndpointExternalAddressSpecRequest'
          description: Описание шаблона внешнего адреса, который будет использоваться при выделении адресов

    ClickhouseEndpointExternalAddressSpecRequest:
      type: object
      description: Описание шаблона внешнего адреса, который будет использоваться при выделении адресов

    ClickhouseClusterCoordinatorRequest:
      type: object
      description: Описание координатора кластера
      properties:
        type:
          $ref: '#/components/schemas/ClickhouseCoordinatorType'
          description: |-
            Тип координатора. Если не указано, то при наличии более одного узла, используется ClickHouse Keeper
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        resources:
          $ref: '#/components/schemas/ClickhouseCoordinatorHWResourcesRequest'
          description: |-
            Параметры виртуальной машины, на которой будет работать ClickHouse Keeper. Необязательный параметр в standalone-конфигурации
          
            Обязательно для заполнения при создании ресурса
        instances:
          type: array
          description: |-
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          items:
            $ref: '#/components/schemas/ClickhouseClusterCoordinatorInstanceRequest'

    ClickhouseCoordinatorHWResourcesRequest:
      type: object
      description: Ресурсы одного узла-координатора ClickHouse Keeper
      properties:
        vmType:
          type: string
          description: |-
            Тип виртуальной машины, описывающий ресурсы (vCPU, memory)
          
            Строка в форматах:
              Полный формат:
                - "mclickhouse/vmTypes/{vmType}"
              Сокращенные форматы:
                - "vmTypes/{vmType}"
                - "{vmType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "mclickhouse/vmTypes/myVmType"
              - "vmTypes/myVmType"
              - "myVmType"
        disk:
          $ref: '#/components/schemas/ClickhouseInstanceDiskSpecRequest'
          description: |-
            Параметры диска
          
            Обязательно для заполнения при создании ресурса

    ClickhouseInstanceDiskSpecRequest:
      type: object
      description: Параметры диска
      properties:
        size:
          type: string
          description: |-
            Размер диска
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
        type:
          $ref: '#/components/schemas/ClickhouseDataDiskType'
          description: |-
            Тип используемого диска:
            * `NETWORK_STANDARD_SSD` — сетевой SSD
          
            Обязательно для заполнения при создании ресурса
        iops:
          $ref: '#/components/schemas/Iops'
          description: IOPS

    ClickhouseClusterCoordinatorInstanceRequest:
      type: object
      description: Описание узла координатора
      properties:
        count:
          type: integer
          description: Количество узлов в зоне доступности
          default: 1
        zone:
          type: string
          description: |-
            Зона доступности
          
            Строка в форматах:
              Полный формат:
                - "rm/zones/{zone}"
              Сокращенные форматы:
                - "zones/{zone}"
                - "{zone}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "rm/zones/myZone"
              - "zones/myZone"
              - "myZone"

    ClickhouseClusterShardRequest:
      type: object
      description: Описание спецификации шарда кластера
      properties:
        name:
          type: string
          description: |-
            -> Имя шарда, которому будут принадлежать узлы. В случае с несколькими шардами имя формируется как `name-{shardIndex}`
          
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        resources:
          $ref: '#/components/schemas/ClickhouseInstanceHWResourcesRequest'
          description: |-
            Ресурсы одного узла ClickHouse
          
            Обязательно для заполнения при создании ресурса
        weight:
          type: integer
          description: Вес шарда
          default: 1
        endpoints:
          type: array
          description: |-
            Описание эндпоинтов шардов
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/ClickhouseEndpointRequest'
        instances:
          type: array
          description: |-
            Сложная коллекция. При обновлении ресурса сложная коллекция, переданная в запросе, объединяется с существующей по определенным правилам. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/ClickhouseClusterInstanceRequest'

    ClickhouseInstanceHWResourcesRequest:
      type: object
      description: Ресурсы одного узла ClickHouse
      properties:
        vmType:
          type: string
          description: |-
            Тип виртуальной машины, описывающий ресурсы (vCPU, memory)
          
            Строка в форматах:
              Полный формат:
                - "mclickhouse/vmTypes/{vmType}"
              Сокращенные форматы:
                - "vmTypes/{vmType}"
                - "{vmType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "mclickhouse/vmTypes/myVmType"
              - "vmTypes/myVmType"
              - "myVmType"
        disk:
          $ref: '#/components/schemas/ClickhouseInstanceDiskSpecRequest'
          description: |-
            Параметры диска
          
            Обязательно для заполнения при создании ресурса

    ClickhouseClusterInstanceRequest:
      type: object
      description: Описание узла кластера
      properties:
        name:
          type: string
          description: |-
            -> Имя узла или узлов в шарде. В случае count>1, имя формируется как name{replicaIndex}, где replicaIndex имеет сквозную нумерацию в рамках указанного имени
          
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        count:
          type: integer
          description: Количество узлов в зоне доступности
          default: 1
        zone:
          type: string
          description: |-
            Зона доступности
          
            Строка в форматах:
              Полный формат:
                - "rm/zones/{zone}"
              Сокращенные форматы:
                - "zones/{zone}"
                - "{zone}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "rm/zones/myZone"
              - "zones/myZone"
              - "myZone"
        endpoints:
          type: array
          description: |-
            Описание эндпоинтов узлов
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/ClickhouseEndpointRequest'

    ClickhouseStorageConfigurationRequest:
      type: object
      description: Конфигурация схемы хранилищ ClickHouse
      properties:
        hybridStorageEnabled:
          type: boolean
          description: Включить гибридное хранилище (hot SSD + cold S3)
        moveFactor:
          type: number
          description: Соотношение свободного дискового пространства на SSD дисках кластера (от 0.01 до 1) Когда это соотношение превышает значение параметра конфигурации, ClickHouse начинает перемещать данные в следующий том по порядку
          format: float64
          default: 0.1
          example: 0.3
        dataCachingEnabled:
          type: boolean
          description: Включить кеширование данных с объектного хранилища на сетевых SSD дисках
        cacheMaxSize:
          type: string
          description: |-
            Максимальный размер кеша объектного хранилища, расположенный на SSD
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
          default: 1Gb
        maxDataPartSizeSsd:
          type: string
          description: |-
            Максимальный размер части данных в байтах, который может храниться на дисках тома (SSD)
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
          default: 10Gb
          example: 10Gb

    ClickhouseClusterBootstrapAdminSpecRequest:
      type: object
      description: Добавление пользователей при создании кластера ClickHouse
      properties:
        username:
          type: string
          description: |-
            Имя учетной записи администратора
          
            Обязательно для заполнения при создании ресурса
        password:
          type: string
          description: |-
            Пароль учетной записи администратора
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          
            Обязательно для заполнения при создании ресурса

    ClickhouseClusterBackupRequest:
      type: object
      description: Спецификация работы автоматического резервного копирования
      properties:
        hour:
          type: integer
          description: Час начала окна автоматического резервного копирования
          default: 1
        retainPeriodDays:
          type: integer
          description: Количество дней хранения успешно снятой резервной копии
          default: 7

    MaintenanceWindowRequest:
      type: object
      properties:
        weekly:
          $ref: '#/components/schemas/WeeklyMaintenanceWindowRequest'
          description: Обязательно для заполнения при создании ресурса

    WeeklyMaintenanceWindowRequest:
      type: object
      properties:
        days:
          type: array
          description: |-
            Дни недели, в которые будет запущено задание на тех. обслуживание
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/DayOfWeek'
        hour:
          type: integer
          description: |-
            Час, в который будет запущено задание на тех. обслуживание
          
            Обязательно для заполнения при создании ресурса
        duration:
          type: string
          description: |-
            Допустимая продолжительность процесса обновления. Если не указано, то не ограничено по времени. Принимается только формат в часах (h)
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          nullable: true

    AvailableConfigParametersSchema:
      type: object
      description: Доступные параметры для ClickHouse (в формате `json-schema`)
      additionalProperties:
        description: Значение не может равняться `null`

    ClickhouseClusterUserPageResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ClickhouseClusterUserResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    ClickhouseClusterUserResponse:
      type: object
      properties:
        kind:
          type: string
          default: mclickhouse/v1/user
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    Ссылка на типизированный референс
                  
                    Строка в формате: "mclickhouse/projects/{project}/clusters/{cluster}/users/{user}"
                  
                    Пример: "mclickhouse/projects/myProject/clusters/myCluster/users/myUser"
          nullable: true
        spec:
          $ref: '#/components/schemas/ClickhouseClusterUserSpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/ClickhouseClusterUserStatusResponse'
          nullable: true
      required:
        - spec

    ClickhouseClusterUserSpecResponse:
      type: object
      properties:
        role:
          $ref: '#/components/schemas/ClickhouseClusterUserRole'
          description: |-
            Пользовательские роли (они же роли приложений):
            - `DB_ADMIN`: Пользователь с правами администратора базы данных.
            - `DB_WRITER`: Пользовательская роль с доступом на запись/чтение.
            - `DB_READER`: Пользовательская роль с доступом на чтение

    ClickhouseClusterUserRole:
      type: string
      description: |-
        Пользовательские роли (они же роли приложений):
        - `DB_ADMIN`: Пользователь с правами администратора базы данных.
        - `DB_WRITER`: Пользовательская роль с доступом на запись/чтение.
        - `DB_READER`: Пользовательская роль с доступом на чтение
      enum:
        - "DB_ADMIN"
        - "DB_WRITER"
        - "DB_READER"

    ClickhouseClusterUserStatusResponse:
      $ref: '#/components/schemas/ResourceStatusResponse'

    ClickhouseClusterUserRequest:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/TypedResourceMetadataRequest'
        spec:
          $ref: '#/components/schemas/ClickhouseClusterUserSpecRequest'
          description: Обязательно для заполнения при создании ресурса

    ClickhouseClusterUserSpecRequest:
      type: object
      properties:
        role:
          $ref: '#/components/schemas/ClickhouseClusterUserRole'
          description: |-
            Пользовательские роли (они же роли приложений):
            - `DB_ADMIN`: Пользователь с правами администратора базы данных.
            - `DB_WRITER`: Пользовательская роль с доступом на запись/чтение.
            - `DB_READER`: Пользовательская роль с доступом на чтение
        password:
          type: string
          description: |-
            Пароль учетной записи пользователя
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          
            Обязательно для заполнения при создании ресурса

    ClickhouseBackupPageResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ClickhouseBackupResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    ClickhouseBackupResponse:
      type: object
      description: Резервное копирование в Managed ClickHouse позволяет автоматизировать создание резервных копий кластера и его восстановление. С помощью резервных копий можно восстановить данные в новый кластер в случае повреждения, потери данных или совершения ошибочных операций
      properties:
        kind:
          type: string
          default: mclickhouse/v1/backup
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    Ссылка на типизированный референс
                  
                    Строка в формате: "mclickhouse/projects/{project}/clusters/{cluster}/backups/{backup}"
                  
                    Пример: "mclickhouse/projects/myProject/clusters/myCluster/backups/myBackup"
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/ClickhouseBackupSpecResponse'
          nullable: true
        status:
          allOf:
            - $ref: '#/components/schemas/ClickhouseBackupStatusResponse'
          nullable: true

    ClickhouseBackupSpecResponse:
      type: object

    ClickhouseBackupStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            backup:
              type: object
              properties:
                trigger:
                  type: string
                  description: Причина создания резервной копии в CPL
                  enum:
                    - "AUTOMATIC"
                    - "USER"
                type:
                  type: string
                  description: Причина создания резервной копии в CPL
                  enum:
                    - "FULL"
                    - "INCREMENTAL"
                startTime:
                  type: string
                  description: Начало снятия резервной копии
                  format: date-time
                endTime:
                  type: string
                  description: Окончание снятия резервной копии
                  format: date-time
                size:
                  type: string
                  description: |-
                    Размер резервной копии
                  
                    Размер в байтах. Формат: <число> [единица измерения].
                    Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
                    Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
                    Значение базовой единицы измерения (в байтах) должно оставаться целым.
                    Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
                  
                    Примеры:
                      - "1"
                      - "1 B"
                      - "1024 kb"
                      - "1.5 TB"
                totalSize:
                  type: string
                  description: |-
                    Размер всех файлов резервной копии (в распакованном и несжатом виде)
                  
                    Размер в байтах. Формат: <число> [единица измерения].
                    Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
                    Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
                    Значение базовой единицы измерения (в байтах) должно оставаться целым.
                    Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
                  
                    Примеры:
                      - "1"
                      - "1 B"
                      - "1024 kb"
                      - "1.5 TB"
              required:
                - trigger
                - type
              nullable: true

    ClickhouseBackupRequest:
      type: object
      description: Резервное копирование в Managed ClickHouse позволяет автоматизировать создание резервных копий кластера и его восстановление. С помощью резервных копий можно восстановить данные в новый кластер в случае повреждения, потери данных или совершения ошибочных операций
      properties:
        metadata:
          $ref: '#/components/schemas/TypedResourceMetadataRequest'
        spec:
          allOf:
            - $ref: '#/components/schemas/ClickhouseBackupSpecRequest'
          nullable: true

    ClickhouseBackupSpecRequest:
      type: object

    ClickhouseClusterRestoreRequest:
      type: object
      properties:
        spec:
          $ref: '#/components/schemas/ClickhouseClusterRestoreSpecRequest'
          description: Параметры восстанавливаемого кластера
      required:
        - spec

    ClickhouseClusterRestoreSpecRequest:
      type: object
      description: Параметры восстанавливаемого кластера
      properties:
        bootstrapAdmin:
          $ref: '#/components/schemas/ClickhouseClusterBootstrapAdminSpecRequest'
          description: Добавление пользователей при создании кластера ClickHouse
      required:
        - bootstrapAdmin

    ClickhouseClusterVmTypesResponse:
      type: object
      description: Типы ВМ кластера ClickHouse
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ClickhouseVmTypeResponse'
      required:
        - items

    ClickhouseVmTypeResponse:
      type: object
      description: Тип ВМ
      properties:
        metadata:
          type: object
          description: Метаданные типа ВМ
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    ID свойства
                  
                    Строка в формате: "mclickhouse/vmTypes/{vmType}"
                  
                    Пример: "mclickhouse/vmTypes/myVmType"
              required:
                - id
          nullable: true
        spec:
          type: object
          description: Спецификация типа ВМ
          allOf:
            - $ref: '#/components/schemas/VmTypeSpecResponse'
            - type: object
              properties:
                instanceTypes:
                  type: array
                  description: Описание типов узлов для ВМ данного типа
                  items:
                    $ref: '#/components/schemas/VmTypeInstance'
        status:
          $ref: '#/components/schemas/ClickhouseVmTypeStatusResponse'
          description: Статус типа ВМ
      required:
        - spec
        - status

    VmTypeSpecResponse:
      type: object
      description: Спецификация типа ВМ
      properties:
        cpu:
          allOf:
            - $ref: '#/components/schemas/VmTypeCpuSpecResponse'
          description: Спецификация процессора, который доступен для ВМ указанного типа
          nullable: true
        memory:
          allOf:
[...]
