# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.6.0
  title: GPT Model Hub
  description: Публичная спецификация сервиса GPT Model Hub

servers:
  - url: https://gpt.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /gpt/v1/projects/{project}/deployments/{deploymentName}/deploymentRoleBindings:
    get:
      tags:
        - deploymentRoleBinding
      summary: Получить список привязок ролей деплойментов
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `spec.subject.user.idPath`
          - `spec.subject.serviceAccount.idPath`
          - `spec.subject.systemServiceAccount.idPath`
          - `spec.subject.serviceAgent.idPath`
          - `spec.subject.userFederation.id.idPath`
          - `spec.subject.userFederation.context.subject`
          - `spec.subject.userFederation.context.attribute.name`
          - `spec.subject.userFederation.context.attribute.value`
          - `metadata.id.name`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.createTime`
          - `metadata.updateTime`
      operationId: ListRoleBindings
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/path_deploymentName"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentRoleBindingListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /gpt/v1/projects/{project}/deployments/{deploymentName}/deploymentRoleBindings/{roleBinding}:
    post:
      tags:
        - deploymentRoleBinding
      summary: Создать или обновить привязку ролей деплоймента
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertRoleBinding
      parameters:
        - $ref: "#/components/parameters/path_deploymentName"
        - $ref: "#/components/parameters/path_roleBinding"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentRoleBindingRequest'
      responses:
        "200":
          description: Updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentRoleBindingResponse'
        "201":
          description: Created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentRoleBindingResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - deploymentRoleBinding
      summary: Получить указанную привязку ролей деплоймента
      operationId: GetRoleBinding
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_deploymentName"
        - $ref: "#/components/parameters/path_roleBinding"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentRoleBindingResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - deploymentRoleBinding
      summary: Удалить привязку ролей Деплоймента
      operationId: DeleteRoleBinding
      parameters:
        - $ref: "#/components/parameters/path_deploymentName"
        - $ref: "#/components/parameters/path_roleBinding"
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No Content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /gpt/v1/projects/{project}/models:
    get:
      tags:
        - model
      summary: List models
      description: |-
        Возвращает постраничный список моделей, доступных в указанном проекте
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `spec.inputModalities.text`
          - `spec.inputModalities.image`
          - `spec.inputModalities.file`
          - `spec.inputModalities.audio`
          - `spec.outputModalities.text`
          - `spec.outputModalities.embedding`
          - `spec.outputModalities.audio`
          - `spec.outputModalities.reranking`
          - `spec.outputModalities.transcription`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `spec.contextWindowSize`
          - `spec.size`
      operationId: ListModels
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeprecated"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ, содержащий страницу моделей
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: Массив ресурсов Model на текущей странице
                    items:
                      $ref: '#/components/schemas/ModelResponse'
                  nextPageToken:
                    $ref: '#/components/schemas/NextPageToken'
                    description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
                required:
                  - items
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /gpt/v1/projects/{project}/models/{modelName}:
    get:
      tags:
        - model
      summary: Get model
      description: Получить одну модель по ее имени в рамках указанного проекта
      operationId: GetModel
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_modelName"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Запрошенная модель
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /gpt/v1/projects/{project}/deployments:
    get:
      tags:
        - deployment
      summary: List model deployments
      description: |-
        Возвращает постраничный список деплойментов моделей для указанного проекта
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `spec.isActive`
          - `spec.model`
          - `status.inputModalities.text`
          - `status.inputModalities.audio`
          - `status.inputModalities.image`
          - `status.inputModalities.file`
          - `status.outputModalities.text`
          - `status.outputModalities.embedding`
          - `status.outputModalities.audio`
          - `status.outputModalities.reranking`
          - `status.outputModalities.transcription`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
      operationId: ListDeployments
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ, содержащий страницу деплойментов моделей
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: Массив ресурсов Deployment на текущей странице
                    items:
                      $ref: '#/components/schemas/DeploymentResponse'
                  nextPageToken:
                    $ref: '#/components/schemas/NextPageToken'
                    description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
                required:
                  - items
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /gpt/v1/projects/{project}/deployments/{deploymentName}:
    post:
      tags:
        - deployment
      summary: Create or update a model deployment
      description: |-
        Создает новый деплоймент модели с предоставленной спецификацией или обновляет существующий
      
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertDeployment
      parameters:
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_deploymentName"
      security:
        - BearerAuth: []
      requestBody:
        description: Тело ресурса деплоймента, содержащее желаемую спецификацию.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentRequest'
      responses:
        "200":
          description: Существующий деплоймент модели успешно обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponse'
        "201":
          description: Новый деплоймент модели успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 422, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - deployment
      summary: Get model deployment
      description: Получить один деплоймент модели по его имени в рамках указанного проекта
      operationId: GetDeployment
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_deploymentName"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Запрошенный деплоймент
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - deployment
      summary: Delete a model deployment
      description: Удаляет указанный деплоймент модели
      operationId: DeleteDeployment
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_etag"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_deploymentName"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Деплоймент модели успешно удален. Тело ответа не возвращается
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    DeploymentRoleBindingListResponse:
      type: object
      description: Страница списка привязок ролей к деплойментам
      properties:
        items:
          type: array
          description: Привязки ролей к деплойментам
          items:
            $ref: '#/components/schemas/DeploymentRoleBindingResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken2'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    DeploymentRoleBindingResponse:
      type: object
      description: Привязка роли к деплойменту — это связь субъекта (пользователя, группы пользователей или сервисного аккаунта) и роли, определяющая права субъекта на конкретный деплоймент
      properties:
        kind:
          type: string
          default: gpt/v1/deploymentRoleBinding
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    Ссылка на типизированный референс
                  
                    Строка в формате: "gpt/projects/{project}/deployments/{deploymentName}/deploymentRoleBindings/{roleBinding}"
                  
                    Пример: "gpt/projects/myProject/deployments/myDeploymentName/deploymentRoleBindings/myRoleBinding"
          nullable: true
        spec:
          $ref: '#/components/schemas/CommonRoleBindingSpecResponse'
          description: Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
        status:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingStatusResponse'
          description: Текущее состояние привязки роли, вычисляемое системой
          nullable: true
      required:
        - spec

    TypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя. Необязательное поле, можно свободно задавать и изменять для удобства организации ресурсов
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса (не фактическое время удаления)
          format: date-time
        purgeTime:
          type: string
          description: Время удаления ресурса
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/TypedUsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    TypedUsageResponse:
      type: object
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных `own` и `use` могут быть добавлены специализированные типы для конкретных сервисов
        resource:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
      required:
        - usageType
        - resource

    CommonRoleBindingSpecResponse:
      type: object
      description: Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
      properties:
        subject:
          $ref: '#/components/schemas/CommonRoleBindingSpecSubjectResponse'
          description: Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
        role:
          type: string
          description: |-
            Роль, определяющая права субъекта на ресурс
          
            Строка в форматах:
              Полный формат:
                - "iam/roles/{role}"
              Сокращенные форматы:
                - "roles/{role}"
                - "{role}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/roles/myRole"
              - "roles/myRole"
              - "myRole"
        supportRequestId:
          type: string
          description: |-
            Идентификатор запроса в службу поддержки, в рамках которого был создан биндинг
          
            Строка в форматах:
              Полный формат:
                - "support/requests/{requestName}"
              Сокращенные форматы:
                - "requests/{requestName}"
                - "{requestName}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "support/requests/myRequestName"
              - "requests/myRequestName"
              - "myRequestName"
      required:
        - subject
        - role

    CommonRoleBindingSpecSubjectResponse:
      type: object
      description: Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
      properties:
        user:
          type: string
          description: |-
            Идентификатор пользователя
          
            Строка в форматах:
              Полный формат:
                - "iam/users/{user}"
              Сокращенные форматы:
                - "users/{user}"
                - "{user}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/users/myUser"
              - "users/myUser"
              - "myUser"
        serviceAccount:
          type: string
          description: |-
            Идентификатор сервисного аккаунта, принадлежащего проекту
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAccounts/{serviceAccount}"
              Сокращенные форматы:
                - "projects/{project}/serviceAccounts/{serviceAccount}"
                - "serviceAccounts/{serviceAccount}"
                - "{serviceAccount}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAccounts/myServiceAccount"
              - "projects/myProject/serviceAccounts/myServiceAccount"
              - "serviceAccounts/myServiceAccount"
              - "myServiceAccount"
        serviceAgent:
          type: string
          description: |-
            Идентификатор сервисного агента, связанного с проектом
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAgents/{serviceAgent}"
              Сокращенные форматы:
                - "projects/{project}/serviceAgents/{serviceAgent}"
                - "serviceAgents/{serviceAgent}"
                - "{serviceAgent}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAgents/myServiceAgent"
              - "projects/myProject/serviceAgents/myServiceAgent"
              - "serviceAgents/myServiceAgent"
              - "myServiceAgent"
        userFederation:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationResponse'
          description: Субъект федерации пользователей
          nullable: true
        userGroup:
          type: string
          description: |-
            Идентификатор группы пользователей
          
            Строка в форматах:
              Полный формат:
                - "iam/userGroups/{userGroup}"
              Сокращенные форматы:
                - "userGroups/{userGroup}"
                - "{userGroup}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/userGroups/myUserGroup"
              - "userGroups/myUserGroup"
              - "myUserGroup"
        employee:
          type: string
          description: |-
            Идентификатор пользователя backoffice
          
            Строка в форматах:
              Полный формат:
                - "iam/employees/{employee}"
              Сокращенные форматы:
                - "employees/{employee}"
                - "{employee}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/employees/myEmployee"
              - "employees/myEmployee"
              - "myEmployee"

    CommonRoleBindingFederationResponse:
      type: object
      description: Субъект федерации пользователей — идентификатор федерации и, опционально, контекст, уточняющий, на каких пользователей федерации распространяется привязка роли
      properties:
        id:
          type: string
          description: |-
            Идентификатор федерации
          
            Строка в форматах:
              Полный формат:
                - "iam/organizations/{organization}/userFederations/{userFederation}"
              Сокращенные форматы:
                - "organizations/{organization}/userFederations/{userFederation}"
                - "userFederations/{userFederation}"
                - "{userFederation}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/organizations/myOrganization/userFederations/myUserFederation"
              - "organizations/myOrganization/userFederations/myUserFederation"
              - "userFederations/myUserFederation"
              - "myUserFederation"
        context:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextResponse'
          description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
          nullable: true
      required:
        - id

    CommonRoleBindingFederationContextResponse:
      type: object
      description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
      properties:
        subject:
          type: string
          description: Идентификатор субъекта федерации
          example: vasya@mts.ru
        attribute:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextAttributeResponse'
          description: Атрибут пользователя федерации в виде пары «имя — значение»
          nullable: true

    CommonRoleBindingFederationContextAttributeResponse:
      type: object
      description: Атрибут пользователя федерации в виде пары «имя — значение»
      properties:
        name:
          type: string
          description: Имя атрибута
          example: federationAttributeName
        value:
          type: string
          description: Значение атрибута
          example: federationAttributeValue
      required:
        - name
        - value

    CommonRoleBindingStatusResponse:
      description: Текущее состояние привязки роли, вычисляемое системой
      $ref: '#/components/schemas/ResourceStatusResponse'

    ResourceStatusResponse:
      type: object
      description: Текущее состояние ресурса, вычисляемое системой
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
          example: Success operation
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    NextPageToken2:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    DeploymentRoleBindingRequest:
      type: object
      description: Привязка роли к деплойменту — это связь субъекта (пользователя, группы пользователей или сервисного аккаунта) и роли, определяющая права субъекта на конкретный деплоймент
      properties:
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataRequest'
          nullable: true
        spec:
          $ref: '#/components/schemas/CommonRoleBindingSpecRequest'
          description: |-
            Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
          
            Обязательно для заполнения при создании ресурса

    TypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя. Необязательное поле, можно свободно задавать и изменять для удобства организации ресурсов
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    CommonRoleBindingSpecRequest:
      type: object
      description: Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
      properties:
        subject:
          $ref: '#/components/schemas/CommonRoleBindingSpecSubjectRequest'
          description: |-
            Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
          
            Обязательно для заполнения при создании ресурса
        role:
          type: string
          description: |-
            Роль, определяющая права субъекта на ресурс
          
            Строка в форматах:
              Полный формат:
                - "iam/roles/{role}"
              Сокращенные форматы:
                - "roles/{role}"
                - "{role}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "iam/roles/myRole"
              - "roles/myRole"
              - "myRole"
        supportRequestId:
          type: string
          description: |-
            Идентификатор запроса в службу поддержки, в рамках которого был создан биндинг
          
            Строка в форматах:
              Полный формат:
                - "support/requests/{requestName}"
              Сокращенные форматы:
                - "requests/{requestName}"
                - "{requestName}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "support/requests/myRequestName"
              - "requests/myRequestName"
              - "myRequestName"

    CommonRoleBindingSpecSubjectRequest:
      type: object
      description: Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
      properties:
        user:
          type: string
          description: |-
            Идентификатор пользователя
          
            Строка в форматах:
              Полный формат:
                - "iam/users/{user}"
              Сокращенные форматы:
                - "users/{user}"
                - "{user}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/users/myUser"
              - "users/myUser"
              - "myUser"
        serviceAccount:
          type: string
          description: |-
            Идентификатор сервисного аккаунта, принадлежащего проекту
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAccounts/{serviceAccount}"
              Сокращенные форматы:
                - "projects/{project}/serviceAccounts/{serviceAccount}"
                - "serviceAccounts/{serviceAccount}"
                - "{serviceAccount}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAccounts/myServiceAccount"
              - "projects/myProject/serviceAccounts/myServiceAccount"
              - "serviceAccounts/myServiceAccount"
              - "myServiceAccount"
        serviceAgent:
          type: string
          description: |-
            Идентификатор сервисного агента, связанного с проектом
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAgents/{serviceAgent}"
              Сокращенные форматы:
                - "projects/{project}/serviceAgents/{serviceAgent}"
                - "serviceAgents/{serviceAgent}"
                - "{serviceAgent}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAgents/myServiceAgent"
              - "projects/myProject/serviceAgents/myServiceAgent"
              - "serviceAgents/myServiceAgent"
              - "myServiceAgent"
        userFederation:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationRequest'
          description: Субъект федерации пользователей
          nullable: true
        userGroup:
          type: string
          description: |-
            Идентификатор группы пользователей
          
            Строка в форматах:
              Полный формат:
                - "iam/userGroups/{userGroup}"
              Сокращенные форматы:
                - "userGroups/{userGroup}"
                - "{userGroup}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/userGroups/myUserGroup"
              - "userGroups/myUserGroup"
              - "myUserGroup"
        employee:
          type: string
          description: |-
            Идентификатор пользователя backoffice
          
            Строка в форматах:
              Полный формат:
                - "iam/employees/{employee}"
              Сокращенные форматы:
                - "employees/{employee}"
                - "{employee}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/employees/myEmployee"
              - "employees/myEmployee"
              - "myEmployee"

    CommonRoleBindingFederationRequest:
      type: object
      description: Субъект федерации пользователей — идентификатор федерации и, опционально, контекст, уточняющий, на каких пользователей федерации распространяется привязка роли
      properties:
        id:
          type: string
          description: |-
            Идентификатор федерации
          
            Строка в форматах:
              Полный формат:
                - "iam/organizations/{organization}/userFederations/{userFederation}"
              Сокращенные форматы:
                - "organizations/{organization}/userFederations/{userFederation}"
                - "userFederations/{userFederation}"
                - "{userFederation}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "iam/organizations/myOrganization/userFederations/myUserFederation"
              - "organizations/myOrganization/userFederations/myUserFederation"
              - "userFederations/myUserFederation"
              - "myUserFederation"
        context:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextRequest'
          description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
          nullable: true

    CommonRoleBindingFederationContextRequest:
      type: object
      description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
      properties:
        subject:
          type: string
          description: Идентификатор субъекта федерации
          example: vasya@mts.ru
        attribute:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextAttributeRequest'
          description: Атрибут пользователя федерации в виде пары «имя — значение»
          nullable: true

    CommonRoleBindingFederationContextAttributeRequest:
      type: object
      description: Атрибут пользователя федерации в виде пары «имя — значение»
      properties:
        name:
          type: string
          description: |-
            Имя атрибута
          
            Обязательно для заполнения при создании ресурса
          example: federationAttributeName
        value:
          type: string
          description: |-
            Значение атрибута
          
            Обязательно для заполнения при создании ресурса
          example: federationAttributeValue

    ModelResponse:
      type: object
      properties:
        kind:
          type: string
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    Ссылка на типизированный референс
                  
                    Строка в формате: "gpt/projects/{project}/models/{modelName}"
                  
                    Пример: "gpt/projects/myProject/models/myModelName"
          nullable: true
        spec:
          $ref: '#/components/schemas/ModelSpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/ResourceStatusResponse'
          description: Текущее состояние ресурса, вычисляемое системой
          nullable: true
      required:
        - spec

    ModelSpecResponse:
      type: object
      properties:
        contextWindowSize:
          type: integer
          description: Размер контекстного окна модели в токенах
          format: uint
        inputModalities:
          $ref: '#/components/schemas/InputModalitiesResponse'
        outputModalities:
          $ref: '#/components/schemas/OutputModalitiesResponse'
        modalities:
          $ref: '#/components/schemas/ModalitiesResponse'
        capabilities:
          $ref: '#/components/schemas/CapabilitiesResponse'
        deprecation:
          $ref: '#/components/schemas/DeprecationResponse'
        size:
          type: number
          description: Размер модели в миллиардах параметров
          format: float32
        developer:
          type: string
          description: Разработчик модели
      required:
        - inputModalities
        - outputModalities
        - modalities
        - capabilities
        - deprecation

    InputModalitiesResponse:
      type: object
      properties:
        text:
          type: boolean
        image:
          type: boolean
        file:
          type: boolean
        audio:
          type: boolean
      required:
        - text
        - image
        - file
        - audio

    OutputModalitiesResponse:
      type: object
      properties:
        text:
          type: boolean
        embedding:
          type: boolean
        audio:
          type: boolean
        image:
          type: boolean
        reranking:
          type: boolean
        transcription:
          type: boolean
      required:
        - text
        - embedding
        - audio
        - image
        - reranking
        - transcription

    ModalitiesResponse:
      type: object
      description: 'Deprecated: Отказываемся из-за разделения на input и output модальности'
      properties:
        text:
          type: boolean
        vision:
          type: boolean
        audio:
          type: boolean
      required:
        - text
        - vision
        - audio

    CapabilitiesResponse:
      type: object
      properties:
        reasoning:
          type: boolean
        toolCalling:
          type: boolean
      required:
        - reasoning
        - toolCalling

    DeprecationResponse:
      type: object
      properties:
        inference:
          type: string
          format: date-time

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    DeploymentResponse:
      type: object
      properties:
        kind:
          type: string
          description: Указание на тип ресурса
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    Ссылка на типизированный референс
                  
                    Строка в формате: "gpt/projects/{project}/deployments/{deploymentName}"
                  
                    Пример: "gpt/projects/myProject/deployments/myDeploymentName"
          nullable: true
        spec:
          $ref: '#/components/schemas/DeploymentSpecResponse'
          description: Спецификация желаемого состояния деплоймента
        status:
          allOf:
            - $ref: '#/components/schemas/DeploymentStatusResponse'
          description: Текущее наблюдаемое состояние деплоймента
          nullable: true
      required:
        - spec

    DeploymentSpecResponse:
      type: object
      description: Спецификация желаемого состояния деплоймента
      properties:
        isActive:
          type: boolean
          description: Флаг, устанавливающий активность деплоймента
        model:
          type: string
          description: |-
            Ссылка на типизированный референс базовой модели
          
            Строка в форматах:
              Полный формат:
                - "gpt/projects/{project}/models/{modelName}"
              Сокращенные форматы:
                - "projects/{project}/models/{modelName}"
                - "models/{modelName}"
                - "{modelName}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "gpt/projects/myProject/models/myModelName"
              - "projects/myProject/models/myModelName"
              - "models/myModelName"
              - "myModelName"

    DeploymentStatusResponse:
      type: object
      description: Текущее наблюдаемое состояние деплоймента
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            contextWindowSize:
              type: integer
              description: Размер контекстного окна модели в токенах
              format: uint
            inputModalities:
              $ref: '#/components/schemas/InputModalitiesResponse'
            outputModalities:
              $ref: '#/components/schemas/OutputModalitiesResponse'
            modalities:
              $ref: '#/components/schemas/ModalitiesResponse'
            capabilities:
              $ref: '#/components/schemas/CapabilitiesResponse'
            deprecation:
              $ref: '#/components/schemas/DeprecationResponse'
            size:
              type: number
              description: Размер модели в миллиардах параметров
              format: float32
            developer:
              type: string
              description: Разработчик модели
          required:
            - inputModalities
            - outputModalities
            - modalities
            - capabilities
            - deprecation

    DeploymentRequest:
      type: object
      properties:
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataRequest'
          nullable: true
        spec:
          $ref: '#/components/schemas/DeploymentSpecRequest'
          description: |-
            Спецификация желаемого состояния деплоймента
          
            Обязательно для заполнения при создании ресурса

    DeploymentSpecRequest:
      type: object
      description: Спецификация желаемого состояния деплоймента
      properties:
        isActive:
          type: boolean
          description: Флаг, устанавливающий активность деплоймента
        model:
          type: string
          description: |-
            Ссылка на типизированный референс базовой модели
          
            Строка в форматах:
              Полный формат:
                - "gpt/projects/{project}/models/{modelName}"
              Сокращенные форматы:
                - "projects/{project}/models/{modelName}"
                - "models/{modelName}"
                - "{modelName}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "gpt/projects/myProject/models/myModelName"
              - "projects/myProject/models/myModelName"
              - "models/myModelName"
              - "myModelName"

    ApiError:
      type: object
      description: Описание ошибки (если HTTP-статус отличен от 2xx)
      properties:
        code:
          type: string
          description: Короткий код ошибки
          enum:
            - "ALREADY_EXISTS"
            - "CANCELLED"
            - "DEADLINE_EXCEEDED"
            - "FAILED_PRECONDITION"
            - "INTERNAL"
            - "INVALID_ARGUMENT"
            - "NOT_FOUND"
            - "PERMISSION_DENIED"
            - "QUOTA_EXCEEDED"
            - "IDEMPOTENCY_KEY_ALREADY_USED"
            - "INVALID_ETAG_KEY"
            - "UNAUTHENTICATED"
            - "UNAVAILABLE"
            - "METHOD_NOT_ALLOWED"
            - "TOO_MANY_REQUESTS"
        type:
          type: string
          description: Подтип расширенной информации по ошибкам к которому удалось его привести. Null если привели к базовому типу
        description:
          type: string
          description: Развёрнутое пояснение ошибки
        retryPolicy:
          allOf:
            - $ref: '#/components/schemas/RetryPolicy'
          description: Правила выполнения повторных попыток в случае ошибки
          nullable: true
        details:
          type: object
          description: |-
            Детальная информация по ошибке в произвольном JSON формате. Содержимое не предназначено для машинной обработки
          
            Примеры:
              - '{"jsonPaths": [{"path": "foo.bar", "reason": "some reason", "offset": "line: 1, column: 2"}]}'
              - '{"errorInfo": "some error info"}'
          additionalProperties: true
      required:
        - code

    RetryPolicy:
      type: object
      description: Правила выполнения повторных попыток в случае ошибки
      properties:
        retryCount:
          type: integer
          description: Максимальное количество повторных попыток. 0 - значение по-умолчанию
        retryTimeout:
          type: string
          description: |-
            Пауза между повторными попытками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        retryTimeoutScale:
          $ref: '#/components/schemas/RetryTimeoutScale'
          description: Шаг увеличения таймаута
        maxRetryTimeout:
          type: string
          description: |-
            Максимальная длительность таймаута
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
      required:
        - retryCount
        - retryTimeout

    RetryTimeoutScale:
      type: string
      description: Шаг увеличения таймаута
      enum:
        - "FIXED"
        - "LINEAR"
        - "PROGRESSIVE"
        - "EXPONENTIAL"

  securitySchemes:
    BearerAuth:
      description: Токен авторизации IAM
      type: apiKey
      in: header
      name: Authorization

  parameters:
    header_Idempotency-Key:
      name: Idempotency-Key
      in: header
      description: Ключ идемпотентности
      style: simple
      schema:
        type: string

    path_deploymentName:
      name: deploymentName
      in: path
      required: true
      description: Параметр пути для имени деплоймента, уникальный в рамках проекта.
      style: simple
      schema:
        type: string

    path_modelName:
      name: modelName
      in: path
      required: true
      description: Параметр пути для имени модели, уникальный в рамках проекта.
      style: simple
      schema:
        type: string

    path_project:
      name: project
      in: path
      required: true
      description: Путь к проекту.
      style: simple
      schema:
        type: string

    path_roleBinding:
      name: roleBinding
      in: path
      required: true
      style: simple
      schema:
        type: string

    query_createOnly:
      name: createOnly
      in: query
      description: Создать ресурс. Если ресурс уже существует, будет возвращен ответ `AlreadyExists`
      style: form
      explode: true
      schema:
        type: boolean

    query_etag:
      name: etag
      in: query
      description: |-
        Идентификатор состояния ресурса. Позволяет предотвратить конфликты при конкурентном удалении.
        Если не передан, удаление выполняется без проверки версии ресурса.
      style: form
      explode: true
      schema:
        type: string

    query_filter:
      name: filter
      in: query
      description: |-
        Строка фильтра.
        Для фильтрации используется ограниченная реализация AIP-160 (https://google.aip.dev/160).
        Она включает в себя операции =, !=, OR, AND и (), фильтрацию свойств вложенных объектов и wildcard-поиск подстрок
      style: form
      explode: true
      schema:
        type: string

    query_orderBy:
      name: orderBy
      in: query
      description: |-
        Строка сортировки.
        Для сортировки используется реализация AIP-132 (https://google.aip.dev/132#ordering).
        Указывается перечислением полей с направлением сортировки (asc, desc) через запятую.
        По умолчанию используется сортировка по возрастанию (asc)
      style: form
      explode: true
      schema:
        type: string

    query_pageSize:
      name: pageSize
      in: query
      description: Максимальное количество объектов, которые клиент готов принять. Сервис определяет значение по умолчанию и верхнюю границу
      style: form
      explode: true
      schema:
        type: integer

    query_pageToken:
      name: pageToken
      in: query
      description: Строка, из предыдущего ответа на аналогичный запрос, для получения следующей страницы с объектами. Не задано для получения первой страницы
      style: form
      explode: true
      schema:
        type: string

    query_showDeprecated:
      name: showDeprecated
      in: query
      description: Параметр позволяющий показать устаревшие модели
      style: form
      explode: true
      schema:
        type: boolean

    query_updateOnly:
      name: updateOnly
      in: query
      description: |-
        Обновить ресурс, если он существует. Если ресурс не существует, будет возвращен ответ `Not Found`.
        Если прав на выполнение операции недостаточно, будет возвращен ответ `PermissionDenied`
      style: form
      explode: true
      schema:
        type: boolean

