# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.4.0
  title: Certificate Manager
  description: Публичная спецификация сервиса Certificate Manager

servers:
  - url: https://certmanager.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /certmanager/v1/projects/{project}/certificates/{name}/certificateRoleBindings:
    get:
      tags:
        - certificateRoleBinding
      summary: Получить список привязок ролей сертификатов
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `spec.subject.user.idPath`
          - `spec.subject.serviceAccount.idPath`
          - `spec.subject.systemServiceAccount.idPath`
          - `spec.subject.serviceAgent.idPath`
          - `spec.subject.userFederation.id.idPath`
          - `spec.subject.userFederation.context.subject`
          - `spec.subject.userFederation.context.attribute.name`
          - `spec.subject.userFederation.context.attribute.value`
          - `metadata.id.name`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.createTime`
          - `metadata.updateTime`
      operationId: ListCertificateRoleBindings
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateRoleBindingListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /certmanager/v1/projects/{project}/certificates/{name}/certificateRoleBindings/{roleBinding}:
    post:
      tags:
        - certificateRoleBinding
      summary: Создать или обновить привязку ролей сертификата
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertCertificateRoleBinding
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name"
        - $ref: "#/components/parameters/path_roleBinding"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateRoleBindingRequest'
      responses:
        "200":
          description: Success updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateRoleBindingResponse'
        "201":
          description: Success create
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateRoleBindingResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - certificateRoleBinding
      summary: Получить указанную привязку ролей сертификата
      operationId: GetCertificateRoleBinding
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name"
        - $ref: "#/components/parameters/path_roleBinding"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateRoleBindingResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - certificateRoleBinding
      summary: Удалить привязку ролей сертификата
      operationId: DeleteCertificateRoleBinding
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name"
        - $ref: "#/components/parameters/path_roleBinding"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No Content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /certmanager/v1/projects/{project}/certificates/{name}/tokens/{token}:
    get:
      tags:
        - challenge
      summary: Retrieve challenge content
      description: Retrieves the challenge content associated with the given certificate reference and token
      operationId: GetChallengeToken
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name_5d3a1d22"
        - $ref: "#/components/parameters/path_token"
      security:
        - {}
      responses:
        "200":
          description: Challenge content retrieved successfully
          content:
            application/json:
              schema:
                type: string
        default:
          description: Допустимые HTTP-коды ошибок — 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /certmanager/v1/projects/{project}/certificates:
    get:
      tags:
        - certificate
      summary: Получить все сертификаты
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `status.valid`
          - `status.reason`
          - `status.managementType`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `metadata.updateTime`
          - `status.valid`
          - `status.reason`
          - `status.managementType`
          - `status.details.notAfter`
      operationId: ListCertificates
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /certmanager/v1/projects/{project}/certificates/{name}:download:
    get:
      tags:
        - certificate
      summary: Скачать содержимое сертификата
      operationId: GetCertificateContent
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name_6b4baed7"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateContentResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /certmanager/v1/projects/{project}/certificates/{name}:
    post:
      tags:
        - certificate
      summary: Обновить (или создать) сертификат
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertCertificate
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateRequest'
      responses:
        "200":
          description: Success updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
        "201":
          description: Success created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - certificate
      summary: Получить конкретный сертификат
      operationId: GetCertificate
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - certificate
      summary: Удалить сертификаты
      operationId: DeleteCertificate
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name"
        - $ref: "#/components/parameters/header_Idempotency-Key"
      security:
        - BearerAuth: []
      responses:
        "202":
          description: Accepted
        "204":
          description: No Content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    CertificateRoleBindingListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CertificateRoleBindingResponse'
      required:
        - items

    CertificateRoleBindingResponse:
      type: object
      properties:
        kind:
          type: string
          default: certmanager/v1/certificateRoleBinding
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/CommonRoleBindingSpecResponse'
          description: Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
        status:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingStatusResponse'
          description: Текущее состояние привязки роли, вычисляемое системой
          nullable: true
      required:
        - kind
        - spec

    CommonTypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        id:
          type: string
          description: |-
            ID свойства
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
        displayName:
          type: string
          description: Отображаемое имя свойства
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса
          format: date-time
        purgeTime:
          type: string
          description: Время удаления ресурса
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/UsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    UsageResponse:
      type: object
      description: Связь ресурса с другим ресурсом. В зависимости от типа связи операции над ресурсом могут быть ограничены
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных `own` и `use` могут быть добавлены специализированные типы для конкретных сервисов
        name:
          type: string
          description: Имя связи. Требуется для модификации коллекции
        resource:
          type: string
          description: Ссылка на ресурс
      required:
        - usageType
        - name
        - resource

    CommonRoleBindingSpecResponse:
      type: object
      description: Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
      properties:
        subject:
          $ref: '#/components/schemas/CommonRoleBindingSpecSubjectResponse'
          description: Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
        role:
          type: string
          description: |-
            Роль, определяющая права субъекта на ресурс
          
            Строка в форматах:
              Полный формат:
                - "iam/roles/{role}"
              Сокращенные форматы:
                - "roles/{role}"
                - "{role}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/roles/myRole"
              - "roles/myRole"
              - "myRole"
        supportRequestId:
          type: string
          description: |-
            Идентификатор запроса в службу поддержки, в рамках которого был создан биндинг
          
            Строка в форматах:
              Полный формат:
                - "support/requests/{requestName}"
              Сокращенные форматы:
                - "requests/{requestName}"
                - "{requestName}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "support/requests/myRequestName"
              - "requests/myRequestName"
              - "myRequestName"
      required:
        - subject
        - role

    CommonRoleBindingSpecSubjectResponse:
      type: object
      description: Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
      properties:
        user:
          type: string
          description: |-
            Идентификатор пользователя
          
            Строка в форматах:
              Полный формат:
                - "iam/users/{user}"
              Сокращенные форматы:
                - "users/{user}"
                - "{user}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/users/myUser"
              - "users/myUser"
              - "myUser"
        serviceAccount:
          type: string
          description: |-
            Идентификатор сервисного аккаунта, принадлежащего проекту
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAccounts/{serviceAccount}"
              Сокращенные форматы:
                - "projects/{project}/serviceAccounts/{serviceAccount}"
                - "serviceAccounts/{serviceAccount}"
                - "{serviceAccount}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAccounts/myServiceAccount"
              - "projects/myProject/serviceAccounts/myServiceAccount"
              - "serviceAccounts/myServiceAccount"
              - "myServiceAccount"
        serviceAgent:
          type: string
          description: |-
            Идентификатор сервисного агента, связанного с проектом
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAgents/{serviceAgent}"
              Сокращенные форматы:
                - "projects/{project}/serviceAgents/{serviceAgent}"
                - "serviceAgents/{serviceAgent}"
                - "{serviceAgent}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAgents/myServiceAgent"
              - "projects/myProject/serviceAgents/myServiceAgent"
              - "serviceAgents/myServiceAgent"
              - "myServiceAgent"
        userFederation:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationResponse'
          description: Субъект федерации пользователей
          nullable: true
        workloadFederation:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingWorkloadFederationResponse'
          description: Субъект федерации удостоверений рабочей нагрузки (workload)
          nullable: true
        userGroup:
          type: string
          description: |-
            Идентификатор группы пользователей
          
            Строка в форматах:
              Полный формат:
                - "iam/userGroups/{userGroup}"
              Сокращенные форматы:
                - "userGroups/{userGroup}"
                - "{userGroup}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/userGroups/myUserGroup"
              - "userGroups/myUserGroup"
              - "myUserGroup"
        employee:
          type: string
          description: |-
            Идентификатор пользователя backoffice
          
            Строка в форматах:
              Полный формат:
                - "iam/employees/{employee}"
              Сокращенные форматы:
                - "employees/{employee}"
                - "{employee}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/employees/myEmployee"
              - "employees/myEmployee"
              - "myEmployee"

    CommonRoleBindingFederationResponse:
      type: object
      description: Субъект федерации пользователей — идентификатор федерации и, опционально, контекст, уточняющий, на каких пользователей федерации распространяется привязка роли
      properties:
        id:
          type: string
          description: |-
            Идентификатор федерации
          
            Строка в форматах:
              Полный формат:
                - "iam/organizations/{organization}/userFederations/{userFederation}"
              Сокращенные форматы:
                - "organizations/{organization}/userFederations/{userFederation}"
                - "userFederations/{userFederation}"
                - "{userFederation}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/organizations/myOrganization/userFederations/myUserFederation"
              - "organizations/myOrganization/userFederations/myUserFederation"
              - "userFederations/myUserFederation"
              - "myUserFederation"
        context:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextResponse'
          description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
          nullable: true
      required:
        - id

    CommonRoleBindingFederationContextResponse:
      type: object
      description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
      properties:
        subject:
          type: string
          description: Идентификатор субъекта федерации
        attribute:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextAttributeResponse'
          description: Атрибут пользователя федерации в виде пары «имя — значение»
          nullable: true

    CommonRoleBindingFederationContextAttributeResponse:
      type: object
      description: Атрибут пользователя федерации в виде пары «имя — значение»
      properties:
        name:
          type: string
          description: Имя атрибута
        value:
          type: string
          description: Значение атрибута
      required:
        - name
        - value

    CommonRoleBindingWorkloadFederationResponse:
      type: object
      properties:
        id:
          type: string
          description: |-
            Идентификатор федерации удостоверений рабочей нагрузки (workload)
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/workloadFederations/{workloadFederation}"
              Сокращенные форматы:
                - "projects/{project}/workloadFederations/{workloadFederation}"
                - "workloadFederations/{workloadFederation}"
                - "{workloadFederation}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/workloadFederations/myWorkloadFederation"
              - "projects/myProject/workloadFederations/myWorkloadFederation"
              - "workloadFederations/myWorkloadFederation"
              - "myWorkloadFederation"
        context:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextResponse'
          description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
          nullable: true
      required:
        - id

    CommonRoleBindingStatusResponse:
      description: Текущее состояние привязки роли, вычисляемое системой
      $ref: '#/components/schemas/ResourceStatusResponse'

    ResourceStatusResponse:
      type: object
      description: Текущее состояние ресурса, вычисляемое системой
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    CertificateRoleBindingRequest:
      type: object
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/CommonRoleBindingSpecRequest'
          description: |-
            Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
          
            Обязательно для заполнения при создании ресурса

    CommonTypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя свойства
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    CommonRoleBindingSpecRequest:
      type: object
      description: Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
      properties:
        subject:
          $ref: '#/components/schemas/CommonRoleBindingSpecSubjectRequest'
          description: |-
            Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
          
            Обязательно для заполнения при создании ресурса
        role:
          type: string
          description: |-
            Роль, определяющая права субъекта на ресурс
          
            Строка в форматах:
              Полный формат:
                - "iam/roles/{role}"
              Сокращенные форматы:
                - "roles/{role}"
                - "{role}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "iam/roles/myRole"
              - "roles/myRole"
              - "myRole"
        supportRequestId:
          type: string
          description: |-
            Идентификатор запроса в службу поддержки, в рамках которого был создан биндинг
          
            Строка в форматах:
              Полный формат:
                - "support/requests/{requestName}"
              Сокращенные форматы:
                - "requests/{requestName}"
                - "{requestName}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "support/requests/myRequestName"
              - "requests/myRequestName"
              - "myRequestName"

    CommonRoleBindingSpecSubjectRequest:
      type: object
      description: Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
      properties:
        user:
          type: string
          description: |-
            Идентификатор пользователя
          
            Строка в форматах:
              Полный формат:
                - "iam/users/{user}"
              Сокращенные форматы:
                - "users/{user}"
                - "{user}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/users/myUser"
              - "users/myUser"
              - "myUser"
        serviceAccount:
          type: string
          description: |-
            Идентификатор сервисного аккаунта, принадлежащего проекту
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAccounts/{serviceAccount}"
              Сокращенные форматы:
                - "projects/{project}/serviceAccounts/{serviceAccount}"
                - "serviceAccounts/{serviceAccount}"
                - "{serviceAccount}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAccounts/myServiceAccount"
              - "projects/myProject/serviceAccounts/myServiceAccount"
              - "serviceAccounts/myServiceAccount"
              - "myServiceAccount"
        serviceAgent:
          type: string
          description: |-
            Идентификатор сервисного агента, связанного с проектом
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAgents/{serviceAgent}"
              Сокращенные форматы:
                - "projects/{project}/serviceAgents/{serviceAgent}"
                - "serviceAgents/{serviceAgent}"
                - "{serviceAgent}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAgents/myServiceAgent"
              - "projects/myProject/serviceAgents/myServiceAgent"
              - "serviceAgents/myServiceAgent"
              - "myServiceAgent"
        userFederation:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationRequest'
          description: Субъект федерации пользователей
          nullable: true
        workloadFederation:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingWorkloadFederationRequest'
          description: Субъект федерации удостоверений рабочей нагрузки (workload)
          nullable: true
        userGroup:
          type: string
          description: |-
            Идентификатор группы пользователей
          
            Строка в форматах:
              Полный формат:
                - "iam/userGroups/{userGroup}"
              Сокращенные форматы:
                - "userGroups/{userGroup}"
                - "{userGroup}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/userGroups/myUserGroup"
              - "userGroups/myUserGroup"
              - "myUserGroup"
        employee:
          type: string
          description: |-
            Идентификатор пользователя backoffice
          
            Строка в форматах:
              Полный формат:
                - "iam/employees/{employee}"
              Сокращенные форматы:
                - "employees/{employee}"
                - "{employee}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/employees/myEmployee"
              - "employees/myEmployee"
              - "myEmployee"

    CommonRoleBindingFederationRequest:
      type: object
      description: Субъект федерации пользователей — идентификатор федерации и, опционально, контекст, уточняющий, на каких пользователей федерации распространяется привязка роли
      properties:
        id:
          type: string
          description: |-
            Идентификатор федерации
          
            Строка в форматах:
              Полный формат:
                - "iam/organizations/{organization}/userFederations/{userFederation}"
              Сокращенные форматы:
                - "organizations/{organization}/userFederations/{userFederation}"
                - "userFederations/{userFederation}"
                - "{userFederation}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "iam/organizations/myOrganization/userFederations/myUserFederation"
              - "organizations/myOrganization/userFederations/myUserFederation"
              - "userFederations/myUserFederation"
              - "myUserFederation"
        context:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextRequest'
          description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
          nullable: true

    CommonRoleBindingFederationContextRequest:
      type: object
      description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
      properties:
        subject:
          type: string
          description: Идентификатор субъекта федерации
        attribute:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextAttributeRequest'
          description: Атрибут пользователя федерации в виде пары «имя — значение»
          nullable: true

    CommonRoleBindingFederationContextAttributeRequest:
      type: object
      description: Атрибут пользователя федерации в виде пары «имя — значение»
      properties:
        name:
          type: string
          description: |-
            Имя атрибута
          
            Обязательно для заполнения при создании ресурса
        value:
          type: string
          description: |-
            Значение атрибута
          
            Обязательно для заполнения при создании ресурса

    CommonRoleBindingWorkloadFederationRequest:
      type: object
      properties:
        id:
          type: string
          description: |-
            Идентификатор федерации удостоверений рабочей нагрузки (workload)
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/workloadFederations/{workloadFederation}"
              Сокращенные форматы:
                - "projects/{project}/workloadFederations/{workloadFederation}"
                - "workloadFederations/{workloadFederation}"
                - "{workloadFederation}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "iam/projects/myProject/workloadFederations/myWorkloadFederation"
              - "projects/myProject/workloadFederations/myWorkloadFederation"
              - "workloadFederations/myWorkloadFederation"
              - "myWorkloadFederation"
        context:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextRequest'
          description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
          nullable: true

    CertificateListResponse:
      type: object
      properties:
        items:
          type: array
          description: Список сертификатов в указанном проекте
          items:
            $ref: '#/components/schemas/CertificateResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    CertificateResponse:
      type: object
      description: TLS/SSL-сертификат — это цифровой объект, с помощью которого веб-системы идентифицируют пользователя и устанавливают зашифрованное сетевое соединение с ним, используя протокол SSL/TLS (Secure Sockets Layer/Transport Layer Security)
      properties:
        kind:
          type: string
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/CertificateSpecResponse'
        status:
          $ref: '#/components/schemas/CertificateStatusResponse'
      required:
        - kind
        - metadata
        - spec
        - status

    CertificateSpecResponse:
      type: object
      properties:
        managed:
          allOf:
            - $ref: '#/components/schemas/CertificateManagedSpecResponse'
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          nullable: true

    CertificateManagedSpecResponse:
      type: object
      properties:
        preferredChallengeType:
          $ref: '#/components/schemas/CertificateChallengeType'
          description: |-
            Предпочтительный тип проверки домена (challenge).
            Возможные значения: DNS01 или HTTP01. По умолчанию используется DNS01
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        provider:
          $ref: '#/components/schemas/CertificateProvider'
          description: |-
            Провайдер сертификатов, например Let's Encrypt или другой центр сертификации
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        issuer:
          allOf:
            - $ref: '#/components/schemas/CertificateManagedSpecIssuerResponse'
          description: Конфигурация провайдера выпуска сертификата
          nullable: true
        domains:
          type: array
          description: |-
            Список доменов, для которых будет выдан сертификат
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          items:
            type: string
      required:
        - domains

    CertificateChallengeType:
      type: string
      description: |-
        Предпочтительный тип проверки домена (challenge).
        Возможные значения: DNS01 или HTTP01. По умолчанию используется DNS01
      enum:
        - "DNS01"
        - "HTTP01"

    CertificateProvider:
      type: string
      description: Провайдер сертификатов, например Let's Encrypt или другой центр сертификации
      enum:
        - "LETS_ENCRYPT"

    CertificateManagedSpecIssuerResponse:
      type: object
      description: Конфигурация провайдера выпуска сертификата
      properties:
        acme:
          type: object
          properties:
            server:
              $ref: '#/components/schemas/CertificateManagedSpecAcmeServer'
              description: ACME-сервер для выпуска сертификата
            challengeType:
              $ref: '#/components/schemas/CertificateChallengeType'
              description: |-
                Предпочтительный тип проверки домена (challenge).
                Возможные значения: DNS01 или HTTP01. По умолчанию используется DNS01
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
            profile:
              type: string
              description: Профиль сертификата
          required:
            - server
            - challengeType
          nullable: true

    CertificateManagedSpecAcmeServer:
      type: string
      description: ACME-сервер для выпуска сертификата
      enum:
        - "LETS_ENCRYPT"

    CertificateStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            details:
              allOf:
                - $ref: '#/components/schemas/CertificateStatusDetailsResponse'
              nullable: true
            valid:
              type: boolean
              description: Показывает, может ли сертификат использоваться в данный момент
            reason:
              $ref: '#/components/schemas/CertificateStatusReason'
              description: Подробная причина, по которой сертификат не может быть использован
            renewalStatus:
              $ref: '#/components/schemas/CertificateRenewalStatus'
              description: Статус обновления сертификата
            managementType:
              $ref: '#/components/schemas/CertificateManagementType'
              description: |-
                Тип сертификата. Если указано SELF_MANAGED, тело запроса должно содержать данные сертификата.
                Если указано MANAGED, сертификат будет создан центром сертификации (например, Let's Encrypt)
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
            challenges:
              type: array
              description: |-
                Список challenge-задач, которые необходимо выполнить для проверки сертификата.
                Присутствует только в случае, если сертификат управляемый
              items:
                $ref: '#/components/schemas/CertificateChallengeResponse'
            renewalAt:
              type: string
              description: Время следующего обновления сертификата
              format: date-time
            challengesDeadline:
              type: string
              description: |-
                Крайний срок настройки делегации для прохождения проверки прав на домены.
                Присутствует только в случае, если сертификат управляемый
              format: date-time
          required:
            - valid
            - reason
            - managementType

    CertificateStatusDetailsResponse:
      type: object
      properties:
        serial:
          type: string
          description: Серийный номер сертификата
        issuer:
          type: string
          description: Издатель сертификата
        subject:
          type: string
          description: Владелец сертификата
        notAfter:
          type: string
          description: Дата окончания срока действия сертификата
          format: date-time
        notBefore:
          type: string
          description: Дата, с которой сертификат становится действительным
          format: date-time
        domains:
          type: array
          description: Домены, к которым относится сертификат
          items:
            $ref: '#/components/schemas/CertificateDomain'
      required:
        - serial
        - issuer
        - subject
        - notAfter
        - notBefore
        - domains

    CertificateDomain:
      type: string

    CertificateStatusReason:
      type: string
      description: Подробная причина, по которой сертификат не может быть использован
      enum:
        - "VALID"
        - "EXPIRED"
        - "NOT_STARTED"
        - "VALIDATING"
        - "ISSUING"
        - "FAILED"

    CertificateRenewalStatus:
      type: string
      description: Статус обновления сертификата
      enum:
        - "RENEWAL_FAILED"
        - "RENEWING"

    CertificateManagementType:
      type: string
      description: |-
        Тип сертификата. Если указано SELF_MANAGED, тело запроса должно содержать данные сертификата.
        Если указано MANAGED, сертификат будет создан центром сертификации (например, Let's Encrypt)
      enum:
        - "SELF_MANAGED"
        - "MANAGED"

    CertificateChallengeResponse:
      type: object
      properties:
        domain:
          type: string
          description: Домен, права на который проверяются
        createdAt:
          type: string
          description: Время создания проверки
          format: date-time
        updatedAt:
          type: string
          description: Время последнего обновления проверки
          format: date-time
        lastValidatedAt:
          type: string
          description: Время последней проверки
          format: date-time
        status:
          $ref: '#/components/schemas/CertificateChallengeStatus'
          description: |-
            Текущий статус проверки. Возможные значения: PENDING, VALID, INVALID, CANCELED, SUBMITTED
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        statusReason:
          type: string
          description: Причина текущего статуса проверки
        httpChallenge:
          allOf:
            - $ref: '#/components/schemas/Http01ChallengeResponse'
          description: Данные для прохождения проверки типа http-01
          nullable: true
        dnsChallenge:
          allOf:
            - $ref: '#/components/schemas/Dns01ChallengeResponse'
          description: Данные для прохождения проверки типа dns-01
          nullable: true
      required:
        - domain
        - createdAt
        - updatedAt
        - status

    CertificateChallengeStatus:
      type: string
      description: 'Текущий статус проверки. Возможные значения: PENDING, VALID, INVALID, CANCELED, SUBMITTED'
      enum:
        - "PENDING"
        - "VALID"
        - "SUBMITTED"
        - "CANCELED"
        - "INVALID"

    Http01ChallengeResponse:
      type: object
      description: Данные для прохождения проверки типа http-01
      properties:
        sourceUrl:
          type: string
          description: |-
            Исходный URL, по которому должен быть доступен HTTP-01 challenge.
            Используется для настройки перенаправления при включенной делегации
        delegated:
          type: boolean
          description: |-
            Указывает, успешно ли настроена делегация
            и может ли challenge ACME быть проверен автоматически
        delegationUrl:
          type: string
          description: |-
            Целевой URL, на который должен выполняться редирект с `sourceUrl`
            для поддержки автоматического продления сертификата
      required:
        - sourceUrl
        - delegated

    Dns01ChallengeResponse:
      type: object
      description: Данные для прохождения проверки типа dns-01
      properties:
        delegated:
          type: boolean
          description: Указывает, настроена ли делегация корректно
        cnameTarget:
          type: string
          description: Целевой домен для делегации через CNAME
      required:
        - delegated

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    CertificateContentResponse:
      type: object
      properties:
        certificate:
          type: string
          description: Сертификат
        privateKey:
          type: string
          description: |-
            Закрытый ключ сертификата
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
        chainedCert:
          type: string
          description: Цепочка сертификатов
      required:
        - certificate
        - privateKey

    CertificateRequest:
      type: object
      description: TLS/SSL-сертификат — это цифровой объект, с помощью которого веб-системы идентифицируют пользователя и устанавливают зашифрованное сетевое соединение с ним, используя протокол SSL/TLS (Secure Sockets Layer/Transport Layer Security)
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/CertificateSpecRequest'
          description: Обязательно для заполнения при создании ресурса

    CertificateSpecRequest:
      type: object
      properties:
        selfManaged:
          allOf:
            - $ref: '#/components/schemas/SelfManagedSpecRequest'
          nullable: true
        managed:
          allOf:
            - $ref: '#/components/schemas/CertificateManagedSpecRequest'
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          nullable: true

    SelfManagedSpecRequest:
      type: object
      properties:
        certificate:
          type: string
          description: |-
            Сертификат
          
            Обязательно для заполнения при создании ресурса
        privateKey:
          type: string
          description: |-
            Закрытый ключ сертификата
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          
            Обязательно для заполнения при создании ресурса
        chainedCert:
          type: string
          description: Цепочка сертификатов

    CertificateManagedSpecRequest:
      type: object
      properties:
        preferredChallengeType:
          $ref: '#/components/schemas/CertificateChallengeType'
          description: |-
            Предпочтительный тип проверки домена (challenge).
            Возможные значения: DNS01 или HTTP01. По умолчанию используется DNS01
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        provider:
          $ref: '#/components/schemas/CertificateProvider'
          description: |-
            Провайдер сертификатов, например Let's Encrypt или другой центр сертификации
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        issuer:
          allOf:
            - $ref: '#/components/schemas/CertificateManagedSpecIssuerRequest'
          description: Конфигурация провайдера выпуска сертификата
          nullable: true
        domains:
          type: array
          description: |-
            Список доменов, для которых будет выдан сертификат
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          items:
            type: string

    CertificateManagedSpecIssuerRequest:
      type: object
      description: Конфигурация провайдера выпуска сертификата
      properties:
        acme:
          type: object
          properties:
            server:
              $ref: '#/components/schemas/CertificateManagedSpecAcmeServer'
              description: |-
                ACME-сервер для выпуска сертификата
              
                Обязательно для заполнения при создании ресурса
            challengeType:
              $ref: '#/components/schemas/CertificateChallengeType'
              description: |-
                Предпочтительный тип проверки домена (challenge).
                Возможные значения: DNS01 или HTTP01. По умолчанию используется DNS01
              
                Обязательно для заполнения при создании ресурса
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
            profile:
              type: string
              description: Профиль сертификата
          nullable: true

    ApiError:
      type: object
      description: Описание ошибки (если HTTP-статус отличен от 2xx)
      properties:
        code:
          type: string
          description: Короткий код ошибки
          enum:
            - "ALREADY_EXISTS"
            - "CANCELLED"
            - "DEADLINE_EXCEEDED"
            - "FAILED_PRECONDITION"
            - "INTERNAL"
            - "INVALID_ARGUMENT"
            - "NOT_FOUND"
            - "PERMISSION_DENIED"
            - "QUOTA_EXCEEDED"
            - "IDEMPOTENCY_KEY_ALREADY_USED"
            - "INVALID_ETAG_KEY"
            - "UNAUTHENTICATED"
            - "UNAVAILABLE"
            - "METHOD_NOT_ALLOWED"
            - "TOO_MANY_REQUESTS"
        type:
          type: string
          description: Подтип расширенной информации по ошибкам к которому удалось его привести. Null если привели к базовому типу
        description:
          type: string
          description: Развёрнутое пояснение ошибки
        retryPolicy:
          allOf:
            - $ref: '#/components/schemas/RetryPolicy'
          description: Правила выполнения повторных попыток в случае ошибки
          nullable: true
        details:
          type: object
          description: |-
            Детальная информация по ошибке в произвольном JSON формате. Содержимое не предназначено для машинной обработки
          
            Примеры:
              - '{"jsonPaths": [{"path": "foo.bar", "reason": "some reason", "offset": "line: 1, column: 2"}]}'
              - '{"errorInfo": "some error info"}'
          additionalProperties: true
      required:
        - code

    RetryPolicy:
      type: object
      description: Правила выполнения повторных попыток в случае ошибки
      properties:
        retryCount:
          type: integer
          description: Максимальное количество повторных попыток. 0 - значение по-умолчанию
        retryTimeout:
          type: string
          description: |-
            Пауза между повторными попытками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        retryTimeoutScale:
          $ref: '#/components/schemas/RetryTimeoutScale'
          description: Шаг увеличения таймаута
        maxRetryTimeout:
          type: string
          description: |-
            Максимальная длительность таймаута
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
      required:
        - retryCount
        - retryTimeout

    RetryTimeoutScale:
      type: string
      description: Шаг увеличения таймаута
      enum:
        - "FIXED"
        - "LINEAR"
        - "PROGRESSIVE"
        - "EXPONENTIAL"

  securitySchemes:
    BearerAuth:
      description: Токен авторизации IAM
      type: apiKey
      in: header
      name: Authorization

  parameters:
    header_Idempotency-Key:
      name: Idempotency-Key
      in: header
      description: Ключ идемпотентности
      style: simple
      schema:
        type: string

    path_name:
      name: name
      in: path
      required: true
      description: Имя сертификата
      style: simple
      schema:
        type: string

    path_name_5d3a1d22:
      name: name
      in: path
      required: true
      description: Certificate name.
      style: simple
      schema:
        type: string

    path_name_6b4baed7:
      name: name
      in: path
      required: true
      description: Имя сертификата, содержимое которого нужно получить
      style: simple
      schema:
        type: string

    path_project:
      name: project
      in: path
      required: true
      description: Путь к проекту.
      style: simple
      schema:
        type: string

    path_roleBinding:
      name: roleBinding
      in: path
      required: true
      description: Имя привязки ролей сертификата
      style: simple
      schema:
        type: string

    path_token:
      name: token
      in: path
      required: true
      description: The challenge token.
      style: simple
      schema:
        type: string

    query_createOnly:
      name: createOnly
      in: query
      description: Создать ресурс. Если ресурс уже существует, будет возвращен ответ `AlreadyExists`
      style: form
      explode: true
      schema:
        type: boolean

    query_filter:
      name: filter
      in: query
      description: |-
        Строка фильтра.
        Для фильтрации используется ограниченная реализация AIP-160 (https://google.aip.dev/160).
        Она включает в себя операции =, !=, OR, AND и (), фильтрацию свойств вложенных объектов и wildcard-поиск подстрок
      style: form
      explode: true
      schema:
        type: string

    query_orderBy:
      name: orderBy
      in: query
      description: |-
        Строка сортировки.
        Для сортировки используется реализация AIP-132 (https://google.aip.dev/132#ordering).
        Указывается перечислением полей с направлением сортировки (asc, desc) через запятую.
        По умолчанию используется сортировка по возрастанию (asc)
      style: form
      explode: true
      schema:
        type: string

    query_pageSize:
      name: pageSize
      in: query
      description: Максимальное количество объектов, которые клиент готов принять. Сервис определяет значение по умолчанию и верхнюю границу
      style: form
      explode: true
      schema:
        type: integer

    query_pageToken:
      name: pageToken
      in: query
      description: Строка, из предыдущего ответа на аналогичный запрос, для получения следующей страницы с объектами. Не задано для получения первой страницы
      style: form
      explode: true
      schema:
        type: string

    query_updateOnly:
      name: updateOnly
      in: query
      description: |-
        Обновить ресурс, если он существует. Если ресурс не существует, будет возвращен ответ `Not Found`.
        Если прав на выполнение операции недостаточно, будет возвращен ответ `PermissionDenied`
      style: form
      explode: true
      schema:
        type: boolean

