# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.3.0
  title: Artifact Registry
  description: Публичная спецификация сервиса Artifact Registry

servers:
  - url: https://registry.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /registry/v1/projects/{project}/registries:
    get:
      tags:
        - registry
      summary: Получить список реестров
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.name`
          - `metadata.displayName`
          - `spec.lifecyclePolicy`
          - `status.ready.state`
          - `metadata.deleteTime`
          - `spec.archived`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `status.lastPullTime`
          - `status.repositoriesCount`
          - `status.size`
      operationId: RegistriesList
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список реестров
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /registry/v1/projects/{project}/registries/{registry}:
    post:
      tags:
        - registry
      summary: Создать или изменить реестр
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: RegistryUpsert
      parameters:
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения реестра
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistryRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryResponse'
        "201":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryResponse'
        "204":
          description: Проверка прошла успешно
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - registry
      summary: Получить информацию о реестре
      operationId: RegistryGet
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - registry
      summary: Удалить реестр
      operationId: RegistryDelete
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Реестр удален
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /registry/v1/projects/{project}/registries/{registry}/repositories:
    get:
      tags:
        - repository
      summary: Получить список репозиториев
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.name`
          - `metadata.displayName`
          - `status.ready.state`
          - `metadata.deleteTime`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `status.lastPullTime`
          - `status.imagesCount`
      operationId: RepositoriesList
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список репозиториев
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /registry/v1/projects/{project}/registries/{registry}/repositories/{repository}:
    post:
      tags:
        - repository
      summary: Создать или изменить репозиторий
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: RepositoryUpsert
      parameters:
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
        - $ref: "#/components/parameters/path_repository"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения репозитория
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryRequest'
      responses:
        "200":
          description: Репозиторий обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryResponse'
        "201":
          description: Репозиторий создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryResponse'
        "204":
          description: Проверка прошла успешно
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - repository
      summary: Получить информацию о репозитории
      operationId: RepositoryGet
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
        - $ref: "#/components/parameters/path_repository"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - repository
      summary: Удалить репозиторий
      operationId: RepositoryDelete
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
        - $ref: "#/components/parameters/path_repository"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Репозиторий удален
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /registry/v1/projects/{project}/registries/{registry}/lifecyclePolicies:
    get:
      tags:
        - lifecycle
      summary: Получить список политик жизненного цикла реестра
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.name`
          - `metadata.displayName`
          - `spec.active`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `metadata.updateTime`
          - `spec.active`
          - `status.ruleCount`
          - `status.usedByRegistry`
      operationId: RegistryLifecyclePoliciesList
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список политик жизненного цикла реестра
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifecyclePolicyListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /registry/v1/projects/{project}/registries/{registry}/lifecyclePolicies/{policy}:
    post:
      tags:
        - lifecycle
      summary: Создать или изменить политику жизненного цикла реестра
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: RegistryLifecyclePolicyUpsert
      parameters:
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
        - $ref: "#/components/parameters/path_policy"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения политики жизненного цикла реестра
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LifecyclePolicyRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifecyclePolicyResponse'
        "201":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifecyclePolicyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - lifecycle
      summary: Получить информацию о политике жизненного цикла реестра
      operationId: RegistryLifecyclePolicyGet
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
        - $ref: "#/components/parameters/path_policy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifecyclePolicyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - lifecycle
      summary: Удалить политику жизненного цикла образов в реестре
      operationId: RegistryLifecyclePolicyDelete
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
        - $ref: "#/components/parameters/path_policy"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Политика жизненного цикла образов в реестре удалена
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /registry/v1/projects/{project}/registries/{registry}/repositories/{repository}/artifacts:
    get:
      tags:
        - artifact
      summary: Получить список артефактов
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.name`
          - `metadata.displayName`
          - `status.tags`
          - `spec.artifactType`
          - `spec.mediaType`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `status.size`
      operationId: ArtifactList
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
        - $ref: "#/components/parameters/path_repository"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список артефактов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /registry/v1/projects/{project}/registries/{registry}/repositories/{repository}/artifacts/{digest}:
    get:
      tags:
        - artifact
      summary: Получить информацию об артефакте
      operationId: ArtifactGet
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
        - $ref: "#/components/parameters/path_repository"
        - $ref: "#/components/parameters/path_digest"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /registry/v1/projects/{project}/registries/{registry}/repositories/{repository}/artifacts/{digest}:scan:
    post:
      tags:
        - scanArtifact
      summary: Отправить запрос на сканирование артефакта
      operationId: ScanArtifact
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
        - $ref: "#/components/parameters/path_repository"
        - $ref: "#/components/parameters/path_digest"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Запрос на сканирование артефакта принят
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanTaskListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /registry/v1/projects/{project}/registries/{registry}/repositories/{repository}/artifacts/{digest}:downloadScanReport:
    get:
      tags:
        - scanArtifact
      summary: Получить отчёт сканирования артефакта
      operationId: DownloadScanReport
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_registry"
        - $ref: "#/components/parameters/path_repository"
        - $ref: "#/components/parameters/path_digest"
        - $ref: "#/components/parameters/query_reportType"
        - $ref: "#/components/parameters/query_noRedirect"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Метаданные отчёта сканирования или сам отчет
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  description: Значение не может равняться `null`
        "307":
          description: Редирект на скачивание отчёта сканирования
          headers:
            Location:
              description: Адрес по которому можно скачать отчет
              schema:
                type: string
                example: https://storage.mwsapis.ru/path-to-report
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    RegistryListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/RegistryResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    RegistryResponse:
      type: object
      description: Реестр
      properties:
        kind:
          type: string
          default: registry/v1/registry
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/RegistrySpecResponse'
          description: Спецификация реестра
        status:
          allOf:
            - $ref: '#/components/schemas/RegistryStatusResponse'
          description: Статус реестра
          nullable: true
      required:
        - spec

    CommonTypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        id:
          type: string
          description: |-
            ID свойства
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
        displayName:
          type: string
          description: Отображаемое имя свойства
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса
          format: date-time
        purgeTime:
          type: string
          description: Время удаления ресурса
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи, операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/UsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    UsageResponse:
      type: object
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных own и use могут быть добавлены специализированные типы для конкретных сервисов
        name:
          type: string
          description: Имя связи, требуется для модификации коллекции
        resource:
          type: string
          description: Ссылка на ресурс
      required:
        - usageType
        - name
        - resource

    RegistrySpecResponse:
      type: object
      description: Спецификация реестра
      properties:
        lifecyclePolicy:
          type: string
          description: |-
            Идентификатор политики жизненного цикла
          
            Строка в форматах:
              Полный формат:
                - "registry/projects/{project}/registries/{registry}/lifecyclePolicies/{policy}"
              Сокращенные форматы:
                - "projects/{project}/registries/{registry}/lifecyclePolicies/{policy}"
                - "registries/{registry}/lifecyclePolicies/{policy}"
                - "lifecyclePolicies/{policy}"
                - "{policy}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "registry/projects/myProject/registries/myRegistry/lifecyclePolicies/myPolicy"
              - "projects/myProject/registries/myRegistry/lifecyclePolicies/myPolicy"
              - "registries/myRegistry/lifecyclePolicies/myPolicy"
              - "lifecyclePolicies/myPolicy"
              - "myPolicy"
          nullable: true
        ipFilter:
          allOf:
            - $ref: '#/components/schemas/RegistryIpFilterRuleResponse'
          description: Правило фильтрации операций над артефактами на основе IP адреса клиента. Правило работает дополнительно к проверкам доступа на основе ролевой модели
          nullable: true

    RegistryIpFilterRuleResponse:
      type: object
      description: Правило фильтрации операций над артефактами на основе IP адреса клиента. Правило работает дополнительно к проверкам доступа на основе ролевой модели
      properties:
        mode:
          $ref: '#/components/schemas/RegistryIPFilterMode'
          description: Переключает поведение между WHITELIST или BLACKLIST. WHITELIST - доступ будет разрешен только для описанных правил. BLACKLIST - доступ будет запрещен только для описанных правил
        sourceIpCidrRanges:
          type: array
          description: Массив подсетей для которых будет проверено правило
          items:
            type: string
            description: |-
              IPv4 или IPv6 подсеть в CIDR нотации
            
              Примеры:
                - "192.168.1.0/24"
                - "2001:db8::/64"
        operations:
          type: array
          description: Список операций ограничивающих применение правила
          items:
            $ref: '#/components/schemas/RegistryIPFilterOperation'
      required:
        - mode
        - sourceIpCidrRanges

    RegistryIPFilterMode:
      type: string
      description: Переключает поведение между WHITELIST или BLACKLIST. WHITELIST - доступ будет разрешен только для описанных правил. BLACKLIST - доступ будет запрещен только для описанных правил
      enum:
        - "BLACKLIST"
        - "WHITELIST"

    RegistryIPFilterOperation:
      type: string
      description: Тип операции над артефактом в реестре
      enum:
        - "PUSH"
        - "PULL"
        - "DELETE"

    RegistryStatusResponse:
      description: Статус реестра
      $ref: '#/components/schemas/ResourceStatusResponse'

    ResourceStatusResponse:
      type: object
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    RegistryRequest:
      type: object
      description: Реестр
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/RegistrySpecRequest'
          description: |-
            Спецификация реестра
          
            Обязательно для заполнения при создании ресурса

    CommonTypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя свойства
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    RegistrySpecRequest:
      type: object
      description: Спецификация реестра
      properties:
        lifecyclePolicy:
          type: string
          description: |-
            Идентификатор политики жизненного цикла
          
            Строка в форматах:
              Полный формат:
                - "registry/projects/{project}/registries/{registry}/lifecyclePolicies/{policy}"
              Сокращенные форматы:
                - "projects/{project}/registries/{registry}/lifecyclePolicies/{policy}"
                - "registries/{registry}/lifecyclePolicies/{policy}"
                - "lifecyclePolicies/{policy}"
                - "{policy}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "registry/projects/myProject/registries/myRegistry/lifecyclePolicies/myPolicy"
              - "projects/myProject/registries/myRegistry/lifecyclePolicies/myPolicy"
              - "registries/myRegistry/lifecyclePolicies/myPolicy"
              - "lifecyclePolicies/myPolicy"
              - "myPolicy"
          nullable: true
        ipFilter:
          allOf:
            - $ref: '#/components/schemas/RegistryIpFilterRuleRequest'
          description: Правило фильтрации операций над артефактами на основе IP адреса клиента. Правило работает дополнительно к проверкам доступа на основе ролевой модели
          nullable: true

    RegistryIpFilterRuleRequest:
      type: object
      description: Правило фильтрации операций над артефактами на основе IP адреса клиента. Правило работает дополнительно к проверкам доступа на основе ролевой модели
      properties:
        mode:
          $ref: '#/components/schemas/RegistryIPFilterMode'
          description: |-
            Переключает поведение между WHITELIST или BLACKLIST. WHITELIST - доступ будет разрешен только для описанных правил. BLACKLIST - доступ будет запрещен только для описанных правил
          
            Обязательно для заполнения при создании ресурса
        sourceIpCidrRanges:
          type: array
          description: |-
            Массив подсетей для которых будет проверено правило
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            type: string
            description: |-
              IPv4 или IPv6 подсеть в CIDR нотации
            
              Примеры:
                - "192.168.1.0/24"
                - "2001:db8::/64"
        operations:
          type: array
          description: |-
            Список операций ограничивающих применение правила
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/RegistryIPFilterOperation'

    RepositoryListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/RepositoryResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    RepositoryResponse:
      type: object
      description: Репозиторий
      properties:
        kind:
          type: string
          default: registry/v1/repository
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          type: object
          description: Спецификация репозитория
        status:
          allOf:
            - $ref: '#/components/schemas/RepositoryStatusResponse'
          description: Статус репозитория
          nullable: true
      required:
        - spec

    RepositoryStatusResponse:
      description: Статус репозитория
      $ref: '#/components/schemas/ResourceStatusResponse'

    RepositoryRequest:
      type: object
      description: Репозиторий
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          type: object
          description: |-
            Спецификация репозитория
          
            Обязательно для заполнения при создании ресурса

    LifecyclePolicyListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/LifecyclePolicyResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    LifecyclePolicyResponse:
      type: object
      description: Политика жизненного цикла
      properties:
        kind:
          type: string
          default: registry/v1/lifecyclePolicy
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/LifecyclePolicySpecResponse'
          description: Спецификация политики
        status:
          allOf:
            - $ref: '#/components/schemas/LifecyclePolicyStatusResponse'
          description: Статус политики
          nullable: true
      required:
        - spec

    LifecyclePolicySpecResponse:
      type: object
      description: Спецификация политики
      properties:
        rules:
          type: array
          description: Список правил в политике
          items:
            $ref: '#/components/schemas/LifecyclePolicyRuleResponse'
      required:
        - rules

    LifecyclePolicyRuleResponse:
      type: object
      description: Правило описывающее условия для поиска образов для удаления
      properties:
        retain:
          type: object
          properties:
            count:
              type: integer
              description: Количество тэгов, которые нужно оставить, если тэгов меньше чем это количество, то проверка на дату не повлияет на удаление, даже если она проходит. Должно быть задано retain или expireDuration
              format: uint32
              nullable: true
            duration:
              type: string
              description: |-
                Период определяющий максимальное время жизни образа в репозитории относительно текущего момента времени. Должно быть задано retain или expireDuration
              
                Поддерживаются следующие форматы:
                  - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
                  - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                    Величины должны следовать по убыванию единиц измерения
                  - Число в секундах
              
                Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
                Регистр и пробелы игнорируются
              
                Примеры:
                  - "PT1S"
                  - "-PT4.2S"
                  - "P1DT2H3M4S"
                  - "42s"
                  - "1h10m42s"
                  - "-(1d 2h 3m 4s 5ms 6us 7ns)"
                  - "42"
              nullable: true
          nullable: true
        filter:
          type: object
          properties:
            tags:
              type: array
              description: Фильтр по которому будет произведен поиск образов подлежащих удалению. Значение может быть задано с использованием символа *, что будет значить любое количество любых символов. Должен быть задан tagFilter или untagged установлен в true
              items:
                type: string
              nullable: true
            untagged:
              type: boolean
              description: Если установлен в true, будут найдены только образы на которые не ссылается ни один тэг. Должен быть задан tagFilter или untagged установлен в true
          nullable: true

    LifecyclePolicyStatusResponse:
      type: object
      description: Статус политики
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            usedByRegistry:
              type: boolean
              description: True, если политика используется в реестре

    LifecyclePolicyRequest:
      type: object
      description: Политика жизненного цикла
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/LifecyclePolicySpecRequest'
          description: |-
            Спецификация политики
          
            Обязательно для заполнения при создании ресурса

    LifecyclePolicySpecRequest:
      type: object
      description: Спецификация политики
      properties:
        rules:
          type: array
          description: |-
            Список правил в политике
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/LifecyclePolicyRuleRequest'

    LifecyclePolicyRuleRequest:
      type: object
      description: Правило описывающее условия для поиска образов для удаления
      properties:
        retain:
          type: object
          properties:
            count:
              type: integer
              description: Количество тэгов, которые нужно оставить, если тэгов меньше чем это количество, то проверка на дату не повлияет на удаление, даже если она проходит. Должно быть задано retain или expireDuration
              format: uint32
              nullable: true
            duration:
              type: string
              description: |-
                Период определяющий максимальное время жизни образа в репозитории относительно текущего момента времени. Должно быть задано retain или expireDuration
              
                Поддерживаются следующие форматы:
                  - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
                  - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                    Величины должны следовать по убыванию единиц измерения
                  - Число в секундах
              
                Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
                Регистр и пробелы игнорируются
              
                Примеры:
                  - "PT1S"
                  - "-PT4.2S"
                  - "P1DT2H3M4S"
                  - "42s"
                  - "1h10m42s"
                  - "-(1d 2h 3m 4s 5ms 6us 7ns)"
                  - "42"
              nullable: true
          nullable: true
        filter:
          type: object
          properties:
            tags:
              type: array
              description: |-
                Фильтр по которому будет произведен поиск образов подлежащих удалению. Значение может быть задано с использованием символа *, что будет значить любое количество любых символов. Должен быть задан tagFilter или untagged установлен в true
              
                Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
              items:
                type: string
              nullable: true
            untagged:
              type: boolean
              description: Если установлен в true, будут найдены только образы на которые не ссылается ни один тэг. Должен быть задан tagFilter или untagged установлен в true
          nullable: true

    ArtifactListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ArtifactResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    ArtifactResponse:
      type: object
      description: Информация о загруженном образе
      properties:
        kind:
          type: string
          default: registry/v1/artifact
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/ArtifactSpecResponse'
          description: Спецификация артефакта
          nullable: true
        status:
          allOf:
            - $ref: '#/components/schemas/ArtifactStatusResponse'
          description: Статус образа
          nullable: true

    ArtifactSpecResponse:
      type: object
      description: Спецификация артефакта
      properties:
        mediaType:
          type: string
          description: Тип манифеста (manifest.mediaType)
        artifactType:
          type: string
          description: Тип артефакта (config.mediaType)

    ArtifactStatusResponse:
      type: object
      description: Статус образа
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            tags:
              type: array
              description: Теги, ссылающиеся на артефакт
              items:
                type: string
            tagsUrls:
              type: object
              description: Ссылки для тегов из поля tags
              additionalProperties:
                type: string
            url:
              type: string
              description: Адрес для OCI Registry API (<distribution host>/<project>/<registry>/<repository>@<digest>)
            size:
              type: string
              description: |-
                Полный размер артефакта (со слоями)
              
                Размер в байтах. Формат: <число> [единица измерения].
                Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
                Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
                Значение базовой единицы измерения (в байтах) должно оставаться целым.
                Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
              
                Примеры:
                  - "1"
                  - "1 B"
                  - "1024 kb"
                  - "1.5 TB"
            lastScanStartedTime:
              type: string
              description: Время старта последнего сканирования на уязвимости
              format: date-time
              nullable: true
            lastScanFinishedTime:
              type: string
              description: Время окончания последнего сканирования на уязвимости
              format: date-time
              nullable: true
            scanSummary:
              allOf:
                - $ref: '#/components/schemas/ScanSummaryResponse'
              description: Сводная информация по результатам сканирования на уязвимости
              nullable: true
            scanErrors:
              type: array
              description: Список ошибок, возникших в процессе сканирования образа на уязвимости
              items:
                type: string
              nullable: true
          required:
            - tags
            - tagsUrls
            - url
            - size

    ScanSummaryResponse:
      type: object
      description: Сводная информация по результатам сканирования на уязвимости
      properties:
        critical:
          type: integer
          description: Количество критических уязвимостей
        high:
          type: integer
          description: Количество уязвимостей с высоким уровнем серьезности
        medium:
          type: integer
          description: Количество уязвимостей с средним уровнем серьезности
        low:
          type: integer
          description: Количество уязвимостей с низким уровнем серьезности
        unknown:
          type: integer
          description: Количество неизвестных уязвимостей
        fixable:
          type: integer
          description: Количество уязвимостей для которых есть решение
        notFixable:
          type: integer
          description: Количество уязвимостей для которых нет решения
        total:
          type: integer
          description: Общее количество уязвимостей
      required:
        - critical
        - high
        - medium
        - low
        - unknown
        - fixable
        - notFixable
        - total

    ScanTaskListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ScanTaskResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    ScanTaskResponse:
      type: object
      description: Задача на сканирование образа
      properties:
        artifact:
          allOf:
            - $ref: '#/components/schemas/ScanArtifactResponse'
          description: Ссылка на образ для сканирования
          nullable: true

    ScanArtifactResponse:
      type: object
      description: Ссылка на образ для сканирования
      properties:
        repository:
          type: string
          description: Имя репозитория, содержащего артефакт
        digest:
          type: string
          description: Дайджест артефакта, состоящий из алгоритма и шестнадцатеричной части

    ApiError:
      type: object
      description: Описание ошибки (если HTTP-статус отличен от 2xx)
      properties:
        code:
          type: string
          description: Короткий код ошибки
          enum:
            - "ALREADY_EXISTS"
            - "CANCELLED"
            - "DEADLINE_EXCEEDED"
            - "FAILED_PRECONDITION"
            - "INTERNAL"
            - "INVALID_ARGUMENT"
            - "NOT_FOUND"
            - "PERMISSION_DENIED"
            - "QUOTA_EXCEEDED"
            - "IDEMPOTENCY_KEY_ALREADY_USED"
            - "INVALID_ETAG_KEY"
            - "UNAUTHENTICATED"
            - "UNAVAILABLE"
            - "METHOD_NOT_ALLOWED"
            - "TOO_MANY_REQUESTS"
        type:
          type: string
          description: Подтип расширенной информации по ошибкам к которому удалось его привести. Null если привели к базовому типу
        description:
          type: string
          description: Развёрнутое пояснение ошибки
        retryPolicy:
          allOf:
            - $ref: '#/components/schemas/RetryPolicy'
          description: Правила выполнения повторных попыток в случае ошибки
          nullable: true
        details:
          type: object
          description: |-
            Детальная информация по ошибке в произвольном JSON формате. Содержимое не предназначено для машинной обработки
          
            Примеры:
              - '{"jsonPaths": [{"path": "foo.bar", "reason": "some reason", "offset": "line: 1, column: 2"}]}'
              - '{"errorInfo": "some error info"}'
          additionalProperties: true
      required:
        - code

    RetryPolicy:
      type: object
      description: Правила выполнения повторных попыток в случае ошибки
      properties:
        retryCount:
          type: integer
          description: Максимальное количество повторных попыток. 0 - значение по-умолчанию
        retryTimeout:
          type: string
          description: |-
            Пауза между повторными попытками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        retryTimeoutScale:
          $ref: '#/components/schemas/RetryTimeoutScale'
          description: Шаг увеличения таймаута
        maxRetryTimeout:
          type: string
          description: |-
            Максимальная длительность таймаута
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
      required:
        - retryCount
        - retryTimeout

    RetryTimeoutScale:
      type: string
      description: Шаг увеличения таймаута
      enum:
        - "FIXED"
        - "LINEAR"
        - "PROGRESSIVE"
        - "EXPONENTIAL"

  securitySchemes:
    BearerAuth:
      description: Токен авторизации IAM
      type: apiKey
      in: header
      name: Authorization

  parameters:
    path_digest:
      name: digest
      in: path
      required: true
      description: the cryptographic checksum digest of the object, in the pattern '<algorithm>:<encoded>'
      style: simple
      schema:
        type: string
        pattern: ^[a-z0-9]+(?:[+._-][a-z0-9]+)*[:-][a-zA-Z0-9=_-]+$

    path_policy:
      name: policy
      in: path
      required: true
      description: Название политики. Обязательный параметр.
      style: simple
      schema:
        type: string
        pattern: ^[a-z0-9]+(?:[._-][a-z0-9]+)*$

    path_project:
      name: project
      in: path
      required: true
      description: Путь к проекту
      style: simple
      schema:
        type: string

    path_registry:
      name: registry
      in: path
      required: true
      description: Название реестра. Обязательный параметр.
      style: simple
      schema:
        type: string
        pattern: ^[a-z0-9]+(?:[._-][a-z0-9]+)*$

    path_repository:
      name: repository
      in: path
      required: true
      description: Название репозитория. Обязательный параметр. Полное название репозитория не должно превышать 255 символов. Формат полного названия {project}/{registry}/{repository}
      style: simple
      schema:
        type: string
        pattern: ^[a-z0-9]+(?:[/._-][a-z0-9]+)*$

    query_createOnly:
      name: createOnly
      in: query
      description: Создать ресурс. Если ресурс уже существует, будет возвращен ответ `AlreadyExists`
      style: form
      explode: true
      schema:
        type: boolean

    query_filter:
      name: filter
      in: query
      description: |-
        Строка фильтра.
        Для фильтрации используется ограниченная реализация AIP-160 (https://google.aip.dev/160).
        Она включает в себя операции =, !=, OR, AND и (), фильтрацию свойств вложенных объектов и wildcard-поиск подстрок
      style: form
      explode: true
      schema:
        type: string

    query_noRedirect:
      name: noRedirect
      in: query
      description: Флаг показывающий, ожидается ли redirect в качестве ответа на запрос
      style: form
      explode: true
      schema:
        type: boolean

    query_orderBy:
      name: orderBy
      in: query
      description: |-
        Строка сортировки.
        Для сортировки используется реализация AIP-132 (https://google.aip.dev/132#ordering).
        Указывается перечислением полей с направлением сортировки (asc, desc) через запятую.
        По умолчанию используется сортировка по возрастанию (asc)
      style: form
      explode: true
      schema:
        type: string

    query_pageSize:
      name: pageSize
      in: query
      description: Максимальное количество объектов, которые клиент готов принять. Сервис определяет значение по умолчанию и верхнюю границу
      style: form
      explode: true
      schema:
        type: integer

    query_pageToken:
      name: pageToken
      in: query
      description: Строка, из предыдущего ответа на аналогичный запрос, для получения следующей страницы с объектами. Не задано для получения первой страницы
      style: form
      explode: true
      schema:
        type: string

    query_reportType:
      name: reportType
      in: query
      required: true
      description: Тип запрашиваемого отчёта сканирования
      style: form
      explode: true
      schema:
        type: string

    query_updateOnly:
      name: updateOnly
      in: query
      description: |-
        Обновить ресурс, если он существует. Если ресурс не существует, будет возвращен ответ `Not Found`.
        Если прав на выполнение операции недостаточно, будет возвращен ответ `PermissionDenied`
      style: form
      explode: true
      schema:
        type: boolean

