# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.6.0
  title: Managed PostgreSQL
  description: Публичная спецификация сервиса Managed PostgreSQL

servers:
  - url: https://mpostgres.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /mpostgres/v1/projects/{project}/clusters:
    get:
      tags:
        - postgresCluster
      summary: List postgres clusters
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.cluster`
          - `metadata.displayName`
          - `status.region.region`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.cluster`
          - `metadata.displayName`
          - `metadata.createTime`
          - `metadata.updateTime`
          - `spec.version`
          - `spec.active`
          - `spec.instanceTemplate.vmType.name`
          - `spec.instanceTemplate.disk.size`
          - `spec.instanceTemplate.disk.type`
          - `status.health`
          - `status.state`
          - `status.ready.state`
          - `status.region.region`
      operationId: ListPostgresClusters
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresClusterPageResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mpostgres/v1/projects/{project}/clusters/{cluster}:stop:
    post:
      tags:
        - postgresCluster
      summary: Запросить выполнение остановки кластера managed postgres
      operationId: StopCluster
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mpostgres/v1/projects/{project}/clusters/{cluster}:start:
    post:
      tags:
        - postgresCluster
      summary: Запросить выполнение запуска кластера managed postgres
      operationId: StartCluster
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mpostgres/v1/projects/{project}/clusters/{cluster}:restoreCluster:
    post:
      tags:
        - postgresCluster
      summary: Cluster restore
      operationId: RestorePostgresCluster
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
      security:
        - BearerAuth: []
      requestBody:
        description: Cluster restore
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostgresClusterRestoreRequest'
      responses:
        "200":
          description: Start postgres cluster restoring
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mpostgres/v1/projects/{project}/clusters/{cluster}:
    post:
      tags:
        - postgresCluster
      summary: Upsert Postgres cluster
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertPostgresCluster
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Update Postgres cluster
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostgresClusterRequest'
      responses:
        "200":
          description: Postgres cluster has been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - postgresCluster
      summary: Get Postgres cluster
      description: Returns info about the specified cluster
      operationId: GetPostgresCluster
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - postgresCluster
      summary: Delete Postgres cluster
      operationId: DeletePostgresCluster
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mpostgres/v1/projects/{project}/clusters/{cluster}:switchover:
    post:
      tags:
        - postgresClusterSwitchover
      summary: Запросить выполнение switchover в кластере managed postgres
      operationId: RequestSwitchover
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
      security:
        - BearerAuth: []
      requestBody:
        description: Тело запроса для выполнения switchover в кластере managed postgres
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostgresClusterSwitchoverRequest'
      responses:
        "202":
          description: Запрос для выполнения switchover в кластере managed postgres принят
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mpostgres/v1/projects/{project}/clusters/{cluster}/users:
    get:
      tags:
        - postgresClusterUser
      summary: List postgres cluster users
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.user`
          - `metadata.displayName`
          - `spec.role.name`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.user`
          - `metadata.displayName`
          - `status.ready.state`
      operationId: ListPostgresClusterUsers
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresClusterUserPageResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mpostgres/v1/projects/{project}/clusters/{cluster}/users/{user}:
    post:
      tags:
        - postgresClusterUser
      summary: Upsert Postgres cluster user
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertPostgresClusterUser
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_user"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Update Postgres cluster user
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostgresClusterUserRequest'
      responses:
        "200":
          description: Postgres cluster user has been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresClusterUserResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - postgresClusterUser
      summary: Get Postgres cluster user
      description: Returns info about the specified cluster user
      operationId: GetPostgresClusterUser
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_user"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresClusterUserResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - postgresClusterUser
      summary: Delete Postgres cluster user
      operationId: DeletePostgresClusterUser
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_user"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mpostgres/v1/projects/{project}/clusters/{cluster}/databases:
    get:
      tags:
        - postgresClusterDatabase
      summary: List postgres cluster databases
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.database`
          - `metadata.displayName`
          - `spec.owner.name`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.database`
          - `metadata.displayName`
          - `status.ready.state`
      operationId: ListPostgresClusterDatabases
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresClusterDatabasePageResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mpostgres/v1/projects/{project}/clusters/{cluster}/databases/{database}:
    post:
      tags:
        - postgresClusterDatabase
      summary: Upsert Postgres cluster database
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertPostgresClusterDatabase
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_database"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Update Postgres cluster database
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostgresClusterDatabaseRequest'
      responses:
        "200":
          description: Postgres cluster database has been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresClusterDatabaseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - postgresClusterDatabase
      summary: Get Postgres cluster database
      description: Returns info about the specified cluster database
      operationId: GetPostgresClusterDatabase
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_database"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresClusterDatabaseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - postgresClusterDatabase
      summary: Delete Postgres cluster database
      operationId: DeletePostgresClusterDatabase
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_database"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mpostgres/v1/projects/{project}/clusters/{cluster}/backups:
    get:
      tags:
        - postgresBackup
      summary: List postgres backup
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.backup`
          - `metadata.displayName`
          - `status.backupTrigger.name`
          - `status.startTime`
          - `status.finishTime`
          - `status.uncompressedSize`
          - `status.compressedSize`
          - `status.ready.state`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.backup`
          - `metadata.displayName`
          - `status.backupTrigger.name`
          - `status.startTime`
          - `status.finishTime`
          - `status.uncompressedSize`
          - `status.compressedSize`
          - `status.ready.state`
      operationId: ListPostgresBackup
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresBackupPageResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mpostgres/v1/projects/{project}/clusters/{cluster}/backups/{backup}:
    post:
      tags:
        - postgresBackup
      summary: Upsert Postgres backup
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertPostgresBackup
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_backup"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Upsert Postgres backup
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostgresBackupRequest'
      responses:
        "200":
          description: Postgres backup has been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresBackupResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - postgresBackup
      summary: Get Postgres backup
      description: Returns info about the specified backup
      operationId: GetPostgresBackup
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_backup"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresBackupResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - postgresBackup
      summary: Delete Postgres backup
      operationId: DeletePostgresBackup
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_backup"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    PostgresClusterPageResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PostgresClusterResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    PostgresClusterResponse:
      type: object
      description: Кластер в Managed PostgreSQL — это группа узлов (виртуальных машин), объединенных для хранения и обработки данных с помощью СУБД PostgreSQL. В облачной инфраструктуре кластер — единый интерфейс для управления базами данных
      properties:
        kind:
          type: string
          default: mpostgres/v1/cluster
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    Ссылка на типизированный референс
                  
                    Строка в формате: "mpostgres/projects/{project}/clusters/{cluster}"
                  
                    Пример: "mpostgres/projects/myProject/clusters/myCluster"
          nullable: true
        spec:
          $ref: '#/components/schemas/PostgresClusterSpecResponse'
          description: Параметры кластера
        status:
          allOf:
            - $ref: '#/components/schemas/PostgresClusterStatusResponse'
          nullable: true
      required:
        - spec

    TypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя. Необязательное поле, можно свободно задавать и изменять для удобства организации ресурсов
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса (не фактическое время удаления)
          format: date-time
        purgeTime:
          type: string
          description: Время удаления ресурса
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/TypedUsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    TypedUsageResponse:
      type: object
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных `own` и `use` могут быть добавлены специализированные типы для конкретных сервисов
        resource:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
      required:
        - usageType
        - resource

    PostgresClusterSpecResponse:
      type: object
      description: Параметры кластера
      properties:
        version:
          type: string
          description: Версия продукта
        active:
          type: boolean
          description: Состояние кластера — включен или выключен
        endpoints:
          type: array
          description: Описание эндпойнтов в сетях пользователя (VPC) для подключения к инстансам кластера
          items:
            $ref: '#/components/schemas/PostgresEndpointResponse'
        instanceTemplate:
          $ref: '#/components/schemas/PostgresInstanceTemplateResponse'
        instances:
          type: array
          items:
            $ref: '#/components/schemas/PostgresInstanceResponse'
        backup:
          allOf:
            - $ref: '#/components/schemas/PostgresClusterBackupResponse'
          description: Спецификация автоматического бэкапирования
          nullable: true
        maintenanceWindow:
          allOf:
            - $ref: '#/components/schemas/MaintenanceWindowResponse'
          nullable: true
        postgresParameters:
          type: object
          description: Параметры PostgreSQL. Если не указаны, будут использованы параметры по умолчанию
          additionalProperties:
            type: string
        loggingEnabled:
          type: boolean
          description: |-
            Выгрузка пользовательских логов кластера — включена или выключена
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
      required:
        - version
        - active
        - endpoints
        - instanceTemplate
        - instances

    PostgresEndpointResponse:
      type: object
      description: Описание эндпойнтов в пользовательской сети (VPC) для подключения к инстансам кластера
      properties:
        name:
          type: string
          description: Имя эндпойнта
        network:
          type: string
          description: |-
            Идентификатор пользовательской сети (VPC)
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}"
                - "networks/{network}"
                - "{network}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork"
              - "projects/myProject/networks/myNetwork"
              - "networks/myNetwork"
              - "myNetwork"
        primaryAddresses:
          type: array
          items:
            $ref: '#/components/schemas/PostgresNetworkAddressResponse'
        readOnlyAddresses:
          type: array
          items:
            $ref: '#/components/schemas/PostgresNetworkAddressResponse'
        directAddresses:
          type: array
          items:
            $ref: '#/components/schemas/PostgresNetworkDirectAddressResponse'
      required:
        - name
        - network
        - primaryAddresses

    PostgresNetworkAddressResponse:
      type: object
      description: Описание адресов, в которые будет трансляция из service-vpc
      properties:
        ref:
          type: string
          description: |-
            Идентификатор адреса для подключения к узлу
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
        spec:
          allOf:
            - $ref: '#/components/schemas/PostgresNetworkAddressSpecResponse'
          description: Описание подсети пользователя, используемой для подключения к узлам
          nullable: true
        externalAccess:
          allOf:
            - $ref: '#/components/schemas/PostgresExternalAccessSpecResponse'
          description: Описание адреса для внешнего подключения к кластеру
          nullable: true

    PostgresNetworkAddressSpecResponse:
      type: object
      description: Идентификатор ресурса subnet пользователя, в который будет трансляция адресов из service-vpc
      properties:
        subnet:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"
      required:
        - subnet

    PostgresExternalAccessSpecResponse:
      type: object
      description: Описание адреса для внешнего подключения к кластеру
      properties:
        allowed:
          type: boolean
          description: Флаг, разрешающий внешнее подключение к кластеру
        ref:
          type: string
          description: |-
            Идентификатор внешнего адреса
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
      required:
        - allowed

    PostgresNetworkDirectAddressResponse:
      type: object
      description: Описание адресов к инстансам postgres, в которые будет трансляция из service-vpc
      allOf:
        - $ref: '#/components/schemas/PostgresNetworkAddressResponse'
        - type: object
          properties:
            zone:
              type: string
              description: |-
                Зона инстанса, к которому ведет адрес
              
                Строка в форматах:
                  Полный формат:
                    - "rm/zones/{zone}"
                  Сокращенные форматы:
                    - "zones/{zone}"
                    - "{zone}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Примеры:
                  - "rm/zones/myZone"
                  - "zones/myZone"
                  - "myZone"

    PostgresInstanceTemplateResponse:
      type: object
      properties:
        vmType:
          type: string
          description: |-
            Тип виртуальной машины, описывающий ресурсы (vCPU, memory)
          
            Строка в форматах:
              Полный формат:
                - "compute/vmTypes/{vmType}"
              Сокращенные форматы:
                - "vmTypes/{vmType}"
                - "{vmType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "compute/vmTypes/myVmType"
              - "vmTypes/myVmType"
              - "myVmType"
        disk:
          $ref: '#/components/schemas/DataDiskSpecResponse'
          description: Параметры диска с данными на узле кластера
      required:
        - vmType
        - disk

    DataDiskSpecResponse:
      type: object
      description: Параметры диска с данными на узле кластера
      properties:
        size:
          type: string
          description: |-
            Размер диска
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
        type:
          $ref: '#/components/schemas/DataDiskType'
          description: |-
            Тип используемого диска:
            * `NETWORK_STANDARD_SSD` — сетевой SSD
            * `LOCAL` — локальный SSD
        iops:
          $ref: '#/components/schemas/Iops'
          description: IOPS
      required:
        - size
        - type

    DataDiskType:
      type: string
      description: |-
        Тип используемого диска:
        * `NETWORK_STANDARD_SSD` — сетевой SSD
        * `LOCAL` — локальный SSD
      enum:
        - "NETWORK_STANDARD_SSD"
        - "LOCAL"

    Iops:
      type: integer
      description: IOPS
      format: int32
      example: 1000

    PostgresInstanceResponse:
      type: object
      properties:
        count:
          type: integer
          description: Количество экземпляров в зоне доступности
        zone:
          type: string
          description: Зона доступности
      required:
        - count

    PostgresClusterBackupResponse:
      type: object
      description: Спецификация автоматического бэкапирования
      properties:
        daily:
          allOf:
            - $ref: '#/components/schemas/PostgresClusterBackupDailyResponse'
          description: Спецификация ежедневного автоматического бэкапирования
          nullable: true
        retainPeriodDays:
          type: integer
          description: Количество дней хранения бэкапа

    PostgresClusterBackupDailyResponse:
      type: object
      description: Спецификация ежедневного автоматического бэкапирования
      properties:
        hour:
          type: integer
          description: Час начала автоматического бэкапирования

    MaintenanceWindowResponse:
      type: object
      properties:
        weekly:
          $ref: '#/components/schemas/WeeklyMaintenanceWindowResponse'
      required:
        - weekly

    WeeklyMaintenanceWindowResponse:
      type: object
      properties:
        days:
          type: array
          description: Дни недели, в которые будет запущено задание на тех. обслуживание
          items:
            $ref: '#/components/schemas/DayOfWeek'
        hour:
          type: integer
          description: Час, в который будет запущено задание на тех. обслуживание
        duration:
          type: string
          description: |-
            Допустимая продолжительность процесса обновления. Если не указано, то не ограничено по времени. Принимается только формат в часах (h)
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          nullable: true
      required:
        - days
        - hour

    DayOfWeek:
      type: string
      description: День недели
      enum:
        - "MONDAY"
        - "TUESDAY"
        - "WEDNESDAY"
        - "THURSDAY"
        - "FRIDAY"
        - "SATURDAY"
        - "SUNDAY"

    PostgresClusterStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            state:
              $ref: '#/components/schemas/ClusterState'
              description: |-
                Состояние кластера:
                  * `CREATING`     - Создается;
                  * `RUNNING`      - Работает в штатном режиме;
                  * `STOPPING`     - Останавливается;
                  * `STOPPED`      - Остановлен;
                  * `STARTING`     - Запуск ранее остановленного;
                  * `UPDATING`     - Выполняется обновление;
                  * `ERROR`        - Произошла ошибка, требуется участие команды поддержки;
                  * `DELETING`     - Удаляется;
                  * `DELETED`      - Удален;
                  * `UNIDENTIFIED` - Не удается определить статус;
                  * `RESTORING`    - Восстанавливается;
                  * `MAINTENANCE`  - Ведутся работы по тех.обслуживанию
            health:
              $ref: '#/components/schemas/ClusterHealth'
              description: |-
                Работоспособность кластера:
                  * `ALIVE`    - Полностью работоспособен;
                  * `DEGRADED` - Деградирует (некоторые, но не все, экземпляры неработоспособны);
                  * `FAILED`   - Неработоспособен;
                  * `UNKNOWN`  - Не удаётся определить состояние (на этапе создания)
            message:
              type: string
            region:
              type: string
              description: |-
                Регион, которому принадлежит кластер
              
                Строка в формате: "rm/regions/{region}"
              
                Пример: "rm/regions/myRegion"
            network:
              allOf:
                - $ref: '#/components/schemas/PostgresStatusNetworkResponse'
              description: Описание IP-адресов для доступа к кластеру
              nullable: true
            instances:
              type: array
              items:
                $ref: '#/components/schemas/PostgresStatusInstanceResponse'
            maintenanceWindow:
              allOf:
                - $ref: '#/components/schemas/MaintenanceWindowResponse'
              nullable: true
            backup:
              allOf:
                - $ref: '#/components/schemas/PostgresClusterStatusBackupResponse'
              description: Фактические параметры для автоматического бэкапирования
              nullable: true
            instanceTemplate:
              allOf:
                - $ref: '#/components/schemas/PostgresClusterStatusInstanceTemplateResponse'
              nullable: true

    ResourceStatusResponse:
      type: object
      description: Текущее состояние ресурса, вычисляемое системой
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
          example: Success operation
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    ClusterState:
      type: string
      description: |-
        Состояние кластера:
          * `CREATING`     - Создается;
          * `RUNNING`      - Работает в штатном режиме;
          * `STOPPING`     - Останавливается;
          * `STOPPED`      - Остановлен;
          * `STARTING`     - Запуск ранее остановленного;
          * `UPDATING`     - Выполняется обновление;
          * `ERROR`        - Произошла ошибка, требуется участие команды поддержки;
          * `DELETING`     - Удаляется;
          * `DELETED`      - Удален;
          * `UNIDENTIFIED` - Не удается определить статус;
          * `RESTORING`    - Восстанавливается;
          * `MAINTENANCE`  - Ведутся работы по тех.обслуживанию
      enum:
        - "CREATING"
        - "RUNNING"
        - "STOPPING"
        - "STOPPED"
        - "STARTING"
        - "UPDATING"
        - "ERROR"
        - "UNIDENTIFIED"
        - "DELETING"
        - "DELETED"
        - "RESTORING"
        - "MAINTENANCE"

    ClusterHealth:
      type: string
      description: |-
        Работоспособность кластера:
          * `ALIVE`    - Полностью работоспособен;
          * `DEGRADED` - Деградирует (некоторые, но не все, экземпляры неработоспособны);
          * `FAILED`   - Неработоспособен;
          * `UNKNOWN`  - Не удаётся определить состояние (на этапе создания)
      enum:
        - "ALIVE"
        - "DEGRADED"
        - "FAILED"
        - "UNKNOWN"

    PostgresStatusNetworkResponse:
      type: object
      description: Описание IP-адресов для доступа к кластеру
      properties:
        primaryAddresses:
          type: array
          items:
            $ref: '#/components/schemas/PostgresStatusAddressResponse'
        readOnlyAddresses:
          type: array
          items:
            $ref: '#/components/schemas/PostgresStatusAddressResponse'
        directAddresses:
          type: array
          items:
            $ref: '#/components/schemas/PostgresStatusDirectAddressResponse'

    PostgresStatusAddressResponse:
      type: object
      description: Описание ip адреса для доступа к кластеру
      properties:
        address:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
        subnet:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"
        ip:
          type: string
          description: |-
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"
        external:
          allOf:
            - $ref: '#/components/schemas/PostgresStatusExternalAddressResponse'
          description: Описание внешнего IP-адреса для доступа к кластеру
          nullable: true

    PostgresStatusExternalAddressResponse:
      type: object
      description: Описание внешнего IP-адреса для доступа к кластеру
      properties:
        address:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
        ip:
          type: string
          description: |-
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"

    PostgresStatusDirectAddressResponse:
      type: object
      description: Описание ip адреса для доступа к кластеру
      allOf:
        - $ref: '#/components/schemas/PostgresStatusAddressResponse'
        - type: object
          properties:
            zone:
              type: string
              description: |-
                Зона инстанса, к которому ведет адрес
              
                Строка в форматах:
                  Полный формат:
                    - "rm/zones/{zone}"
                  Сокращенные форматы:
                    - "zones/{zone}"
                    - "{zone}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Примеры:
                  - "rm/zones/myZone"
                  - "zones/myZone"
                  - "myZone"
            instance:
              type: string
              description: Имя инстанса, к которому ведет адрес

    PostgresStatusInstanceResponse:
      type: object
      description: Статус экземпляра postgres
      properties:
        name:
          type: string
          description: Имя экземпляра PostgreSQL
        role:
          $ref: '#/components/schemas/PostgresInstanceRole'
          description: Роль экземпляра PostgreSQL
        health:
          $ref: '#/components/schemas/PostgresInstanceHealth'
          description: Исправность экземпляра PostgreSQL
      required:
        - name
        - role
        - health

    PostgresInstanceRole:
      type: string
      description: |-
        Роль экземпляра PostgreSQL
          * `PRIMARY`
          * `STANDBY`
          * `UNKNOWN`
      enum:
        - "PRIMARY"
        - "STANDBY"
        - "UNKNOWN"

    PostgresInstanceHealth:
      type: string
      description: |-
        Исправность экземпляра PostgreSQL
          * `ALIVE`   - Инстанс может обрабатывать запросы
          * `PROCESSING` - Инстанс в состоянии starting/stopping/restarting. Не может обрабатывать запросы
          * `INACTIVE` - Инстанс остановлен
          * `FAILED`  - Инстанс в состоянии crashed или failed
          * `UNAVAILABLE` - Продукт недоступен при сборе health
          * `UNKNOWN` - В неизвестном состоянии
      enum:
        - "ALIVE"
        - "PROCESSING"
        - "INACTIVE"
        - "FAILED"
        - "UNAVAILABLE"
        - "UNKNOWN"

    PostgresClusterStatusBackupResponse:
      type: object
      description: Фактические параметры для автоматического бэкапирования
      properties:
        daily:
          $ref: '#/components/schemas/PostgresClusterStatusBackupDailyResponse'
          description: Фактические параметры ежедневного автоматического бэкапирования
        retainPeriodDays:
          type: integer
          description: Количество дней хранения бэкапа
      required:
        - daily
        - retainPeriodDays

    PostgresClusterStatusBackupDailyResponse:
      type: object
      description: Фактические параметры ежедневного автоматического бэкапирования
      properties:
        hour:
          type: integer
          description: Час начала автоматического бэкапирования
      required:
        - hour

    PostgresClusterStatusInstanceTemplateResponse:
      type: object
      properties:
        vmType:
          type: string
          description: |-
            Тип виртуальной машины, описывающий ресурсы (vCPU, memory)
          
            Строка в форматах:
              Полный формат:
                - "compute/vmTypes/{vmType}"
              Сокращенные форматы:
                - "vmTypes/{vmType}"
                - "{vmType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "compute/vmTypes/myVmType"
              - "vmTypes/myVmType"
              - "myVmType"
        disk:
          $ref: '#/components/schemas/PostgresClusterStatusInstanceTemplateDataDiskResponse'
          description: Параметры диска с данными на узле кластера
      required:
        - vmType
        - disk

    PostgresClusterStatusInstanceTemplateDataDiskResponse:
      type: object
      description: Параметры диска с данными на узле кластера
      properties:
        size:
          type: string
          description: |-
            Размер диска
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
        type:
          $ref: '#/components/schemas/DataDiskType'
          description: Тип диска
        iops:
          type: integer
          description: IOPS
          format: int32
          example: 1000
      required:
        - size
        - type

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    PostgresClusterRestoreRequest:
      type: object
      properties:
        recoveryTargetTime:
          type: string
          description: Точка времени, до состояния которой будет восстановлен кластер
          format: date-time
        backupId:
          type: string
          description: |-
            Бэкап, до состояния которого будет восстановлен кластер
          
            Строка в форматах:
              Полный формат:
                - "mpostgres/projects/{project}/clusters/{cluster}/backups/{backup}"
              Сокращенные форматы:
                - "projects/{project}/clusters/{cluster}/backups/{backup}"
                - "clusters/{cluster}/backups/{backup}"
                - "backups/{backup}"
                - "{backup}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "mpostgres/projects/myProject/clusters/myCluster/backups/myBackup"
              - "projects/myProject/clusters/myCluster/backups/myBackup"
              - "clusters/myCluster/backups/myBackup"
              - "backups/myBackup"
              - "myBackup"

    PostgresClusterRequest:
      type: object
      description: Кластер в Managed PostgreSQL — это группа узлов (виртуальных машин), объединенных для хранения и обработки данных с помощью СУБД PostgreSQL. В облачной инфраструктуре кластер — единый интерфейс для управления базами данных
      properties:
        metadata:
          $ref: '#/components/schemas/TypedResourceMetadataRequest'
        spec:
          $ref: '#/components/schemas/PostgresClusterSpecRequest'
          description: |-
            Параметры кластера
          
            Обязательно для заполнения при создании ресурса

    TypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя. Необязательное поле, можно свободно задавать и изменять для удобства организации ресурсов
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    PostgresClusterSpecRequest:
      type: object
      description: Параметры кластера
      properties:
        version:
          type: string
          description: |-
            Версия продукта
          
            Обязательно для заполнения при создании ресурса
        active:
          type: boolean
          description: |-
            Состояние кластера — включен или выключен
          
            Обязательно для заполнения при создании ресурса
        endpoints:
          type: array
          description: |-
            Описание эндпойнтов в сетях пользователя (VPC) для подключения к инстансам кластера
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/PostgresEndpointRequest'
        instanceTemplate:
          $ref: '#/components/schemas/PostgresInstanceTemplateRequest'
          description: Обязательно для заполнения при создании ресурса
        instances:
          type: array
          description: |-
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/PostgresInstanceRequest'
        backup:
          allOf:
            - $ref: '#/components/schemas/PostgresClusterBackupRequest'
          description: Спецификация автоматического бэкапирования
          nullable: true
        maintenanceWindow:
          allOf:
            - $ref: '#/components/schemas/MaintenanceWindowRequest'
          nullable: true
        postgresParameters:
          type: object
          description: Параметры PostgreSQL. Если не указаны, будут использованы параметры по умолчанию
          additionalProperties:
            type: string
        loggingEnabled:
          type: boolean
          description: |-
            Выгрузка пользовательских логов кластера — включена или выключена
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение

    PostgresEndpointRequest:
      type: object
      description: Описание эндпойнтов в пользовательской сети (VPC) для подключения к инстансам кластера
      properties:
        name:
          type: string
          description: |-
            Имя эндпойнта
          
            Обязательно для заполнения при создании ресурса
        network:
          type: string
          description: |-
            Идентификатор пользовательской сети (VPC)
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}"
                - "networks/{network}"
                - "{network}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork"
              - "projects/myProject/networks/myNetwork"
              - "networks/myNetwork"
              - "myNetwork"
        primaryAddresses:
          type: array
          description: |-
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/PostgresNetworkAddressRequest'
        readOnlyAddresses:
          type: array
          description: Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/PostgresNetworkAddressRequest'
        directAddresses:
          type: array
          description: Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/PostgresNetworkDirectAddressRequest'

    PostgresNetworkAddressRequest:
      type: object
      description: Описание адресов, в которые будет трансляция из service-vpc
      properties:
        ref:
          type: string
          description: |-
            Идентификатор адреса для подключения к узлу
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
        spec:
          allOf:
            - $ref: '#/components/schemas/PostgresNetworkAddressSpecRequest'
          description: Описание подсети пользователя, используемой для подключения к узлам
          nullable: true
        externalAccess:
          allOf:
            - $ref: '#/components/schemas/PostgresExternalAccessSpecRequest'
          description: Описание адреса для внешнего подключения к кластеру
          nullable: true

    PostgresNetworkAddressSpecRequest:
      type: object
      description: Идентификатор ресурса subnet пользователя, в который будет трансляция адресов из service-vpc
      properties:
        subnet:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"

    PostgresExternalAccessSpecRequest:
      type: object
      description: Описание адреса для внешнего подключения к кластеру
      properties:
        allowed:
          type: boolean
          description: |-
            Флаг, разрешающий внешнее подключение к кластеру
          
            Обязательно для заполнения при создании ресурса
        ref:
          type: string
          description: |-
            Идентификатор внешнего адреса
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"

    PostgresNetworkDirectAddressRequest:
      type: object
      description: Описание адресов к инстансам postgres, в которые будет трансляция из service-vpc
      allOf:
        - $ref: '#/components/schemas/PostgresNetworkAddressRequest'
        - type: object
          properties:
            zone:
              type: string
              description: |-
                Зона инстанса, к которому ведет адрес
              
                Строка в форматах:
                  Полный формат:
                    - "rm/zones/{zone}"
                  Сокращенные форматы:
                    - "zones/{zone}"
                    - "{zone}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Примеры:
                  - "rm/zones/myZone"
                  - "zones/myZone"
                  - "myZone"

    PostgresInstanceTemplateRequest:
      type: object
      properties:
        vmType:
          type: string
          description: |-
            Тип виртуальной машины, описывающий ресурсы (vCPU, memory)
          
            Строка в форматах:
              Полный формат:
                - "compute/vmTypes/{vmType}"
              Сокращенные форматы:
                - "vmTypes/{vmType}"
                - "{vmType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "compute/vmTypes/myVmType"
              - "vmTypes/myVmType"
              - "myVmType"
        disk:
          $ref: '#/components/schemas/DataDiskSpecRequest'
          description: |-
            Параметры диска с данными на узле кластера
          
            Обязательно для заполнения при создании ресурса

    DataDiskSpecRequest:
      type: object
      description: Параметры диска с данными на узле кластера
      properties:
        size:
          type: string
          description: |-
            Размер диска
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
        type:
          $ref: '#/components/schemas/DataDiskType'
          description: |-
            Тип используемого диска:
            * `NETWORK_STANDARD_SSD` — сетевой SSD
            * `LOCAL` — локальный SSD
          
            Обязательно для заполнения при создании ресурса
        iops:
          $ref: '#/components/schemas/Iops'
          description: IOPS

    PostgresInstanceRequest:
      type: object
      properties:
        count:
          type: integer
          description: |-
            Количество экземпляров в зоне доступности
          
            Обязательно для заполнения при создании ресурса
        zone:
          type: string
          description: Зона доступности

    PostgresClusterBackupRequest:
      type: object
      description: Спецификация автоматического бэкапирования
      properties:
        daily:
          allOf:
            - $ref: '#/components/schemas/PostgresClusterBackupDailyRequest'
          description: Спецификация ежедневного автоматического бэкапирования
          nullable: true
        retainPeriodDays:
          type: integer
          description: Количество дней хранения бэкапа

    PostgresClusterBackupDailyRequest:
      type: object
      description: Спецификация ежедневного автоматического бэкапирования
      properties:
        hour:
          type: integer
          description: Час начала автоматического бэкапирования

    MaintenanceWindowRequest:
      type: object
      properties:
        weekly:
          $ref: '#/components/schemas/WeeklyMaintenanceWindowRequest'
          description: Обязательно для заполнения при создании ресурса

    WeeklyMaintenanceWindowRequest:
      type: object
      properties:
        days:
          type: array
          description: |-
            Дни недели, в которые будет запущено задание на тех. обслуживание
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/DayOfWeek'
        hour:
          type: integer
          description: |-
            Час, в который будет запущено задание на тех. обслуживание
          
            Обязательно для заполнения при создании ресурса
        duration:
          type: string
          description: |-
            Допустимая продолжительность процесса обновления. Если не указано, то не ограничено по времени. Принимается только формат в часах (h)
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          nullable: true

    PostgresClusterSwitchoverRequest:
      type: object
      description: Тело запроса для выполнения switchover в кластере managed postgres
      properties:
        candidate:
          type: string
          description: Имя экземпляра postgres, являющегося кандидатом на роль нового primary
      required:
        - candidate

    PostgresClusterUserPageResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PostgresClusterUserResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    PostgresClusterUserResponse:
      type: object
      description: Пользователь в Managed PostgreSQL — это внутренняя учетная запись PostgreSQL для аутентификации в кластере
      properties:
        kind:
          type: string
          default: mpostgres/v1/users
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    Ссылка на типизированный референс
                  
                    Строка в формате: "mpostgres/projects/{project}/clusters/{cluster}/users/{user}"
                  
                    Пример: "mpostgres/projects/myProject/clusters/myCluster/users/myUser"
          nullable: true
        spec:
          $ref: '#/components/schemas/PostgresClusterUserSpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/PostgresClusterUserStatusResponse'
          nullable: true
      required:
        - spec

    PostgresClusterUserSpecResponse:
      type: object
      properties:
        role:
          allOf:
            - $ref: '#/components/schemas/PostgresUserRole'
          description: |-
            Пользовательские роли (они же роли приложений):
            - `DB_OWNER_USER` (deprecated): Пользовательская роль, наследует разрешения групповой роли db_writer, db_reader.
            - `DB_WRITER_USER`: Пользовательская роль, наследует разрешения групповой роли db_writer, db_reader.
            - `DB_READER_USER`: Пользовательская роль, наследует разрешения групповой роли db_reader
          nullable: true
        additionalRoles:
          type: array
          description: Дополнительные роли пользователя
          items:
            $ref: '#/components/schemas/PostgresUserAdditionalRoleResponse'
        accessControlPolicy:
          $ref: '#/components/schemas/PostgresUserAccessControlPolicy'
          description: |-
            - `SCOPE_BASED`: Роли пользователя управляются в зависимости от области видимости роли.
                - роли на конкретные базы данных управляются через API привязок роли;
                - глобальные роли (роли, которые применяются во всех базах данных кластера) управляются через спецификацию пользователя.
                Политика введена для обратной совместимости

    PostgresUserRole:
      type: string
      description: |-
        Пользовательские роли (они же роли приложений):
        - `DB_OWNER_USER` (deprecated): Пользовательская роль, наследует разрешения групповой роли db_writer, db_reader.
        - `DB_WRITER_USER`: Пользовательская роль, наследует разрешения групповой роли db_writer, db_reader.
        - `DB_READER_USER`: Пользовательская роль, наследует разрешения групповой роли db_reader
      enum:
        - "DB_OWNER_USER"
        - "DB_WRITER_USER"
        - "DB_READER_USER"

    PostgresUserAdditionalRoleResponse:
      type: object
      properties:
        name:
          type: string
          description: '- `DB_MIGRATOR_ROLE`: Дополнительная роль, позволяющая пользователю БД управлять миграцией данных в mpostgres'
          enum:
            - "DB_MIGRATOR_ROLE"
        expiresAt:
          type: string
          description: Дата отзыва дополнительной роли
          format: date-time

    PostgresUserAccessControlPolicy:
      type: string
      description: |-
        - `SCOPE_BASED`: Роли пользователя управляются в зависимости от области видимости роли.
            - роли на конкретные базы данных управляются через API привязок роли;
            - глобальные роли (роли, которые применяются во всех базах данных кластера) управляются через спецификацию пользователя.
            Политика введена для обратной совместимости
      enum:
        - "SCOPE_BASED"

    PostgresClusterUserStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            roleBindings:
              type: array
              description: Список привязок ролей текущего пользователя
              items:
                $ref: '#/components/schemas/PostgresUserRoleBindingStatusResponse'

    PostgresUserRoleBindingStatusResponse:
      type: object
      description: Статус привязки роли текущего пользователя
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            roleBindingId:
              type: string
              description: |-
                Идентификатор привязки роли
              
                Строка в форматах:
                  Полный формат:
                    - "mpostgres/projects/{project}/clusters/{cluster}/roleBindings/{roleBinding}"
                  Сокращенные форматы:
                    - "projects/{project}/clusters/{cluster}/roleBindings/{roleBinding}"
                    - "clusters/{cluster}/roleBindings/{roleBinding}"
                    - "roleBindings/{roleBinding}"
                    - "{roleBinding}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Примеры:
                  - "mpostgres/projects/myProject/clusters/myCluster/roleBindings/myRoleBinding"
                  - "projects/myProject/clusters/myCluster/roleBindings/myRoleBinding"
                  - "clusters/myCluster/roleBindings/myRoleBinding"
                  - "roleBindings/myRoleBinding"
                  - "myRoleBinding"
            databaseId:
              type: string
              description: |-
                Идентификатор базы данных, в которой пользователю назначена роль; `null` — если роль глобальная
              
                Строка в форматах:
                  Полный формат:
                    - "mpostgres/projects/{project}/clusters/{cluster}/databases/{database}"
                  Сокращенные форматы:
                    - "projects/{project}/clusters/{cluster}/databases/{database}"
                    - "clusters/{cluster}/databases/{database}"
                    - "databases/{database}"
                    - "{database}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Примеры:
                  - "mpostgres/projects/myProject/clusters/myCluster/databases/myDatabase"
                  - "projects/myProject/clusters/myCluster/databases/myDatabase"
                  - "clusters/myCluster/databases/myDatabase"
                  - "databases/myDatabase"
                  - "myDatabase"
              nullable: true
            role:
              $ref: '#/components/schemas/PostgresRoleBindingRole'
              description: |-
                Пользовательские роли:
                - `READER`: Роль, позволяющая пользователю производить операции чтения в базе данных кластера.
                - `WRITER`: Роль, позволяющая пользователю производить операции чтения и записи в базе данных кластера.
                - `OWNER`: Роль владельца базы данных. Позволяет пользователю производить операции создания и удаления объектов, записи и чтения в базе данных.
                - `MIGRATOR`: Роль, позволяющая пользователю контролировать параметры репликации в базах данных кластера, в которых он является владельцем
            expiresAt:
              type: string
              description: Дата и время отзыва привязки роли
              format: date-time

    PostgresRoleBindingRole:
      type: string
      description: |-
        Пользовательские роли:
        - `READER`: Роль, позволяющая пользователю производить операции чтения в базе данных кластера.
        - `WRITER`: Роль, позволяющая пользователю производить операции чтения и записи в базе данных кластера.
        - `OWNER`: Роль владельца базы данных. Позволяет пользователю производить операции создания и удаления объектов, записи и чтения в базе данных.
        - `MIGRATOR`: Роль, позволяющая пользователю контролировать параметры репликации в базах данных кластера, в которых он является владельцем
      enum:
        - "READER"
        - "WRITER"
        - "OWNER"
        - "MIGRATOR"

    PostgresClusterUserRequest:
      type: object
      description: Пользователь в Managed PostgreSQL — это внутренняя учетная запись PostgreSQL для аутентификации в кластере
      properties:
        metadata:
          $ref: '#/components/schemas/TypedResourceMetadataRequest'
        spec:
          $ref: '#/components/schemas/PostgresClusterUserSpecRequest'
          description: Обязательно для заполнения при создании ресурса

    PostgresClusterUserSpecRequest:
      type: object
      properties:
        password:
          type: string
          description: |-
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          
            Обязательно для заполнения при создании ресурса
        role:
          allOf:
            - $ref: '#/components/schemas/PostgresUserRole'
          description: |-
            Пользовательские роли (они же роли приложений):
            - `DB_OWNER_USER` (deprecated): Пользовательская роль, наследует разрешения групповой роли db_writer, db_reader.
            - `DB_WRITER_USER`: Пользовательская роль, наследует разрешения групповой роли db_writer, db_reader.
            - `DB_READER_USER`: Пользовательская роль, наследует разрешения групповой роли db_reader
          nullable: true
        additionalRoles:
          type: array
          description: |-
            Дополнительные роли пользователя
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/PostgresUserAdditionalRoleRequest'
        accessControlPolicy:
          $ref: '#/components/schemas/PostgresUserAccessControlPolicy'
          description: |-
            - `SCOPE_BASED`: Роли пользователя управляются в зависимости от области видимости роли.
                - роли на конкретные базы данных управляются через API привязок роли;
                - глобальные роли (роли, которые применяются во всех базах данных кластера) управляются через спецификацию пользователя.
                Политика введена для обратной совместимости

    PostgresUserAdditionalRoleRequest:
      type: object
      properties:
        name:
          type: string
          description: '- `DB_MIGRATOR_ROLE`: Дополнительная роль, позволяющая пользователю БД управлять миграцией данных в mpostgres'
          enum:
            - "DB_MIGRATOR_ROLE"
        expiresAt:
          type: string
          description: Дата отзыва дополнительной роли
          format: date-time

    PostgresClusterDatabasePageResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PostgresClusterDatabaseResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    PostgresClusterDatabaseResponse:
      type: object
      description: База данных в Managed PostgreSQL — это логически изолированный набор данных внутри кластера PostgreSQL
      properties:
        kind:
          type: string
          default: mpostgres/v1/databases
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    Ссылка на типизированный референс
                  
                    Строка в формате: "mpostgres/projects/{project}/clusters/{cluster}/databases/{database}"
                  
                    Пример: "mpostgres/projects/myProject/clusters/myCluster/databases/myDatabase"
          nullable: true
        spec:
          $ref: '#/components/schemas/PostgresClusterDatabaseSpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/PostgresClusterDatabaseStatusResponse'
          nullable: true
      required:
        - spec

    PostgresClusterDatabaseSpecResponse:
      type: object
      properties:
        owner:
          type: string
          description: |-
            Имя владельца
          
            Строка в форматах:
              Полный формат:
                - "mpostgres/projects/{project}/clusters/{cluster}/users/{user}"
              Сокращенные форматы:
                - "projects/{project}/clusters/{cluster}/users/{user}"
                - "clusters/{cluster}/users/{user}"
                - "users/{user}"
                - "{user}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "mpostgres/projects/myProject/clusters/myCluster/users/myUser"
              - "projects/myProject/clusters/myCluster/users/myUser"
              - "clusters/myCluster/users/myUser"
              - "users/myUser"
              - "myUser"
        lcCollate:
          type: string
          description: |-
            Порядок сортировки строк
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        lcCtype:
          type: string
          description: |-
            Классификация символов
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        template:
          type: string
          description: |-
            Шаблон для создания базы данных
          
            Строка в форматах:
              Полный формат:
                - "mpostgres/projects/{project}/clusters/{cluster}/databases/{database}"
              Сокращенные форматы:
                - "projects/{project}/clusters/{cluster}/databases/{database}"
                - "clusters/{cluster}/databases/{database}"
                - "databases/{database}"
                - "{database}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "mpostgres/projects/myProject/clusters/myCluster/databases/myDatabase"
              - "projects/myProject/clusters/myCluster/databases/myDatabase"
              - "clusters/myCluster/databases/myDatabase"
              - "databases/myDatabase"
              - "myDatabase"
        deletionProtection:
          type: boolean
          description: Защита от удаления
        extensions:
          type: array
          description: Список расширений
          items:
            $ref: '#/components/schemas/PostgresExtensionSpecResponse'
      required:
        - owner

    PostgresExtensionSpecResponse:
      type: object
      description: Спецификация расширения
      properties:
        name:
          type: string
          description: Имя расширения
      required:
        - name

    PostgresClusterDatabaseStatusResponse:
      $ref: '#/components/schemas/ResourceStatusResponse'

    PostgresClusterDatabaseRequest:
      type: object
      description: База данных в Managed PostgreSQL — это логически изолированный набор данных внутри кластера PostgreSQL
      properties:
        metadata:
          $ref: '#/components/schemas/TypedResourceMetadataRequest'
        spec:
          $ref: '#/components/schemas/PostgresClusterDatabaseSpecRequest'
          description: Обязательно для заполнения при создании ресурса

    PostgresClusterDatabaseSpecRequest:
      type: object
      properties:
        owner:
          type: string
          description: |-
            Имя владельца
          
            Строка в форматах:
              Полный формат:
                - "mpostgres/projects/{project}/clusters/{cluster}/users/{user}"
              Сокращенные форматы:
                - "projects/{project}/clusters/{cluster}/users/{user}"
                - "clusters/{cluster}/users/{user}"
                - "users/{user}"
                - "{user}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "mpostgres/projects/myProject/clusters/myCluster/users/myUser"
              - "projects/myProject/clusters/myCluster/users/myUser"
              - "clusters/myCluster/users/myUser"
              - "users/myUser"
              - "myUser"
        lcCollate:
          type: string
          description: |-
            Порядок сортировки строк
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        lcCtype:
          type: string
          description: |-
            Классификация символов
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        template:
          type: string
          description: |-
            Шаблон для создания базы данных
          
            Строка в форматах:
              Полный формат:
                - "mpostgres/projects/{project}/clusters/{cluster}/databases/{database}"
              Сокращенные форматы:
                - "projects/{project}/clusters/{cluster}/databases/{database}"
                - "clusters/{cluster}/databases/{database}"
                - "databases/{database}"
                - "{database}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "mpostgres/projects/myProject/clusters/myCluster/databases/myDatabase"
              - "projects/myProject/clusters/myCluster/databases/myDatabase"
              - "clusters/myCluster/databases/myDatabase"
              - "databases/myDatabase"
              - "myDatabase"
        deletionProtection:
          type: boolean
          description: Защита от удаления
        extensions:
          type: array
          description: |-
            Список расширений
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/PostgresExtensionSpecRequest'

    PostgresExtensionSpecRequest:
      type: object
      description: Спецификация расширения
      properties:
        name:
          type: string
          description: |-
            Имя расширения
          
            Обязательно для заполнения при создании ресурса

    PostgresBackupPageResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PostgresBackupResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    PostgresBackupResponse:
      type: object
      description: Резервное копирование в Managed PostgreSQL позволяет автоматизировать создание резервных копий кластера и его восстановление. С помощью резервных копий можно восстановить кластер в случае повреждения, потери данных или совершения ошибочных операций
      properties:
        kind:
          type: string
          default: mpostgres/v1/backups
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    Ссылка на типизированный референс
                  
                    Строка в формате: "mpostgres/projects/{project}/clusters/{cluster}/backups/{backup}"
                  
                    Пример: "mpostgres/projects/myProject/clusters/myCluster/backups/myBackup"
          nullable: true
        spec:
          allOf:
[...]
