# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.4.0
  title: Secret Manager
  description: Публичная спецификация сервиса Secret Manager

servers:
  - url: https://secretmanager.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /secretmanager/v1/projects/{project}/secrets:
    get:
      tags:
        - secret
      summary: Получить все секреты
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `spec.active`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `spec.active`
          - `metadata.createTime`
          - `metadata.updateTime`
      operationId: ListSecrets
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /secretmanager/v1/projects/{project}/secrets/{name}:createSecretWithSecretVersion:
    post:
      tags:
        - secret
      summary: Создать секрет с версией секрета
      operationId: CreateSecretWithSecretVersion
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretWithSecretVersionRequest'
      responses:
        "201":
          description: Success created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /secretmanager/v1/projects/{project}/secrets/{name}:
    post:
      tags:
        - secret
      summary: Создать или изменить секрет
      description: |-
        Создать или изменить секрет
      
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertSecret
      parameters:
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_name_10462e60"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretRequest'
      responses:
        "200":
          description: Success updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        "201":
          description: Success created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - secret
      summary: Получить указанный секрет
      operationId: GetSecret
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name_10462e60"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - secret
      summary: Удалить указанный секрет
      operationId: DeleteSecret
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_name_10462e60"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No Content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /secretmanager/v1/projects/{project}/secrets/{name}:addSecretVersion:
    post:
      tags:
        - secretVersion
      summary: Добавить новую версию указанного секрета
      operationId: AddSecretVersion
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name_10462e60"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddSecretVersionRequest'
      responses:
        "201":
          description: Success created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretVersionResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /secretmanager/v1/projects/{project}/secrets/{name}/secretVersions:
    get:
      tags:
        - secretVersion
      summary: Извлечь все версии секрета
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `spec.active`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `spec.active`
          - `metadata.createTime`
          - `metadata.updateTime`
      operationId: ListSecretVersions
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/path_name_10462e60"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretVersionListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /secretmanager/v1/projects/{project}/secrets/{name}/secretVersions/{version}:getData:
    get:
      tags:
        - secretVersion
      summary: Извлечь содержимое секрета указанной версии
      operationId: GetData
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name_10462e60"
        - $ref: "#/components/parameters/path_version"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretVersionDataSpec2'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /secretmanager/v1/projects/{project}/secrets/{name}/secretVersions/{version}:
    post:
      tags:
        - secretVersion
      summary: Изменить версию секрета
      description: |-
        Изменить версию секрета
      
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertSecretVersion
      parameters:
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_name_10462e60"
        - $ref: "#/components/parameters/path_version"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretVersionRequest'
      responses:
        "200":
          description: Success updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretVersionResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - secretVersion
      summary: Получить указанную версию секрета
      operationId: GetSecretVersion
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name_10462e60"
        - $ref: "#/components/parameters/path_version"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretVersionResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - secretVersion
      summary: Удалить указанную версию секрета
      operationId: DeleteSecretVersion
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_name_10462e60"
        - $ref: "#/components/parameters/path_version"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No Content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /secretmanager/v1/projects/{project}/secrets/{name}/secretRoleBindings:
    get:
      tags:
        - secretRoleBinding
      summary: Получить список привязок ролей секрета
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `spec.subject.user.idPath`
          - `spec.subject.serviceAccount.idPath`
          - `spec.subject.systemServiceAccount.idPath`
          - `spec.subject.serviceAgent.idPath`
          - `spec.subject.userFederation.id.idPath`
          - `spec.subject.userFederation.context.subject`
          - `spec.subject.userFederation.context.attribute.name`
          - `spec.subject.userFederation.context.attribute.value`
          - `metadata.id.name`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.createTime`
          - `metadata.updateTime`
      operationId: ListRoleBindings
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name_10462e60"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretRoleBindingListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /secretmanager/v1/projects/{project}/secrets/{name}/secretRoleBindings/{roleBinding}:
    post:
      tags:
        - secretRoleBinding
      summary: Создать или обновить привязку ролей секрета
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertRoleBinding
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name_10462e60"
        - $ref: "#/components/parameters/path_roleBinding"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretRoleBindingRequest'
      responses:
        "200":
          description: Success update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretRoleBindingResponse'
        "201":
          description: Success create
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretRoleBindingResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - secretRoleBinding
      summary: Получить указанную привязку ролей секрета
      operationId: GetRoleBinding
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name_10462e60"
        - $ref: "#/components/parameters/path_roleBinding"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretRoleBindingResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - secretRoleBinding
      summary: Удалить привязку ролей секрета
      operationId: DeleteRoleBinding
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_name_10462e60"
        - $ref: "#/components/parameters/path_roleBinding"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No Content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    SecretListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SecretResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    SecretResponse:
      type: object
      description: Секрет — это текстовая строка, содержащая любую информацию, которую пользователь хочет защитить, например, пароли, токены или ключи API
      properties:
        kind:
          type: string
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/SecretSpecResponse'
        status:
          $ref: '#/components/schemas/SecretStatusResponse'
      required:
        - kind
        - metadata
        - spec
        - status

    CommonTypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        id:
          type: string
          description: |-
            ID свойства
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
        displayName:
          type: string
          description: Отображаемое имя свойства
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса
          format: date-time
        purgeTime:
          type: string
          description: Время удаления ресурса
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/UsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    UsageResponse:
      type: object
      description: Связь ресурса с другим ресурсом. В зависимости от типа связи операции над ресурсом могут быть ограничены
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных `own` и `use` могут быть добавлены специализированные типы для конкретных сервисов
        name:
          type: string
          description: Имя связи. Требуется для модификации коллекции
        resource:
          type: string
          description: Ссылка на ресурс
      required:
        - usageType
        - name
        - resource

    SecretSpecResponse:
      type: object
      properties:
        active:
          type: boolean
          description: Секрет активен/неактивен
          default: true
        currentSecretVersion:
          type: string
          description: |-
            Номер текущей версии секрета
          
            Строка в форматах:
              Полный формат:
                - "secretmanager/projects/{project}/secrets/{secretName}/secretVersions/{version}"
              Сокращенные форматы:
                - "projects/{project}/secrets/{secretName}/secretVersions/{version}"
                - "secrets/{secretName}/secretVersions/{version}"
                - "secretVersions/{version}"
                - "{version}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "secretmanager/projects/myProject/secrets/mySecretName/secretVersions/myVersion"
              - "projects/myProject/secrets/mySecretName/secretVersions/myVersion"
              - "secrets/mySecretName/secretVersions/myVersion"
              - "secretVersions/myVersion"
              - "myVersion"
          nullable: true
        encryption:
          allOf:
            - $ref: '#/components/schemas/EncryptionSpecResponse'
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          nullable: true

    EncryptionSpecResponse:
      type: object
      properties:
        cryptoKeyId:
          type: string
          description: |-
            Пользовательский крипто-ключ.
            Значение устанавливается при создании секрета и не может быть изменено
          
            Строка в форматах:
              Полный формат:
                - "kms/projects/{project}/cryptoKeys/{key}"
              Сокращенные форматы:
                - "projects/{project}/cryptoKeys/{key}"
                - "cryptoKeys/{key}"
                - "{key}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "kms/projects/myProject/cryptoKeys/myKey"
              - "projects/myProject/cryptoKeys/myKey"
              - "cryptoKeys/myKey"
              - "myKey"
      required:
        - cryptoKeyId

    SecretStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            active:
              type: boolean
              description: Секрет активен/неактивен
              default: true
            currentSecretVersion:
              type: string
              description: |-
                Номер текущей версии секрета
              
                Строка в форматах:
                  Полный формат:
                    - "secretmanager/projects/{project}/secrets/{secretName}/secretVersions/{version}"
                  Сокращенные форматы:
                    - "projects/{project}/secrets/{secretName}/secretVersions/{version}"
                    - "secrets/{secretName}/secretVersions/{version}"
                    - "secretVersions/{version}"
                    - "{version}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Примеры:
                  - "secretmanager/projects/myProject/secrets/mySecretName/secretVersions/myVersion"
                  - "projects/myProject/secrets/mySecretName/secretVersions/myVersion"
                  - "secrets/mySecretName/secretVersions/myVersion"
                  - "secretVersions/myVersion"
                  - "myVersion"
          required:
            - active

    ResourceStatusResponse:
      type: object
      description: Текущее состояние ресурса, вычисляемое системой
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    CreateSecretWithSecretVersionRequest:
      type: object
      allOf:
        - $ref: '#/components/schemas/SecretVersionSpecRequest'
        - type: object
          properties:
            encryption:
              allOf:
                - $ref: '#/components/schemas/EncryptionSpecRequest'
              description: |-
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
              nullable: true

    SecretVersionSpecRequest:
      type: object
      properties:
        active:
          type: boolean
          description: Версия секрета активна/неактивна
          default: true
        data:
          $ref: '#/components/schemas/SecretVersionDataSpec'
          description: |-
            Содержимое секрета
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение

    SecretVersionDataSpec:
      type: object
      description: |-
        Содержимое секрета
      
        Значения в объекте содержат чувствительные данные. Ограничьте доступ к ним
      additionalProperties:
        type: string

    EncryptionSpecRequest:
      type: object
      properties:
        cryptoKeyId:
          type: string
          description: |-
            Пользовательский крипто-ключ.
            Значение устанавливается при создании секрета и не может быть изменено
          
            Строка в форматах:
              Полный формат:
                - "kms/projects/{project}/cryptoKeys/{key}"
              Сокращенные форматы:
                - "projects/{project}/cryptoKeys/{key}"
                - "cryptoKeys/{key}"
                - "{key}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "kms/projects/myProject/cryptoKeys/myKey"
              - "projects/myProject/cryptoKeys/myKey"
              - "cryptoKeys/myKey"
              - "myKey"

    SecretRequest:
      type: object
      description: Секрет — это текстовая строка, содержащая любую информацию, которую пользователь хочет защитить, например, пароли, токены или ключи API
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/SecretSpecRequest'
          description: Обязательно для заполнения при создании ресурса

    CommonTypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя свойства
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    SecretSpecRequest:
      type: object
      properties:
        active:
          type: boolean
          description: Секрет активен/неактивен
          default: true
        currentSecretVersion:
          type: string
          description: |-
            Номер текущей версии секрета
          
            Строка в форматах:
              Полный формат:
                - "secretmanager/projects/{project}/secrets/{secretName}/secretVersions/{version}"
              Сокращенные форматы:
                - "projects/{project}/secrets/{secretName}/secretVersions/{version}"
                - "secrets/{secretName}/secretVersions/{version}"
                - "secretVersions/{version}"
                - "{version}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "secretmanager/projects/myProject/secrets/mySecretName/secretVersions/myVersion"
              - "projects/myProject/secrets/mySecretName/secretVersions/myVersion"
              - "secrets/mySecretName/secretVersions/myVersion"
              - "secretVersions/myVersion"
              - "myVersion"
          nullable: true
        encryption:
          allOf:
            - $ref: '#/components/schemas/EncryptionSpecRequest'
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          nullable: true

    AddSecretVersionRequest:
      type: object
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/SecretVersionSpecRequest'
          nullable: true

    SecretVersionResponse:
      type: object
      properties:
        kind:
          type: string
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/SecretVersionSpecResponse'
        status:
          $ref: '#/components/schemas/SecretVersionStatusResponse'
      required:
        - kind
        - metadata
        - spec
        - status

    SecretVersionSpecResponse:
      type: object
      properties:
        active:
          type: boolean
          description: Версия секрета активна/неактивна
          default: true

    SecretVersionStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            active:
              type: boolean
              description: Версия секрета активна/неактивна
              default: true

    SecretVersionListResponse:
      type: object
      properties:
        items:
          type: array
          description: Список версий соответствующего секрета
          items:
            $ref: '#/components/schemas/SecretVersionResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    SecretVersionDataSpec2:
      type: object
      description: Значения в объекте содержат чувствительные данные. Ограничьте доступ к ним
      additionalProperties:
        type: string

    SecretVersionRequest:
      type: object
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/SecretVersionSpecRequest'
          description: Обязательно для заполнения при создании ресурса

    SecretRoleBindingListResponse:
      type: object
      description: Страница списка привязок ролей к секретам
      properties:
        items:
          type: array
          description: Привязки ролей к секретам
          items:
            $ref: '#/components/schemas/SecretRoleBindingResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    SecretRoleBindingResponse:
      type: object
      description: Привязка роли к секрету — это связь субъекта (пользователя, группы пользователей или сервисного аккаунта) и роли, определяющая права субъекта на конкретный секрет
      properties:
        kind:
          type: string
          default: secretmanager/v1/secretRoleBinding
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/CommonRoleBindingSpecResponse'
          description: Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
        status:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingStatusResponse'
          description: Текущее состояние привязки роли, вычисляемое системой
          nullable: true
      required:
        - kind
        - spec

    CommonRoleBindingSpecResponse:
      type: object
      description: Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
      properties:
        subject:
          $ref: '#/components/schemas/CommonRoleBindingSpecSubjectResponse'
          description: Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
        role:
          type: string
          description: |-
            Роль, определяющая права субъекта на ресурс
          
            Строка в форматах:
              Полный формат:
                - "iam/roles/{role}"
              Сокращенные форматы:
                - "roles/{role}"
                - "{role}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/roles/myRole"
              - "roles/myRole"
              - "myRole"
        supportRequestId:
          type: string
          description: |-
            Идентификатор запроса в службу поддержки, в рамках которого был создан биндинг
          
            Строка в форматах:
              Полный формат:
                - "support/requests/{requestName}"
              Сокращенные форматы:
                - "requests/{requestName}"
                - "{requestName}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "support/requests/myRequestName"
              - "requests/myRequestName"
              - "myRequestName"
      required:
        - subject
        - role

    CommonRoleBindingSpecSubjectResponse:
      type: object
      description: Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
      properties:
        user:
          type: string
          description: |-
            Идентификатор пользователя
          
            Строка в форматах:
              Полный формат:
                - "iam/users/{user}"
              Сокращенные форматы:
                - "users/{user}"
                - "{user}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/users/myUser"
              - "users/myUser"
              - "myUser"
        serviceAccount:
          type: string
          description: |-
            Идентификатор сервисного аккаунта, принадлежащего проекту
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAccounts/{serviceAccount}"
              Сокращенные форматы:
                - "projects/{project}/serviceAccounts/{serviceAccount}"
                - "serviceAccounts/{serviceAccount}"
                - "{serviceAccount}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAccounts/myServiceAccount"
              - "projects/myProject/serviceAccounts/myServiceAccount"
              - "serviceAccounts/myServiceAccount"
              - "myServiceAccount"
        serviceAgent:
          type: string
          description: |-
            Идентификатор сервисного агента, связанного с проектом
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAgents/{serviceAgent}"
              Сокращенные форматы:
                - "projects/{project}/serviceAgents/{serviceAgent}"
                - "serviceAgents/{serviceAgent}"
                - "{serviceAgent}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAgents/myServiceAgent"
              - "projects/myProject/serviceAgents/myServiceAgent"
              - "serviceAgents/myServiceAgent"
              - "myServiceAgent"
        userFederation:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationResponse'
          description: Субъект федерации пользователей
          nullable: true
        userGroup:
          type: string
          description: |-
            Идентификатор группы пользователей
          
            Строка в форматах:
              Полный формат:
                - "iam/userGroups/{userGroup}"
              Сокращенные форматы:
                - "userGroups/{userGroup}"
                - "{userGroup}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/userGroups/myUserGroup"
              - "userGroups/myUserGroup"
              - "myUserGroup"
        employee:
          type: string
          description: |-
            Идентификатор пользователя backoffice
          
            Строка в форматах:
              Полный формат:
                - "iam/employees/{employee}"
              Сокращенные форматы:
                - "employees/{employee}"
                - "{employee}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/employees/myEmployee"
              - "employees/myEmployee"
              - "myEmployee"

    CommonRoleBindingFederationResponse:
      type: object
      description: Субъект федерации пользователей — идентификатор федерации и, опционально, контекст, уточняющий, на каких пользователей федерации распространяется привязка роли
      properties:
        id:
          type: string
          description: |-
            Идентификатор федерации
          
            Строка в форматах:
              Полный формат:
                - "iam/organizations/{organization}/userFederations/{userFederation}"
              Сокращенные форматы:
                - "organizations/{organization}/userFederations/{userFederation}"
                - "userFederations/{userFederation}"
                - "{userFederation}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/organizations/myOrganization/userFederations/myUserFederation"
              - "organizations/myOrganization/userFederations/myUserFederation"
              - "userFederations/myUserFederation"
              - "myUserFederation"
        context:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextResponse'
          description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
          nullable: true
      required:
        - id

    CommonRoleBindingFederationContextResponse:
      type: object
      description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
      properties:
        subject:
          type: string
          description: Идентификатор субъекта федерации
        attribute:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextAttributeResponse'
          description: Атрибут пользователя федерации в виде пары «имя — значение»
          nullable: true

    CommonRoleBindingFederationContextAttributeResponse:
      type: object
      description: Атрибут пользователя федерации в виде пары «имя — значение»
      properties:
        name:
          type: string
          description: Имя атрибута
        value:
          type: string
          description: Значение атрибута
      required:
        - name
        - value

    CommonRoleBindingStatusResponse:
      description: Текущее состояние привязки роли, вычисляемое системой
      $ref: '#/components/schemas/ResourceStatusResponse'

    SecretRoleBindingRequest:
      type: object
      description: Привязка роли к секрету — это связь субъекта (пользователя, группы пользователей или сервисного аккаунта) и роли, определяющая права субъекта на конкретный секрет
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/CommonRoleBindingSpecRequest'
          description: |-
            Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
          
            Обязательно для заполнения при создании ресурса

    CommonRoleBindingSpecRequest:
      type: object
      description: Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
      properties:
        subject:
          $ref: '#/components/schemas/CommonRoleBindingSpecSubjectRequest'
          description: |-
            Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
          
            Обязательно для заполнения при создании ресурса
        role:
          type: string
          description: |-
            Роль, определяющая права субъекта на ресурс
          
            Строка в форматах:
              Полный формат:
                - "iam/roles/{role}"
              Сокращенные форматы:
                - "roles/{role}"
                - "{role}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "iam/roles/myRole"
              - "roles/myRole"
              - "myRole"
        supportRequestId:
          type: string
          description: |-
            Идентификатор запроса в службу поддержки, в рамках которого был создан биндинг
          
            Строка в форматах:
              Полный формат:
                - "support/requests/{requestName}"
              Сокращенные форматы:
                - "requests/{requestName}"
                - "{requestName}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "support/requests/myRequestName"
              - "requests/myRequestName"
              - "myRequestName"

    CommonRoleBindingSpecSubjectRequest:
      type: object
      description: Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
      properties:
        user:
          type: string
          description: |-
            Идентификатор пользователя
          
            Строка в форматах:
              Полный формат:
                - "iam/users/{user}"
              Сокращенные форматы:
                - "users/{user}"
                - "{user}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/users/myUser"
              - "users/myUser"
              - "myUser"
        serviceAccount:
          type: string
          description: |-
            Идентификатор сервисного аккаунта, принадлежащего проекту
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAccounts/{serviceAccount}"
              Сокращенные форматы:
                - "projects/{project}/serviceAccounts/{serviceAccount}"
                - "serviceAccounts/{serviceAccount}"
                - "{serviceAccount}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAccounts/myServiceAccount"
              - "projects/myProject/serviceAccounts/myServiceAccount"
              - "serviceAccounts/myServiceAccount"
              - "myServiceAccount"
        serviceAgent:
          type: string
          description: |-
            Идентификатор сервисного агента, связанного с проектом
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAgents/{serviceAgent}"
              Сокращенные форматы:
                - "projects/{project}/serviceAgents/{serviceAgent}"
                - "serviceAgents/{serviceAgent}"
                - "{serviceAgent}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAgents/myServiceAgent"
              - "projects/myProject/serviceAgents/myServiceAgent"
              - "serviceAgents/myServiceAgent"
              - "myServiceAgent"
        userFederation:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationRequest'
          description: Субъект федерации пользователей
          nullable: true
        userGroup:
          type: string
          description: |-
            Идентификатор группы пользователей
          
            Строка в форматах:
              Полный формат:
                - "iam/userGroups/{userGroup}"
              Сокращенные форматы:
                - "userGroups/{userGroup}"
                - "{userGroup}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/userGroups/myUserGroup"
              - "userGroups/myUserGroup"
              - "myUserGroup"
        employee:
          type: string
          description: |-
            Идентификатор пользователя backoffice
          
            Строка в форматах:
              Полный формат:
                - "iam/employees/{employee}"
              Сокращенные форматы:
                - "employees/{employee}"
                - "{employee}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/employees/myEmployee"
              - "employees/myEmployee"
              - "myEmployee"

    CommonRoleBindingFederationRequest:
      type: object
      description: Субъект федерации пользователей — идентификатор федерации и, опционально, контекст, уточняющий, на каких пользователей федерации распространяется привязка роли
      properties:
        id:
          type: string
          description: |-
            Идентификатор федерации
          
            Строка в форматах:
              Полный формат:
                - "iam/organizations/{organization}/userFederations/{userFederation}"
              Сокращенные форматы:
                - "organizations/{organization}/userFederations/{userFederation}"
                - "userFederations/{userFederation}"
                - "{userFederation}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "iam/organizations/myOrganization/userFederations/myUserFederation"
              - "organizations/myOrganization/userFederations/myUserFederation"
              - "userFederations/myUserFederation"
              - "myUserFederation"
        context:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextRequest'
          description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
          nullable: true

    CommonRoleBindingFederationContextRequest:
      type: object
      description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
      properties:
        subject:
          type: string
          description: Идентификатор субъекта федерации
        attribute:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextAttributeRequest'
          description: Атрибут пользователя федерации в виде пары «имя — значение»
          nullable: true

    CommonRoleBindingFederationContextAttributeRequest:
      type: object
      description: Атрибут пользователя федерации в виде пары «имя — значение»
      properties:
        name:
          type: string
          description: |-
            Имя атрибута
          
            Обязательно для заполнения при создании ресурса
        value:
          type: string
          description: |-
            Значение атрибута
          
            Обязательно для заполнения при создании ресурса

    ApiError:
      type: object
      description: Описание ошибки (если HTTP-статус отличен от 2xx)
      properties:
        code:
          type: string
          description: Короткий код ошибки
          enum:
            - "ALREADY_EXISTS"
            - "CANCELLED"
            - "DEADLINE_EXCEEDED"
            - "FAILED_PRECONDITION"
            - "INTERNAL"
            - "INVALID_ARGUMENT"
            - "NOT_FOUND"
            - "PERMISSION_DENIED"
            - "QUOTA_EXCEEDED"
            - "IDEMPOTENCY_KEY_ALREADY_USED"
            - "INVALID_ETAG_KEY"
            - "UNAUTHENTICATED"
            - "UNAVAILABLE"
            - "METHOD_NOT_ALLOWED"
            - "TOO_MANY_REQUESTS"
        type:
          type: string
          description: Подтип расширенной информации по ошибкам к которому удалось его привести. Null если привели к базовому типу
        description:
          type: string
          description: Развёрнутое пояснение ошибки
        retryPolicy:
          allOf:
            - $ref: '#/components/schemas/RetryPolicy'
          description: Правила выполнения повторных попыток в случае ошибки
          nullable: true
        details:
          type: object
          description: |-
            Детальная информация по ошибке в произвольном JSON формате. Содержимое не предназначено для машинной обработки
          
            Примеры:
              - '{"jsonPaths": [{"path": "foo.bar", "reason": "some reason", "offset": "line: 1, column: 2"}]}'
              - '{"errorInfo": "some error info"}'
          additionalProperties: true
      required:
        - code

    RetryPolicy:
      type: object
      description: Правила выполнения повторных попыток в случае ошибки
      properties:
        retryCount:
          type: integer
          description: Максимальное количество повторных попыток. 0 - значение по-умолчанию
        retryTimeout:
          type: string
          description: |-
            Пауза между повторными попытками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        retryTimeoutScale:
          $ref: '#/components/schemas/RetryTimeoutScale'
          description: Шаг увеличения таймаута
        maxRetryTimeout:
          type: string
          description: |-
            Максимальная длительность таймаута
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
      required:
        - retryCount
        - retryTimeout

    RetryTimeoutScale:
      type: string
      description: Шаг увеличения таймаута
      enum:
        - "FIXED"
        - "LINEAR"
        - "PROGRESSIVE"
        - "EXPONENTIAL"

  securitySchemes:
    BearerAuth:
      description: Токен авторизации IAM
      type: apiKey
      in: header
      name: Authorization

  parameters:
    header_Idempotency-Key:
      name: Idempotency-Key
      in: header
      description: Ключ идемпотентности
      style: simple
      schema:
        type: string

    path_name:
      name: name
      in: path
      required: true
      description: Имя секрета
      style: simple
      schema:
        type: string

    path_name_10462e60:
      name: name
      in: path
      required: true
      description: Имя секрета.
      style: simple
      schema:
        type: string

    path_project:
      name: project
      in: path
      required: true
      description: Путь к проекту.
      style: simple
      schema:
        type: string

    path_roleBinding:
      name: roleBinding
      in: path
      required: true
      style: simple
      schema:
        type: string

    path_version:
      name: version
      in: path
      required: true
      description: Версия секрета.
      style: simple
      schema:
        type: string
        pattern: ^(current|\d+)$

    query_createOnly:
      name: createOnly
      in: query
      description: Создать ресурс. Если ресурс уже существует, будет возвращен ответ `AlreadyExists`
      style: form
      explode: true
      schema:
        type: boolean

    query_filter:
      name: filter
      in: query
      description: |-
        Строка фильтра.
        Для фильтрации используется ограниченная реализация AIP-160 (https://google.aip.dev/160).
        Она включает в себя операции =, !=, OR, AND и (), фильтрацию свойств вложенных объектов и wildcard-поиск подстрок
      style: form
      explode: true
      schema:
        type: string

    query_orderBy:
      name: orderBy
      in: query
      description: |-
        Строка сортировки.
        Для сортировки используется реализация AIP-132 (https://google.aip.dev/132#ordering).
        Указывается перечислением полей с направлением сортировки (asc, desc) через запятую.
        По умолчанию используется сортировка по возрастанию (asc)
      style: form
      explode: true
      schema:
        type: string

    query_pageSize:
      name: pageSize
      in: query
      description: Максимальное количество объектов, которые клиент готов принять. Сервис определяет значение по умолчанию и верхнюю границу
      style: form
      explode: true
      schema:
        type: integer

    query_pageToken:
      name: pageToken
      in: query
      description: Строка, из предыдущего ответа на аналогичный запрос, для получения следующей страницы с объектами. Не задано для получения первой страницы
      style: form
      explode: true
      schema:
        type: string

    query_updateOnly:
      name: updateOnly
      in: query
      description: |-
        Обновить ресурс, если он существует. Если ресурс не существует, будет возвращен ответ `Not Found`.
        Если прав на выполнение операции недостаточно, будет возвращен ответ `PermissionDenied`
      style: form
      explode: true
      schema:
        type: boolean

