# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.3.0
  title: Identity and Access Management (IAM)
  description: Публичная спецификация сервиса Identity and Access Management (IAM)

servers:
  - url: https://iam.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /iam/v2/tokens/:issueServiceAccountToken:
    get:
      tags:
        - issueServiceAccountToken
      summary: Выпустить токен для сервисного аккаунта
      operationId: IssueServiceAccountTokenV2
      parameters:
        - $ref: "#/components/parameters/query_serviceAccount"
      security:
        - {}
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessTokenV2Response'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /iam/v1/tokens/:revokeToken:
    post:
      tags:
        - revokeSubjectToken
      summary: Отозвать токен
      operationId: Revoke
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeTokenRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeTokenResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /iam/v1/tokens/:issueSessionToken:
    get:
      tags:
        - issueSessionToken
      summary: Генерирует сессионный токен для использования в storage. Субъект в сессионном токене тот же самый, что в токене доступа (Authorization заголовок)
      operationId: IssueSessionToken
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessSessionTokenResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /iam/v1/projects/{project}/serviceAccounts:
    get:
      tags:
        - serviceAccount
      summary: Получить список сервисных аккаунтов в проекте
      operationId: ListServiceAccount
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccountListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /iam/v1/projects/{project}/serviceAccounts/{serviceAccount}:
    post:
      tags:
        - serviceAccount
      summary: Создать или обновить сервисный аккаунт
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertServiceAccount
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_serviceAccount"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceAccountRequest'
      responses:
        "200":
          description: Успешное обновление
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccountResponse'
        "201":
          description: Успешное создание
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccountResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - serviceAccount
      summary: Получить информацию о сервисном аккаунте
      operationId: GetServiceAccount
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_serviceAccount"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccountResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - serviceAccount
      summary: Удаление сервисного аккаунта
      operationId: DeleteServiceAccount
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_serviceAccount"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Успешное удаление
        default:
          description: Допустимые HTTP-коды ошибок — 400, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /iam/v1/projects/{project}/serviceAccounts/{serviceAccount}/hmacKeys:
    get:
      tags:
        - serviceAccountHmacKey
      summary: Получить список HMAC-ключей для сервисного аккаунта
      operationId: ListHmacKey
      parameters:
        - $ref: "#/components/parameters/path_serviceAccount_7bd0d9ef"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список HMAC-ключей
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HmacKeyListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /iam/v1/projects/{project}/serviceAccounts/{serviceAccount}/hmacKeys/{keyName}:
    post:
      tags:
        - serviceAccountHmacKey
      summary: Создать или обновить HMAC-ключ
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertHmacKey
      parameters:
        - $ref: "#/components/parameters/path_serviceAccount"
        - $ref: "#/components/parameters/path_keyName"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HmacKeyRequest'
      responses:
        "200":
          description: Успешное обновление
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HmacKeyResponse'
        "201":
          description: Успешное создание
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HmacKeyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - serviceAccountHmacKey
      summary: Получить HMAC-ключ
      operationId: GetHmacKey
      parameters:
        - $ref: "#/components/parameters/path_serviceAccount"
        - $ref: "#/components/parameters/path_keyName"
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HmacKeyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - serviceAccountHmacKey
      summary: Удалить HMAC-ключ
      operationId: DeleteHmacKey
      parameters:
        - $ref: "#/components/parameters/path_serviceAccount"
        - $ref: "#/components/parameters/path_keyName"
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Пустой ответ
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /iam/v1/projects/{project}/serviceAccounts/{serviceAccount}/authorizedKeys:
    get:
      tags:
        - authorizedKey
      summary: Получить список авторизованных ключей
      operationId: ListAuthorizedKey
      parameters:
        - $ref: "#/components/parameters/path_serviceAccount"
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizedKeyListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /iam/v2/projects/{project}/serviceAccounts/{serviceAccount}/authorizedKeys/{authorizedKey}:
    post:
      tags:
        - authorizedKey
      summary: Создать или обновить авторизованный ключ
      description: |-
        Самостоятельно сгенерированную пару ключей можно передать в поле spec.publicKey. Если оставить поле spec.publicKey пустым, то будет сгенерирована пару ключей для указанного алгоритма; в этом случае публичный ключ будет возвращен в поле spec.publicKey, а приватный — в поле status.privateKey
      
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertAuthorizedKeyV2
      parameters:
        - $ref: "#/components/parameters/path_serviceAccount"
        - $ref: "#/components/parameters/path_authorizedKey"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizedKeyV2Request'
      responses:
        "200":
          description: Успешное обновление
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizedKeyV2Response'
        "201":
          description: Успешное создание
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizedKeyV2Response'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /iam/v1/projects/{project}/serviceAccounts/{serviceAccount}/authorizedKeys/{authorizedKey}:
    post:
      tags:
        - authorizedKey
      summary: Создать или обновить авторизованный ключ
      description: |-
        Самостоятельно сгенерированную пару ключей можно передать в поле spec.publicKey. Если оставить поле spec.publicKey пустым, то будет сгенерирована пару ключей для указанного алгоритма; в этом случае публичный ключ будет возвращен в поле spec.publicKey, а приватный — в поле status.privateKey
      
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertAuthorizedKey
      parameters:
        - $ref: "#/components/parameters/path_serviceAccount"
        - $ref: "#/components/parameters/path_authorizedKey"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizedKeyRequest'
      responses:
        "200":
          description: Успешное обновление
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizedKeyResponse'
        "201":
          description: Успешное создание
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizedKeyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - authorizedKey
      summary: Получить авторизованный ключ
      operationId: GetAuthorizedKey
      parameters:
        - $ref: "#/components/parameters/path_serviceAccount"
        - $ref: "#/components/parameters/path_authorizedKey"
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizedKeyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - authorizedKey
      summary: Удалить авторизованный ключ
      operationId: DeleteAuthorizedKey
      parameters:
        - $ref: "#/components/parameters/path_serviceAccount"
        - $ref: "#/components/parameters/path_authorizedKey"
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Пустой ответ
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /iam/v1/projects/{project}/serviceAccounts/{serviceAccount}/apiKeys:
    get:
      tags:
        - apiKey
      summary: Получить список API-ключей для сервисного аккаунта
      operationId: ListApiKey
      parameters:
        - $ref: "#/components/parameters/path_serviceAccount_7bd0d9ef"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список API-ключей
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /iam/v1/projects/{project}/serviceAccounts/{serviceAccount}/apiKeys/{apiKey}:
    post:
      tags:
        - apiKey
      summary: Создать или обновить API-ключ
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertApiKey
      parameters:
        - $ref: "#/components/parameters/path_serviceAccount_7bd0d9ef"
        - $ref: "#/components/parameters/path_apiKey"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRequest'
      responses:
        "200":
          description: Информация об API-ключе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        "201":
          description: Информация о созданном API-ключе (включая значение)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - apiKey
      summary: Получить информацию об API-ключе
      operationId: GetApiKey
      parameters:
        - $ref: "#/components/parameters/path_serviceAccount_7bd0d9ef"
        - $ref: "#/components/parameters/path_apiKey"
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Информация об API-ключе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - apiKey
      summary: Удалить API-ключ
      operationId: DeleteApiKey
      parameters:
        - $ref: "#/components/parameters/path_serviceAccount_7bd0d9ef"
        - $ref: "#/components/parameters/path_apiKey"
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Пустой ответ
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    SuccessTokenV2Response:
      type: object
      properties:
        accessToken:
          type: string
          description: Поле содержит чувствительные данные. Ограничьте доступ к ним
        expirationTs:
          type: string
          description: Момент времени, после которого токен перестанет считаться действительным
          format: date-time
      required:
        - accessToken

    RevokeTokenRequest:
      type: object
      description: Запрос для отзыва токена
      properties:
        iamToken:
          type: string
          description: Токен, который отзывается
      required:
        - iamToken

    RevokeTokenResponse:
      type: object
      description: Запрос для отзыва токена
      properties:
        subject:
          type: string
          description: Субъект, у которого отозвали токен
      required:
        - subject

    SuccessSessionTokenResponse:
      type: object
      properties:
        SessionToken:
          type: string
          description: Поле содержит чувствительные данные. Ограничьте доступ к ним
        Expiration:
          type: string
          description: Момент времени, после которого токен и ключ перестанут считаться действительными
          format: date-time
        AccessKeyId:
          type: string
          description: Идентификатор HMAC-ключа, используемого для подписания запросов
        SecretAccessKey:
          type: string
          description: |-
            Ключ, которым клиент будет подписывать запросы
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
        Version:
          type: integer
          description: Версия ключа

    ServiceAccountListResponse:
      type: object
      properties:
        items:
          type: array
          description: Список сервисных аккаунтов для проекта
          items:
            $ref: '#/components/schemas/ServiceAccountResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    ServiceAccountResponse:
      type: object
      description: |-
        Сервисный аккаунт — это специальная учетная запись, создаваемая пользователем
        для вспомогательных целей — чтобы организовать взаимодействие программ и
        сервисов с облачными ресурсами
      properties:
        kind:
          type: string
          default: iam/v1/serviceAccount
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    ID свойства
                  
                    Строка в формате: "servicename/foos/{foo}/bars/{bar}"
                  
                    Пример: "servicename/foos/myFoo/bars/myBar"
                name:
                  type: string
                  description: Обязательное уникальное, глобально или в пределах проекта, имя. Используется в качестве части составного идентификатора объекта
          nullable: true
        spec:
          type: object
        status:
          allOf:
            - $ref: '#/components/schemas/ServiceAccountStatusResponse'
          nullable: true
      required:
        - spec

    TypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя. Необязательное поле, можно свободно задавать и изменять для удобства организации ресурсов
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса (не фактическое время удаления)
          format: date-time
        purgeTime:
          type: string
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи, операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/TypedUsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    TypedUsageResponse:
      type: object
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных own и use могут быть добавлены специализированные типы для конкретных сервисов
        name:
          type: string
          description: Имя связи, требуется для модификации коллекции
        resource:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
      required:
        - usageType
        - name
        - resource

    ServiceAccountStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            lastAuthDateTime:
              type: string
              format: date-time

    ResourceStatusResponse:
      type: object
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    ServiceAccountRequest:
      type: object
      description: |-
        Сервисный аккаунт — это специальная учетная запись, создаваемая пользователем
        для вспомогательных целей — чтобы организовать взаимодействие программ и
        сервисов с облачными ресурсами
      properties:
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataRequest'
            - type: object
              properties:
                name:
                  type: string
                  description: Обязательное уникальное, глобально или в пределах проекта, имя. Используется в качестве части составного идентификатора объекта
          nullable: true
        spec:
          type: object
          description: Обязательно для заполнения при создании ресурса

    TypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя. Необязательное поле, можно свободно задавать и изменять для удобства организации ресурсов
        usages:
          type: array
          description: |-
            Связи с другими ресурсами. В зависимости от типа связи, операции над ресурсом могут быть ограничены
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/TypedUsageRequest'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    TypedUsageRequest:
      type: object
      properties:
        usageType:
          type: string
          description: |-
            Тип связи. Помимо стандартных own и use могут быть добавлены специализированные типы для конкретных сервисов
          
            Обязательно для заполнения при создании ресурса
        name:
          type: string
          description: |-
            Имя связи, требуется для модификации коллекции
          
            Обязательно для заполнения при создании ресурса
        resource:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Обязательно для заполнения при создании ресурса
          
            Пример: "servicename/foos/myFoo/bars/myBar"

    HmacKeyListResponse:
      type: object
      properties:
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
        items:
          type: array
          items:
            $ref: '#/components/schemas/HmacKeyResponse'
      required:
        - items

    HmacKeyResponse:
      type: object
      description: HMAC-ключ (англ. Hash-based Message Authentication Code) — это статический ключ, необходимый для аутентификации сервисного аккаунта в AWS-совместимом API
      properties:
        kind:
          type: string
          default: iam/v1/hmacKey
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    ID свойства
                  
                    Строка в формате: "servicename/foos/{foo}/bars/{bar}"
                  
                    Пример: "servicename/foos/myFoo/bars/myBar"
          nullable: true
        spec:
          $ref: '#/components/schemas/HmacKeySpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/HmacKeyResourceStatusResponse'
          nullable: true
      required:
        - spec

    HmacKeySpecResponse:
      type: object
      properties:
        expirationTime:
          type: string
          description: |-
            Время истечения срока действия ключа
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          format: date-time

    HmacKeyResourceStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            accessKeyId:
              type: string
              description: Идентификатор ключа (readOnly)
            secretAccessKey:
              type: string
              description: |-
                HMAC-ключ (readOnly)
              
                Поле содержит чувствительные данные. Ограничьте доступ к ним
              
                Значение поля будет доступно только один раз в ответе при создании ресурса
            lastAuthTime:
              type: string
              description: Время последней аутентификации
              format: date-time

    HmacKeyRequest:
      type: object
      description: HMAC-ключ (англ. Hash-based Message Authentication Code) — это статический ключ, необходимый для аутентификации сервисного аккаунта в AWS-совместимом API
      properties:
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataRequest'
          nullable: true
        spec:
          $ref: '#/components/schemas/HmacKeySpecRequest'
          description: Обязательно для заполнения при создании ресурса

    HmacKeySpecRequest:
      type: object
      properties:
        expirationTime:
          type: string
          description: |-
            Время истечения срока действия ключа
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          format: date-time

    AuthorizedKeyListResponse:
      type: object
      properties:
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
        items:
          type: array
          items:
            $ref: '#/components/schemas/AuthorizedKeyResponse'
      required:
        - items

    AuthorizedKeyResponse:
      type: object
      properties:
        kind:
          type: string
          default: iam/v1/authorizedKey
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    ID свойства
                  
                    Строка в формате: "servicename/foos/{foo}/bars/{bar}"
                  
                    Пример: "servicename/foos/myFoo/bars/myBar"
          nullable: true
        spec:
          $ref: '#/components/schemas/AuthorizedKeySpecResponse'
          description: Описание спецификация для авторизированных ключей
        status:
          allOf:
            - $ref: '#/components/schemas/AuthorizedKeyStatusResponse'
          nullable: true
      required:
        - spec

    AuthorizedKeySpecResponse:
      type: object
      description: Описание спецификация для авторизированных ключей
      properties:
        publicKey:
          type: string
          description: |-
            Открытый ключ. Если данный параметр в запросе отсутствует, то сервис сам сгенерирует ключ для указанного алгоритма и вернет приватный ключ в поле статуса в ответе
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        keyAlgorithm:
          type: string
          description: |-
            Алгоритм шифрования
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        expirationTime:
          type: string
          description: |-
            Время истечения срока действия ключа
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          format: date-time
        active:
          type: boolean
          description: Флаг активности ключа
          default: true
      required:
        - keyAlgorithm

    AuthorizedKeyStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            privateKey:
              type: string
              description: |-
                Закрытый ключ, сгенерированный на стороне сервиса
              
                Поле содержит чувствительные данные. Ограничьте доступ к ним
              
                Значение поля будет доступно только один раз в ответе при создании ресурса
            privateKeyFile:
              type: string
              description: |-
                Файл с закрытым ключом, сгенерированным на стороне сервиса, в формате base64
              
                Поле содержит чувствительные данные. Ограничьте доступ к ним
              
                Значение поля будет доступно только один раз в ответе при создании ресурса
            publicKey:
              type: string
              description: Открытый ключ, сгенерированный на стороне сервиса
            lastAuthTime:
              type: string
              description: Время последней аутентификации
              format: date-time

    AuthorizedKeyV2Request:
      type: object
      properties:
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataRequest'
          nullable: true
        spec:
          $ref: '#/components/schemas/AuthorizedKeySpecRequest'
          description: |-
            Описание спецификация для авторизированных ключей
          
            Обязательно для заполнения при создании ресурса

    AuthorizedKeySpecRequest:
      type: object
      description: Описание спецификация для авторизированных ключей
      properties:
        publicKey:
          type: string
          description: |-
            Открытый ключ. Если данный параметр в запросе отсутствует, то сервис сам сгенерирует ключ для указанного алгоритма и вернет приватный ключ в поле статуса в ответе
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        keyAlgorithm:
          type: string
          description: |-
            Алгоритм шифрования
          
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        expirationTime:
          type: string
          description: |-
            Время истечения срока действия ключа
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          format: date-time
        active:
          type: boolean
          description: Флаг активности ключа
          default: true

    AuthorizedKeyV2Response:
      type: object
      properties:
        kind:
          type: string
          default: iam/v2/authorizedKey
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    ID свойства
                  
                    Строка в формате: "servicename/foos/{foo}/bars/{bar}"
                  
                    Пример: "servicename/foos/myFoo/bars/myBar"
          nullable: true
        spec:
          $ref: '#/components/schemas/AuthorizedKeySpecResponse'
          description: Описание спецификация для авторизированных ключей
        status:
          allOf:
            - $ref: '#/components/schemas/AuthorizedKeyStatusResponse'
          nullable: true
      required:
        - spec

    AuthorizedKeyRequest:
      type: object
      properties:
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataRequest'
          nullable: true
        spec:
          $ref: '#/components/schemas/AuthorizedKeySpecRequest'
          description: |-
            Описание спецификация для авторизированных ключей
          
            Обязательно для заполнения при создании ресурса

    ApiKeyListResponse:
      type: object
      properties:
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
        items:
          type: array
          items:
            $ref: '#/components/schemas/ApiKeyResponse'
      required:
        - items

    ApiKeyResponse:
      type: object
      description: |-
        API-ключ — это уникальная строка длиной 128 символов, предназначенная для
        упрощенной аутентификации сервисных аккаунтов в тех облачных сервисах, которые
        не поддерживают авторизованные ключи
      properties:
        kind:
          type: string
          default: iam/v1/apiKey
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    ID свойства
                  
                    Строка в формате: "servicename/foos/{foo}/bars/{bar}"
                  
                    Пример: "servicename/foos/myFoo/bars/myBar"
          nullable: true
        spec:
          $ref: '#/components/schemas/ApiKeySpecResponse'
          description: Спецификация API-ключа
        status:
          allOf:
            - $ref: '#/components/schemas/ApiKeyStatusResponse'
          nullable: true
      required:
        - spec

    ApiKeySpecResponse:
      type: object
      description: Спецификация API-ключа
      properties:
        expireTime:
          type: string
          description: |-
            Время истечения срока действия ключа
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          format: date-time

    ApiKeyStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            apiKey:
              type: string
              description: |-
                Сгенерированный API-ключ
              
                Поле содержит чувствительные данные. Ограничьте доступ к ним
              
                Значение поля будет доступно только один раз в ответе при создании ресурса
            lastAuthTime:
              type: string
              description: Время последней аутентификации
              format: date-time

    ApiKeyRequest:
      type: object
      description: |-
        API-ключ — это уникальная строка длиной 128 символов, предназначенная для
        упрощенной аутентификации сервисных аккаунтов в тех облачных сервисах, которые
        не поддерживают авторизованные ключи
      properties:
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataRequest'
          nullable: true
        spec:
          $ref: '#/components/schemas/ApiKeySpecRequest'
          description: |-
            Спецификация API-ключа
          
            Обязательно для заполнения при создании ресурса

    ApiKeySpecRequest:
      type: object
      description: Спецификация API-ключа
      properties:
        expireTime:
          type: string
          description: |-
            Время истечения срока действия ключа
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          format: date-time

    ApiError:
      type: object
      description: Описание ошибки (если HTTP-статус отличен от 2xx)
      properties:
        code:
          type: string
          description: Короткий код ошибки
          enum:
            - "ALREADY_EXISTS"
            - "CANCELLED"
            - "DEADLINE_EXCEEDED"
            - "FAILED_PRECONDITION"
            - "INTERNAL"
            - "INVALID_ARGUMENT"
            - "NOT_FOUND"
            - "PERMISSION_DENIED"
            - "QUOTA_EXCEEDED"
            - "IDEMPOTENCY_KEY_ALREADY_USED"
            - "INVALID_ETAG_KEY"
            - "UNAUTHENTICATED"
            - "UNAVAILABLE"
            - "METHOD_NOT_ALLOWED"
            - "TOO_MANY_REQUESTS"
        type:
          type: string
          description: Подтип расширенной информации по ошибкам к которому удалось его привести. Null если привели к базовому типу
        description:
          type: string
          description: Развёрнутое пояснение ошибки
        retryPolicy:
          allOf:
            - $ref: '#/components/schemas/RetryPolicy'
          description: Правила выполнения повторных попыток в случае ошибки
          nullable: true
        details:
          type: object
          description: |-
            Детальная информация по ошибке в произвольном JSON формате. Содержимое не предназначено для машинной обработки
          
            Примеры:
              - '{"jsonPaths": [{"path": "foo.bar", "reason": "some reason", "offset": "line: 1, column: 2"}]}'
              - '{"errorInfo": "some error info"}'
          additionalProperties: true
      required:
        - code

    RetryPolicy:
      type: object
      description: Правила выполнения повторных попыток в случае ошибки
      properties:
        retryCount:
          type: integer
          description: Максимальное количество повторных попыток. 0 - значение по-умолчанию
        retryTimeout:
          type: string
          description: |-
            Пауза между повторными попытками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        retryTimeoutScale:
          $ref: '#/components/schemas/RetryTimeoutScale'
          description: Шаг увеличения таймаута
        maxRetryTimeout:
          type: string
          description: |-
            Максимальная длительность таймаута
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
      required:
        - retryCount
        - retryTimeout

    RetryTimeoutScale:
      type: string
      description: Шаг увеличения таймаута
      enum:
        - "FIXED"
        - "LINEAR"
        - "PROGRESSIVE"
        - "EXPONENTIAL"

  securitySchemes:
    BearerAuth:
      description: Токен авторизации IAM
      type: apiKey
      in: header
      name: Authorization

  parameters:
    header_Idempotency-Key:
      name: Idempotency-Key
      in: header
      description: Ключ идемпотентности
      style: simple
      schema:
        type: string

    path_apiKey:
      name: apiKey
      in: path
      required: true
      description: Идентификатор API-ключа
      style: simple
      schema:
        type: string

    path_authorizedKey:
      name: authorizedKey
      in: path
      required: true
      style: simple
      schema:
        type: string

    path_keyName:
      name: keyName
      in: path
      required: true
      style: simple
      schema:
        type: string

    path_project:
      name: project
      in: path
      required: true
      description: Путь к проекту
      style: simple
      schema:
        type: string

    path_serviceAccount:
      name: serviceAccount
      in: path
      required: true
      style: simple
      schema:
        type: string

    path_serviceAccount_7bd0d9ef:
      name: serviceAccount
      in: path
      required: true
      description: Идентификатор сервисного аккаунта.
      style: simple
      schema:
        type: string

    query_createOnly:
      name: createOnly
      in: query
      description: Создать ресурс. Если ресурс уже существует, будет возвращен ответ `AlreadyExists`
      style: form
      explode: true
      schema:
        type: boolean

    query_filter:
      name: filter
      in: query
      description: |-
        Строка фильтра.
        Для фильтрации используется ограниченная реализация AIP-160 (https://google.aip.dev/160).
        Она включает в себя операции =, !=, OR, AND и (), фильтрацию свойств вложенных объектов и wildcard-поиск подстрок
      style: form
      explode: true
      schema:
        type: string

    query_orderBy:
      name: orderBy
      in: query
      description: |-
        Строка сортировки.
        Для сортировки используется реализация AIP-132 (https://google.aip.dev/132#ordering).
        Указывается перечислением полей с направлением сортировки (asc, desc) через запятую.
        По умолчанию используется сортировка по возрастанию (asc)
      style: form
      explode: true
      schema:
        type: string

    query_pageSize:
      name: pageSize
      in: query
      description: Максимальное количество объектов, которые клиент готов принять. Сервис определяет значение по умолчанию и верхнюю границу
      style: form
      explode: true
      schema:
        type: integer

    query_pageToken:
      name: pageToken
      in: query
      description: Строка, из предыдущего ответа на аналогичный запрос, для получения следующей страницы с объектами. Не задано для получения первой страницы
      style: form
      explode: true
      schema:
        type: string

    query_serviceAccount:
      name: serviceAccount
      in: query
      style: form
      explode: true
      schema:
        type: string

    query_showDeleted:
      name: showDeleted
      in: query
      description: Вывод удаленных объектов для ресурсов, поддерживающих soft delete
      style: form
      explode: true
      schema:
        type: string

    query_updateOnly:
      name: updateOnly
      in: query
      description: |-
        Обновить ресурс, если он существует. Если ресурс не существует, будет возвращен ответ `Not Found`.
        Если прав на выполнение операции недостаточно, будет возвращен ответ `PermissionDenied`
      style: form
      explode: true
      schema:
        type: boolean

