# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.6.0
  title: Network Load Balancer (NLB)
  description: Публичная спецификация сервиса Network Load Balancer (NLB)

servers:
  - url: https://vpc.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /nlb/v1/projects/{project}/nlbs:
    get:
      tags:
        - nlb
      summary: Получить список глобальных сетевых балансировщиков нагрузки для данного проекта
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `status.ready.state`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `status.ready.state`
      operationId: ListNlbsByProjectId
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNlbsResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /nlb/v1/projects/{project}/networks/{network}/nlbs:
    get:
      tags:
        - nlb
      summary: Получить список сетевых балансировщиков нагрузки
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `status.ready.state`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `status.ready.state`
      operationId: ListNlbsV2
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNlbsResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /nlb/v1/projects/{project}/networks/{network}/nlbs/{nlb}:
    post:
      tags:
        - nlb
      summary: Создать или изменить сетевой балансировщик нагрузки
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertNlbV2
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_nlb"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения сетевого балансировщика нагрузки.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NlbRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NlbResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - nlb
      summary: Получить сетевой балансировщик нагрузки
      operationId: GetNlbV2
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_nlb"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NlbResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - nlb
      summary: Удалить сетевой балансировщик нагрузки
      operationId: DeleteNlbV2
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_network"
        - $ref: "#/components/parameters/path_nlb"
        - $ref: "#/components/parameters/query_validateOnly"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    ListNlbsResponseResponse:
      type: object
      properties:
        items:
          type: array
          description: Сетевые балансировщики нагрузки
          items:
            $ref: '#/components/schemas/NlbResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    NlbResponse:
      type: object
      description: Сетевой балансировщик нагрузки
      properties:
        kind:
          type: string
          default: nlb/v1/nlb
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Метаданные сетевого балансировщик нагрузки
          nullable: true
        spec:
          $ref: '#/components/schemas/NlbSpecResponse'
          description: Спецификация сетевого балансировщик нагрузки
        status:
          allOf:
            - $ref: '#/components/schemas/NlbStatusResponse'
          description: Статус сетевого балансировщик нагрузки
          nullable: true
      required:
        - spec

    CommonTypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        id:
          type: string
          description: |-
            ID свойства
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
        displayName:
          type: string
          description: Отображаемое имя свойства
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса
          format: date-time
        purgeTime:
          type: string
          description: Время удаления ресурса
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/UsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    UsageResponse:
      type: object
      description: Связь ресурса с другим ресурсом. В зависимости от типа связи операции над ресурсом могут быть ограничены
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных `own` и `use` могут быть добавлены специализированные типы для конкретных сервисов
        name:
          type: string
          description: Имя связи. Требуется для модификации коллекции
        resource:
          type: string
          description: Ссылка на ресурс
      required:
        - usageType
        - name
        - resource

    NlbSpecResponse:
      type: object
      description: Спецификация сетевого балансировщика нагрузки
      properties:
        listener:
          $ref: '#/components/schemas/NlbListenerResponse'
          description: |-
            Конфигурация IP-адреса, на котором балансировщик будет принимать запросы
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        rules:
          type: array
          description: Правила балансировки нагрузки. Сочетание протокола и порта (поле protoPort) в каждом правиле должно быть уникальным в рамках одного балансировщика
          items:
            $ref: '#/components/schemas/NlbRuleResponse'
      required:
        - listener
        - rules

    NlbListenerResponse:
      type: object
      description: Конфигурация IP-адреса, на котором балансировщик будет принимать запросы
      properties:
        internal:
          allOf:
            - $ref: '#/components/schemas/NlbListenerInternalResponse'
          description: Конфигурация IP-адреса внутреннего балансировщика
          nullable: true
        external:
          allOf:
            - $ref: '#/components/schemas/NlbListenerExternalResponse'
          description: Конфигурация IP-адреса внутреннего балансировщика
          nullable: true

    NlbListenerInternalResponse:
      type: object
      description: Конфигурация IP-адреса внутреннего балансировщика
      properties:
        address:
          $ref: '#/components/schemas/ResourceAddressSpecOrRefResponse'
          description: Описывает ссылку на внутренний адрес или спецификацию внутреннего адреса как дополнительный ресурс
      required:
        - address

    ResourceAddressSpecOrRefResponse:
      type: object
      description: Описывает ссылку на внутренний адрес или спецификацию внутреннего адреса как дополнительный ресурс
      properties:
        ref:
          type: string
          description: |-
            Относительная ссылка на статический внутренний адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/ResourceAddressSpecResponse'
          description: Спецификация внутреннего адреса
          nullable: true

    ResourceAddressSpecResponse:
      type: object
      description: Описывает спецификацию внутреннего адреса как дополнительный ресурс
      properties:
        subnet:
          type: string
          description: |-
            Подсеть сети, к которой принадлежит адрес. В случае внутреннего адреса, он всегда принадлежит к некоторой подсети внутри сети
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"
        ipAddress:
          type: string
          description: |-
            Значение IP адреса
          
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"
          example: 192.168.1.2
        dns:
          type: array
          description: Спецификация DNS для IP-адреса
          items:
            $ref: '#/components/schemas/VpcAddressDnsSpecResponse'
          nullable: true
      required:
        - subnet

    VpcAddressDnsSpecResponse:
      type: object
      properties:
        name:
          type: string
          description: DNS-имя виртуальной машины в MWS Cloud Platform
          example: vm1dns.dev
        ttl:
          type: string
          description: |-
            Продолжительность хранения DNS записи в кеше
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          example: 60s
        ptr:
          type: boolean
          description: Создать обратную DNS-запись
      required:
        - name
        - ttl
        - ptr

    NlbListenerExternalResponse:
      type: object
      description: Конфигурация адреса внешнего балансировщика
      properties:
        address:
          $ref: '#/components/schemas/ResourceExternalAddressSpecOrRefResponse'
          description: Описывает ссылку на внешний адрес или спецификацию внешнего адреса как дополнительный ресурс
      required:
        - address

    ResourceExternalAddressSpecOrRefResponse:
      type: object
      description: Описывает ссылку на внешний адрес или спецификацию внешнего адреса как дополнительный ресурс
      properties:
        ref:
          type: string
          description: |-
            Относительная ссылка на статический внешний IP-адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/ResourceExternalAddressSpecResponse'
          description: Спецификация внешнего IP-адреса
          nullable: true

    ResourceExternalAddressSpecResponse:
      type: object
      description: Описывает спецификацию внешнего адреса как дополнительный ресурс
      properties:
        natGateway:
          type: string
          description: |-
            Шлюз, к которому относится адрес. Если шлюз не указан, для трансляции IP-адресов используется шлюз по умолчанию для выхода в интернет (ref=natGateways/internet-gateway)
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/natGateways/{natGateway}"
              Сокращенные форматы:
                - "projects/{project}/natGateways/{natGateway}"
                - "natGateways/{natGateway}"
                - "{natGateway}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "vpc/projects/myProject/natGateways/myNatGateway"
              - "projects/myProject/natGateways/myNatGateway"
              - "natGateways/myNatGateway"
              - "myNatGateway"

    NlbRuleResponse:
      type: object
      description: Правило балансировки нагрузки
      properties:
        protoPort:
          type: string
          description: Порт балансировщика и протокол по который клиенты отправляют запросы в рамках этого правила. Поддерживаются протоколы TCP и UDP. В рамках одного балансировщика это поле должно быть уникальным среди всех его правил
          example: tcp:80
        targetPort:
          type: integer
          description: Целевой порт бэкенд-серверов, на которые балансировщик перенаправляет запросы. Если не указан, то считается равным порту балансировщика
          format: int32
          example: 80
          nullable: true
        targetAddressGroups:
          type: array
          description: Адреса бэкенд-серверов, на которые балансировщик направляет запросы
          items:
            $ref: '#/components/schemas/VpcAddressGroupSpecOrRefResponse'
        healthCheck:
          allOf:
            - $ref: '#/components/schemas/NlbHealthCheckResponse'
          description: Настройка проверки работоспособности виртуальных машин
          nullable: true
      required:
        - protoPort
        - targetAddressGroups

    VpcAddressGroupSpecOrRefResponse:
      type: object
      description: Описывает ссылку на группу адресов или спецификацию группы адресов
      properties:
        ref:
          type: string
          description: |-
            Ссылка на группу адресов
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addressGroups/{addressGroup}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addressGroups/{addressGroup}"
                - "networks/{network}/addressGroups/{addressGroup}"
                - "addressGroups/{addressGroup}"
                - "{addressGroup}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addressGroups/myAddressGroup"
              - "projects/myProject/networks/myNetwork/addressGroups/myAddressGroup"
              - "networks/myNetwork/addressGroups/myAddressGroup"
              - "addressGroups/myAddressGroup"
              - "myAddressGroup"
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/VpcAddressGroupSpecResponse'
          description: Спецификация группы адресов
          nullable: true

    VpcAddressGroupSpecResponse:
      type: object
      description: Спецификация группы адресов
      properties:
        region:
          type: string
          description: |-
            Регион, которому принадлежит группа группа IP-адресов
          
            Строка в форматах:
              Полный формат:
                - "rm/regions/{region}"
              Сокращенные форматы:
                - "regions/{region}"
                - "{region}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "rm/regions/myRegion"
              - "regions/myRegion"
              - "myRegion"
        addresses:
          type: array
          description: Спецификации или ссылки на существующие внутренние адреса
          items:
            $ref: '#/components/schemas/ResourceAddressSpecOrRefResponse'
      required:
        - addresses

    NlbHealthCheckResponse:
      type: object
      description: Конфигурация проверки работоспособности виртуальных машин
      properties:
        protocol:
          $ref: '#/components/schemas/NlbHealthCheckProtocolResponse'
          description: Конфигурация протокола проверки работоспособности
        interval:
          type: string
          description: |-
            Интервал между проверками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          example: 60s
        timeout:
          type: string
          description: |-
            Таймаут запроса
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          example: 1s
        unhealthyThreshold:
          type: integer
          description: Количество последовательных проваленных проверок, после которого виртуальная машина считается неработоспособной
          default: 2
        healthyThreshold:
          type: integer
          description: Количество последовательных успешных проверок, после которого виртуальная машина считается работоспособной
          default: 2
      required:
        - protocol
        - timeout

    NlbHealthCheckProtocolResponse:
      type: object
      description: Конфигурация проверки работоспособности виртуальных машин
      properties:
        http:
          allOf:
            - $ref: '#/components/schemas/NlbHealthCheckHttpResponse'
          description: Конфигурация проверки работоспособности по протоколу HTTP
          nullable: true
        https:
          allOf:
            - $ref: '#/components/schemas/NlbHealthCheckHttpsResponse'
          description: Конфигурация проверки работоспособности по протоколу HTTPS
          nullable: true
        tcp:
          allOf:
            - $ref: '#/components/schemas/NlbHealthCheckTcpResponse'
          description: Конфигурация проверки работоспособности по протоколу TCP
          nullable: true

    NlbHealthCheckHttpResponse:
      type: object
      description: Конфигурация проверки работоспособности по протоколу HTTP
      properties:
        port:
          type: integer
          description: Порт виртуальной машины, на который будет отправляться запрос
          example: 80
        path:
          type: string
          description: URL-путь, на который будет отправляться запрос
          example: /healthz
        expectedCode:
          type: integer
          description: Ожидаемый HTTP-код ответа
          default: 200
      required:
        - port
        - path

    NlbHealthCheckHttpsResponse:
      type: object
      description: Конфигурация проверки работоспособности по протоколу HTTPS
      properties:
        port:
          type: integer
          description: Порт виртуальной машины, на который будет отправляться запрос
          example: 80
        path:
          type: string
          description: URL-путь, на который будет отправляться запрос
          example: /healthz
        expectedCode:
          type: integer
          description: Ожидаемый HTTP-код ответа
          default: 200
      required:
        - port
        - path

    NlbHealthCheckTcpResponse:
      type: object
      description: Конфигурация проверки работоспособности по протоколу TCP
      properties:
        port:
          type: integer
          description: Порт виртуальной машины, на который будет отправляться запрос
      required:
        - port

    NlbStatusResponse:
      type: object
      description: Статус сетевого балансировщик нагрузки
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            listener:
              allOf:
                - $ref: '#/components/schemas/NlbStatusListenerResponse'
              description: Группирующий элемент для статуса адресов внешнего и внутреннего балансировщика
              nullable: true
            targetAddressGroups:
              allOf:
                - $ref: '#/components/schemas/NlbTargetAddressGroupsStatusResponse'
              description: Группирующий элемент для статуса групп адресов балансировщика
              nullable: true
            rules:
              type: array
              description: Правила балансировки нагрузки
              items:
                $ref: '#/components/schemas/NlbStatusRuleResponse'
            active:
              type: boolean
              description: 'Состояние NLB: активен или не активен'
            region:
              type: string
              description: |-
                Регион, которому принадлежит балансировщик сетевой нагрузки
              
                Строка в формате: "rm/regions/{region}"
              
                Пример: "rm/regions/myRegion"

    ResourceStatusResponse:
      type: object
      description: Текущее состояние ресурса, вычисляемое системой
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
          example: Success operation
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    NlbStatusListenerResponse:
      type: object
      description: Группирующий элемент для статуса адресов внешнего и внутреннего балансировщика
      properties:
        internal:
          allOf:
            - $ref: '#/components/schemas/NlbStatusListenerInternalResponse'
          description: Статус IP-адреса внутреннего балансировщика
          nullable: true
        external:
          allOf:
            - $ref: '#/components/schemas/NlbStatusListenerExternalResponse'
          description: Статус IP-адреса внешнего балансировщика
          nullable: true

    NlbStatusListenerInternalResponse:
      type: object
      description: Описывает статус адреса внутреннего балансировщика
      properties:
        address:
          $ref: '#/components/schemas/ResourceAddressStatusResponse'
          description: Статус IP-адреса внутреннего балансировщика
      required:
        - address

    ResourceAddressStatusResponse:
      type: object
      description: Описывает статус внутреннего адреса как дополнительный ресурс
      properties:
        ref:
          type: string
          description: |-
            Относительная ссылка на статический адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
        ipAddress:
          type: string
          description: |-
            Значение IP адреса
          
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"
          example: 192.168.1.2
      required:
        - ref
        - ipAddress

    NlbStatusListenerExternalResponse:
      type: object
      description: Описывает статус адреса внешнего балансировщика
      properties:
        address:
          $ref: '#/components/schemas/ResourceExternalAddressStatusResponse'
          description: Статус IP-адреса внешнего балансировщика
      required:
        - address

    ResourceExternalAddressStatusResponse:
      type: object
      description: Описывает статус внешнего адреса как дополнительный ресурс
      properties:
        ref:
          type: string
          description: |-
            Относительная ссылка на статический адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
        ipAddress:
          type: string
          description: |-
            Значение IP адреса
          
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"
          example: 203.0.13.17
      required:
        - ref
        - ipAddress

    NlbTargetAddressGroupsStatusResponse:
      type: object
      description: Группирующий элемент для статуса групп адресов балансировщика
      properties:
        preparing:
          type: array
          description: Статус групп адресов, подключенных к внутреннему балансировщику
          items:
            $ref: '#/components/schemas/NlbAddressGroupStatusResponse'
        configured:
          type: array
          description: Группы адресов, подключенные к балансировщику
          items:
            $ref: '#/components/schemas/NlbAddressGroupStatusResponse'
        stale:
          type: array
          description: Группы адресов, которые были отключены от балансировщика
          items:
            $ref: '#/components/schemas/NlbAddressGroupStatusResponse'
      required:
        - preparing
        - configured
        - stale

    NlbAddressGroupStatusResponse:
      type: object
      description: Статус группы адресов балансировщика
      properties:
        ref:
          type: string
          description: |-
            Ссылка на группу адресов
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addressGroups/{addressGroup}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addressGroups/{addressGroup}"
                - "networks/{network}/addressGroups/{addressGroup}"
                - "addressGroups/{addressGroup}"
                - "{addressGroup}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addressGroups/myAddressGroup"
              - "projects/myProject/networks/myNetwork/addressGroups/myAddressGroup"
              - "networks/myNetwork/addressGroups/myAddressGroup"
              - "addressGroups/myAddressGroup"
              - "myAddressGroup"
      required:
        - ref

    NlbStatusRuleResponse:
      type: object
      description: Правило балансировки нагрузки
      properties:
        protoPort:
          type: string
          description: Порт балансировщика и протокол по который клиенты отправляют запросы в рамках этого правила. Поддерживаются протоколы TCP и UDP. В рамках одного балансировщика это поле должно быть уникальным среди всех его правил
          example: tcp:80
        targetPort:
          type: integer
          description: Целевой порт бэкенд-серверов, на которые балансировщик перенаправляет запросы. Если не указан, то считается равным порту балансировщика
          format: int32
          example: 80
        targetAddressGroups:
          type: array
          description: Адреса бэкенд-серверов, на которые балансировщик направляет запросы
          items:
            $ref: '#/components/schemas/VpcAddressGroupSpecOrRefResponse'
        targetStatuses:
          type: array
          description: Статусы виртуальных машин, подключенных к сетевому балансировщику нагрузки
          items:
            $ref: '#/components/schemas/NlbStatusRealStatusResponse'
        healthCheck:
          allOf:
            - $ref: '#/components/schemas/NlbStatusHealthCheckResponse'
          description: Настройка проверки работоспособности виртуальных машин
          nullable: true
      required:
        - protoPort
        - targetAddressGroups

    NlbStatusRealStatusResponse:
      type: object
      description: Статус виртуальной машины, подключенной к сетевому балансировщику нагрузки
      properties:
        address:
          type: string
          description: |-
            Cсылка на IP-адрес виртуальной машины
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
        state:
          type: string
          description: Состояние виртуальной машины
          enum:
            - "OK"
            - "PROCESSING"
            - "FAILED"
      required:
        - address
        - state

    NlbStatusHealthCheckResponse:
      type: object
      description: Конфигурация проверки работоспособности виртуальных машин
      properties:
        protocol:
          $ref: '#/components/schemas/NlbStatusHealthCheckProtocolResponse'
          description: Конфигурация протокола проверки работоспособности
        interval:
          type: string
          description: |-
            Интервал между проверками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          example: 60s
        timeout:
          type: string
          description: |-
            Таймаут запроса
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          example: 1s
        unhealthyThreshold:
          type: integer
          description: Количество последовательных проваленных проверок, после которого виртуальная машина считается неработоспособной
        healthyThreshold:
          type: integer
          description: Количество последовательных успешных проверок, после которого виртуальная машина считается работоспособной
      required:
        - protocol
        - interval
        - timeout
        - unhealthyThreshold
        - healthyThreshold

    NlbStatusHealthCheckProtocolResponse:
      type: object
      description: Конфигурация проверки работоспособности виртуальных машин
      properties:
        http:
          allOf:
            - $ref: '#/components/schemas/NlbStatusHealthCheckHttpResponse'
          description: Конфигурация проверки работоспособности по протоколу HTTP
          nullable: true
        https:
          allOf:
            - $ref: '#/components/schemas/NlbStatusHealthCheckHttpsResponse'
          description: Конфигурация проверки работоспособности по протоколу HTTPS
          nullable: true
        tcp:
          allOf:
            - $ref: '#/components/schemas/NlbStatusHealthCheckTcpResponse'
          description: Конфигурация проверки работоспособности по протоколу TCP
          nullable: true

    NlbStatusHealthCheckHttpResponse:
      type: object
      description: Конфигурация проверки работоспособности по протоколу HTTP
      properties:
        port:
          type: integer
          description: Порт виртуальной машины, на который будет отправляться запрос
          example: 80
        path:
          type: string
          description: URL-путь, на который будет отправляться запрос
          example: /healthz
        expectedCode:
          type: integer
          description: Ожидаемый HTTP-код ответа
      required:
        - port
        - path
        - expectedCode

    NlbStatusHealthCheckHttpsResponse:
      type: object
      description: Конфигурация проверки работоспособности по протоколу HTTPS
      properties:
        port:
          type: integer
          description: Порт виртуальной машины, на который будет отправляться запрос
          example: 80
        path:
          type: string
          description: URL-путь, на который будет отправляться запрос
          example: /healthz
        expectedCode:
          type: integer
          description: Ожидаемый HTTP-код ответа
      required:
        - port
        - path
        - expectedCode

    NlbStatusHealthCheckTcpResponse:
      type: object
      description: Конфигурация проверки работоспособности по протоколу TCP
      properties:
        port:
          type: integer
          description: Порт виртуальной машины, на который будет отправляться запрос
      required:
        - port

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    NlbRequest:
      type: object
      description: Сетевой балансировщик нагрузки
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Метаданные сетевого балансировщик нагрузки
          nullable: true
        spec:
          $ref: '#/components/schemas/NlbSpecRequest'
          description: |-
            Спецификация сетевого балансировщик нагрузки
          
            Обязательно для заполнения при создании ресурса

    CommonTypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя свойства
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    NlbSpecRequest:
      type: object
      description: Спецификация сетевого балансировщика нагрузки
      properties:
        listener:
          $ref: '#/components/schemas/NlbListenerRequest'
          description: |-
            Конфигурация IP-адреса, на котором балансировщик будет принимать запросы
          
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        rules:
          type: array
          description: |-
            Правила балансировки нагрузки. Сочетание протокола и порта (поле protoPort) в каждом правиле должно быть уникальным в рамках одного балансировщика
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/NlbRuleRequest'

    NlbListenerRequest:
      type: object
      description: Конфигурация IP-адреса, на котором балансировщик будет принимать запросы
      properties:
        internal:
          allOf:
            - $ref: '#/components/schemas/NlbListenerInternalRequest'
          description: Конфигурация IP-адреса внутреннего балансировщика
          nullable: true
        external:
          allOf:
            - $ref: '#/components/schemas/NlbListenerExternalRequest'
          description: Конфигурация IP-адреса внутреннего балансировщика
          nullable: true

    NlbListenerInternalRequest:
      type: object
      description: Конфигурация IP-адреса внутреннего балансировщика
      properties:
        address:
          $ref: '#/components/schemas/ResourceAddressSpecOrRefRequest'
          description: |-
            Описывает ссылку на внутренний адрес или спецификацию внутреннего адреса как дополнительный ресурс
          
            Обязательно для заполнения при создании ресурса

    ResourceAddressSpecOrRefRequest:
      type: object
      description: Описывает ссылку на внутренний адрес или спецификацию внутреннего адреса как дополнительный ресурс
      properties:
        ref:
          type: string
          description: |-
            Относительная ссылка на статический внутренний адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/ResourceAddressSpecRequest'
          description: Спецификация внутреннего адреса
          nullable: true

    ResourceAddressSpecRequest:
      type: object
      description: Описывает спецификацию внутреннего адреса как дополнительный ресурс
      properties:
        subnet:
          type: string
          description: |-
            Подсеть сети, к которой принадлежит адрес. В случае внутреннего адреса, он всегда принадлежит к некоторой подсети внутри сети
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"
        ipAddress:
          type: string
          description: |-
            Значение IP адреса
          
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"
          example: 192.168.1.2
        dns:
          type: array
          description: |-
            Спецификация DNS для IP-адреса
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/VpcAddressDnsSpecRequest'
          nullable: true

    VpcAddressDnsSpecRequest:
      type: object
      properties:
        name:
          type: string
          description: |-
            DNS-имя виртуальной машины в MWS Cloud Platform
          
            Обязательно для заполнения при создании ресурса
          example: vm1dns.dev
        ttl:
          type: string
          description: |-
            Продолжительность хранения DNS записи в кеше
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          example: 60s
        ptr:
          type: boolean
          description: |-
            Создать обратную DNS-запись
          
            Обязательно для заполнения при создании ресурса

    NlbListenerExternalRequest:
      type: object
      description: Конфигурация адреса внешнего балансировщика
      properties:
        address:
          $ref: '#/components/schemas/ResourceExternalAddressSpecOrRefRequest'
          description: |-
            Описывает ссылку на внешний адрес или спецификацию внешнего адреса как дополнительный ресурс
          
            Обязательно для заполнения при создании ресурса

    ResourceExternalAddressSpecOrRefRequest:
      type: object
      description: Описывает ссылку на внешний адрес или спецификацию внешнего адреса как дополнительный ресурс
      properties:
        ref:
          type: string
          description: |-
            Относительная ссылка на статический внешний IP-адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/ResourceExternalAddressSpecRequest'
          description: Спецификация внешнего IP-адреса
          nullable: true

    ResourceExternalAddressSpecRequest:
      type: object
      description: Описывает спецификацию внешнего адреса как дополнительный ресурс
      properties:
        natGateway:
          type: string
          description: |-
            Шлюз, к которому относится адрес. Если шлюз не указан, для трансляции IP-адресов используется шлюз по умолчанию для выхода в интернет (ref=natGateways/internet-gateway)
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/natGateways/{natGateway}"
              Сокращенные форматы:
                - "projects/{project}/natGateways/{natGateway}"
                - "natGateways/{natGateway}"
                - "{natGateway}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "vpc/projects/myProject/natGateways/myNatGateway"
              - "projects/myProject/natGateways/myNatGateway"
              - "natGateways/myNatGateway"
              - "myNatGateway"

    NlbRuleRequest:
      type: object
      description: Правило балансировки нагрузки
      properties:
        protoPort:
          type: string
          description: |-
            Порт балансировщика и протокол по который клиенты отправляют запросы в рамках этого правила. Поддерживаются протоколы TCP и UDP. В рамках одного балансировщика это поле должно быть уникальным среди всех его правил
          
            Обязательно для заполнения при создании ресурса
          example: tcp:80
        targetPort:
          type: integer
          description: Целевой порт бэкенд-серверов, на которые балансировщик перенаправляет запросы. Если не указан, то считается равным порту балансировщика
          format: int32
          example: 80
          nullable: true
        targetAddressGroups:
          type: array
          description: |-
            Адреса бэкенд-серверов, на которые балансировщик направляет запросы
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/VpcAddressGroupSpecOrRefRequest'
        healthCheck:
          allOf:
            - $ref: '#/components/schemas/NlbHealthCheckRequest'
          description: Настройка проверки работоспособности виртуальных машин
          nullable: true

    VpcAddressGroupSpecOrRefRequest:
      type: object
      description: Описывает ссылку на группу адресов или спецификацию группы адресов
      properties:
        ref:
          type: string
          description: |-
            Ссылка на группу адресов
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addressGroups/{addressGroup}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addressGroups/{addressGroup}"
                - "networks/{network}/addressGroups/{addressGroup}"
                - "addressGroups/{addressGroup}"
                - "{addressGroup}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addressGroups/myAddressGroup"
              - "projects/myProject/networks/myNetwork/addressGroups/myAddressGroup"
              - "networks/myNetwork/addressGroups/myAddressGroup"
              - "addressGroups/myAddressGroup"
              - "myAddressGroup"
          nullable: true
        spec:
          allOf:
            - $ref: '#/components/schemas/VpcAddressGroupSpecRequest'
          description: Спецификация группы адресов
          nullable: true

    VpcAddressGroupSpecRequest:
      type: object
      description: Спецификация группы адресов
      properties:
        region:
          type: string
          description: |-
            Регион, которому принадлежит группа группа IP-адресов
          
            Строка в форматах:
              Полный формат:
                - "rm/regions/{region}"
              Сокращенные форматы:
                - "regions/{region}"
                - "{region}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "rm/regions/myRegion"
              - "regions/myRegion"
              - "myRegion"
        addresses:
          type: array
          description: |-
            Спецификации или ссылки на существующие внутренние адреса
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/ResourceAddressSpecOrRefRequest'

    NlbHealthCheckRequest:
      type: object
      description: Конфигурация проверки работоспособности виртуальных машин
      properties:
        protocol:
          $ref: '#/components/schemas/NlbHealthCheckProtocolRequest'
          description: |-
            Конфигурация протокола проверки работоспособности
          
            Обязательно для заполнения при создании ресурса
        interval:
          type: string
          description: |-
            Интервал между проверками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          example: 60s
        timeout:
          type: string
          description: |-
            Таймаут запроса
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          example: 1s
        unhealthyThreshold:
          type: integer
          description: Количество последовательных проваленных проверок, после которого виртуальная машина считается неработоспособной
          default: 2
        healthyThreshold:
          type: integer
          description: Количество последовательных успешных проверок, после которого виртуальная машина считается работоспособной
          default: 2

    NlbHealthCheckProtocolRequest:
      type: object
      description: Конфигурация проверки работоспособности виртуальных машин
      properties:
        http:
          allOf:
            - $ref: '#/components/schemas/NlbHealthCheckHttpRequest'
          description: Конфигурация проверки работоспособности по протоколу HTTP
          nullable: true
        https:
          allOf:
            - $ref: '#/components/schemas/NlbHealthCheckHttpsRequest'
          description: Конфигурация проверки работоспособности по протоколу HTTPS
          nullable: true
        tcp:
          allOf:
            - $ref: '#/components/schemas/NlbHealthCheckTcpRequest'
          description: Конфигурация проверки работоспособности по протоколу TCP
          nullable: true

    NlbHealthCheckHttpRequest:
      type: object
      description: Конфигурация проверки работоспособности по протоколу HTTP
      properties:
        port:
          type: integer
          description: |-
            Порт виртуальной машины, на который будет отправляться запрос
          
            Обязательно для заполнения при создании ресурса
          example: 80
        path:
          type: string
          description: |-
            URL-путь, на который будет отправляться запрос
          
            Обязательно для заполнения при создании ресурса
          example: /healthz
        expectedCode:
          type: integer
          description: Ожидаемый HTTP-код ответа
          default: 200

    NlbHealthCheckHttpsRequest:
      type: object
      description: Конфигурация проверки работоспособности по протоколу HTTPS
      properties:
        port:
          type: integer
          description: |-
            Порт виртуальной машины, на который будет отправляться запрос
          
            Обязательно для заполнения при создании ресурса
          example: 80
        path:
          type: string
          description: |-
            URL-путь, на который будет отправляться запрос
          
            Обязательно для заполнения при создании ресурса
          example: /healthz
        expectedCode:
          type: integer
          description: Ожидаемый HTTP-код ответа
          default: 200

    NlbHealthCheckTcpRequest:
      type: object
      description: Конфигурация проверки работоспособности по протоколу TCP
      properties:
        port:
          type: integer
          description: |-
            Порт виртуальной машины, на который будет отправляться запрос
          
            Обязательно для заполнения при создании ресурса

    ApiError:
      type: object
      description: Описание ошибки (если HTTP-статус отличен от 2xx)
      properties:
        code:
          type: string
          description: Короткий код ошибки
          enum:
            - "ALREADY_EXISTS"
            - "CANCELLED"
            - "DEADLINE_EXCEEDED"
            - "FAILED_PRECONDITION"
            - "INTERNAL"
            - "INVALID_ARGUMENT"
            - "NOT_FOUND"
            - "PERMISSION_DENIED"
            - "QUOTA_EXCEEDED"
            - "IDEMPOTENCY_KEY_ALREADY_USED"
            - "INVALID_ETAG_KEY"
            - "UNAUTHENTICATED"
            - "UNAVAILABLE"
            - "METHOD_NOT_ALLOWED"
            - "TOO_MANY_REQUESTS"
        type:
          type: string
          description: Подтип расширенной информации по ошибкам к которому удалось его привести. Null если привели к базовому типу
        description:
          type: string
          description: Развёрнутое пояснение ошибки
        retryPolicy:
          allOf:
            - $ref: '#/components/schemas/RetryPolicy'
          description: Правила выполнения повторных попыток в случае ошибки
          nullable: true
        details:
          type: object
          description: |-
            Детальная информация по ошибке в произвольном JSON формате. Содержимое не предназначено для машинной обработки
          
            Примеры:
              - '{"jsonPaths": [{"path": "foo.bar", "reason": "some reason", "offset": "line: 1, column: 2"}]}'
              - '{"errorInfo": "some error info"}'
          additionalProperties: true
      required:
        - code

    RetryPolicy:
      type: object
      description: Правила выполнения повторных попыток в случае ошибки
      properties:
        retryCount:
          type: integer
          description: Максимальное количество повторных попыток. 0 - значение по-умолчанию
        retryTimeout:
          type: string
          description: |-
            Пауза между повторными попытками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        retryTimeoutScale:
          $ref: '#/components/schemas/RetryTimeoutScale'
          description: Шаг увеличения таймаута
        maxRetryTimeout:
          type: string
          description: |-
            Максимальная длительность таймаута
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
      required:
        - retryCount
        - retryTimeout

    RetryTimeoutScale:
      type: string
      description: Шаг увеличения таймаута
      enum:
        - "FIXED"
        - "LINEAR"
        - "PROGRESSIVE"
        - "EXPONENTIAL"

  securitySchemes:
    BearerAuth:
      description: Токен авторизации IAM
      type: apiKey
      in: header
      name: Authorization

  parameters:
    header_Idempotency-Key:
      name: Idempotency-Key
      in: header
      description: Ключ идемпотентности
      style: simple
      schema:
        type: string

    path_network:
      name: network
      in: path
      required: true
      description: Имя сети
      style: simple
      schema:
        type: string
        pattern: ^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$

    path_nlb:
      name: nlb
      in: path
      required: true
      description: Имя сетевого балансировщика нагрузки
      style: simple
      schema:
        type: string
        pattern: ^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$

    path_project:
      name: project
      in: path
      required: true
      description: Путь к проекту.
      style: simple
      schema:
        type: string

    query_createOnly:
      name: createOnly
      in: query
      description: Создать ресурс. Если ресурс уже существует, будет возвращен ответ `AlreadyExists`
      style: form
      explode: true
      schema:
        type: boolean

    query_filter:
      name: filter
      in: query
      description: |-
        Строка фильтра.
        Для фильтрации используется ограниченная реализация AIP-160 (https://google.aip.dev/160).
        Она включает в себя операции =, !=, OR, AND и (), фильтрацию свойств вложенных объектов и wildcard-поиск подстрок
      style: form
      explode: true
      schema:
        type: string

    query_orderBy:
      name: orderBy
      in: query
      description: |-
        Строка сортировки.
        Для сортировки используется реализация AIP-132 (https://google.aip.dev/132#ordering).
        Указывается перечислением полей с направлением сортировки (asc, desc) через запятую.
        По умолчанию используется сортировка по возрастанию (asc)
      style: form
      explode: true
      schema:
        type: string

    query_pageSize:
      name: pageSize
      in: query
      description: Максимальное количество объектов, которые клиент готов принять. Сервис определяет значение по умолчанию и верхнюю границу
      style: form
      explode: true
      schema:
        type: integer

    query_pageToken:
      name: pageToken
      in: query
      description: Строка, из предыдущего ответа на аналогичный запрос, для получения следующей страницы с объектами. Не задано для получения первой страницы
      style: form
      explode: true
      schema:
        type: string

    query_updateOnly:
      name: updateOnly
      in: query
      description: |-
        Обновить ресурс, если он существует. Если ресурс не существует, будет возвращен ответ `Not Found`.
        Если прав на выполнение операции недостаточно, будет возвращен ответ `PermissionDenied`
      style: form
      explode: true
      schema:
        type: boolean

    query_validateOnly:
      name: validateOnly
      in: query
      description: Dry run позволяет выполнить все проверки для выполнения операции, но не выполнять саму операцию.
      style: form
      explode: true
      schema:
        type: boolean

