# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.4.0
  title: Managed Kafka
  description: Публичная спецификация сервиса Managed Kafka

servers:
  - url: https://mkafka.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /mkafka/v1/projects/{project}/clusters:
    get:
      tags:
        - kafka
      summary: List Kafka clusters
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.cluster`
          - `metadata.displayName`
          - `status.region.region`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.cluster`
          - `metadata.displayName`
          - `metadata.createTime`
          - `metadata.updateTime`
          - `spec.version`
          - `spec.active`
          - `status.state`
          - `status.ready.state`
          - `status.region.region`
      operationId: ListKafkaClusters
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaClusterPageResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mkafka/v1/projects/{project}/clusters/{cluster}:stop:
    post:
      tags:
        - kafka
      summary: Request stopping Kafka cluster
      operationId: StopCluster
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mkafka/v1/projects/{project}/clusters/{cluster}:start:
    post:
      tags:
        - kafka
      summary: Request starting Kafka cluster
      operationId: StartCluster
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mkafka/v1/projects/{project}/clusters/{cluster}:
    post:
      tags:
        - kafka
      summary: Upsert Kafka cluster
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertKafkaCluster
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Update Kafka cluster
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KafkaClusterRequest'
      responses:
        "200":
          description: Kafka cluster has been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - kafka
      summary: Get kafka cluster
      description: Returns info about the specified cluster
      operationId: GetKafkaCluster
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaClusterResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - kafka
      summary: Delete Kafka cluster
      operationId: DeleteKafkaCluster
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/query_purge"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mkafka/v1/projects/{project}/clusters/{cluster}/users:
    get:
      tags:
        - kafkaUser
      summary: List Kafka users
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.user`
          - `spec.roles.name`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.user`
          - `status.ready.state`
      operationId: ListKafkaUsers
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaUserPageResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mkafka/v1/projects/{project}/clusters/{cluster}/users/{user}:
    post:
      tags:
        - kafkaUser
      summary: Upsert Kafka cluster user
      description: |-
        Creates or updates the cluster user
      
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertKafkaUser
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_user"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Update Kafka cluster user
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KafkaUserRequest'
      responses:
        "200":
          description: Kafka user has been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaUserResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - kafkaUser
      summary: Get Kafka cluster user
      description: Returns info about the specified user
      operationId: GetKafkaUser
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_user"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaUserResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - kafkaUser
      summary: Delete Kafka user
      description: Deletes the specified user
      operationId: DeleteKafkaUser
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_user"
        - $ref: "#/components/parameters/query_purge"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mkafka/v1/projects/{project}/clusters/{cluster}/topics:
    get:
      tags:
        - topic
      summary: List Kafka topics
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.topic`
          - `metadata.displayName`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.topic`
          - `metadata.displayName`
          - `metadata.createTime`
      operationId: ListKafkaTopics
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaTopicPageResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /mkafka/v1/projects/{project}/clusters/{cluster}/topics/{topic}:
    post:
      tags:
        - topic
      summary: Upsert Kafka topic
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertKafkaTopic
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_topic"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/query_createOnly"
      security:
        - BearerAuth: []
      requestBody:
        description: Create/Update Kafka topic
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KafkaTopicRequest'
      responses:
        "200":
          description: Kafka topic has been created/updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaTopicResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - topic
      summary: Get kafka topic
      description: Returns info about the specified Kafka topic
      operationId: GetKafkaTopic
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_topic"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaTopicResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - topic
      summary: Delete Kafka topic
      operationId: DeleteKafkaTopic
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_cluster"
        - $ref: "#/components/parameters/path_topic"
        - $ref: "#/components/parameters/query_purge"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    KafkaClusterPageResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/KafkaClusterResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    KafkaClusterResponse:
      type: object
      description: |-
        Кластер Managed Kafka — это группа узлов (брокеров), объединенных для приема,
        хранения и передачи потоков данных с помощью Apache Kafka. В облачной
        инфраструктуре кластер — единый интерфейс для управления потоками данных в
        реальном времени
      properties:
        kind:
          type: string
          default: mkafka/v1/streaming/kafka
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    Ссылка на типизированный референс
                  
                    Строка в формате: "mkafka/projects/{project}/clusters/{cluster}"
                  
                    Пример: "mkafka/projects/myProject/clusters/myCluster"
          nullable: true
        spec:
          $ref: '#/components/schemas/KafkaClusterSpecResponse'
          description: Параметры кластера
        status:
          allOf:
            - $ref: '#/components/schemas/KafkaClusterStatusResponse'
          nullable: true
      required:
        - spec

    TypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя. Необязательное поле, можно свободно задавать и изменять для удобства организации ресурсов
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса (не фактическое время удаления)
          format: date-time
        purgeTime:
          type: string
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/TypedUsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    TypedUsageResponse:
      type: object
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных `own` и `use` могут быть добавлены специализированные типы для конкретных сервисов
        resource:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
      required:
        - usageType
        - resource

    KafkaClusterSpecResponse:
      type: object
      description: Параметры кластера
      properties:
        active:
          type: boolean
          description: Состояние кластера — включен или выключен
          default: true
        version:
          type: string
          description: Версия продукта
        region:
          type: string
          description: |-
            Регион, которому принадлежит кластер
          
            Строка в форматах:
              Полный формат:
                - "rm/regions/{region}"
              Сокращенные форматы:
                - "regions/{region}"
                - "{region}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "rm/regions/myRegion"
              - "regions/myRegion"
              - "myRegion"
        endpoints:
          type: array
          description: Описание эндпойнтов в сетях пользователя (VPC) для подключения к брокерам кластера
          items:
            $ref: '#/components/schemas/KafkaEndpointResponse'
        instances:
          $ref: '#/components/schemas/KafkaInstanceResponse'
          description: Описание ресурсов хостов брокеров и контроллеров
        productConfig:
          type: string
          description: Настройки Kafka. Если не указаны, будут использованы настройки по умолчанию
        maintenanceWindow:
          allOf:
            - $ref: '#/components/schemas/MaintenanceWindowResponse'
          nullable: true
        schemaRegistry:
          allOf:
            - $ref: '#/components/schemas/KafkaSchemaRegistrySpecResponse'
          description: Настройка Schema Registry для кластера
          nullable: true
        balancer:
          allOf:
            - $ref: '#/components/schemas/KafkaBalancerSpecResponse'
          description: Настройка балансировщика кластера
          nullable: true
      required:
        - version
        - endpoints
        - instances

    KafkaEndpointResponse:
      type: object
      description: Описание эндпойнтов в пользовательской сети (VPC) для подключения к брокерам кластера
      properties:
        name:
          type: string
          description: Имя эндпойнта
        network:
          type: string
          description: |-
            Идентификатор пользовательской сети (VPC)
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}"
                - "networks/{network}"
                - "{network}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork"
              - "projects/myProject/networks/myNetwork"
              - "networks/myNetwork"
              - "myNetwork"
        brokerAddresses:
          type: array
          description: Список адресов в пользовательской сети, на которые "отображаются" брокеры
          items:
            $ref: '#/components/schemas/KafkaEndpointBrokerAddressResponse'
        externalAccess:
          allOf:
            - $ref: '#/components/schemas/KafkaEndpointExternalAccessesResponse'
          description: Настройка внешнего доступа к кластеру Kafka
          nullable: true
      required:
        - name
        - network
        - brokerAddresses

    KafkaEndpointBrokerAddressResponse:
      type: object
      description: Описание адреса пользовательской сети, назначаемого брокеру. Задается или идентификатор существующего адреса, или спецификация нового
      properties:
        ref:
          type: string
          description: |-
            Идентификатор существующего адреса
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
        spec:
          allOf:
            - $ref: '#/components/schemas/KafkaEndpointBrokerAddressSpecResponse'
          description: Спецификация нового адреса. Адрес будет выделен в ходе реконсиляции кластера
          nullable: true

    KafkaEndpointBrokerAddressSpecResponse:
      type: object
      description: Спецификация нового адреса. Адрес будет выделен в ходе реконсиляции кластера
      properties:
        subnet:
          type: string
          description: |-
            Идентификатор подсети, в которой необходимо выделить адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"
      required:
        - subnet

    KafkaEndpointExternalAccessesResponse:
      type: object
      description: Настройка внешнего доступа к кластеру Kafka
      properties:
        allowed:
          type: boolean
          description: Назначить внешние адреса для кластера Kafka
        brokerAddresses:
          type: array
          description: Список внешних адресов, используемых для настройки доступа к кластеру Kafka. Если флаг `allowed` установлен в true и адреса не указаны, внешние адреса будут выделены автоматически
          items:
            $ref: '#/components/schemas/KafkaEndpointExternalAddressSpecOrRefResponse'
      required:
        - allowed

    KafkaEndpointExternalAddressSpecOrRefResponse:
      type: object
      description: Внешний адрес брокера. Задается или идентификатор существующего адреса, или спецификация нового
      properties:
        ref:
          type: string
          description: |-
            Идентификатор существующего внешнего адреса
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
        spec:
          type: object
          description: Спецификация нового внешнего адреса. Адрес будет выделен в ходе реконсиляции кластера
          nullable: true

    KafkaInstanceResponse:
      type: object
      description: Описание ресурсов хостов брокеров и контроллеров
      properties:
        broker:
          $ref: '#/components/schemas/KafkaInstanceSpecResponse'
          description: Параметры виртуальной машины, где будет работать брокер Кафки
        controller:
          $ref: '#/components/schemas/KafkaControllerInstanceSpecResponse'
          description: Параметры виртуальной машины, где будет работать KRaft контроллер Кафки
      required:
        - broker
        - controller

    KafkaInstanceSpecResponse:
      type: object
      description: Параметры виртуальной машины, где будет работать брокер Кафки
      properties:
        vmType:
          type: string
          description: |-
            Тип виртуальной машины, описывающий ресурсы (vCPU, memory)
          
            Строка в форматах:
              Полный формат:
                - "compute/vmTypes/{vmType}"
              Сокращенные форматы:
                - "vmTypes/{vmType}"
                - "{vmType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "compute/vmTypes/myVmType"
              - "vmTypes/myVmType"
              - "myVmType"
        disk:
          $ref: '#/components/schemas/KafkaDataDiskSpecResponse'
          description: Параметры диска с данными на узле кластера
        allocation:
          type: array
          description: Параметры размещения брокеров по зонам
          items:
            $ref: '#/components/schemas/KafkaAllocationResponse'
      required:
        - vmType
        - disk

    KafkaDataDiskSpecResponse:
      type: object
      description: Параметры диска с данными на узле кластера
      properties:
        size:
          type: string
          description: |-
            Размер диска
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
        type:
          $ref: '#/components/schemas/KafkaDataDiskType'
          description: |-
            Тип используемого диска:
            * `NETWORK_STANDARD_SSD` — сетевой SSD
        iops:
          $ref: '#/components/schemas/KafkaDataDiskIops'
          description: Количество дисковых операций в секунду
      required:
        - size

    KafkaDataDiskType:
      type: string
      description: |-
        Тип используемого диска:
        * `NETWORK_STANDARD_SSD` — сетевой SSD
      enum:
        - "NETWORK_STANDARD_SSD"
      default: NETWORK_STANDARD_SSD

    KafkaDataDiskIops:
      type: integer
      description: Количество дисковых операций в секунду
      format: int32

    KafkaAllocationResponse:
      type: object
      description: Конфигурация (размещение) узлов кластера по зонам
      properties:
        zone:
          type: string
          description: |-
            Зона расположения узла
          
            Строка в форматах:
              Полный формат:
                - "rm/zones/{zone}"
              Сокращенные форматы:
                - "zones/{zone}"
                - "{zone}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "rm/zones/myZone"
              - "zones/myZone"
              - "myZone"
        count:
          type: integer
          description: Количество брокеров в зоне/подсети
          format: int32
      required:
        - zone
        - count

    KafkaControllerInstanceSpecResponse:
      type: object
      description: Параметры виртуальной машины, где будет работать KRaft контроллер Кафки
      properties:
        combinedWithBroker:
          type: boolean
          description: |-
            Размещать контроллеры на тех же виртуальных машинах, что и брокеры
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        vmType:
          type: string
          description: |-
            Тип виртуальной машины, описывающий ресурсы (vCPU, memory)
          
            Строка в форматах:
              Полный формат:
                - "compute/vmTypes/{vmType}"
              Сокращенные форматы:
                - "vmTypes/{vmType}"
                - "{vmType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "compute/vmTypes/myVmType"
              - "vmTypes/myVmType"
              - "myVmType"
        disk:
          allOf:
            - $ref: '#/components/schemas/KafkaDataDiskSpecResponse'
          description: Параметры диска с данными на узле кластера
          nullable: true
        allocation:
          type: array
          description: Параметры размещения контроллеров по зонам
          items:
            $ref: '#/components/schemas/KafkaAllocationResponse'

    MaintenanceWindowResponse:
      type: object
      properties:
        weekly:
          $ref: '#/components/schemas/WeeklyMaintenanceWindowResponse'
      required:
        - weekly

    WeeklyMaintenanceWindowResponse:
      type: object
      properties:
        days:
          type: array
          description: Дни недели, в которые будет запущено задание на тех. обслуживание
          items:
            $ref: '#/components/schemas/DayOfWeek'
        hour:
          type: integer
          description: Час, в который будет запущено задание на тех. обслуживание
        duration:
          type: string
          description: |-
            Допустимая продолжительность процесса обновления. Если не указано, то не ограничено по времени. Принимается только формат в часах (h)
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          nullable: true
      required:
        - days
        - hour

    DayOfWeek:
      type: string
      description: День недели
      enum:
        - "MONDAY"
        - "TUESDAY"
        - "WEDNESDAY"
        - "THURSDAY"
        - "FRIDAY"
        - "SATURDAY"
        - "SUNDAY"

    KafkaSchemaRegistrySpecResponse:
      type: object
      description: Настройка Schema Registry для кластера
      properties:
        enabled:
          type: boolean
          description: Включить Schema Registry в кластере

    KafkaBalancerSpecResponse:
      type: object
      description: Настройка балансировщика кластера
      properties:
        enabled:
          type: boolean
          description: Состояние балансировщика — включен или выключен
        autoRebalance:
          type: boolean
          description: Если включено - запускать автоматическую ребалансировку во время сервисного окна

    KafkaClusterStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            state:
              $ref: '#/components/schemas/ClusterState'
              description: |-
                Состояние кластера:
                  * `CREATING`     - Создаётся;
                  * `RUNNING`      - Работает в штатном режиме;
                  * `STOPPING`     - Останавливается;
                  * `STOPPED`      - Остановлен;
                  * `STARTING`     - Запуск ранее остановленного;
                  * `UPDATING`     - Выполняется обновление;
                  * `ERROR`        - Произошла ошибка, требуется участие команды поддержки;
                  * `DELETING`     - Удаляется;
                  * `DELETED`      - Удалён;
                  * `UNIDENTIFIED` - Не удаётся определить статус;
                  * `RESTORING`    - Восстанавливается
            health:
              $ref: '#/components/schemas/ClusterHealth'
              description: |-
                Работоспособность кластера:
                  * `ALIVE`    - Полностью работоспособен;
                  * `DEGRADED` - Деградирует (некоторые, но не все, экземпляры неработоспособны);
                  * `FAILED`   - Неработоспособен;
                  * `UNKNOWN`  - Не удаётся определить состояние (на этапе создания)
            message:
              type: string
            region:
              type: string
              description: |-
                Регион, которому принадлежит кластер
              
                Строка в формате: "rm/regions/{region}"
              
                Пример: "rm/regions/myRegion"
            effectiveKafkaConfig:
              type: object
              description: Конфигурация параметров кластера после валидации и преобразования из пользователского ввода
              additionalProperties:
                type: string
            instances:
              allOf:
                - $ref: '#/components/schemas/KafkaInstancesStatusResponse'
              description: Описание ресурсов хостов брокеров и контроллеров
              nullable: true
            endpoints:
              type: array
              description: Описание эндпойнтов в сетях пользователя (VPC) для подключения к брокерам кластера
              items:
                $ref: '#/components/schemas/KafkaEndpointStatusResponse'
            maintenanceWindow:
              allOf:
                - $ref: '#/components/schemas/MaintenanceWindow2Response'
              nullable: true
            schemaRegistry:
              allOf:
                - $ref: '#/components/schemas/KafkaSchemaRegistrySpecResponse'
              description: Настройка Schema Registry для кластера
              nullable: true
            balancer:
              allOf:
                - $ref: '#/components/schemas/KafkaBalancerSpecResponse'
              description: Настройка балансировщика кластера
              nullable: true

    ResourceStatusResponse:
      type: object
      description: Текущее состояние ресурса, вычисляемое системой
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    ClusterState:
      type: string
      description: |-
        Состояние кластера:
          * `CREATING`     - Создаётся;
          * `RUNNING`      - Работает в штатном режиме;
          * `STOPPING`     - Останавливается;
          * `STOPPED`      - Остановлен;
          * `STARTING`     - Запуск ранее остановленного;
          * `UPDATING`     - Выполняется обновление;
          * `ERROR`        - Произошла ошибка, требуется участие команды поддержки;
          * `DELETING`     - Удаляется;
          * `DELETED`      - Удалён;
          * `UNIDENTIFIED` - Не удаётся определить статус;
          * `RESTORING`    - Восстанавливается
      enum:
        - "CREATING"
        - "RUNNING"
        - "STOPPING"
        - "STOPPED"
        - "STARTING"
        - "UPDATING"
        - "ERROR"
        - "UNIDENTIFIED"
        - "DELETING"
        - "DELETED"
        - "RESTORING"

    ClusterHealth:
      type: string
      description: |-
        Работоспособность кластера:
          * `ALIVE`    - Полностью работоспособен;
          * `DEGRADED` - Деградирует (некоторые, но не все, экземпляры неработоспособны);
          * `FAILED`   - Неработоспособен;
          * `UNKNOWN`  - Не удаётся определить состояние (на этапе создания)
      enum:
        - "ALIVE"
        - "DEGRADED"
        - "FAILED"
        - "UNKNOWN"

    KafkaInstancesStatusResponse:
      type: object
      description: Описание ресурсов хостов брокеров и контроллеров
      properties:
        broker:
          $ref: '#/components/schemas/KafkaInstanceStatusResponse'
          description: Параметры виртуальной машины, где работает брокер Кафки
        controller:
          $ref: '#/components/schemas/KafkaControllerInstanceStatusResponse'
          description: Параметры виртуальной машины, где работает контроллер
      required:
        - broker
        - controller

    KafkaInstanceStatusResponse:
      type: object
      description: Параметры виртуальной машины, где работает брокер Кафки
      properties:
        disk:
          allOf:
            - $ref: '#/components/schemas/KafkaDataDiskStatusResponse'
          description: Параметры диска с данными на узле кластера Managed Kafka
          nullable: true

    KafkaDataDiskStatusResponse:
      type: object
      description: Параметры диска с данными на узле кластера Managed Kafka
      properties:
        iops:
          $ref: '#/components/schemas/KafkaDataDiskIops'
          description: Количество дисковых операций в секунду

    KafkaControllerInstanceStatusResponse:
      type: object
      description: Параметры виртуальной машины, где работает контроллер
      properties:
        combinedWithBroker:
          type: boolean
          description: Контроллеры размещаются на тех же виртуальных машинах, что и брокеры
        disk:
          allOf:
            - $ref: '#/components/schemas/KafkaDataDiskStatusResponse'
          description: Параметры диска с данными на узле кластера Managed Kafka
          nullable: true
      required:
        - combinedWithBroker

    KafkaEndpointStatusResponse:
      type: object
      description: Описание эндпойнтов кластера в пользовательской сети (VPC)
      properties:
        name:
          type: string
          description: Имя эндпойнта
        network:
          type: string
          description: |-
            Идентификатор пользовательской сети (VPC)
          
            Строка в формате: "vpc/projects/{project}/networks/{network}"
          
            Пример: "vpc/projects/myProject/networks/myNetwork"
        bootstrapServers:
          type: string
          description: Список адресов для первоначального подключения к кластеру внутри пользовательской (VPC)
        schemaRegistry:
          allOf:
            - $ref: '#/components/schemas/KafkaSchemaRegistryUrlsResponse'
          description: Адреса Schema Registry во внутренней сети (VPC)
          nullable: true
        port:
          type: integer
          description: Порт для доступа к кластеру Kafka внутри пользовательской сети (VPC)
          format: int32
        brokerAddresses:
          type: array
          description: Список адресов в пользовательской сети, на которые "отображаются" брокеры
          items:
            $ref: '#/components/schemas/KafkaEndpointBrokerAddressStatusResponse'
        externalAccess:
          $ref: '#/components/schemas/KafkaEndpointExternalAccessesStatusResponse'
          description: Настройка внешнего доступа к кластеру Kafka
      required:
        - name
        - network
        - brokerAddresses
        - externalAccess

    KafkaSchemaRegistryUrlsResponse:
      type: object
      description: Внешние HTTPS-адреса Schema Registry
      properties:
        urls:
          type: array
          description: Список HTTPS URL Schema Registry
          items:
            type: string
      required:
        - urls

    KafkaEndpointBrokerAddressStatusResponse:
      type: object
      description: Описание адреса пользовательской сети, назначенного брокеру
      properties:
        ref:
          type: string
          description: |-
            Идентификатор адреса
          
            Строка в формате: "vpc/projects/{project}/networks/{network}/addresses/{address}"
          
            Пример: "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
        subnet:
          type: string
          description: |-
            Подсеть, в которой выделен адрес
          
            Строка в формате: "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
          
            Пример: "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
        ipAddress:
          type: string
          description: |-
            Выделенный адрес
          
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"
        dns:
          type: array
          description: Доменные имена
          items:
            $ref: '#/components/schemas/KafkaEndpointBrokerAddressDnsStatusResponse'

    KafkaEndpointBrokerAddressDnsStatusResponse:
      type: object
      description: Описание DNS-имен, назначенных адресу брокера в пользовательской сети
      properties:
        name:
          type: string
      required:
        - name

    KafkaEndpointExternalAccessesStatusResponse:
      type: object
      description: Настройка внешнего доступа к кластеру Kafka
      properties:
        allowed:
          type: boolean
          description: Назначить внешние адреса для кластера Kafka
        port:
          type: integer
          description: Порт, используемый для доступа к кластеру Kafka из внешней сети
          format: int32
        bootstrapServers:
          type: string
          description: Список адресов для первоначального подключения к кластеру Apache Kafka из внешней сети
        brokerAddresses:
          type: array
          description: Список внешних адресов, выделенных для брокеров Kafka
          items:
            $ref: '#/components/schemas/KafkaEndpointExternalAddressStatusResponse'
        schemaRegistry:
          allOf:
            - $ref: '#/components/schemas/KafkaSchemaRegistryUrlsResponse'
          description: Внешние HTTPS-адреса Schema Registry
          nullable: true
      required:
        - allowed

    KafkaEndpointExternalAddressStatusResponse:
      type: object
      description: Описание публичного адреса, назначенного брокеру
      properties:
        ref:
          type: string
          description: |-
            Идентификатор адреса
          
            Строка в формате: "vpc/projects/{project}/externalAddresses/{externalAddress}"
          
            Пример: "vpc/projects/myProject/externalAddresses/myExternalAddress"
        ipAddress:
          type: string
          description: |-
            Выделенный адрес
          
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"
        managed:
          type: boolean
          description: False если ссылка на внешний адрес был указана в спецификации, true если адрес был создан

    MaintenanceWindow2Response:
      type: object
      properties:
        weekly:
          $ref: '#/components/schemas/WeeklyMaintenanceWindowResponse'
      required:
        - weekly

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    KafkaClusterRequest:
      type: object
      description: |-
        Кластер Managed Kafka — это группа узлов (брокеров), объединенных для приема,
        хранения и передачи потоков данных с помощью Apache Kafka. В облачной
        инфраструктуре кластер — единый интерфейс для управления потоками данных в
        реальном времени
      properties:
        metadata:
          $ref: '#/components/schemas/TypedResourceMetadataRequest'
        spec:
          $ref: '#/components/schemas/KafkaClusterSpecRequest'
          description: |-
            Параметры кластера
          
            Обязательно для заполнения при создании ресурса

    TypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя. Необязательное поле, можно свободно задавать и изменять для удобства организации ресурсов
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    KafkaClusterSpecRequest:
      type: object
      description: Параметры кластера
      properties:
        active:
          type: boolean
          description: Состояние кластера — включен или выключен
          default: true
        version:
          type: string
          description: |-
            Версия продукта
          
            Обязательно для заполнения при создании ресурса
        region:
          type: string
          description: |-
            Регион, которому принадлежит кластер
          
            Строка в форматах:
              Полный формат:
                - "rm/regions/{region}"
              Сокращенные форматы:
                - "regions/{region}"
                - "{region}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "rm/regions/myRegion"
              - "regions/myRegion"
              - "myRegion"
        endpoints:
          type: array
          description: |-
            Описание эндпойнтов в сетях пользователя (VPC) для подключения к брокерам кластера
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/KafkaEndpointRequest'
        instances:
          $ref: '#/components/schemas/KafkaInstanceRequest'
          description: |-
            Описание ресурсов хостов брокеров и контроллеров
          
            Обязательно для заполнения при создании ресурса
        productConfig:
          type: string
          description: Настройки Kafka. Если не указаны, будут использованы настройки по умолчанию
        maintenanceWindow:
          allOf:
            - $ref: '#/components/schemas/MaintenanceWindowRequest'
          nullable: true
        schemaRegistry:
          allOf:
            - $ref: '#/components/schemas/KafkaSchemaRegistrySpecRequest'
          description: Настройка Schema Registry для кластера
          nullable: true
        balancer:
          allOf:
            - $ref: '#/components/schemas/KafkaBalancerSpecRequest'
          description: Настройка балансировщика кластера
          nullable: true

    KafkaEndpointRequest:
      type: object
      description: Описание эндпойнтов в пользовательской сети (VPC) для подключения к брокерам кластера
      properties:
        name:
          type: string
          description: |-
            Имя эндпойнта
          
            Обязательно для заполнения при создании ресурса
        network:
          type: string
          description: |-
            Идентификатор пользовательской сети (VPC)
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}"
                - "networks/{network}"
                - "{network}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork"
              - "projects/myProject/networks/myNetwork"
              - "networks/myNetwork"
              - "myNetwork"
        brokerAddresses:
          type: array
          description: |-
            Список адресов в пользовательской сети, на которые "отображаются" брокеры
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/KafkaEndpointBrokerAddressRequest'
        externalAccess:
          allOf:
            - $ref: '#/components/schemas/KafkaEndpointExternalAccessesRequest'
          description: Настройка внешнего доступа к кластеру Kafka
          nullable: true

    KafkaEndpointBrokerAddressRequest:
      type: object
      description: Описание адреса пользовательской сети, назначаемого брокеру. Задается или идентификатор существующего адреса, или спецификация нового
      properties:
        ref:
          type: string
          description: |-
            Идентификатор существующего адреса
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
        spec:
          allOf:
            - $ref: '#/components/schemas/KafkaEndpointBrokerAddressSpecRequest'
          description: Спецификация нового адреса. Адрес будет выделен в ходе реконсиляции кластера
          nullable: true

    KafkaEndpointBrokerAddressSpecRequest:
      type: object
      description: Спецификация нового адреса. Адрес будет выделен в ходе реконсиляции кластера
      properties:
        subnet:
          type: string
          description: |-
            Идентификатор подсети, в которой необходимо выделить адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"

    KafkaEndpointExternalAccessesRequest:
      type: object
      description: Настройка внешнего доступа к кластеру Kafka
      properties:
        allowed:
          type: boolean
          description: |-
            Назначить внешние адреса для кластера Kafka
          
            Обязательно для заполнения при создании ресурса
        brokerAddresses:
          type: array
          description: |-
            Список внешних адресов, используемых для настройки доступа к кластеру Kafka. Если флаг `allowed` установлен в true и адреса не указаны, внешние адреса будут выделены автоматически
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/KafkaEndpointExternalAddressSpecOrRefRequest'

    KafkaEndpointExternalAddressSpecOrRefRequest:
      type: object
      description: Внешний адрес брокера. Задается или идентификатор существующего адреса, или спецификация нового
      properties:
        ref:
          type: string
          description: |-
            Идентификатор существующего внешнего адреса
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
        spec:
          type: object
          description: Спецификация нового внешнего адреса. Адрес будет выделен в ходе реконсиляции кластера
          nullable: true

    KafkaInstanceRequest:
      type: object
      description: Описание ресурсов хостов брокеров и контроллеров
      properties:
        broker:
          $ref: '#/components/schemas/KafkaInstanceSpecRequest'
          description: |-
            Параметры виртуальной машины, где будет работать брокер Кафки
          
            Обязательно для заполнения при создании ресурса
        controller:
          $ref: '#/components/schemas/KafkaControllerInstanceSpecRequest'
          description: |-
            Параметры виртуальной машины, где будет работать KRaft контроллер Кафки
          
            Обязательно для заполнения при создании ресурса

    KafkaInstanceSpecRequest:
      type: object
      description: Параметры виртуальной машины, где будет работать брокер Кафки
      properties:
        vmType:
          type: string
          description: |-
            Тип виртуальной машины, описывающий ресурсы (vCPU, memory)
          
            Строка в форматах:
              Полный формат:
                - "compute/vmTypes/{vmType}"
              Сокращенные форматы:
                - "vmTypes/{vmType}"
                - "{vmType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "compute/vmTypes/myVmType"
              - "vmTypes/myVmType"
              - "myVmType"
        disk:
          $ref: '#/components/schemas/KafkaDataDiskSpecRequest'
          description: |-
            Параметры диска с данными на узле кластера
          
            Обязательно для заполнения при создании ресурса
        allocation:
          type: array
          description: |-
            Параметры размещения брокеров по зонам
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/KafkaAllocationRequest'

    KafkaDataDiskSpecRequest:
      type: object
      description: Параметры диска с данными на узле кластера
      properties:
        size:
          type: string
          description: |-
            Размер диска
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
        type:
          $ref: '#/components/schemas/KafkaDataDiskType'
          description: |-
            Тип используемого диска:
            * `NETWORK_STANDARD_SSD` — сетевой SSD
        iops:
          $ref: '#/components/schemas/KafkaDataDiskIops'
          description: Количество дисковых операций в секунду

    KafkaAllocationRequest:
      type: object
      description: Конфигурация (размещение) узлов кластера по зонам
      properties:
        zone:
          type: string
          description: |-
            Зона расположения узла
          
            Строка в форматах:
              Полный формат:
                - "rm/zones/{zone}"
              Сокращенные форматы:
                - "zones/{zone}"
                - "{zone}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "rm/zones/myZone"
              - "zones/myZone"
              - "myZone"
        count:
          type: integer
          description: |-
            Количество брокеров в зоне/подсети
          
            Обязательно для заполнения при создании ресурса
          format: int32

    KafkaControllerInstanceSpecRequest:
      type: object
      description: Параметры виртуальной машины, где будет работать KRaft контроллер Кафки
      properties:
        combinedWithBroker:
          type: boolean
          description: |-
            Размещать контроллеры на тех же виртуальных машинах, что и брокеры
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        vmType:
          type: string
          description: |-
            Тип виртуальной машины, описывающий ресурсы (vCPU, memory)
          
            Строка в форматах:
              Полный формат:
                - "compute/vmTypes/{vmType}"
              Сокращенные форматы:
                - "vmTypes/{vmType}"
                - "{vmType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "compute/vmTypes/myVmType"
              - "vmTypes/myVmType"
              - "myVmType"
        disk:
          allOf:
            - $ref: '#/components/schemas/KafkaDataDiskSpecRequest'
          description: Параметры диска с данными на узле кластера
          nullable: true
        allocation:
          type: array
          description: |-
            Параметры размещения контроллеров по зонам
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/KafkaAllocationRequest'

    MaintenanceWindowRequest:
      type: object
      properties:
        weekly:
          $ref: '#/components/schemas/WeeklyMaintenanceWindowRequest'
          description: Обязательно для заполнения при создании ресурса

    WeeklyMaintenanceWindowRequest:
      type: object
      properties:
        days:
          type: array
          description: |-
            Дни недели, в которые будет запущено задание на тех. обслуживание
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/DayOfWeek'
        hour:
          type: integer
          description: |-
            Час, в который будет запущено задание на тех. обслуживание
          
            Обязательно для заполнения при создании ресурса
        duration:
          type: string
          description: |-
            Допустимая продолжительность процесса обновления. Если не указано, то не ограничено по времени. Принимается только формат в часах (h)
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          nullable: true

    KafkaSchemaRegistrySpecRequest:
      type: object
      description: Настройка Schema Registry для кластера
      properties:
        enabled:
          type: boolean
          description: Включить Schema Registry в кластере

    KafkaBalancerSpecRequest:
      type: object
      description: Настройка балансировщика кластера
      properties:
        enabled:
          type: boolean
          description: Состояние балансировщика — включен или выключен
        autoRebalance:
          type: boolean
          description: Если включено - запускать автоматическую ребалансировку во время сервисного окна

    KafkaUserPageResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/KafkaUserResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    KafkaUserResponse:
      type: object
      description: Пользователь — это внутренняя учетная запись Kafka для аутентификации в кластере
      properties:
        kind:
          type: string
          default: mkafka/v1/streaming/kafka/users
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    Ссылка на типизированный референс
                  
                    Строка в формате: "mkafka/projects/{project}/clusters/{cluster}/users/{user}"
                  
                    Пример: "mkafka/projects/myProject/clusters/myCluster/users/myUser"
          nullable: true
        spec:
          $ref: '#/components/schemas/KafkaUserSpecResponse'
          description: Параметры пользователя
        status:
          allOf:
            - $ref: '#/components/schemas/KafkaUserStatusResponse'
          nullable: true
      required:
        - spec

    KafkaUserSpecResponse:
      type: object
      description: Параметры пользователя
      properties:
        roles:
          type: array
          description: Роли пользователя
          items:
            $ref: '#/components/schemas/KafkaClusterRoleResponse'
      required:
        - roles

    KafkaClusterRoleResponse:
      type: object
      description: Роль пользователя в кластере
      properties:
        name:
          $ref: '#/components/schemas/KafkaClusterRoleName'
          description: Название роли
      required:
        - name

    KafkaClusterRoleName:
      type: string
      description: Название роли
      enum:
        - "CLUSTER_ADMIN"
        - "PRODUCER"
        - "CONSUMER"
        - "SCHEMA_REGISTRY_ADMIN"
        - "SCHEMA_REGISTRY_WRITER"
        - "SCHEMA_REGISTRY_READER"

    KafkaUserStatusResponse:
      $ref: '#/components/schemas/ResourceStatusResponse'

    KafkaUserRequest:
      type: object
      description: Пользователь — это внутренняя учетная запись Kafka для аутентификации в кластере
      properties:
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataRequest'
          nullable: true
        spec:
          $ref: '#/components/schemas/KafkaUserSpecRequest'
          description: |-
            Параметры пользователя
          
            Обязательно для заполнения при создании ресурса

    KafkaUserSpecRequest:
      type: object
      description: Параметры пользователя
      properties:
        password:
          type: string
          description: |-
            Пароль пользователя
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          
            Обязательно для заполнения при создании ресурса
        roles:
          type: array
          description: |-
            Роли пользователя
          
            Простая коллекция. При обновлении ресурса простая коллекция, переданная в запросе, полностью заменяет существующую. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/KafkaClusterRoleRequest'

    KafkaClusterRoleRequest:
      type: object
      description: Роль пользователя в кластере
      properties:
        name:
          $ref: '#/components/schemas/KafkaClusterRoleName'
          description: |-
            Название роли
          
            Обязательно для заполнения при создании ресурса

    KafkaTopicPageResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/KafkaTopicResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    KafkaTopicResponse:
      type: object
      description: |-
        Топик — это логический поток сообщений, который создается пользователем в
        кластере и обеспечивает группировку сообщений по темам
      properties:
        kind:
          type: string
          default: mkafka/v1/streaming/kafkaTopic
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    Ссылка на типизированный референс
                  
                    Строка в формате: "mkafka/projects/{project}/clusters/{cluster}/topics/{topic}"
                  
                    Пример: "mkafka/projects/myProject/clusters/myCluster/topics/myTopic"
          nullable: true
        spec:
          $ref: '#/components/schemas/KafkaTopicSpecResponse'
          description: Параметры топика
        status:
          allOf:
            - $ref: '#/components/schemas/KafkaTopicStatusResponse'
          nullable: true
      required:
        - spec

    KafkaTopicSpecResponse:
      type: object
      description: Параметры топика
      properties:
        partitions:
          type: integer
          description: Количество партиций
          format: int32
          default: -1
        replicationFactor:
          type: integer
          description: Фактор репликации
          format: int32
          default: -1
        config:
          type: string
          description: Дополнительные параметры

    KafkaTopicStatusResponse:
      $ref: '#/components/schemas/ResourceStatusResponse'

    KafkaTopicRequest:
      type: object
      description: |-
        Топик — это логический поток сообщений, который создается пользователем в
        кластере и обеспечивает группировку сообщений по темам
      properties:
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataRequest'
          nullable: true
        spec:
          $ref: '#/components/schemas/KafkaTopicSpecRequest'
          description: |-
            Параметры топика
          
            Обязательно для заполнения при создании ресурса

    KafkaTopicSpecRequest:
      type: object
      description: Параметры топика
      properties:
        partitions:
          type: integer
          description: Количество партиций
          format: int32
          default: -1
        replicationFactor:
          type: integer
          description: Фактор репликации
          format: int32
          default: -1
        config:
          type: string
          description: Дополнительные параметры

    ApiError:
      type: object
      description: Описание ошибки (если HTTP-статус отличен от 2xx)
      properties:
        code:
          type: string
          description: Короткий код ошибки
          enum:
            - "ALREADY_EXISTS"
            - "CANCELLED"
            - "DEADLINE_EXCEEDED"
            - "FAILED_PRECONDITION"
            - "INTERNAL"
            - "INVALID_ARGUMENT"
            - "NOT_FOUND"
            - "PERMISSION_DENIED"
            - "QUOTA_EXCEEDED"
            - "IDEMPOTENCY_KEY_ALREADY_USED"
            - "INVALID_ETAG_KEY"
            - "UNAUTHENTICATED"
            - "UNAVAILABLE"
            - "METHOD_NOT_ALLOWED"
            - "TOO_MANY_REQUESTS"
        type:
          type: string
          description: Подтип расширенной информации по ошибкам к которому удалось его привести. Null если привели к базовому типу
        description:
          type: string
          description: Развёрнутое пояснение ошибки
        retryPolicy:
          allOf:
            - $ref: '#/components/schemas/RetryPolicy'
          description: Правила выполнения повторных попыток в случае ошибки
          nullable: true
        details:
          type: object
          description: |-
            Детальная информация по ошибке в произвольном JSON формате. Содержимое не предназначено для машинной обработки
          
            Примеры:
              - '{"jsonPaths": [{"path": "foo.bar", "reason": "some reason", "offset": "line: 1, column: 2"}]}'
              - '{"errorInfo": "some error info"}'
          additionalProperties: true
      required:
        - code

    RetryPolicy:
      type: object
      description: Правила выполнения повторных попыток в случае ошибки
      properties:
        retryCount:
          type: integer
          description: Максимальное количество повторных попыток. 0 - значение по-умолчанию
        retryTimeout:
          type: string
          description: |-
            Пауза между повторными попытками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        retryTimeoutScale:
          $ref: '#/components/schemas/RetryTimeoutScale'
          description: Шаг увеличения таймаута
        maxRetryTimeout:
          type: string
          description: |-
            Максимальная длительность таймаута
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
      required:
        - retryCount
        - retryTimeout

    RetryTimeoutScale:
      type: string
      description: Шаг увеличения таймаута
      enum:
        - "FIXED"
        - "LINEAR"
        - "PROGRESSIVE"
        - "EXPONENTIAL"

  securitySchemes:
    BearerAuth:
      description: Токен авторизации IAM
      type: apiKey
      in: header
      name: Authorization

  parameters:
    header_Idempotency-Key:
      name: Idempotency-Key
      in: header
      description: Ключ идемпотентности
      style: simple
      schema:
        type: string

    path_cluster:
      name: cluster
      in: path
      required: true
      description: Название или идентификатор кластера.
      style: simple
      schema:
        type: string
        pattern: ^[a-z]([a-z0-9-]{0,25}[a-z0-9])?$

    path_project:
      name: project
      in: path
      required: true
      description: Путь к проекту.
      style: simple
      schema:
        type: string

    path_topic:
      name: topic
      in: path
      required: true
      description: Название топика.
      style: simple
      schema:
        type: string
        pattern: ^[A-Za-z0-9][A-Za-z0-9._-]{1,248}$

    path_user:
      name: user
      in: path
      required: true
      description: Пользователь кластера.
      style: simple
      schema:
        type: string
        pattern: ^(?!(mkafka-monitor|mws-controller-admin|mws-cluster-admin)$)[a-zA-Z0-9][a-zA-Z0-9._-]{0,127}$

    query_createOnly:
      name: createOnly
      in: query
      description: Создать ресурс. Если ресурс уже существует, будет возвращен ответ `AlreadyExists`
      style: form
      explode: true
      schema:
        type: boolean

    query_filter:
      name: filter
      in: query
      description: |-
        Строка фильтра.
        Для фильтрации используется ограниченная реализация AIP-160 (https://google.aip.dev/160).
        Она включает в себя операции =, !=, OR, AND и (), фильтрацию свойств вложенных объектов и wildcard-поиск подстрок
      style: form
      explode: true
      schema:
        type: string

    query_orderBy:
      name: orderBy
      in: query
      description: |-
        Строка сортировки.
        Для сортировки используется реализация AIP-132 (https://google.aip.dev/132#ordering).
        Указывается перечислением полей с направлением сортировки (asc, desc) через запятую.
        По умолчанию используется сортировка по возрастанию (asc)
      style: form
      explode: true
      schema:
        type: string

    query_pageSize:
      name: pageSize
      in: query
      description: Максимальное количество объектов, которые клиент готов принять. Сервис определяет значение по умолчанию и верхнюю границу
      style: form
      explode: true
      schema:
        type: integer

    query_pageToken:
      name: pageToken
      in: query
      description: Строка, из предыдущего ответа на аналогичный запрос, для получения следующей страницы с объектами. Не задано для получения первой страницы
      style: form
      explode: true
      schema:
        type: string

    query_purge:
      name: purge
      in: query
      description: Удалить ресурс без возможности восстановления
      style: form
      explode: true
      schema:
        type: boolean

    query_showDeleted:
      name: showDeleted
      in: query
      description: Вывод удаленных объектов для ресурсов, поддерживающих soft delete
      style: form
      explode: true
      schema:
        type: string

    query_updateOnly:
      name: updateOnly
      in: query
      description: |-
        Обновить ресурс, если он существует. Если ресурс не существует, будет возвращен ответ `Not Found`.
        Если прав на выполнение операции недостаточно, будет возвращен ответ `PermissionDenied`
      style: form
      explode: true
      schema:
        type: boolean

