# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.4.0
  title: Resource Manager
  description: Публичная спецификация сервиса Resource Manager

servers:
  - url: https://iam.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /rm/v3/projects:
    get:
      tags:
        - project
      summary: Получение списка доступных пользователю проектов
      description: |-
        Листинг проектов. Авторизация управляется флагом onlyAvailableProjects. onlyAvailableProjects=false (по умолчанию) — требуется rm.project.list на организации (одна проверка прав на весь список). onlyAvailableProjects=true — per-project фильтрация через access-service :availableResources с правом rm.project.get; rm.project.list не нужен; возвращаются только проекты, на которые у subject есть rm.project.get; запрос медленнее на больших коллекциях
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.createTime`
          - `metadata.updateTime`
      operationId: ListProjectsV3
      parameters:
        - $ref: "#/components/parameters/query_organization"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
        - $ref: "#/components/parameters/query_onlyAvailableProjects"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /rm/v1/zones:
    get:
      tags:
        - zone
      summary: Список зон
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id`
          - `metadata.displayName`
          - `spec.region`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.createTime`
          - `metadata.updateTime`
          - `spec.region`
      operationId: ListZones
      parameters:
        - $ref: "#/components/parameters/query_region"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список найденных зон
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /rm/v1/zones/{zone}:
    get:
      tags:
        - zone
      summary: Get zone
      operationId: GetZone
      parameters:
        - $ref: "#/components/parameters/path_zone"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /rm/v1/regions:
    get:
      tags:
        - region
      summary: Список регионов
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.region`
          - `metadata.displayName`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.createTime`
          - `metadata.updateTime`
      operationId: ListRegions
      parameters:
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список найденных регионов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /rm/v1/regions/{region}:
    get:
      tags:
        - region
      summary: Get region
      operationId: GetRegion
      parameters:
        - $ref: "#/components/parameters/path_region"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /rm/v2/projects/{project}/enabledServices:batchEnable:
    post:
      tags:
        - enabledService
      summary: Массовое подключение сервиса в проекте с возможностью указать альфа флаг
      operationId: BatchEnableServicesV2
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchEnabledServicesRequest'
      responses:
        "200":
          description: Успешно запрошено включение сервисов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchEnabledServicesResponseResponse'
        "201":
          description: Успешно запрошено включение сервисов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchEnabledServicesResponseResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /rm/v1/projects/{project}/enabledServices:
    get:
      tags:
        - enabledService
      summary: Получение списка включенных на проекте сервисов
      operationId: ListEnabledServices
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/query_showDeleted"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnabledServiceListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /rm/v1/projects/{project}/enabledServices/{service}:enable:
    post:
      tags:
        - enabledService
      summary: Подключение сервиса в проекте
      operationId: EnableService
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_service"
        - $ref: "#/components/parameters/header_Idempotency-Key"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Обновлен подключенный сервис
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnabledServiceResponse'
        "201":
          description: Создан объект подключенного сервиса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnabledServiceResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /rm/v1/projects/{project}/enabledServices/{service}:
    get:
      tags:
        - enabledService
      summary: Retrieve an enabled service object for specified project
      operationId: GetEnabledService
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_service"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnabledServiceResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    ProjectListResponse:
      type: object
      properties:
        items:
          type: array
          description: List of retrieved projects
          items:
            $ref: '#/components/schemas/ProjectResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    ProjectResponse:
      type: object
      properties:
        kind:
          type: string
          default: rm/v1/project
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    ID свойства
                  
                    Строка в формате: "servicename/foos/{foo}/bars/{bar}"
                  
                    Пример: "servicename/foos/myFoo/bars/myBar"
          nullable: true
        spec:
          $ref: '#/components/schemas/ProjectSpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/ProjectStatusResponse'
          nullable: true
      required:
        - spec

    TypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя. Необязательное поле, можно свободно задавать и изменять для удобства организации ресурсов
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса (не фактическое время удаления)
          format: date-time
        purgeTime:
          type: string
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/TypedUsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    TypedUsageResponse:
      type: object
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных `own` и `use` могут быть добавлены специализированные типы для конкретных сервисов
        resource:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
      required:
        - usageType
        - resource

    ProjectSpecResponse:
      type: object
      properties:
        folder:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "org/organizations/{organization}/folders/{folder}"
              Сокращенные форматы:
                - "organizations/{organization}/folders/{folder}"
                - "folders/{folder}"
                - "{folder}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "org/organizations/myOrganization/folders/myFolder"
              - "organizations/myOrganization/folders/myFolder"
              - "folders/myFolder"
              - "myFolder"
      required:
        - folder

    ProjectStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            active:
              type: boolean
              description: Project status
            inactivityReason:
              type: string
              description: If project is deactivated, this field describes the reason why (e.x., disabled by owner)
            organization:
              type: string
              description: |-
                Ссылка на ресурс
              
                Строка в форматах:
                  Полный формат:
                    - "org/organizations/{organization}"
                  Сокращенные форматы:
                    - "organizations/{organization}"
                    - "{organization}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Примеры:
                  - "org/organizations/myOrganization"
                  - "organizations/myOrganization"
                  - "myOrganization"

    ResourceStatusResponse:
      type: object
      description: Текущее состояние ресурса, вычисляемое системой
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    ZoneListResponse:
      type: object
      properties:
        items:
          type: array
          description: Список зон доступности
          items:
            $ref: '#/components/schemas/ZoneResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    ZoneResponse:
      type: object
      description: Зона доступности — это изолированный сегмент облачной инфраструктуры в пределах региона
      properties:
        kind:
          type: string
          default: iam/v1/zone
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    ID свойства
                  
                    Строка в форматах:
                      Полный формат:
                        - "rm/zones/{zone}"
                      Сокращенные форматы:
                        - "zones/{zone}"
                        - "{zone}"
                  
                    Полный формат всегда корректен.
                    Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
                  
                    Примеры:
                      - "rm/zones/myZone"
                      - "zones/myZone"
                      - "myZone"
          nullable: true
        spec:
          $ref: '#/components/schemas/ZoneSpecResponse'
          description: Спецификация зоны доступности
        status:
          allOf:
            - $ref: '#/components/schemas/ResourceStatusResponse'
          description: Текущее состояние ресурса, вычисляемое системой
          nullable: true
      required:
        - spec

    ZoneSpecResponse:
      type: object
      description: Спецификация зоны доступности
      properties:
        region:
          type: string
          description: |-
            Регион, в котором расположена зона
          
            Строка в форматах:
              Полный формат:
                - "rm/regions/{region}"
              Сокращенные форматы:
                - "regions/{region}"
                - "{region}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "rm/regions/myRegion"
              - "regions/myRegion"
              - "myRegion"
      required:
        - region

    RegionListResponse:
      type: object
      properties:
        items:
          type: array
          description: Список регионов
          items:
            $ref: '#/components/schemas/RegionResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    RegionResponse:
      type: object
      description: Регион — это географическая область, которая объединяет несколько зон доступности, связанных между собой высокоскоростными сетями
      properties:
        kind:
          type: string
          default: iam/v1/region
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    ID свойства
                  
                    Строка в форматах:
                      Полный формат:
                        - "rm/regions/{region}"
                      Сокращенные форматы:
                        - "regions/{region}"
                        - "{region}"
                  
                    Полный формат всегда корректен.
                    Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
                  
                    Примеры:
                      - "rm/regions/myRegion"
                      - "regions/myRegion"
                      - "myRegion"
          nullable: true
        spec:
          description: Спецификация региона
        status:
          allOf:
            - $ref: '#/components/schemas/ResourceStatusResponse'
          description: Текущее состояние ресурса, вычисляемое системой
          nullable: true
      required:
        - spec

    BatchEnabledServicesRequest:
      type: object
      properties:
        services:
          type: array
          items:
            type: string
        previewRequest:
          type: object
          properties:
            flag:
              type: string
            comment:
              type: string
          required:
            - flag
            - comment
          nullable: true
      required:
        - services

    BatchEnabledServicesResponseResponse:
      type: object
      properties:
        status:
          type: object
          allOf:
            - $ref: '#/components/schemas/ResourceStatusResponse'
          nullable: true

    EnabledServiceListResponse:
      type: object
      properties:
        items:
          type: array
          description: Список подключенных к проекту сервисов
          items:
            $ref: '#/components/schemas/EnabledServiceResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    EnabledServiceResponse:
      type: object
      properties:
        kind:
          type: string
          default: rm/v1/enabledService
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    ID свойства
                  
                    Строка в формате: "servicename/foos/{foo}/bars/{bar}"
                  
                    Пример: "servicename/foos/myFoo/bars/myBar"
          nullable: true
        spec:
          $ref: '#/components/schemas/EnabledServiceSpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/EnabledServiceStatusResponse'
          nullable: true
      required:
        - spec

    EnabledServiceSpecResponse:
      type: object
      properties:
        active:
          type: boolean
          description: Активен ли сервис для проекта

    EnabledServiceStatusResponse:
      $ref: '#/components/schemas/ResourceStatusResponse'

    ApiError:
      type: object
      description: Описание ошибки (если HTTP-статус отличен от 2xx)
      properties:
        code:
          type: string
          description: Короткий код ошибки
          enum:
            - "ALREADY_EXISTS"
            - "CANCELLED"
            - "DEADLINE_EXCEEDED"
            - "FAILED_PRECONDITION"
            - "INTERNAL"
            - "INVALID_ARGUMENT"
            - "NOT_FOUND"
            - "PERMISSION_DENIED"
            - "QUOTA_EXCEEDED"
            - "IDEMPOTENCY_KEY_ALREADY_USED"
            - "INVALID_ETAG_KEY"
            - "UNAUTHENTICATED"
            - "UNAVAILABLE"
            - "METHOD_NOT_ALLOWED"
            - "TOO_MANY_REQUESTS"
        type:
          type: string
          description: Подтип расширенной информации по ошибкам к которому удалось его привести. Null если привели к базовому типу
        description:
          type: string
          description: Развёрнутое пояснение ошибки
        retryPolicy:
          allOf:
            - $ref: '#/components/schemas/RetryPolicy'
          description: Правила выполнения повторных попыток в случае ошибки
          nullable: true
        details:
          type: object
          description: |-
            Детальная информация по ошибке в произвольном JSON формате. Содержимое не предназначено для машинной обработки
          
            Примеры:
              - '{"jsonPaths": [{"path": "foo.bar", "reason": "some reason", "offset": "line: 1, column: 2"}]}'
              - '{"errorInfo": "some error info"}'
          additionalProperties: true
      required:
        - code

    RetryPolicy:
      type: object
      description: Правила выполнения повторных попыток в случае ошибки
      properties:
        retryCount:
          type: integer
          description: Максимальное количество повторных попыток. 0 - значение по-умолчанию
        retryTimeout:
          type: string
          description: |-
            Пауза между повторными попытками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        retryTimeoutScale:
          $ref: '#/components/schemas/RetryTimeoutScale'
          description: Шаг увеличения таймаута
        maxRetryTimeout:
          type: string
          description: |-
            Максимальная длительность таймаута
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
      required:
        - retryCount
        - retryTimeout

    RetryTimeoutScale:
      type: string
      description: Шаг увеличения таймаута
      enum:
        - "FIXED"
        - "LINEAR"
        - "PROGRESSIVE"
        - "EXPONENTIAL"

  securitySchemes:
    BearerAuth:
      description: Токен авторизации IAM
      type: apiKey
      in: header
      name: Authorization

  parameters:
    header_Idempotency-Key:
      name: Idempotency-Key
      in: header
      description: Ключ идемпотентности
      style: simple
      schema:
        type: string

    path_project:
      name: project
      in: path
      required: true
      description: Путь к проекту.
      style: simple
      schema:
        type: string

    path_region:
      name: region
      in: path
      required: true
      description: Регион.
      style: simple
      schema:
        type: string
        pattern: ^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$

    path_service:
      name: service
      in: path
      required: true
      style: simple
      schema:
        type: string

    path_zone:
      name: zone
      in: path
      required: true
      description: Зона (ЦОД).
      style: simple
      schema:
        type: string
        pattern: ^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$

    query_filter:
      name: filter
      in: query
      description: |-
        Строка фильтра.
        Для фильтрации используется ограниченная реализация AIP-160 (https://google.aip.dev/160).
        Она включает в себя операции =, !=, OR, AND и (), фильтрацию свойств вложенных объектов и wildcard-поиск подстрок
      style: form
      explode: true
      schema:
        type: string

    query_onlyAvailableProjects:
      name: onlyAvailableProjects
      in: query
      description: Если true — возвращаются только проекты с пермиссией rm.project.get у subject (per-project фильтр через access-service :availableResources). Если false или не указан — требуется rm.project.list на организации.
      style: form
      explode: true
      schema:
        type: boolean

    query_orderBy:
      name: orderBy
      in: query
      description: |-
        Строка сортировки.
        Для сортировки используется реализация AIP-132 (https://google.aip.dev/132#ordering).
        Указывается перечислением полей с направлением сортировки (asc, desc) через запятую.
        По умолчанию используется сортировка по возрастанию (asc)
      style: form
      explode: true
      schema:
        type: string

    query_organization:
      name: organization
      in: query
      description: Фильтр проектов по организации
      style: form
      explode: true
      schema:
        type: string

    query_pageSize:
      name: pageSize
      in: query
      description: Максимальное количество объектов, которые клиент готов принять. Сервис определяет значение по умолчанию и верхнюю границу
      style: form
      explode: true
      schema:
        type: integer

    query_pageToken:
      name: pageToken
      in: query
      description: Строка, из предыдущего ответа на аналогичный запрос, для получения следующей страницы с объектами. Не задано для получения первой страницы
      style: form
      explode: true
      schema:
        type: string

    query_region:
      name: region
      in: query
      description: Регион
      style: form
      explode: true
      schema:
        type: string

    query_showDeleted:
      name: showDeleted
      in: query
      description: Вывод удаленных объектов для ресурсов, поддерживающих soft delete
      style: form
      explode: true
      schema:
        type: string

