# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.4.0
  title: Virtual Infrastructure
  description: Публичная спецификация сервиса Virtual Infrastructure

servers:
  - url: https://vi.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /vi/v1/resources/vdcs:calculate:
    post:
      tags:
        - vDC
      summary: Калькулятор vdc
      operationId: CalculateVDC
      security:
        - {}
      requestBody:
        description: параметры VDC
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VDCRequest'
      responses:
        "200":
          description: Ресурсы биллинга
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateSpecResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vi/v1/projects/{project}/vdcs:
    get:
      tags:
        - vDC
      summary: Получение списка VDC
      operationId: GetVDCList
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список VDC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VDCListSpecResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vi/v1/projects/{project}/vdcs/{vdcName}:
    post:
      tags:
        - vDC
      summary: Создание нового VDC или обновление существующего (upsert)
      operationId: CreateVDC
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_vdcName"
      security:
        - BearerAuth: []
      requestBody:
        description: параметры VDC
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VDCRequest'
      responses:
        "201":
          description: VDC создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VDCResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - vDC
      summary: Получить VDC
      operationId: GetVDCByName
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_vdcName"
        - $ref: "#/components/parameters/query_waitNew"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Информация о VDC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VDCResponse'
        "304":
          description: Not modified
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - vDC
      summary: Удаление существующего VDC
      operationId: DeleteVDC
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_vdcName"
        - $ref: "#/components/parameters/query_purge"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Информация о VDC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VDCResponse'
        "204":
          description: VDC удален
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vi/v1/resources/backupPolicies:calculate:
    post:
      tags:
        - backupPolicy
      summary: Калькулятор стоимости для политики резервного копирования
      operationId: CalculateBackupPolicy
      security:
        - {}
      requestBody:
        description: Параметры политики резервного копирования
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupPolicyRequest'
      responses:
        "200":
          description: Ресурсы биллинга
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateSpecResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vi/v1/projects/{project}/backupPolicies:
    get:
      tags:
        - backupPolicy
      summary: Получить список политик резервного копирования
      operationId: GetBackupPolicyList
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список политик резервного копирования
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupPolicyListSpecResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vi/v1/projects/{project}/backupPolicies/{backupPolicyName}:
    post:
      tags:
        - backupPolicy
      summary: Создать или изменить политику резервного копирования
      operationId: CreateBackupPolicy
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_backupPolicyName"
      security:
        - BearerAuth: []
      requestBody:
        description: Параметры политики резервного копирования
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupPolicyRequest'
      responses:
        "201":
          description: Backup policy создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupPolicyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - backupPolicy
      summary: Получить информацию о политике резервного копирования
      operationId: GetBackupPolicyByName
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_backupPolicyName"
        - $ref: "#/components/parameters/query_waitNew"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Информация о политике резервного копирования
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupPolicyResponse'
        "304":
          description: Not modified
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - backupPolicy
      summary: Удалить политику резервного копирования
      operationId: DeleteBackupPolicy
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_backupPolicyName"
        - $ref: "#/components/parameters/query_purge"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Информация о политике резервного копирования
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupPolicyResponse'
        "204":
          description: Backup policy удалена
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vi/v1/projects/{project}/viZones:
    get:
      tags:
        - vizone
      summary: List of zone for vi
      operationId: ListVIZones
      parameters:
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Listing VI zones
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ZoneResponse'
                required:
                  - items
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vi/v1/projects/{project}/viProjectStats:
    get:
      tags:
        - viProjectStat
      summary: Get Project Stats
      operationId: GetViProjectStats
      parameters:
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Get Project Stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViProjectStatsResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vi/v1/projects/{project}/storageTypes:
    get:
      tags:
        - storageType
      summary: List of storage types for vi
      operationId: ListStorageTypes
      parameters:
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Listing storage types
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/StorageTypeResponse'
                required:
                  - items
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vi/v1/projects/{project}/segments:
    get:
      tags:
        - segment
      summary: List of segments for vi
      operationId: ListSegments
      parameters:
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Listing segments
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SegmentResponse'
                required:
                  - items
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vi/v1/projects/{project}/networkZoneTypes:
    get:
      tags:
        - networkZoneType
      summary: List of network zone types for vi
      operationId: ListNetworkZoneTypes
      parameters:
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Listing network zone types
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/NetworkZoneTypeResponse'
                required:
                  - items
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vi/v1/projects/{project}/networkQoSProfiles:
    get:
      tags:
        - networkQoSProfile
      summary: List of network QoS profiles for vi
      operationId: ListNetworkQoSProfiles
      parameters:
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Listing network QoS profiles
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/NetworkQoSProfileResponse'
                required:
                  - items
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /vi/v1/projects/{project}/dataCenters:
    get:
      tags:
        - dataCenter
      summary: Получить список ЦОДов
      operationId: GetDataCenterList
      parameters:
        - $ref: "#/components/parameters/path_project"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список ЦОДов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCenterListSpecResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    VDCRequest:
      type: object
      properties:
        kind:
          type: string
          default: vi/v1/vdc
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/VDCSpecRequest'
      required:
        - metadata
        - spec

    CommonTypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя свойства
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    VDCSpecRequest:
      type: object
      properties:
        zone:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/viZones/{zone}"
              Сокращенные форматы:
                - "projects/{project}/viZones/{zone}"
                - "viZones/{zone}"
                - "{zone}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/viZones/myZone"
              - "projects/myProject/viZones/myZone"
              - "viZones/myZone"
              - "myZone"
        dataCenter:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/datacenters/{datacenter}"
              Сокращенные форматы:
                - "projects/{project}/datacenters/{datacenter}"
                - "datacenters/{datacenter}"
                - "{datacenter}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/datacenters/myDatacenter"
              - "projects/myProject/datacenters/myDatacenter"
              - "datacenters/myDatacenter"
              - "myDatacenter"
        edgeRouter:
          $ref: '#/components/schemas/EdgeRouterSpecRequest'
        cpu:
          type: integer
          description: Количество CPU
          format: int64
        memory:
          type: string
          description: Объем памяти
        billingType:
          $ref: '#/components/schemas/BillingType'
          description: Тип учета используемых ресурсов
        segmentId:
          type: string
          description: |-
            Идентификатор типа оборудования
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/segments/{segment}"
              Сокращенные форматы:
                - "projects/{project}/segments/{segment}"
                - "segments/{segment}"
                - "{segment}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/segments/mySegment"
              - "projects/myProject/segments/mySegment"
              - "segments/mySegment"
              - "mySegment"
        storages:
          type: array
          description: Диски VDC
          items:
            $ref: '#/components/schemas/VIStorageSpecRequest'
      required:
        - zone
        - edgeRouter
        - cpu
        - memory
        - segmentId
        - storages

    EdgeRouterSpecRequest:
      type: object
      properties:
        networkQoSProfileId:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/networkQoSProfiles/{networkQoSProfile}"
              Сокращенные форматы:
                - "projects/{project}/networkQoSProfiles/{networkQoSProfile}"
                - "networkQoSProfiles/{networkQoSProfile}"
                - "{networkQoSProfile}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/networkQoSProfiles/myNetworkQoSProfile"
              - "projects/myProject/networkQoSProfiles/myNetworkQoSProfile"
              - "networkQoSProfiles/myNetworkQoSProfile"
              - "myNetworkQoSProfile"
        networkZone:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/networkZoneTypes/{networkZoneType}"
              Сокращенные форматы:
                - "projects/{project}/networkZoneTypes/{networkZoneType}"
                - "networkZoneTypes/{networkZoneType}"
                - "{networkZoneType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/networkZoneTypes/myNetworkZoneType"
              - "projects/myProject/networkZoneTypes/myNetworkZoneType"
              - "networkZoneTypes/myNetworkZoneType"
              - "myNetworkZoneType"
      required:
        - networkQoSProfileId

    BillingType:
      type: string
      description: Тип учета используемых ресурсов
      enum:
        - "PER_VM"
        - "PER_VDC"
      default: PER_VM

    VIStorageSpecRequest:
      type: object
      properties:
        limit:
          type: string
          description: Storage profile limit
        storageTypeId:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/storageTypes/{storageType}"
              Сокращенные форматы:
                - "projects/{project}/storageTypes/{storageType}"
                - "storageTypes/{storageType}"
                - "{storageType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/storageTypes/myStorageType"
              - "projects/myProject/storageTypes/myStorageType"
              - "storageTypes/myStorageType"
              - "myStorageType"
      required:
        - limit
        - storageTypeId

    CalculateSpecResponse:
      type: object
      properties:
        dynamic:
          type: object
          additionalProperties: true

    VDCListSpecResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/VDCResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    VDCResponse:
      type: object
      properties:
        kind:
          type: string
          default: vi/v1/vdc
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/VDCSpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/ResourceStatusResponse'
          description: Текущее состояние ресурса, вычисляемое системой
          nullable: true
      required:
        - metadata
        - spec

    CommonTypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        id:
          type: string
          description: |-
            ID свойства
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
        displayName:
          type: string
          description: Отображаемое имя свойства
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса
          format: date-time
        purgeTime:
          type: string
          description: Время удаления ресурса
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/UsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    UsageResponse:
      type: object
      description: Связь ресурса с другим ресурсом. В зависимости от типа связи операции над ресурсом могут быть ограничены
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных `own` и `use` могут быть добавлены специализированные типы для конкретных сервисов
        name:
          type: string
          description: Имя связи. Требуется для модификации коллекции
        resource:
          type: string
          description: Ссылка на ресурс
      required:
        - usageType
        - name
        - resource

    VDCSpecResponse:
      type: object
      properties:
        href:
          type: string
          description: Ссылка на ресурс
        zone:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/viZones/{zone}"
              Сокращенные форматы:
                - "projects/{project}/viZones/{zone}"
                - "viZones/{zone}"
                - "{zone}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/viZones/myZone"
              - "projects/myProject/viZones/myZone"
              - "viZones/myZone"
              - "myZone"
        dataCenter:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/datacenters/{datacenter}"
              Сокращенные форматы:
                - "projects/{project}/datacenters/{datacenter}"
                - "datacenters/{datacenter}"
                - "{datacenter}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/datacenters/myDatacenter"
              - "projects/myProject/datacenters/myDatacenter"
              - "datacenters/myDatacenter"
              - "myDatacenter"
        edgeRouter:
          $ref: '#/components/schemas/EdgeRouterSpecResponse'
        cpu:
          type: integer
          description: Количество CPU
          format: int64
        memory:
          type: string
          description: Объем памяти
        billingType:
          $ref: '#/components/schemas/BillingType'
          description: Тип учета используемых ресурсов
        segmentId:
          type: string
          description: |-
            Идентификатор типа оборудования
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/segments/{segment}"
              Сокращенные форматы:
                - "projects/{project}/segments/{segment}"
                - "segments/{segment}"
                - "{segment}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/segments/mySegment"
              - "projects/myProject/segments/mySegment"
              - "segments/mySegment"
              - "mySegment"
        storages:
          type: array
          description: Диски VDC
          items:
            $ref: '#/components/schemas/VIStorageSpecResponse'
      required:
        - zone
        - edgeRouter
        - cpu
        - memory
        - segmentId
        - storages

    EdgeRouterSpecResponse:
      type: object
      properties:
        networkQoSProfileId:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/networkQoSProfiles/{networkQoSProfile}"
              Сокращенные форматы:
                - "projects/{project}/networkQoSProfiles/{networkQoSProfile}"
                - "networkQoSProfiles/{networkQoSProfile}"
                - "{networkQoSProfile}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/networkQoSProfiles/myNetworkQoSProfile"
              - "projects/myProject/networkQoSProfiles/myNetworkQoSProfile"
              - "networkQoSProfiles/myNetworkQoSProfile"
              - "myNetworkQoSProfile"
        networkZone:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/networkZoneTypes/{networkZoneType}"
              Сокращенные форматы:
                - "projects/{project}/networkZoneTypes/{networkZoneType}"
                - "networkZoneTypes/{networkZoneType}"
                - "{networkZoneType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/networkZoneTypes/myNetworkZoneType"
              - "projects/myProject/networkZoneTypes/myNetworkZoneType"
              - "networkZoneTypes/myNetworkZoneType"
              - "myNetworkZoneType"
      required:
        - networkQoSProfileId

    VIStorageSpecResponse:
      type: object
      properties:
        limit:
          type: string
          description: Storage profile limit
        storageTypeId:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/storageTypes/{storageType}"
              Сокращенные форматы:
                - "projects/{project}/storageTypes/{storageType}"
                - "storageTypes/{storageType}"
                - "{storageType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/storageTypes/myStorageType"
              - "projects/myProject/storageTypes/myStorageType"
              - "storageTypes/myStorageType"
              - "myStorageType"
      required:
        - limit
        - storageTypeId

    ResourceStatusResponse:
      type: object
      description: Текущее состояние ресурса, вычисляемое системой
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    BackupPolicyRequest:
      type: object
      properties:
        kind:
          type: string
          default: vi/v1/backupPolicy
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/BackupPolicySpecRequest'
      required:
        - metadata
        - spec

    BackupPolicySpecRequest:
      type: object
      properties:
        dataCenter:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/datacenters/{datacenter}"
              Сокращенные форматы:
                - "projects/{project}/datacenters/{datacenter}"
                - "datacenters/{datacenter}"
                - "{datacenter}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/datacenters/myDatacenter"
              - "projects/myProject/datacenters/myDatacenter"
              - "datacenters/myDatacenter"
              - "myDatacenter"
        storage:
          type: string
          description: Квота хранилища политики резервного копирования
        usedStorage:
          type: string
          description: Использованная квота хранилища политики резервного копирования
        licenses:
          type: integer
          description: Количество доступных лицензий
          format: int64
        usedLicenses:
          type: integer
          description: Количество использованных лицензий
          format: int64
        billingType:
          $ref: '#/components/schemas/BackupPolicyBillingType'
          description: Тип учета используемых ресурсов
      required:
        - dataCenter
        - storage
        - licenses

    BackupPolicyBillingType:
      type: string
      description: Тип учета используемых ресурсов
      enum:
        - "PER_USAGE"
        - "PER_ALLOCATION"
      default: PER_ALLOCATION

    BackupPolicyListSpecResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/BackupPolicyResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    BackupPolicyResponse:
      type: object
      properties:
        kind:
          type: string
          default: vi/v1/backupPolicy
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/BackupPolicySpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/ResourceStatusResponse'
          description: Текущее состояние ресурса, вычисляемое системой
          nullable: true
      required:
        - metadata
        - spec

    BackupPolicySpecResponse:
      type: object
      properties:
        dataCenter:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/datacenters/{datacenter}"
              Сокращенные форматы:
                - "projects/{project}/datacenters/{datacenter}"
                - "datacenters/{datacenter}"
                - "{datacenter}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/datacenters/myDatacenter"
              - "projects/myProject/datacenters/myDatacenter"
              - "datacenters/myDatacenter"
              - "myDatacenter"
        storage:
          type: string
          description: Квота хранилища политики резервного копирования
        usedStorage:
          type: string
          description: Использованная квота хранилища политики резервного копирования
        licenses:
          type: integer
          description: Количество доступных лицензий
          format: int64
        usedLicenses:
          type: integer
          description: Количество использованных лицензий
          format: int64
        billingType:
          $ref: '#/components/schemas/BackupPolicyBillingType'
          description: Тип учета используемых ресурсов
      required:
        - dataCenter
        - storage
        - licenses

    ZoneResponse:
      type: object
      properties:
        kind:
          type: string
          default: vi/v1/viZone
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/ZoneSpecResponse'
      required:
        - metadata
        - spec

    ZoneSpecResponse:
      type: object
      properties:
        dataCenter:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vi/projects/{project}/datacenters/{datacenter}"
              Сокращенные форматы:
                - "projects/{project}/datacenters/{datacenter}"
                - "datacenters/{datacenter}"
                - "{datacenter}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vi/projects/myProject/datacenters/myDatacenter"
              - "projects/myProject/datacenters/myDatacenter"
              - "datacenters/myDatacenter"
              - "myDatacenter"

    ViProjectStatsResponse:
      type: object
      properties:
        vdcs:
          type: integer
        externalIps:
          type: integer
        cpu:
          type: integer
          description: Количество CPU
          format: int64
        memory:
          type: string
          description: Объем памяти
        storageLimit:
          type: string
          description: Storage profile limit
      required:
        - vdcs
        - externalIps
        - cpu
        - memory
        - storageLimit

    StorageTypeResponse:
      type: object
      properties:
        kind:
          type: string
          default: vi/v1/storageType
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/StorageTypeSpecResponse'
      required:
        - metadata
        - spec

    StorageTypeSpecResponse:
      type: object
      properties:
        zones:
          type: array
          description: Зоны, для которых доступен данный тип хранилища
          items:
            type: string
            description: |-
              Ссылка на ресурс
            
              Строка в форматах:
                Полный формат:
                  - "vi/projects/{project}/viZones/{zone}"
                Сокращенные форматы:
                  - "projects/{project}/viZones/{zone}"
                  - "viZones/{zone}"
                  - "{zone}"
            
              Полный формат всегда корректен.
              Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
            
              Примеры:
                - "vi/projects/myProject/viZones/myZone"
                - "projects/myProject/viZones/myZone"
                - "viZones/myZone"
                - "myZone"
      required:
        - zones

    SegmentResponse:
      type: object
      properties:
        kind:
          type: string
          default: vi/v1/segment
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/SegmentSpecResponse'
      required:
        - metadata
        - spec

    SegmentSpecResponse:
      type: object
      properties:
        zones:
          type: array
          description: Зоны, для которых доступен данный сегмент
          items:
            type: string
            description: |-
              Ссылка на ресурс
            
              Строка в форматах:
                Полный формат:
                  - "vi/projects/{project}/viZones/{zone}"
                Сокращенные форматы:
                  - "projects/{project}/viZones/{zone}"
                  - "viZones/{zone}"
                  - "{zone}"
            
              Полный формат всегда корректен.
              Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
            
              Примеры:
                - "vi/projects/myProject/viZones/myZone"
                - "projects/myProject/viZones/myZone"
                - "viZones/myZone"
                - "myZone"
        gpuSupport:
          type: boolean
          description: Параметры поддержки GPU
        viSupport:
          type: boolean
          description: Параметры поддержки VI
      required:
        - zones
        - gpuSupport
        - viSupport

    NetworkZoneTypeResponse:
      type: object
      properties:
        kind:
          type: string
          default: vi/v1/networkZoneType
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/NetworkZoneTypeSpecResponse'
      required:
        - metadata
        - spec

    NetworkZoneTypeSpecResponse:
      type: object
      properties:
        zones:
          type: array
          description: Зоны, для которых доступен данный тип network zone
          items:
            type: string
            description: |-
              Ссылка на ресурс
            
              Строка в форматах:
                Полный формат:
                  - "vi/projects/{project}/viZones/{zone}"
                Сокращенные форматы:
                  - "projects/{project}/viZones/{zone}"
                  - "viZones/{zone}"
                  - "{zone}"
            
              Полный формат всегда корректен.
              Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
            
              Примеры:
                - "vi/projects/myProject/viZones/myZone"
                - "projects/myProject/viZones/myZone"
                - "viZones/myZone"
                - "myZone"
      required:
        - zones

    NetworkQoSProfileResponse:
      type: object
      properties:
        kind:
          type: string
          default: vi/v1/networkQoSProfile
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/NetworkQoSProfileSpecResponse'
      required:
        - metadata
        - spec

    NetworkQoSProfileSpecResponse:
      type: object
      properties:
        zones:
          type: array
          description: Зоны, для которых доступна данная политика
          items:
            type: string
            description: |-
              Ссылка на ресурс
            
              Строка в форматах:
                Полный формат:
                  - "vi/projects/{project}/viZones/{zone}"
                Сокращенные форматы:
                  - "projects/{project}/viZones/{zone}"
                  - "viZones/{zone}"
                  - "{zone}"
            
              Полный формат всегда корректен.
              Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
            
              Примеры:
                - "vi/projects/myProject/viZones/myZone"
                - "projects/myProject/viZones/myZone"
                - "viZones/myZone"
                - "myZone"
        bandwidth:
          type: string
          description: Максимальная величина пропускной способности
      required:
        - zones
        - bandwidth

    DataCenterListSpecResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DataCenterResponse'

    DataCenterResponse:
      type: object
      properties:
        kind:
          type: string
          default: vi/v1/viDataCenter
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/DataCenterSpecResponse'
      required:
        - metadata
        - spec

    DataCenterSpecResponse:
      type: object
      properties:
        vdcCount:
          type: integer
          description: Количество виртуальных дата-центров на ЦОДе
          format: int64

    ApiError:
      type: object
      description: Описание ошибки (если HTTP-статус отличен от 2xx)
      properties:
        code:
          type: string
          description: Короткий код ошибки
          enum:
            - "ALREADY_EXISTS"
            - "CANCELLED"
            - "DEADLINE_EXCEEDED"
            - "FAILED_PRECONDITION"
            - "INTERNAL"
            - "INVALID_ARGUMENT"
            - "NOT_FOUND"
            - "PERMISSION_DENIED"
            - "QUOTA_EXCEEDED"
            - "IDEMPOTENCY_KEY_ALREADY_USED"
            - "INVALID_ETAG_KEY"
            - "UNAUTHENTICATED"
            - "UNAVAILABLE"
            - "METHOD_NOT_ALLOWED"
            - "TOO_MANY_REQUESTS"
        type:
          type: string
          description: Подтип расширенной информации по ошибкам к которому удалось его привести. Null если привели к базовому типу
        description:
          type: string
          description: Развёрнутое пояснение ошибки
        retryPolicy:
          allOf:
            - $ref: '#/components/schemas/RetryPolicy'
          description: Правила выполнения повторных попыток в случае ошибки
          nullable: true
        details:
          type: object
          description: |-
            Детальная информация по ошибке в произвольном JSON формате. Содержимое не предназначено для машинной обработки
          
            Примеры:
              - '{"jsonPaths": [{"path": "foo.bar", "reason": "some reason", "offset": "line: 1, column: 2"}]}'
              - '{"errorInfo": "some error info"}'
          additionalProperties: true
      required:
        - code

    RetryPolicy:
      type: object
      description: Правила выполнения повторных попыток в случае ошибки
      properties:
        retryCount:
          type: integer
          description: Максимальное количество повторных попыток. 0 - значение по-умолчанию
        retryTimeout:
          type: string
          description: |-
            Пауза между повторными попытками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        retryTimeoutScale:
          $ref: '#/components/schemas/RetryTimeoutScale'
          description: Шаг увеличения таймаута
        maxRetryTimeout:
          type: string
          description: |-
            Максимальная длительность таймаута
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
      required:
        - retryCount
        - retryTimeout

    RetryTimeoutScale:
      type: string
      description: Шаг увеличения таймаута
      enum:
        - "FIXED"
        - "LINEAR"
        - "PROGRESSIVE"
        - "EXPONENTIAL"

  securitySchemes:
    BearerAuth:
      description: Токен авторизации IAM
      type: apiKey
      in: header
      name: Authorization

  parameters:
    path_backupPolicyName:
      name: backupPolicyName
      in: path
      required: true
      description: Имя политики резервного копирования
      style: simple
      schema:
        type: string
        example: my-resource

    path_project:
      name: project
      in: path
      required: true
      description: Путь к проекту.
      style: simple
      schema:
        type: string

    path_vdcName:
      name: vdcName
      in: path
      required: true
      description: Имя VDC
      style: simple
      schema:
        type: string
        example: my-resource

    query_filter:
      name: filter
      in: query
      description: |-
        Строка фильтра.
        Для фильтрации используется ограниченная реализация AIP-160 (https://google.aip.dev/160).
        Она включает в себя операции =, !=, OR, AND и (), фильтрацию свойств вложенных объектов и wildcard-поиск подстрок
      style: form
      explode: true
      schema:
        type: string

    query_orderBy:
      name: orderBy
      in: query
      description: |-
        Строка сортировки.
        Для сортировки используется реализация AIP-132 (https://google.aip.dev/132#ordering).
        Указывается перечислением полей с направлением сортировки (asc, desc) через запятую.
        По умолчанию используется сортировка по возрастанию (asc)
      style: form
      explode: true
      schema:
        type: string

    query_pageSize:
      name: pageSize
      in: query
      description: Максимальное количество объектов, которые клиент готов принять. Сервис определяет значение по умолчанию и верхнюю границу
      style: form
      explode: true
      schema:
        type: integer

    query_pageToken:
      name: pageToken
      in: query
      description: Строка, из предыдущего ответа на аналогичный запрос, для получения следующей страницы с объектами. Не задано для получения первой страницы
      style: form
      explode: true
      schema:
        type: string

    query_purge:
      name: purge
      in: query
      description: Удалить ресурс без возможности восстановления
      style: form
      explode: true
      schema:
        type: boolean

    query_waitNew:
      name: waitNew
      in: query
      description: Текущее значение ETag. При передаче параметра сервис будет ждать изменений в ресурсе до тех пор, пока значение ETag не будет изменено
      style: form
      explode: true
      schema:
        type: string

