# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.3.0
  title: Compute
  description: Публичная спецификация сервиса Compute

servers:
  - url: https://compute.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /compute/v1/vmTypes:
    get:
      tags:
        - vmType
      summary: Получить список типов виртуальных машин
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
      operationId: ListVmTypes
      parameters:
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список типов виртуальных машин
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VmTypesListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /compute/v1/vmTypes/{vmType}:
    get:
      tags:
        - vmType
      summary: Получить информацию о типе виртуальных машин
      operationId: GetVmType
      parameters:
        - $ref: "#/components/parameters/path_vmType"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VmTypeResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /compute/v1/diskTypes:
    get:
      tags:
        - diskType
      summary: Получить список типов диска
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.createTime`
          - `metadata.displayName`
      operationId: ListDiskTypes
      parameters:
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DiskTypeResponse'
                  nextPageToken:
                    $ref: '#/components/schemas/NextPageToken'
                    description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
                required:
                  - items
        default:
          description: Допустимые HTTP-коды ошибок — 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /compute/v1/diskTypes/{type}:
    get:
      tags:
        - diskType
      summary: Получить информацию о типе диска
      operationId: GetDiskType
      parameters:
        - $ref: "#/components/parameters/path_type"
        - $ref: "#/components/parameters/query_waitNew"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskTypeResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /compute/v1/projects/{project}/virtualMachines:
    get:
      tags:
        - virtualMachine
      summary: Получить список виртуальных машин
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `status.network.networkInterfaces.addresses.ipAddress`
          - `status.network.networkInterfaces.addresses.oneToOneNat.external.ipAddress`
          - `status.region`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.createTime`
          - `metadata.id.name`
          - `status.ready.state`
          - `spec.zone`
          - `spec.hardware.power`
          - `status.hardware.cpu.vcpuCount`
          - `status.hardware.memory.capacity`
      operationId: ListVirtualMachines
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Список виртуальных машин
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachinesListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /compute/v1/projects/{project}/virtualMachines/{virtualMachine}:
    post:
      tags:
        - virtualMachine
      summary: Создать или изменить виртуальную машину
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertVirtualMachine
      parameters:
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_virtualMachine"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для создания или изменения виртуальной машины
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachineRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 409, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - virtualMachine
      summary: Получить информацию о виртуальной машине
      operationId: GetVirtualMachine
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_virtualMachine"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - virtualMachine
      summary: Удалить виртуальную машину
      operationId: DeleteVirtualMachine
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_virtualMachine"
      security:
        - BearerAuth: []
      responses:
        "202":
          description: Запрос на удаление виртуальной машины принят
        "204":
          description: Виртуальная машина удалена
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 422, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /compute/v1/projects/{project}/images:latest:
    get:
      tags:
        - image
      summary: Получить последний созданный образ в рамках проекта и семейства
      operationId: LatestImage
      parameters:
        - $ref: "#/components/parameters/path_project_3c749d5b"
        - $ref: "#/components/parameters/query_family"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /compute/v1/projects/{project}/images:
    get:
      tags:
        - image
      summary: Получить список образов
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `spec.family`
          - `status.activity`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.createTime`
          - `metadata.displayName`
          - `spec.family`
          - `status.ready.state`
          - `status.storageSize`
      operationId: ListImages
      parameters:
        - $ref: "#/components/parameters/path_project_3c749d5b"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ImageResponse'
                  nextPageToken:
                    $ref: '#/components/schemas/NextPageToken'
                    description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
                required:
                  - items
        default:
          description: Допустимые HTTP-коды ошибок — 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /compute/v1/projects/{project}/images/{image}:
    post:
      tags:
        - image
      summary: Создать или изменить образ
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertImage
      parameters:
        - $ref: "#/components/parameters/path_project_3c749d5b"
        - $ref: "#/components/parameters/path_image"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/header_Idempotency-Key"
      security:
        - BearerAuth: []
      requestBody:
        description: Новые параметры для образа
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - image
      summary: Получить информацию об образе
      operationId: GetImage
      parameters:
        - $ref: "#/components/parameters/path_project_3c749d5b"
        - $ref: "#/components/parameters/path_image"
        - $ref: "#/components/parameters/query_waitNew"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - image
      summary: Удалить образ
      operationId: DeleteImage
      parameters:
        - $ref: "#/components/parameters/path_project_3c749d5b"
        - $ref: "#/components/parameters/path_image"
        - $ref: "#/components/parameters/query_purge"
        - $ref: "#/components/parameters/header_Idempotency-Key"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Успешный ответ (пустое тело ответа)
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /compute/v1/projects/{project}/disks:
    get:
      tags:
        - disk
      summary: Получить список дисков
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `spec.zone`
          - `spec.size`
          - `status.ready.state`
          - `status.storageSize`
          - `status.diskType`
          - `status.blockSize`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.createTime`
          - `metadata.id.name`
          - `metadata.displayName`
          - `spec.zone`
          - `spec.size`
          - `status.ready.state`
          - `status.storageSize`
          - `status.diskType`
          - `status.blockSize`
          - `status.iops.total`
      operationId: ListDisks
      parameters:
        - $ref: "#/components/parameters/path_project_3c749d5b"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DiskResponse'
                  nextPageToken:
                    $ref: '#/components/schemas/NextPageToken'
                    description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
                required:
                  - items
        default:
          description: Допустимые HTTP-коды ошибок — 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /compute/v1/projects/{project}/disks/{disk}:
    post:
      tags:
        - disk
      summary: Создать или изменить диск
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertDisk
      parameters:
        - $ref: "#/components/parameters/path_project_3c749d5b"
        - $ref: "#/components/parameters/path_disk"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/header_Idempotency-Key"
      security:
        - BearerAuth: []
      requestBody:
        description: Новые параметры диска
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiskRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 409, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - disk
      summary: Получить информацию о диске
      operationId: GetDisk
      parameters:
        - $ref: "#/components/parameters/path_project_3c749d5b"
        - $ref: "#/components/parameters/path_disk"
        - $ref: "#/components/parameters/query_waitNew"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - disk
      summary: Удалить диск
      operationId: DeleteDisk
      parameters:
        - $ref: "#/components/parameters/path_project_3c749d5b"
        - $ref: "#/components/parameters/path_disk"
        - $ref: "#/components/parameters/query_purge"
        - $ref: "#/components/parameters/header_Idempotency-Key"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Успешный ответ (пустое тело ответа)
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /compute/v1/projects/{project}/diskBackups:
    get:
      tags:
        - diskBackup
      summary: Получить список резервных копий дисков
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `status.ready.state`
          - `status.storageSize`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.createTime`
          - `metadata.displayName`
          - `status.ready.state`
          - `status.storageSize`
      operationId: ListDiskBackups
      parameters:
        - $ref: "#/components/parameters/path_project_3c749d5b"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DiskBackupResponse'
                  nextPageToken:
                    $ref: '#/components/schemas/NextPageToken'
                    description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
                required:
                  - items
        default:
          description: Допустимые HTTP-коды ошибок — 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /compute/v1/projects/{project}/diskBackups/{diskBackup}:
    post:
      tags:
        - diskBackup
      summary: Создать или изменить резервную копию диска
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertDiskBackup
      parameters:
        - $ref: "#/components/parameters/path_project_3c749d5b"
        - $ref: "#/components/parameters/path_diskBackup"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/header_Idempotency-Key"
      security:
        - BearerAuth: []
      requestBody:
        description: Данные для обновления резервной копии диска
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiskBackupRequest'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskBackupResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - diskBackup
      summary: Получить информацию о резервной копии диска
      operationId: GetDiskBackup
      parameters:
        - $ref: "#/components/parameters/path_project_3c749d5b"
        - $ref: "#/components/parameters/path_diskBackup"
        - $ref: "#/components/parameters/query_waitNew"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskBackupResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - diskBackup
      summary: Удалить резервную копию диска
      operationId: DeleteDiskBackup
      parameters:
        - $ref: "#/components/parameters/path_project_3c749d5b"
        - $ref: "#/components/parameters/path_diskBackup"
        - $ref: "#/components/parameters/query_purge"
        - $ref: "#/components/parameters/header_Idempotency-Key"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Успешный ответ (пустое тело ответа)
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /compute/v1/projects/{project}/virtualMachines/{virtualMachine}:getSerialPortOutput:
    get:
      tags:
        - serialPort
      summary: Get serial console output from virtual machine
      operationId: GetComputeSerialPortOutput
      parameters:
        - $ref: "#/components/parameters/path_project_3c749d5b"
        - $ref: "#/components/parameters/path_virtualMachine_fee3aaeb"
        - $ref: "#/components/parameters/query_serialPort"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerialPortOutputResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 401, 403, 404, 408, 412, 499, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    VmTypesListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/VmTypeResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    VmTypeResponse:
      type: object
      description: Тип ВМ
      properties:
        kind:
          type: string
          description: Тип объекта - vmType
          default: compute/v1/vmType
        metadata:
          type: object
          description: Метаданные типа ВМ
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    ID свойства
                  
                    Строка в формате: "compute/vmTypes/{vmType}"
                  
                    Пример: "compute/vmTypes/myVmType"
              required:
                - id
          nullable: true
        spec:
          $ref: '#/components/schemas/VmTypeSpecResponse'
          description: Спецификация типа ВМ
        status:
          allOf:
            - $ref: '#/components/schemas/VmTypeStatusResponse'
          description: Статус типа ВМ
          nullable: true
      required:
        - spec

    TypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя. Необязательное поле, можно свободно задавать и изменять для удобства организации ресурсов
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса (не фактическое время удаления)
          format: date-time
        purgeTime:
          type: string
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи, операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/TypedUsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    TypedUsageResponse:
      type: object
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных own и use могут быть добавлены специализированные типы для конкретных сервисов
        resource:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
      required:
        - usageType
        - resource

    VmTypeSpecResponse:
      type: object
      description: Спецификация типа ВМ
      properties:
        cpu:
          allOf:
            - $ref: '#/components/schemas/VmTypeCpuSpecResponse'
          description: Спецификация процессора, который доступен для ВМ указанного типа
          nullable: true
        memory:
          allOf:
            - $ref: '#/components/schemas/VmTypeMemorySpecResponse'
          description: Спецификация RAM, которая доступна для ВМ указанного типа
          nullable: true
        disks:
          allOf:
            - $ref: '#/components/schemas/VmTypeDisksSpecResponse'
          description: Спецификация сетевых дисков, которые доступны для ВМ указанного типа
          nullable: true
        localDisks:
          allOf:
            - $ref: '#/components/schemas/VmTypeLocalDisksSpecResponse'
          description: Спецификация локальных дисков, которые доступны для ВМ указанного типа
          nullable: true
        network:
          type: object
          description: Спецификация сети, которая доступна для ВМ указанного типа
          nullable: true

    VmTypeCpuSpecResponse:
      type: object
      description: Спецификация процессора, который доступен для ВМ указанного типа
      properties:
        vcpuCount:
          type: string
          description: Количество виртуальных ядер
          format: int32

    VmTypeMemorySpecResponse:
      type: object
      description: Спецификация RAM, которая доступна для ВМ указанного типа
      properties:
        capacity:
          type: string
          description: |-
            Количество оперативной памяти
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"

    VmTypeDisksSpecResponse:
      type: object
      description: Спецификация сетевых дисков, которые доступны для ВМ указанного типа
      properties:
        totalIops:
          type: string
          description: Максимальное количество операций ввода-вывода в секунду (IOPS) на ВМ. Зависит от количества виртуальных процессорных ядер (vCPU) у ВМ
          format: int32

    VmTypeLocalDisksSpecResponse:
      type: object
      description: Спецификация локальных дисков, которые доступны для ВМ указанного типа
      properties:
        limits:
          allOf:
            - $ref: '#/components/schemas/VmTypeLocalDiskLimitsSpecResponse'
          description: Спецификация лимитов локальных дисков для ВМ указанного типа
          nullable: true

    VmTypeLocalDiskLimitsSpecResponse:
      type: object
      description: Спецификация лимитов локальных дисков для ВМ указанного типа
      properties:
        disk:
          allOf:
            - $ref: '#/components/schemas/SingleLocalDiskLimitsSpecResponse'
          description: Спецификация лимитов одного локального диска доступного для ВМ указанного типа
          nullable: true
        total:
          allOf:
            - $ref: '#/components/schemas/TotalLocalDiskLimitsSpecResponse'
          description: Спецификация общих лимитов локальных дисков для ВМ указанного типа
          nullable: true

    SingleLocalDiskLimitsSpecResponse:
      type: object
      description: Спецификация лимитов одного локального диска доступного для ВМ указанного типа
      properties:
        size:
          allOf:
            - $ref: '#/components/schemas/SingleLocalDiskSizeLimitsSpecResponse'
          description: Спецификация лимитов на размер одного локального диска для ВМ указанного типа
          nullable: true

    SingleLocalDiskSizeLimitsSpecResponse:
      type: object
      description: Спецификация лимитов на размер одного локального диска для ВМ указанного типа
      properties:
        min:
          type: string
          description: |-
            Минимальный размер локального диска
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
        max:
          type: string
          description: |-
            Максимальный размер локального диска
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
        step:
          type: string
          description: |-
            Шаг изменения размера локального диска
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"

    TotalLocalDiskLimitsSpecResponse:
      type: object
      description: Спецификация общих лимитов локальных дисков для ВМ указанного типа
      properties:
        size:
          allOf:
            - $ref: '#/components/schemas/TotalLocalDiskSizeLimitsSpecResponse'
          description: Спецификация лимитов на общий объем локальных дисков для ВМ указанного типа
          nullable: true

    TotalLocalDiskSizeLimitsSpecResponse:
      type: object
      description: Спецификация лимитов на общий объем локальных дисков для ВМ указанного типа
      properties:
        min:
          type: string
          description: |-
            Минимальный суммарный объем локальных дисков
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
        max:
          type: string
          description: |-
            Максимальный суммарный объем локальных дисков
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"

    VmTypeStatusResponse:
      description: Статус типа ВМ
      $ref: '#/components/schemas/ResourceStatusResponse'

    ResourceStatusResponse:
      type: object
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    DiskTypeResponse:
      type: object
      description: Тип диска
      properties:
        kind:
          type: string
          description: Тип объекта (diskType)
          default: compute/v1/diskType
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Дополнительная информация об объекте
          nullable: true
        spec:
          $ref: '#/components/schemas/DiskTypeSpecResponse'
          description: Спецификация типа глобального диска
      required:
        - spec

    CommonTypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        id:
          type: string
          description: |-
            ID свойства
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
        displayName:
          type: string
          description: Отображаемое имя свойства
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса
          format: date-time
        purgeTime:
          type: string
          description: Время удаления ресурса
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи, операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/UsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    UsageResponse:
      type: object
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных own и use могут быть добавлены специализированные типы для конкретных сервисов
        name:
          type: string
          description: Имя связи, требуется для модификации коллекции
        resource:
          type: string
          description: Ссылка на ресурс
      required:
        - usageType
        - name
        - resource

    DiskTypeSpecResponse:
      type: object
      description: Спецификация типа глобального диска
      properties:
        zones:
          type: array
          description: Зоны доступности для диска
          items:
            type: string
            description: |-
              Ссылка на ресурс
            
              Строка в форматах:
                Полный формат:
                  - "rm/zones/{zone}"
                Сокращенные форматы:
                  - "zones/{zone}"
                  - "{zone}"
            
              Полный формат всегда корректен.
              Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
            
              Примеры:
                - "rm/zones/myZone"
                - "zones/myZone"
                - "myZone"
        limits:
          type: object
          description: |-
            Ограничения на операции ввода-вывода
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          properties:
            iops:
              type: object
              description: |-
                Базовое и максимальное количество операций ввода-вывода в секунду (IOPS)
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
              properties:
                base:
                  $ref: '#/components/schemas/Iops'
                  description: |-
                    Количество операций ввода-вывода в секунду (IOPS)
                  
                    Неизменяемое поле. Задается только при создании ресурса.
                    При обновлении ресурса можно передать только текущее значение
                max:
                  $ref: '#/components/schemas/Iops'
                  description: |-
                    Количество операций ввода-вывода в секунду (IOPS)
                  
                    Неизменяемое поле. Задается только при создании ресурса.
                    При обновлении ресурса можно передать только текущее значение
              required:
                - base
                - max
            minDiskSize:
              type: string
              description: |-
                Минимальный размер диска заданного типа
              
                Размер в байтах. Формат: <число> [единица измерения].
                Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
                Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
                Значение базовой единицы измерения (в байтах) должно оставаться целым.
                Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
              
                Примеры:
                  - "1"
                  - "1 B"
                  - "1024 kb"
                  - "1.5 TB"
            maxDiskSize:
              type: string
              description: |-
                Максимальный размер диска заданного типа
              
                Размер в байтах. Формат: <число> [единица измерения].
                Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
                Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
                Значение базовой единицы измерения (в байтах) должно оставаться целым.
                Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
              
                Примеры:
                  - "1"
                  - "1 B"
                  - "1024 kb"
                  - "1.5 TB"
          required:
            - iops
            - minDiskSize
            - maxDiskSize
      required:
        - zones
        - limits

    Iops:
      type: integer
      description: Количество операций ввода-вывода в секунду (IOPS)
      format: int64

    VirtualMachinesListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/VirtualMachineResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    VirtualMachineResponse:
      type: object
      description: Виртуальная машина (ВМ) — программная эмуляция физического сервера, предназначенная для запуска операционных систем и приложений
      properties:
        kind:
          type: string
          default: compute/v1/virtualMachine
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataResponse'
            - type: object
              properties:
                id:
                  type: string
                  description: |-
                    ID свойства
                  
                    Строка в формате: "compute/projects/{project}/virtualMachines/{virtualMachine}"
                  
                    Пример: "compute/projects/myProject/virtualMachines/myVirtualMachine"
              required:
                - id
          nullable: true
        spec:
          $ref: '#/components/schemas/VirtualMachineSpecResponse'
        status:
          allOf:
            - $ref: '#/components/schemas/VirtualMachineStatusResponse'
          nullable: true
      required:
        - spec

    VirtualMachineSpecResponse:
      type: object
      properties:
        zone:
          type: string
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        vmType:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "compute/vmTypes/{vmType}"
              Сокращенные форматы:
                - "vmTypes/{vmType}"
                - "{vmType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "compute/vmTypes/myVmType"
              - "vmTypes/myVmType"
              - "myVmType"
        hardware:
          allOf:
            - $ref: '#/components/schemas/HardwareSpecResponse'
          nullable: true
        os:
          allOf:
            - $ref: '#/components/schemas/OsSpecResponse'
          nullable: true
        storage:
          $ref: '#/components/schemas/StorageSpecResponse'
        network:
          $ref: '#/components/schemas/NetworkSpecResponse'
        serviceAccount:
          type: string
          description: |-
            Ссылка на сервис аккаунт привязанный к виртуальной машине
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAccounts/{serviceAccount}"
              Сокращенные форматы:
                - "projects/{project}/serviceAccounts/{serviceAccount}"
                - "serviceAccounts/{serviceAccount}"
                - "{serviceAccount}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAccounts/myServiceAccount"
              - "projects/myProject/serviceAccounts/myServiceAccount"
              - "serviceAccounts/myServiceAccount"
              - "myServiceAccount"
          nullable: true
      required:
        - zone
        - vmType
        - storage
        - network

    HardwareSpecResponse:
      type: object
      properties:
        power:
          type: string
          description: Целевое состояние питания виртуальной машины
          enum:
            - "ON"
            - "OFF"
          default: 'ON'
        gracefulShutdownTimeout:
          type: string
          description: |-
            Время ожидания (таймаут) при отключении по ACPI
          
            Выключение виртуальной машины происходит в 2 этапа:
            1. Гостевой ОС передается сигнал ACPI shutdown.
            2. В случае если гостевая ОС не завершила работу за заданное время, агент принудительно останавливает ВМ.
          
            При timeout=0 первый этап пропускается
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          default: 90s

    OsSpecResponse:
      type: object
      properties:
        hostname:
          type: string
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        localDomain:
          type: string
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        standardDnsRecords:
          type: boolean
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          default: true
        metadata:
          type: object
          properties:
            attributes:
              type: object
              additionalProperties:
                type: string
          nullable: true

    StorageSpecResponse:
      type: object
      properties:
        disks:
          type: array
          items:
            $ref: '#/components/schemas/StorageDiskSpecOrRefWithAttachmentsResponse'
        localDisks:
          type: array
          items:
            $ref: '#/components/schemas/StorageLocalDiskSpecResponse'
      required:
        - disks

    StorageDiskSpecOrRefWithAttachmentsResponse:
      type: object
      properties:
        name:
          type: string
          description: |-
            Уникальное имя диска в рамках виртуальной машины
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        boot:
          type: boolean
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        deviceName:
          type: string
          description: |-
            Уникальное имя устройства, которое отображается в дереве /dev/disk/by-id/mws-* Linux. Если не указано - "mws-{name}", если указано - "mws-{deviceName}"
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        disk:
          $ref: '#/components/schemas/StorageDiskSpecOrRefResponse'
      required:
        - name
        - disk

    StorageDiskSpecOrRefResponse:
      type: object
      properties:
        ref:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "compute/projects/{project}/disks/{disk}"
              Сокращенные форматы:
                - "projects/{project}/disks/{disk}"
                - "disks/{disk}"
                - "{disk}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "compute/projects/myProject/disks/myDisk"
              - "projects/myProject/disks/myDisk"
              - "disks/myDisk"
              - "myDisk"
        spec:
          allOf:
            - $ref: '#/components/schemas/StorageDiskSpecResponse'
          nullable: true

    StorageDiskSpecResponse:
      type: object
      properties:
        size:
          type: string
          description: |-
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
        source:
          type: object
          description: |-
            Источник для создания диска
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          properties:
            image:
              type: string
              description: |-
                Ссылка на образ
              
                Строка в форматах:
                  Полный формат:
                    - "compute/projects/{project}/images/{image}"
                  Сокращенные форматы:
                    - "projects/{project}/images/{image}"
                    - "images/{image}"
                    - "{image}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
              
                Примеры:
                  - "compute/projects/myProject/images/myImage"
                  - "projects/myProject/images/myImage"
                  - "images/myImage"
                  - "myImage"
          nullable: true
        diskType:
          type: string
          description: |-
            Ссылка на тип диска
          
            Строка в форматах:
              Полный формат:
                - "compute/diskTypes/{diskType}"
              Сокращенные форматы:
                - "diskTypes/{diskType}"
                - "{diskType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "compute/diskTypes/myDiskType"
              - "diskTypes/myDiskType"
              - "myDiskType"
        iops:
          $ref: '#/components/schemas/Iops'
          description: Запрашиваемая пользователем IOPS

    StorageLocalDiskSpecResponse:
      type: object
      properties:
        name:
          type: string
          description: |-
            Уникальное имя диска в рамках виртуальной машины
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        deviceName:
          type: string
          description: |-
            Уникальное имя устройства, которое отображается в дереве /dev/disk/by-id/mws-* Linux. Если не указано - "mws-{name}", если указано - "mws-{deviceName}"
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        size:
          type: string
          description: |-
            Размер диска. Должен быть кратен 248GB
          
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
      required:
        - name
        - size

    NetworkSpecResponse:
      type: object
      properties:
        networkInterfaces:
          type: array
          items:
            $ref: '#/components/schemas/NetworkInterfaceSpecResponse'
      required:
        - networkInterfaces

    NetworkInterfaceSpecResponse:
      type: object
      properties:
        name:
          type: string
          description: |-
            Имя сетевого интерфейса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        primary:
          type: boolean
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          default: true
        ipForwardingEnabled:
          type: boolean
        addresses:
          type: array
          description: IP-адреса сетевого интерфейса
          items:
            $ref: '#/components/schemas/AddressSpecOrRefWithAttachmentsResponse'
      required:
        - name
        - addresses

    AddressSpecOrRefWithAttachmentsResponse:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/AddressSpecOrRefResponse'
        oneToOneNat:
          allOf:
            - $ref: '#/components/schemas/ComputeOneToOneNatSpecResponse'
          description: NAT правило для связи внутреннего адреса с внешним адресом
          nullable: true
      required:
        - address

    AddressSpecOrRefResponse:
      type: object
      properties:
        ref:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
        spec:
          allOf:
            - $ref: '#/components/schemas/AddressSpecResponse'
          description: |-
            Возможно 2 варианта:
              - запросить резервирование случайного адреса (заданы параметры "version")
              - запросить резервирование конкретного адреса (заданы параметры "version", "ipAddress", остальные пусты)
            Если необходимо привязать внешний адрес, заполняется параметр "oneToOneNat"
          nullable: true

    AddressSpecResponse:
      type: object
      description: |-
        Возможно 2 варианта:
          - запросить резервирование случайного адреса (заданы параметры "version")
          - запросить резервирование конкретного адреса (заданы параметры "version", "ipAddress", остальные пусты)
        Если необходимо привязать внешний адрес, заполняется параметр "oneToOneNat"
      properties:
        subnet:
          type: string
          description: |-
            Подсеть облачной сети, к которой принадлежит внутренний адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"
        ipAddress:
          type: string
          description: |-
            Желаемый адрес. Если не указан, то будет выделен из пула адресов подсети
          
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"
        dns:
          type: array
          description: Настройки DNS
          items:
            $ref: '#/components/schemas/AddressDnsSpecResponse'
      required:
        - subnet

    AddressDnsSpecResponse:
      type: object
      properties:
        name:
          type: string
          description: DNS-имя виртуальной машины в MWS Cloud Platform
        ttl:
          type: string
          description: |-
            Продолжительность хранения DNS записи в кеше
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        ptr:
          type: boolean
          description: Создать обратную DNS-запись
      required:
        - name
        - ttl
        - ptr

    ComputeOneToOneNatSpecResponse:
      type: object
      description: NAT правило для связи внутреннего адреса с внешним адресом
      properties:
        external:
          type: object
          description: Информация о внешнем адресе
          properties:
            address:
              $ref: '#/components/schemas/OneToOneNatAddressSpecOrRefResponse'
          required:
            - address
      required:
        - external

    OneToOneNatAddressSpecOrRefResponse:
      type: object
      properties:
        ref:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
        spec:
          type: object
          description: NAT правило для связи внутреннего адреса с внешним адресом
          nullable: true

    VirtualMachineStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            hardware:
              $ref: '#/components/schemas/HardwareStatusResponse'
            os:
              $ref: '#/components/schemas/OsStatusResponse'
            storage:
              $ref: '#/components/schemas/StorageStatusResponse'
            network:
              $ref: '#/components/schemas/VirtualMachineNetworkStatusResponse'
            serviceAccount:
              allOf:
                - $ref: '#/components/schemas/ServiceAccountStatusResponse'
              description: Cтатус привязанного сервисного аккаунта
              nullable: true
          required:
            - hardware
            - os
            - storage
            - network

    HardwareStatusResponse:
      type: object
      properties:
        power:
          type: string
          description: Текущее состояние питания виртуальной машины
          enum:
            - "ON"
            - "OFF"
        gracefulShutdownTimeout:
          type: string
          description: |-
            Время ожидания (таймаут) при отключении по ACPI
          
            Выключение виртуальной машины происходит в 2 этапа:
            1. Гостевой ОС передается сигнал ACPI shutdown.
            2. В случае если гостевая ОС не завершила работу за заданное время, агент принудительно останавливает ВМ.
          
            При timeout=0 первый этап пропускается
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"

    OsStatusResponse:
      type: object
      properties:
        fqdn:
          type: string
          description: |-
            Предоставляет информацию о результирующем FQDN, доступном в виртуальной машине
            с помощью запуска утилиты 'hostname -f'. Результат обработки полей spec/os/hostname
            и spec/os/localDomain, а также дефолтов на основе metadata/name в случае, если эти поля не заданы
        standardDnsRecords:
          type: boolean
        osType:
          type: string
          description: Тип гостевой операционной системы
          enum:
            - "LINUX"
            - "WINDOWS"
          default: LINUX
      required:
        - fqdn

    StorageStatusResponse:
      type: object
      properties:
        disks:
          type: array
          items:
            $ref: '#/components/schemas/StorageDiskStatusResponse'
      required:
        - disks

    StorageDiskStatusResponse:
      type: object
      properties:
        name:
          type: string
          description: Уникальный в рамках ВМ псевдоним (alias) диска
        boot:
          type: boolean
          description: Является ли диск загрузочным
        deviceName:
          type: string
          description: Суффикс deviceName в dev/disk/by-id/
        ref:
          type: string
          description: |-
            Ссылка на ресурс "Диск"
          
            Строка в форматах:
              Полный формат:
                - "compute/projects/{project}/disks/{disk}"
              Сокращенные форматы:
                - "projects/{project}/disks/{disk}"
                - "disks/{disk}"
                - "{disk}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "compute/projects/myProject/disks/myDisk"
              - "projects/myProject/disks/myDisk"
              - "disks/myDisk"
              - "myDisk"
        ready:
          allOf:
            - $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Состояние ресурса Диска
          nullable: true
        iops:
          $ref: '#/components/schemas/Iops'
          description: Количество операций ввода-вывода в секунду (IOPS) для диска
        size:
          type: string
          description: |-
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
      required:
        - name
        - boot
        - deviceName
        - ref

    VirtualMachineNetworkStatusResponse:
      type: object
      properties:
        networkInterfaces:
          type: array
          items:
            $ref: '#/components/schemas/NetworkInterfaceStatusResponse'
      required:
        - networkInterfaces

    NetworkInterfaceStatusResponse:
      type: object
      properties:
        name:
          type: string
          description: Уникальный в рамках ВМ псевдоним (alias) сетевого интерфейса
        ipForwardingEnabled:
          type: boolean
          description: Признак, может ли сетевой интерфейс (адаптер) принимать трафик с нецелевого ip
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/VirtualMachineAddressStatusResponse'
      required:
        - name
        - addresses

    VirtualMachineAddressStatusResponse:
      type: object
      properties:
        subnet:
          type: string
          description: |-
            Подсеть, в которой был создан адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/subnets/{subnet}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/subnets/{subnet}"
                - "networks/{network}/subnets/{subnet}"
                - "subnets/{subnet}"
                - "{subnet}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "projects/myProject/networks/myNetwork/subnets/mySubnet"
              - "networks/myNetwork/subnets/mySubnet"
              - "subnets/mySubnet"
              - "mySubnet"
        network:
          type: string
          description: |-
            Сеть, в которой был создан адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}"
                - "networks/{network}"
                - "{network}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork"
              - "projects/myProject/networks/myNetwork"
              - "networks/myNetwork"
              - "myNetwork"
        ref:
          type: string
          description: |-
            Ref на ресурс Адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/addresses/{address}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/addresses/{address}"
                - "networks/{network}/addresses/{address}"
                - "addresses/{address}"
                - "{address}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/addresses/myAddress"
              - "projects/myProject/networks/myNetwork/addresses/myAddress"
              - "networks/myNetwork/addresses/myAddress"
              - "addresses/myAddress"
              - "myAddress"
        ipAddress:
          type: string
          description: |-
            Выделенный IP-адрес
          
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"
        standardDns:
          allOf:
            - $ref: '#/components/schemas/VirtualMachineAddressDnsStatusResponse'
          nullable: true
        dns:
          type: array
          items:
            $ref: '#/components/schemas/VirtualMachineAddressDnsStatusResponse'
        ready:
          allOf:
            - $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Статус ресурса Адрес
          nullable: true
        oneToOneNat:
          allOf:
            - $ref: '#/components/schemas/VirtualMachineOneToOneNatStatusResponse'
          nullable: true
      required:
        - ref

    VirtualMachineAddressDnsStatusResponse:
      type: object
      properties:
        name:
          type: string
          description: DNS-имя виртуальной машины в MWS Cloud Platform
        ttl:
          type: string
          description: |-
            Продолжительность хранения DNS записи в кеше
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        ptr:
          type: boolean
          description: Создать обратную DNS-запись
      required:
        - name
        - ttl
        - ptr

    VirtualMachineOneToOneNatStatusResponse:
      type: object
      properties:
        ref:
          type: string
          description: |-
            Ссылка на ресурс OneToOneNat
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/networks/{network}/oneToOneNats/{oneToOneNat}"
              Сокращенные форматы:
                - "projects/{project}/networks/{network}/oneToOneNats/{oneToOneNat}"
                - "networks/{network}/oneToOneNats/{oneToOneNat}"
                - "oneToOneNats/{oneToOneNat}"
                - "{oneToOneNat}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/networks/myNetwork/oneToOneNats/myOneToOneNat"
              - "projects/myProject/networks/myNetwork/oneToOneNats/myOneToOneNat"
              - "networks/myNetwork/oneToOneNats/myOneToOneNat"
              - "oneToOneNats/myOneToOneNat"
              - "myOneToOneNat"
        ready:
          allOf:
            - $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Ссылка на ресурс состояние ресурса OneToOneNat
          nullable: true
        external:
          allOf:
            - $ref: '#/components/schemas/OneToOneNatExternalAddressStatusResponse'
          description: Статус внешнего (публичного) Адреса
          nullable: true
      required:
        - ref

    OneToOneNatExternalAddressStatusResponse:
      type: object
      description: Статус внешнего (публичного) Адреса
      properties:
        ref:
          type: string
          description: |-
            Ref на публичный Адрес
          
            Строка в форматах:
              Полный формат:
                - "vpc/projects/{project}/externalAddresses/{externalAddress}"
              Сокращенные форматы:
                - "projects/{project}/externalAddresses/{externalAddress}"
                - "externalAddresses/{externalAddress}"
                - "{externalAddress}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "vpc/projects/myProject/externalAddresses/myExternalAddress"
              - "projects/myProject/externalAddresses/myExternalAddress"
              - "externalAddresses/myExternalAddress"
              - "myExternalAddress"
        ipAddress:
          type: string
          description: |-
            Фактически присвоенный публичный Адрес
          
            IPv4- или IPv6-адрес
          
            Примеры:
              - "192.168.1.1"
              - "2001:db8:130F::9C0:876A:130B"

    ServiceAccountStatusResponse:
      type: object
      description: Cтатус привязанного сервисного аккаунта
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            ref:
              type: string
              description: |-
                Ссылка на сервисный аккаунт
              
                Строка в форматах:
                  Полный формат:
                    - "iam/projects/{project}/serviceAccounts/{serviceAccount}"
                  Сокращенные форматы:
                    - "projects/{project}/serviceAccounts/{serviceAccount}"
                    - "serviceAccounts/{serviceAccount}"
                    - "{serviceAccount}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Примеры:
                  - "iam/projects/myProject/serviceAccounts/myServiceAccount"
                  - "projects/myProject/serviceAccounts/myServiceAccount"
                  - "serviceAccounts/myServiceAccount"
                  - "myServiceAccount"
            displayName:
              type: string
              description: Отображаемое имя сервисного аккаунта (может отличаться от имени в ID)

    VirtualMachineRequest:
      type: object
      description: Виртуальная машина (ВМ) — программная эмуляция физического сервера, предназначенная для запуска операционных систем и приложений
      properties:
        metadata:
          type: object
          allOf:
            - $ref: '#/components/schemas/TypedResourceMetadataRequest'
          nullable: true
        spec:
          $ref: '#/components/schemas/VirtualMachineSpecRequest'
          description: Обязательно для заполнения при создании ресурса

    TypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя. Необязательное поле, можно свободно задавать и изменять для удобства организации ресурсов
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    VirtualMachineSpecRequest:
      type: object
      properties:
        zone:
          type: string
          description: |-
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        vmType:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "compute/vmTypes/{vmType}"
              Сокращенные форматы:
                - "vmTypes/{vmType}"
                - "{vmType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "compute/vmTypes/myVmType"
              - "vmTypes/myVmType"
              - "myVmType"
        hardware:
          $ref: '#/components/schemas/HardwareSpecRequest'
        os:
          $ref: '#/components/schemas/OsSpecRequest'
        storage:
          $ref: '#/components/schemas/StorageSpecRequest'
          description: Обязательно для заполнения при создании ресурса
        network:
          $ref: '#/components/schemas/NetworkSpecRequest'
          description: Обязательно для заполнения при создании ресурса
        serviceAccount:
          type: string
          description: |-
            Ссылка на сервис аккаунт привязанный к виртуальной машине
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAccounts/{serviceAccount}"
              Сокращенные форматы:
                - "projects/{project}/serviceAccounts/{serviceAccount}"
                - "serviceAccounts/{serviceAccount}"
                - "{serviceAccount}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAccounts/myServiceAccount"
              - "projects/myProject/serviceAccounts/myServiceAccount"
              - "serviceAccounts/myServiceAccount"
              - "myServiceAccount"
          nullable: true

    HardwareSpecRequest:
      type: object
      properties:
        power:
          type: string
          description: Целевое состояние питания виртуальной машины
          enum:
            - "ON"
            - "OFF"
          default: 'ON'
        gracefulShutdownTimeout:
          type: string
          description: |-
            Время ожидания (таймаут) при отключении по ACPI
          
            Выключение виртуальной машины происходит в 2 этапа:
            1. Гостевой ОС передается сигнал ACPI shutdown.
            2. В случае если гостевая ОС не завершила работу за заданное время, агент принудительно останавливает ВМ.
          
            При timeout=0 первый этап пропускается
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
          default: 90s

    OsSpecRequest:
      type: object
      properties:
        hostname:
          type: string
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        localDomain:
          type: string
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        standardDnsRecords:
          type: boolean
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          default: true
        metadata:
          type: object
          properties:
            attributes:
              type: object
              additionalProperties:
                type: string

    StorageSpecRequest:
      type: object
      properties:
        disks:
          type: array
          description: |-
            Сложная коллекция. При обновлении ресурса сложная коллекция, переданная в запросе, объединяется с существующей по определенным правилам. Подробнее см. в описании метода `Upsert`
          
            Обязательно для заполнения при создании ресурса
          items:
            $ref: '#/components/schemas/StorageDiskSpecOrRefWithAttachmentsRequest'
        localDisks:
          type: array
          description: Сложная коллекция. При обновлении ресурса сложная коллекция, переданная в запросе, объединяется с существующей по определенным правилам. Подробнее см. в описании метода `Upsert`
          items:
            $ref: '#/components/schemas/StorageLocalDiskSpecRequest'

    StorageDiskSpecOrRefWithAttachmentsRequest:
      type: object
      properties:
        name:
          type: string
          description: |-
            Уникальное имя диска в рамках виртуальной машины
          
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        boot:
          type: boolean
          description: |-
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        deviceName:
          type: string
          description: |-
            Уникальное имя устройства, которое отображается в дереве /dev/disk/by-id/mws-* Linux. Если не указано - "mws-{name}", если указано - "mws-{deviceName}"
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        disk:
          $ref: '#/components/schemas/StorageDiskSpecOrRefRequest'
          description: Обязательно для заполнения при создании ресурса

    StorageDiskSpecOrRefRequest:
      type: object
      properties:
        ref:
          type: string
          description: |-
            Ссылка на ресурс
          
            Строка в форматах:
              Полный формат:
                - "compute/projects/{project}/disks/{disk}"
              Сокращенные форматы:
                - "projects/{project}/disks/{disk}"
                - "disks/{disk}"
                - "{disk}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "compute/projects/myProject/disks/myDisk"
              - "projects/myProject/disks/myDisk"
              - "disks/myDisk"
              - "myDisk"
        spec:
          $ref: '#/components/schemas/StorageDiskSpecRequest'

    StorageDiskSpecRequest:
      type: object
      properties:
        size:
          type: string
          description: |-
            Размер в байтах. Формат: <число> [единица измерения].
            Допустимые единицы измерения: `B`, `KB`, `MB`, `GB`, `TB`, `PB`, `EB`, `ZB`, `YB`, `RB`, `QB`. По умолчанию: `B`.
            Допустимые значения — положительные целые числа и дробные числа с ненулевой целой частью.
            Значение базовой единицы измерения (в байтах) должно оставаться целым.
            Регистр и лишние пробелы перед строкой, после строки и между ее частями игнорируются
          
            Примеры:
              - "1"
              - "1 B"
              - "1024 kb"
              - "1.5 TB"
        source:
          type: object
          description: |-
            Источник для создания диска
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          properties:
            image:
              type: string
              description: |-
                Ссылка на образ
              
                Строка в форматах:
                  Полный формат:
                    - "compute/projects/{project}/images/{image}"
                  Сокращенные форматы:
                    - "projects/{project}/images/{image}"
                    - "images/{image}"
                    - "{image}"
              
                Полный формат всегда корректен.
                Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
              
                Примеры:
                  - "compute/projects/myProject/images/myImage"
                  - "projects/myProject/images/myImage"
                  - "images/myImage"
                  - "myImage"
        diskType:
          type: string
          description: |-
            Ссылка на тип диска
          
            Строка в форматах:
              Полный формат:
                - "compute/diskTypes/{diskType}"
              Сокращенные форматы:
                - "diskTypes/{diskType}"
                - "{diskType}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "compute/diskTypes/myDiskType"
              - "diskTypes/myDiskType"
              - "myDiskType"
        iops:
          $ref: '#/components/schemas/Iops'
          description: Запрашиваемая пользователем IOPS

    StorageLocalDiskSpecRequest:
      type: object
      properties:
        name:
          type: string
          description: |-
            Уникальное имя диска в рамках виртуальной машины
          
            Обязательно для заполнения при создании ресурса
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
        deviceName:
          type: string
          description: |-
            Уникальное имя устройства, которое отображается в дереве /dev/disk/by-id/mws-* Linux. Если не указано - "mws-{name}", если указано - "mws-{deviceName}"
          
[...]
