# File generated by mwsapigen, DO NOT EDIT.

openapi: 3.0.3

info:
  version: 0.6.0
  title: Key Management Service (KMS)
  description: Публичная спецификация сервиса Key Management Service (KMS)

servers:
  - url: https://kms.mwsapis.ru

security:
  - BearerAuth: []

paths:
  /kms/v1/projects/{project}/cryptoKeys:
    get:
      tags:
        - cryptoKey
      summary: Получить список KMS ключей
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `spec.usagePolicy.enabled`
          - `status.destruction.status`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `spec.usagePolicy.enabled`
          - `status.destruction.status`
      operationId: ListCryptoKeys
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /kms/v1/projects/{project}/cryptoKeys/{key}:scheduleDestruction:
    post:
      tags:
        - cryptoKey
      summary: Запланировать уничтожение выбранного KMS ключа
      operationId: ScheduleDestructionOfCryptoKey
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
        - $ref: "#/components/parameters/query_destructionIntervalDays"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /kms/v1/projects/{project}/cryptoKeys/{key}:rotate:
    post:
      tags:
        - cryptoKey
      summary: Ротировать выбранный KMS ключ
      operationId: RotateCryptoKey
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /kms/v1/projects/{project}/cryptoKeys/{key}:cancelScheduledDestruction:
    post:
      tags:
        - cryptoKey
      summary: Отмена запланированного уничтожение выбранного KMS ключа
      operationId: CancelScheduledDestructionOfCryptoKey
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /kms/v1/projects/{project}/cryptoKeys/{key}:
    post:
      tags:
        - cryptoKey
      summary: Обновление (или создание) выбранного KMS ключа
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertCryptoKey
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CryptoKeyRequest'
      responses:
        "200":
          description: Success updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyResponse'
        "201":
          description: Success created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - cryptoKey
      summary: Получить выбранный KMS ключ
      operationId: GetCryptoKey
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /kms/v1/projects/{project}/cryptoKeys/{key}:generateDataKey:
    post:
      tags:
        - keyEncryption
      summary: Сгенерировать ключ шифрования данных
      operationId: GenerateDataKey
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateDataKeyRequest'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateDataKeyResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /kms/v1/projects/{project}/cryptoKeys/{key}:encrypt:
    post:
      tags:
        - keyEncryption
      summary: Зашифровать данные с использованием указанного KMS ключа
      operationId: Encrypt
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncryptRequest'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncryptResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /kms/v1/projects/{project}/cryptoKeys/{key}:decrypt:
    post:
      tags:
        - keyEncryption
      summary: Расшифровать заданный шифротекст с использованием указанного KMS ключа
      operationId: Decrypt
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecryptRequest'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecryptResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /kms/v1/projects/{project}/cryptoKeys/{destinationKey}:reEncrypt:
    post:
      tags:
        - keyEncryption
      summary: Расшифровать заданный шифротекст и повторно зашифровать его с помощью ключа KMS
      operationId: ReEncrypt
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_destinationKey"
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReEncryptRequest'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReEncryptResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /kms/v1/projects/{project}/cryptoKeys/{key}/cryptoKeyVersions:
    get:
      tags:
        - cryptoKeyVersion
      summary: Получить список версий для указанного KMS ключа
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `spec.usagePolicy.enabled`
          - `status.destruction.status`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.id.name`
          - `metadata.displayName`
          - `metadata.createTime`
          - `spec.usagePolicy.enabled`
          - `status.destruction.status`
      operationId: ListCryptoKeyVersions
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_filter"
        - $ref: "#/components/parameters/query_orderBy"
        - $ref: "#/components/parameters/path_key"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyVersionListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /kms/v1/projects/{project}/cryptoKeys/{key}/cryptoKeyVersions/{version}:scheduleDestruction:
    post:
      tags:
        - cryptoKeyVersion
      summary: Запланировать удаление указанной версии KMS ключа
      operationId: ScheduleDestructionOfCryptoKeyVersion
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
        - $ref: "#/components/parameters/path_version"
        - $ref: "#/components/parameters/query_destructionIntervalDays"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyVersionResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /kms/v1/projects/{project}/cryptoKeys/{key}/cryptoKeyVersions/{version}:cancelScheduledDestruction:
    post:
      tags:
        - cryptoKeyVersion
      summary: Отменить запланированное удаление указанной версии KMS ключа
      operationId: CancelScheduledDestructionOfCryptoKeyVersion
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
        - $ref: "#/components/parameters/path_version"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyVersionResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /kms/v1/projects/{project}/cryptoKeys/{key}/cryptoKeyVersions/{version}:
    post:
      tags:
        - cryptoKeyVersion
      summary: Обновляет указанную версию ключа KMS (для создания используйте операцию rotateCryptoKey)
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertCryptoKeyVersion
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/path_key"
        - $ref: "#/components/parameters/path_version"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CryptoKeyVersionRequest'
      responses:
        "200":
          description: Success updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyVersionResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 409, 412, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - cryptoKeyVersion
      summary: Получить указанную версию KMS ключа
      operationId: GetCryptoKeyVersion
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
        - $ref: "#/components/parameters/path_version"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyVersionResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /kms/v1/projects/{project}/cryptoKeys/{key}/cryptoKeyRoleBindings:
    get:
      tags:
        - cryptoKeyRoleBinding
      summary: Возвращает список назначенных ролей для доступа к ключу KMS
      description: |-
        Операция позволяет получить список ресурсов
      
        Поддерживается фильтрация и сортировка с помощью query-параметров `filter` и `orderBy`.
        Информация по использованию этих параметров находится в их описании
      
        Поля, по которым можно фильтровать (`filter`):
          - `spec.subject.user.idPath`
          - `spec.subject.serviceAccount.idPath`
          - `spec.subject.systemServiceAccount.idPath`
          - `spec.subject.serviceAgent.idPath`
          - `spec.subject.userFederation.id.idPath`
          - `spec.subject.userFederation.context.subject`
          - `spec.subject.userFederation.context.attribute.name`
          - `spec.subject.userFederation.context.attribute.value`
          - `metadata.id.name`
      
        Поля, по которым можно сортировать (`orderBy`):
          - `metadata.createTime`
          - `metadata.updateTime`
      operationId: ListCryptoKeyRoleBindings
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
        - $ref: "#/components/parameters/query_pageToken"
        - $ref: "#/components/parameters/query_pageSize"
        - $ref: "#/components/parameters/query_filter"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyRoleBindingListResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /kms/v1/projects/{project}/cryptoKeys/{key}/cryptoKeyRoleBindings/{roleBinding}:
    post:
      tags:
        - cryptoKeyRoleBinding
      summary: Назначить роль для доступа к KMS ключу
      description: |-
        Метод создает новый ресурс или обновляет существующий.
        Поддерживается частичное обновление ресурса
      
        Поля, переданные в запросе, объединяются с уже существующими полями по следующим правилам:
          - текущие значения заменяются на новые, переданные в запросе;
          - если для поля в запросе передается значение `null`, его текущее значение удаляется. Актуально только для опциональных полей, которые могут иметь значение `null`;
          - простые коллекции полностью перезаписывают существующие;
          - сложные коллекции объединяются рекурсивно:
            - элементы идентифицируются по обязательному уникальному атрибуту `name`;
            - если элементу соответствует элемент в запросе, он обновляется по тем же правилам, что и весь ресурс;
            - если элемент присутствует в текущем описании ресурса, но отсутствует в запросе, он удаляется;
            - если элемент присутствует в запросе, но отсутствует в текущем описании ресурса, он создается;
            - порядок элементов становится таким же, как в запросе.
      
        Тип коллекции указывается в описании соответствующего поля
      
        Чтобы предотвратить конфликты при конкурентном обновлении ресурса, в запросе нужно передать поле `metadata.etag`.
        Значение `ETag` вычисляется и возвращается сервисом при каждом обновлении состояния ресурса.
        Если в момент отправки запроса `ETag` изменился на стороне сервиса, в ответе возвращается ошибка `INVALID_ETAG_KEY`.
      operationId: UpsertCryptoKeyRoleBinding
      parameters:
        - $ref: "#/components/parameters/header_Idempotency-Key"
        - $ref: "#/components/parameters/query_createOnly"
        - $ref: "#/components/parameters/query_updateOnly"
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
        - $ref: "#/components/parameters/path_roleBinding"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CryptoKeyRoleBindingRequest'
      responses:
        "200":
          description: Success updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyRoleBindingResponse'
        "201":
          description: Success create
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyRoleBindingResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - cryptoKeyRoleBinding
      summary: Возвращает назначенную роль для доступа к ключу KMS
      operationId: GetCryptoKeyRoleBinding
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
        - $ref: "#/components/parameters/path_roleBinding"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoKeyRoleBindingResponse'
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      tags:
        - cryptoKeyRoleBinding
      summary: Удалить роль для доступа к ключу KMS
      operationId: DeleteCryptoKeyRoleBinding
      parameters:
        - $ref: "#/components/parameters/path_project"
        - $ref: "#/components/parameters/path_key"
        - $ref: "#/components/parameters/path_roleBinding"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No Content
        default:
          description: Допустимые HTTP-коды ошибок — 400, 403, 404, 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    CryptoKeyListResponse:
      type: object
      properties:
        items:
          type: array
          description: Список ключей KMS в указанном проекте
          items:
            $ref: '#/components/schemas/CryptoKeyResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    CryptoKeyResponse:
      type: object
      description: Ключ — ресурс облака, который объединяет несколько экземпляров криптографических ключей, называемых версиями ключа
      properties:
        kind:
          type: string
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/CryptoKeySpecResponse'
        status:
          $ref: '#/components/schemas/CryptoKeyStatusResponse'
      required:
        - kind
        - metadata
        - spec
        - status

    CommonTypedResourceMetadataResponse:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        id:
          type: string
          description: |-
            ID свойства
          
            Строка в формате: "servicename/foos/{foo}/bars/{bar}"
          
            Пример: "servicename/foos/myFoo/bars/myBar"
        displayName:
          type: string
          description: Отображаемое имя свойства
        createTime:
          type: string
          description: Дата создания объекта
          format: date-time
        updateTime:
          type: string
          description: Дата последнего изменения объекта
          format: date-time
        deleteTime:
          type: string
          description: Время запроса на удаление ресурса
          format: date-time
        purgeTime:
          type: string
          description: Время удаления ресурса
          format: date-time
        usages:
          type: array
          description: Связи с другими ресурсами. В зависимости от типа связи операции над ресурсом могут быть ограничены
          items:
            $ref: '#/components/schemas/UsageResponse'
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    UsageResponse:
      type: object
      description: Связь ресурса с другим ресурсом. В зависимости от типа связи операции над ресурсом могут быть ограничены
      properties:
        usageType:
          type: string
          description: Тип связи. Помимо стандартных `own` и `use` могут быть добавлены специализированные типы для конкретных сервисов
        name:
          type: string
          description: Имя связи. Требуется для модификации коллекции
        resource:
          type: string
          description: Ссылка на ресурс
      required:
        - usageType
        - name
        - resource

    CryptoKeySpecResponse:
      type: object
      properties:
        defaultAlgorithm:
          $ref: '#/components/schemas/CryptoKeyAlgorithm'
          description: |-
            Криптографический алгоритм по-умолчанию, используемый для выпуска новых версий ключа.
            Этот алгоритм будет применяться при создании новых версий ключа во время ротации
        destructionPolicy:
          type: object
          description: Политика уничтожения ключа. Определяет параметры и расписание
          properties:
            defaultDestructionIntervalDays:
              type: integer
              description: |-
                Указывает количество дней, по истечении которых ключ будет окончательно уничтожен,
                начиная с момента отправки запроса на удаление.
                Значение можно задать только при создании ключа, и оно не может быть изменено позже.
                Если значение не указано при создании ключа, используется значение по умолчанию (1 день)
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
              format: int32
              default: 1
              example: 7
          nullable: true
        usagePolicy:
          type: object
          description: Политика использования ключа. Определяет, разрешены ли криптографические операции с этим ключом
          properties:
            enabled:
              type: boolean
              description: |-
                Флаг, указывающий, разрешены ли криптографические операции с этим ключом.
                Если значение установлено в `false`, все операции шифрования, расшифровки и другие
                криптографические операции с этим ключом будут заблокированы
              default: true
          nullable: true
        rotationPolicy:
          type: object
          description: Параметры политики, управляющие ротацией криптографического ключа
          properties:
            enabled:
              type: boolean
              description: Флаг, указывающий, включена ли автоматическая ротация для ключа
              default: true
            rotationIntervalDays:
              type: integer
              description: Интервал в днях, через который должна выполняться ротация криптографического ключа
              format: int32
              example: 30
          nullable: true
        primaryKeyVersionRef:
          type: string
          description: |-
            Идентификатор основной версии криптографического ключа.
            Используется только когда автоматическая ротация отключена
          
            Строка в форматах:
              Полный формат:
                - "kms/projects/{project}/cryptoKeys/{key}/cryptoKeyVersions/{version}"
              Сокращенные форматы:
                - "projects/{project}/cryptoKeys/{key}/cryptoKeyVersions/{version}"
                - "cryptoKeys/{key}/cryptoKeyVersions/{version}"
                - "cryptoKeyVersions/{version}"
                - "{version}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "kms/projects/myProject/cryptoKeys/myKey/cryptoKeyVersions/myVersion"
              - "projects/myProject/cryptoKeys/myKey/cryptoKeyVersions/myVersion"
              - "cryptoKeys/myKey/cryptoKeyVersions/myVersion"
              - "cryptoKeyVersions/myVersion"
              - "myVersion"
          nullable: true

    CryptoKeyAlgorithm:
      type: string
      enum:
        - "AES_128_GCM"
        - "AES_192_GCM"
        - "AES_256_GCM"
      default: AES_256_GCM

    CryptoKeyStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            rotation:
              type: object
              properties:
                lastTime:
                  type: string
                  description: Временная метка последней ротации криптографического ключа
                  format: date-time
                  example: 2023-08-01T12:00:00Z
                nextTime:
                  type: string
                  description: Временная метка следующей запланированной ротации криптографического ключа
                  format: date-time
                  example: 2023-09-01T12:00:00Z
                primaryKeyVersionRef:
                  type: string
                  description: |-
                    Идентификатор основной версии криптографического ключа.
                    Это значение представляет номер версии ключа, который в данный момент
                    установлен как основной для криптографических операций
                  
                    Строка в форматах:
                      Полный формат:
                        - "kms/projects/{project}/cryptoKeys/{key}/cryptoKeyVersions/{version}"
                      Сокращенные форматы:
                        - "projects/{project}/cryptoKeys/{key}/cryptoKeyVersions/{version}"
                        - "cryptoKeys/{key}/cryptoKeyVersions/{version}"
                        - "cryptoKeyVersions/{version}"
                        - "{version}"
                  
                    Полный формат всегда корректен.
                    Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
                  
                    Примеры:
                      - "kms/projects/myProject/cryptoKeys/myKey/cryptoKeyVersions/myVersion"
                      - "projects/myProject/cryptoKeys/myKey/cryptoKeyVersions/myVersion"
                      - "cryptoKeys/myKey/cryptoKeyVersions/myVersion"
                      - "cryptoKeyVersions/myVersion"
                      - "myVersion"
              nullable: true
            destruction:
              type: object
              description: |-
                Информация о процессе уничтожения криптографического ключа.
                Этот раздел присутствует только в том случае, если ключ запланирован к уничтожению
                или уже уничтожен
              properties:
                status:
                  type: string
                  description: |-
                    Текущий статус процесса уничтожения криптографического ключа.
                    Это поле заполняется только тогда, когда ключ находится в одном из статусов уничтожения.
                    Возможные значения:
                    - SCHEDULED_FOR_DESTRUCTION: криптографический ключ запланирован к уничтожению в будущем
                    - DESTROYED: криптографический ключ был окончательно уничтожен и не может быть восстановлен
                  enum:
                    - "SCHEDULED_FOR_DESTRUCTION"
                    - "DESTROYED"
                scheduledDestructionTime:
                  type: string
                  description: |-
                    Временная метка, указывающая, когда ключ должен быть уничтожен.
                    Если это поле установлено, ключ будет автоматически уничтожен в указанное время
                  format: date-time
                  example: 2025-08-01T12:00:00Z
                destroyTime:
                  type: string
                  description: Время уничтожения криптографического ключа
                  format: date-time
                  example: 2025-11-01T12:00:00Z
              nullable: true

    ResourceStatusResponse:
      type: object
      description: Текущее состояние ресурса, вычисляемое системой
      properties:
        ready:
          $ref: '#/components/schemas/ResourceStatusReadyResponse'
          description: Информация о статусе реконсиляции
      required:
        - ready

    ResourceStatusReadyResponse:
      type: object
      description: Информация о статусе реконсиляции
      properties:
        state:
          $ref: '#/components/schemas/ResourceStatusState'
          description: Состояние ресурса
        message:
          type: string
          description: Описание статуса
          example: Success operation
      required:
        - state

    ResourceStatusState:
      type: string
      description: Состояние ресурса
      enum:
        - "OK"
        - "FAILED"
        - "PROCESSING"

    NextPageToken:
      type: string
      description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан

    CryptoKeyRequest:
      type: object
      description: Ключ — ресурс облака, который объединяет несколько экземпляров криптографических ключей, называемых версиями ключа
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/CryptoKeySpecRequest'
          description: Обязательно для заполнения при создании ресурса

    CommonTypedResourceMetadataRequest:
      type: object
      description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
      properties:
        displayName:
          type: string
          description: Отображаемое имя свойства
        etag:
          type: string
          description: Идентификатор состояния ресурса, позволяет отслеживать изменение ресурса
        description:
          type: string
          description: Описание ресурса

    CryptoKeySpecRequest:
      type: object
      properties:
        defaultAlgorithm:
          $ref: '#/components/schemas/CryptoKeyAlgorithm'
          description: |-
            Криптографический алгоритм по-умолчанию, используемый для выпуска новых версий ключа.
            Этот алгоритм будет применяться при создании новых версий ключа во время ротации
        destructionPolicy:
          type: object
          description: Политика уничтожения ключа. Определяет параметры и расписание
          properties:
            defaultDestructionIntervalDays:
              type: integer
              description: |-
                Указывает количество дней, по истечении которых ключ будет окончательно уничтожен,
                начиная с момента отправки запроса на удаление.
                Значение можно задать только при создании ключа, и оно не может быть изменено позже.
                Если значение не указано при создании ключа, используется значение по умолчанию (1 день)
              
                Неизменяемое поле. Задается только при создании ресурса.
                При обновлении ресурса можно передать только текущее значение
              format: int32
              default: 1
              example: 7
          nullable: true
        usagePolicy:
          type: object
          description: Политика использования ключа. Определяет, разрешены ли криптографические операции с этим ключом
          properties:
            enabled:
              type: boolean
              description: |-
                Флаг, указывающий, разрешены ли криптографические операции с этим ключом.
                Если значение установлено в `false`, все операции шифрования, расшифровки и другие
                криптографические операции с этим ключом будут заблокированы
              default: true
          nullable: true
        rotationPolicy:
          type: object
          description: Параметры политики, управляющие ротацией криптографического ключа
          properties:
            enabled:
              type: boolean
              description: Флаг, указывающий, включена ли автоматическая ротация для ключа
              default: true
            rotationIntervalDays:
              type: integer
              description: Интервал в днях, через который должна выполняться ротация криптографического ключа
              format: int32
              example: 30
          nullable: true
        primaryKeyVersionRef:
          type: string
          description: |-
            Идентификатор основной версии криптографического ключа.
            Используется только когда автоматическая ротация отключена
          
            Строка в форматах:
              Полный формат:
                - "kms/projects/{project}/cryptoKeys/{key}/cryptoKeyVersions/{version}"
              Сокращенные форматы:
                - "projects/{project}/cryptoKeys/{key}/cryptoKeyVersions/{version}"
                - "cryptoKeys/{key}/cryptoKeyVersions/{version}"
                - "cryptoKeyVersions/{version}"
                - "{version}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "kms/projects/myProject/cryptoKeys/myKey/cryptoKeyVersions/myVersion"
              - "projects/myProject/cryptoKeys/myKey/cryptoKeyVersions/myVersion"
              - "cryptoKeys/myKey/cryptoKeyVersions/myVersion"
              - "cryptoKeyVersions/myVersion"
              - "myVersion"
          nullable: true

    GenerateDataKeyRequest:
      type: object
      properties:
        version:
          type: integer
          description: Версия криптографического ключа, используемая для шифрования ключа данных
          format: int32
          example: 3
        bits:
          type: integer
          description: Длина генерируемого ключа (в битах — 128, 192, 256)
          format: int32
          example: 256
        associatedData:
          type: string
          description: |-
            Дополнительные данные, которые могут быть включены в процесс аутентифицированного шифрования
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          format: byte
        ciphertextOnly:
          type: boolean
          description: Если установлено значение `true`, будет возвращено только зашифрованное значение (ciphertext)
      required:
        - bits

    GenerateDataKeyResponse:
      type: object
      properties:
        version:
          type: integer
          description: Версия криптографического ключа, используемая для шифрования ключа данных
          format: int32
          example: 3
        dataKeyCiphertext:
          type: string
          description: |-
            Зашифрованный ключ шифрования данных
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          format: byte
        dataKeyPlaintext:
          type: string
          description: |-
            Сгенерированный ключ шифрования данных
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          format: byte
      required:
        - version
        - dataKeyCiphertext

    EncryptRequest:
      type: object
      properties:
        version:
          type: integer
          description: Версия криптографического ключа, используемая для шифрования открытых данных
          format: int32
          example: 3
        plaintext:
          type: string
          description: |-
            Открытые данные, которые необходимо зашифровать. Должны быть закодированы в base64
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          format: byte
        associatedData:
          type: string
          description: |-
            Дополнительные данные, которые могут быть включены в процесс аутентифицированного шифрования
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          format: byte
      required:
        - plaintext

    EncryptResponse:
      type: object
      properties:
        version:
          type: integer
          description: Версия криптографического ключа, используемая для шифрования открытых данных
          format: int32
          example: 3
        ciphertext:
          type: string
          description: |-
            Полученный шифротекст
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          format: byte
      required:
        - version
        - ciphertext

    DecryptRequest:
      type: object
      properties:
        ciphertext:
          type: string
          description: |-
            Шифротекст, который необходимо расшифровать
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          format: byte
        associatedData:
          type: string
          description: |-
            Дополнительные данные, которые могут быть включены в процесс аутентифицированного шифрования
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          format: byte
      required:
        - ciphertext

    DecryptResponse:
      type: object
      properties:
        plaintext:
          type: string
          description: |-
            Полученный открытый текст
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          format: byte
        version:
          type: integer
          description: Версия криптографического ключа, использованная для расшифровки
          format: int32
          example: 3
      required:
        - plaintext
        - version

    ReEncryptRequest:
      type: object
      properties:
        ciphertext:
          type: string
          description: |-
            Зашифрованные данные (шифротекст)
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          format: byte
        sourceKeyRef:
          type: string
          description: |-
            Ссылка на `CryptoKey`, с помощью которого данные в данный момент зашифрованы.
            Если значение не указано, для определения `sourceKeyRef` будут использованы поля `destinationProject` и `destinationKey`
          
            Строка в форматах:
              Полный формат:
                - "kms/projects/{project}/cryptoKeys/{key}"
              Сокращенные форматы:
                - "projects/{project}/cryptoKeys/{key}"
                - "cryptoKeys/{key}"
                - "{key}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Неизменяемое поле. Задается только при создании ресурса.
            При обновлении ресурса можно передать только текущее значение
          
            Примеры:
              - "kms/projects/myProject/cryptoKeys/myKey"
              - "projects/myProject/cryptoKeys/myKey"
              - "cryptoKeys/myKey"
              - "myKey"
        sourceAssociatedData:
          type: string
          description: |-
            Дополнительные данные, которые были включены в исходный процесс аутентифицированного шифрования
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          format: byte
        destinationAssociatedData:
          type: string
          description: |-
            Дополнительные данные, которые могут быть включены в процесс аутентифицированного шифрования при повторном шифровании
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          format: byte
        destinationVersion:
          type: integer
          description: Версия криптографического ключа, используемая для повторного шифрования. Если не указано, используется основная версия ключа
          format: int32
          example: 5
      required:
        - ciphertext

    ReEncryptResponse:
      type: object
      properties:
        ciphertext:
          type: string
          description: |-
            Зашифрованные данные (шифротекст)
          
            Поле содержит чувствительные данные. Ограничьте доступ к ним
          format: byte
        version:
          type: integer
          description: Версия криптографического ключа, использованная для шифрования
          format: int32
          example: 5
      required:
        - ciphertext
        - version

    CryptoKeyVersionListResponse:
      type: object
      properties:
        items:
          type: array
          description: Список версий ключей KMS
          items:
            $ref: '#/components/schemas/CryptoKeyVersionResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    CryptoKeyVersionResponse:
      type: object
      properties:
        kind:
          type: string
        metadata:
          $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
        spec:
          $ref: '#/components/schemas/CryptoKeyVersionSpecResponse'
        status:
          $ref: '#/components/schemas/CryptoKeyVersionStatusResponse'
      required:
        - kind
        - metadata
        - spec
        - status

    CryptoKeyVersionSpecResponse:
      type: object
      properties:
        usagePolicy:
          type: object
          description: Политика использования версии ключа. Определяет, разрешены ли криптографические операции с этой версией
          properties:
            enabled:
              type: boolean
              description: |-
                Флаг, указывающий, разрешены ли криптографические операции с этой версией ключа.
                Если значение установлено в `false`, все операции шифрования, расшифровки и другие
                криптографические операции с этой версией ключа будут заблокированы
              default: true
          nullable: true

    CryptoKeyVersionStatusResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceStatusResponse'
        - type: object
          properties:
            version:
              type: integer
              description: Порядковый номер ключа. Каждый раз при создании новой версии ключа это значение увеличивается
              format: int32
              example: 3
            algorithm:
              type: string
              description: Криптографический алгоритм
              example: AES_256_GCM
            primary:
              type: boolean
              description: |-
                Флаг, указывающий, является ли данная версия криптографического ключа основной.
                Если значение установлено в `true`, эта версия используется по умолчанию
                для всех криптографических операций
            destruction:
              type: object
              description: |-
                Информация о процессе уничтожения версии криптографического ключа.
                Этот раздел присутствует только в том случае, если версия ключа запланирована к уничтожению
                или уже уничтожена
              properties:
                status:
                  type: string
                  description: |-
                    Текущий статус процесса уничтожения версии криптографического ключа.
                    Это поле заполняется только тогда, когда версия ключа находится в одном из статусов уничтожения.
                    Возможные значения:
                    - SCHEDULED_FOR_DESTRUCTION: версия ключа запланирована к уничтожению в будущем
                    - DESTROYED: версия ключа была окончательно уничтожена и не может быть восстановлена
                  enum:
                    - "SCHEDULED_FOR_DESTRUCTION"
                    - "DESTROYED"
                scheduledDestructionTime:
                  type: string
                  description: |-
                    Метка времени, указывающая, когда версия ключа должна быть уничтожена.
                    Если это поле установлено, версия ключа будет автоматически уничтожена в указанное время
                  format: date-time
                  example: 2025-08-01T12:00:00Z
                destroyTime:
                  type: string
                  description: Время уничтожения версии криптографического ключа
                  format: date-time
                  example: 2025-11-01T12:00:00Z
              nullable: true

    CryptoKeyVersionRequest:
      type: object
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/CryptoKeyVersionSpecRequest'
          description: Обязательно для заполнения при создании ресурса

    CryptoKeyVersionSpecRequest:
      type: object
      properties:
        usagePolicy:
          type: object
          description: Политика использования версии ключа. Определяет, разрешены ли криптографические операции с этой версией
          properties:
            enabled:
              type: boolean
              description: |-
                Флаг, указывающий, разрешены ли криптографические операции с этой версией ключа.
                Если значение установлено в `false`, все операции шифрования, расшифровки и другие
                криптографические операции с этой версией ключа будут заблокированы
              default: true
          nullable: true

    CryptoKeyRoleBindingListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CryptoKeyRoleBindingResponse'
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
          description: Строка, которую нужно передать в следующем запросе, чтобы получить следующую страницу. Для последней страницы не задан
      required:
        - items

    CryptoKeyRoleBindingResponse:
      type: object
      properties:
        kind:
          type: string
          default: kms/v1/cryptoKeyRoleBinding
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataResponse'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/CommonRoleBindingSpecResponse'
          description: Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
        status:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingStatusResponse'
          description: Текущее состояние привязки роли, вычисляемое системой
          nullable: true
      required:
        - kind
        - spec

    CommonRoleBindingSpecResponse:
      type: object
      description: Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
      properties:
        subject:
          $ref: '#/components/schemas/CommonRoleBindingSpecSubjectResponse'
          description: Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
        role:
          type: string
          description: |-
            Роль, определяющая права субъекта на ресурс
          
            Строка в форматах:
              Полный формат:
                - "iam/roles/{role}"
              Сокращенные форматы:
                - "roles/{role}"
                - "{role}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/roles/myRole"
              - "roles/myRole"
              - "myRole"
        supportRequestId:
          type: string
          description: |-
            Идентификатор запроса в службу поддержки, в рамках которого был создан биндинг
          
            Строка в форматах:
              Полный формат:
                - "support/requests/{requestName}"
              Сокращенные форматы:
                - "requests/{requestName}"
                - "{requestName}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "support/requests/myRequestName"
              - "requests/myRequestName"
              - "myRequestName"
      required:
        - subject
        - role

    CommonRoleBindingSpecSubjectResponse:
      type: object
      description: Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
      properties:
        user:
          type: string
          description: |-
            Идентификатор пользователя
          
            Строка в форматах:
              Полный формат:
                - "iam/users/{user}"
              Сокращенные форматы:
                - "users/{user}"
                - "{user}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/users/myUser"
              - "users/myUser"
              - "myUser"
        serviceAccount:
          type: string
          description: |-
            Идентификатор сервисного аккаунта, принадлежащего проекту
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAccounts/{serviceAccount}"
              Сокращенные форматы:
                - "projects/{project}/serviceAccounts/{serviceAccount}"
                - "serviceAccounts/{serviceAccount}"
                - "{serviceAccount}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAccounts/myServiceAccount"
              - "projects/myProject/serviceAccounts/myServiceAccount"
              - "serviceAccounts/myServiceAccount"
              - "myServiceAccount"
        serviceAgent:
          type: string
          description: |-
            Идентификатор сервисного агента, связанного с проектом
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAgents/{serviceAgent}"
              Сокращенные форматы:
                - "projects/{project}/serviceAgents/{serviceAgent}"
                - "serviceAgents/{serviceAgent}"
                - "{serviceAgent}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAgents/myServiceAgent"
              - "projects/myProject/serviceAgents/myServiceAgent"
              - "serviceAgents/myServiceAgent"
              - "myServiceAgent"
        userFederation:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationResponse'
          description: Субъект федерации пользователей
          nullable: true
        userGroup:
          type: string
          description: |-
            Идентификатор группы пользователей
          
            Строка в форматах:
              Полный формат:
                - "iam/userGroups/{userGroup}"
              Сокращенные форматы:
                - "userGroups/{userGroup}"
                - "{userGroup}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/userGroups/myUserGroup"
              - "userGroups/myUserGroup"
              - "myUserGroup"
        employee:
          type: string
          description: |-
            Идентификатор пользователя backoffice
          
            Строка в форматах:
              Полный формат:
                - "iam/employees/{employee}"
              Сокращенные форматы:
                - "employees/{employee}"
                - "{employee}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/employees/myEmployee"
              - "employees/myEmployee"
              - "myEmployee"

    CommonRoleBindingFederationResponse:
      type: object
      description: Субъект федерации пользователей — идентификатор федерации и, опционально, контекст, уточняющий, на каких пользователей федерации распространяется привязка роли
      properties:
        id:
          type: string
          description: |-
            Идентификатор федерации
          
            Строка в форматах:
              Полный формат:
                - "iam/organizations/{organization}/userFederations/{userFederation}"
              Сокращенные форматы:
                - "organizations/{organization}/userFederations/{userFederation}"
                - "userFederations/{userFederation}"
                - "{userFederation}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/organizations/myOrganization/userFederations/myUserFederation"
              - "organizations/myOrganization/userFederations/myUserFederation"
              - "userFederations/myUserFederation"
              - "myUserFederation"
        context:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextResponse'
          description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
          nullable: true
      required:
        - id

    CommonRoleBindingFederationContextResponse:
      type: object
      description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
      properties:
        subject:
          type: string
          description: Идентификатор субъекта федерации
          example: vasya@mts.ru
        attribute:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextAttributeResponse'
          description: Атрибут пользователя федерации в виде пары «имя — значение»
          nullable: true

    CommonRoleBindingFederationContextAttributeResponse:
      type: object
      description: Атрибут пользователя федерации в виде пары «имя — значение»
      properties:
        name:
          type: string
          description: Имя атрибута
          example: federationAttributeName
        value:
          type: string
          description: Значение атрибута
          example: federationAttributeValue
      required:
        - name
        - value

    CommonRoleBindingStatusResponse:
      description: Текущее состояние привязки роли, вычисляемое системой
      $ref: '#/components/schemas/ResourceStatusResponse'

    CryptoKeyRoleBindingRequest:
      type: object
      properties:
        metadata:
          allOf:
            - $ref: '#/components/schemas/CommonTypedResourceMetadataRequest'
          description: Набор общих для всех пользовательских объектов атрибутов. Может быть расширен атрибутами, специфичными для контейнеров
          nullable: true
        spec:
          $ref: '#/components/schemas/CommonRoleBindingSpecRequest'
          description: |-
            Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
          
            Обязательно для заполнения при создании ресурса

    CommonRoleBindingSpecRequest:
      type: object
      description: Параметры привязки роли — субъект, которому выдаются права, и роль, определяющая набор этих прав
      properties:
        subject:
          $ref: '#/components/schemas/CommonRoleBindingSpecSubjectRequest'
          description: |-
            Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
          
            Обязательно для заполнения при создании ресурса
        role:
          type: string
          description: |-
            Роль, определяющая права субъекта на ресурс
          
            Строка в форматах:
              Полный формат:
                - "iam/roles/{role}"
              Сокращенные форматы:
                - "roles/{role}"
                - "{role}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "iam/roles/myRole"
              - "roles/myRole"
              - "myRole"
        supportRequestId:
          type: string
          description: |-
            Идентификатор запроса в службу поддержки, в рамках которого был создан биндинг
          
            Строка в форматах:
              Полный формат:
                - "support/requests/{requestName}"
              Сокращенные форматы:
                - "requests/{requestName}"
                - "{requestName}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "support/requests/myRequestName"
              - "requests/myRequestName"
              - "myRequestName"

    CommonRoleBindingSpecSubjectRequest:
      type: object
      description: Субъект привязки роли — пользователь, сервисный аккаунт, группа пользователей или другая сущность, которой выдаются права. Должно быть заполнено ровно одно из полей
      properties:
        user:
          type: string
          description: |-
            Идентификатор пользователя
          
            Строка в форматах:
              Полный формат:
                - "iam/users/{user}"
              Сокращенные форматы:
                - "users/{user}"
                - "{user}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/users/myUser"
              - "users/myUser"
              - "myUser"
        serviceAccount:
          type: string
          description: |-
            Идентификатор сервисного аккаунта, принадлежащего проекту
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAccounts/{serviceAccount}"
              Сокращенные форматы:
                - "projects/{project}/serviceAccounts/{serviceAccount}"
                - "serviceAccounts/{serviceAccount}"
                - "{serviceAccount}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAccounts/myServiceAccount"
              - "projects/myProject/serviceAccounts/myServiceAccount"
              - "serviceAccounts/myServiceAccount"
              - "myServiceAccount"
        serviceAgent:
          type: string
          description: |-
            Идентификатор сервисного агента, связанного с проектом
          
            Строка в форматах:
              Полный формат:
                - "iam/projects/{project}/serviceAgents/{serviceAgent}"
              Сокращенные форматы:
                - "projects/{project}/serviceAgents/{serviceAgent}"
                - "serviceAgents/{serviceAgent}"
                - "{serviceAgent}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/projects/myProject/serviceAgents/myServiceAgent"
              - "projects/myProject/serviceAgents/myServiceAgent"
              - "serviceAgents/myServiceAgent"
              - "myServiceAgent"
        userFederation:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationRequest'
          description: Субъект федерации пользователей
          nullable: true
        userGroup:
          type: string
          description: |-
            Идентификатор группы пользователей
          
            Строка в форматах:
              Полный формат:
                - "iam/userGroups/{userGroup}"
              Сокращенные форматы:
                - "userGroups/{userGroup}"
                - "{userGroup}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/userGroups/myUserGroup"
              - "userGroups/myUserGroup"
              - "myUserGroup"
        employee:
          type: string
          description: |-
            Идентификатор пользователя backoffice
          
            Строка в форматах:
              Полный формат:
                - "iam/employees/{employee}"
              Сокращенные форматы:
                - "employees/{employee}"
                - "{employee}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Примеры:
              - "iam/employees/myEmployee"
              - "employees/myEmployee"
              - "myEmployee"

    CommonRoleBindingFederationRequest:
      type: object
      description: Субъект федерации пользователей — идентификатор федерации и, опционально, контекст, уточняющий, на каких пользователей федерации распространяется привязка роли
      properties:
        id:
          type: string
          description: |-
            Идентификатор федерации
          
            Строка в форматах:
              Полный формат:
                - "iam/organizations/{organization}/userFederations/{userFederation}"
              Сокращенные форматы:
                - "organizations/{organization}/userFederations/{userFederation}"
                - "userFederations/{userFederation}"
                - "{userFederation}"
          
            Полный формат всегда корректен.
            Допускается сокращенный формат: элементы, которые уже есть в пути запроса, в ссылке можно опустить
          
            Обязательно для заполнения при создании ресурса
          
            Примеры:
              - "iam/organizations/myOrganization/userFederations/myUserFederation"
              - "organizations/myOrganization/userFederations/myUserFederation"
              - "userFederations/myUserFederation"
              - "myUserFederation"
        context:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextRequest'
          description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
          nullable: true

    CommonRoleBindingFederationContextRequest:
      type: object
      description: 'Контекст федерации, уточняющий субъекта: конкретный пользователь федерации или атрибут, которым он должен обладать. Должно быть заполнено ровно одно из полей'
      properties:
        subject:
          type: string
          description: Идентификатор субъекта федерации
          example: vasya@mts.ru
        attribute:
          allOf:
            - $ref: '#/components/schemas/CommonRoleBindingFederationContextAttributeRequest'
          description: Атрибут пользователя федерации в виде пары «имя — значение»
          nullable: true

    CommonRoleBindingFederationContextAttributeRequest:
      type: object
      description: Атрибут пользователя федерации в виде пары «имя — значение»
      properties:
        name:
          type: string
          description: |-
            Имя атрибута
          
            Обязательно для заполнения при создании ресурса
          example: federationAttributeName
        value:
          type: string
          description: |-
            Значение атрибута
          
            Обязательно для заполнения при создании ресурса
          example: federationAttributeValue

    ApiError:
      type: object
      description: Описание ошибки (если HTTP-статус отличен от 2xx)
      properties:
        code:
          type: string
          description: Короткий код ошибки
          enum:
            - "ALREADY_EXISTS"
            - "CANCELLED"
            - "DEADLINE_EXCEEDED"
            - "FAILED_PRECONDITION"
            - "INTERNAL"
            - "INVALID_ARGUMENT"
            - "NOT_FOUND"
            - "PERMISSION_DENIED"
            - "QUOTA_EXCEEDED"
            - "IDEMPOTENCY_KEY_ALREADY_USED"
            - "INVALID_ETAG_KEY"
            - "UNAUTHENTICATED"
            - "UNAVAILABLE"
            - "METHOD_NOT_ALLOWED"
            - "TOO_MANY_REQUESTS"
        type:
          type: string
          description: Подтип расширенной информации по ошибкам к которому удалось его привести. Null если привели к базовому типу
        description:
          type: string
          description: Развёрнутое пояснение ошибки
        retryPolicy:
          allOf:
            - $ref: '#/components/schemas/RetryPolicy'
          description: Правила выполнения повторных попыток в случае ошибки
          nullable: true
        details:
          type: object
          description: |-
            Детальная информация по ошибке в произвольном JSON формате. Содержимое не предназначено для машинной обработки
          
            Примеры:
              - '{"jsonPaths": [{"path": "foo.bar", "reason": "some reason", "offset": "line: 1, column: 2"}]}'
              - '{"errorInfo": "some error info"}'
          additionalProperties: true
      required:
        - code

    RetryPolicy:
      type: object
      description: Правила выполнения повторных попыток в случае ошибки
      properties:
        retryCount:
          type: integer
          description: Максимальное количество повторных попыток. 0 - значение по-умолчанию
        retryTimeout:
          type: string
          description: |-
            Пауза между повторными попытками
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
        retryTimeoutScale:
          $ref: '#/components/schemas/RetryTimeoutScale'
          description: Шаг увеличения таймаута
        maxRetryTimeout:
          type: string
          description: |-
            Максимальная длительность таймаута
          
            Поддерживаются следующие форматы:
              - ISO 8601: P(n)DT(n)H(n)M(n)S. Допустимые единицы измерения: дни (`D`), часы (`H`), минуты (`M`), секунды (`S`). Только секунды могут быть дробными
              - Простой формат. Допустимые единицы измерения: `d`, `h`, `m`, `s`, `ms`, `us`, `ns`.
                Величины должны следовать по убыванию единиц измерения
              - Число в секундах
          
            Отрицательные значения обозначаются префиксом "-", в простом формате могут быть ограничены скобками.
            Регистр и пробелы игнорируются
          
            Примеры:
              - "PT1S"
              - "-PT4.2S"
              - "P1DT2H3M4S"
              - "42s"
              - "1h10m42s"
              - "-(1d 2h 3m 4s 5ms 6us 7ns)"
              - "42"
      required:
        - retryCount
        - retryTimeout

    RetryTimeoutScale:
      type: string
      description: Шаг увеличения таймаута
      enum:
        - "FIXED"
        - "LINEAR"
        - "PROGRESSIVE"
        - "EXPONENTIAL"

  securitySchemes:
    BearerAuth:
      description: Токен авторизации IAM
      type: apiKey
      in: header
      name: Authorization

  parameters:
    header_Idempotency-Key:
      name: Idempotency-Key
      in: header
      description: Ключ идемпотентности
      style: simple
      schema:
        type: string

    path_destinationKey:
      name: destinationKey
      in: path
      required: true
      style: simple
      schema:
        type: string

    path_key:
      name: key
      in: path
      required: true
      description: Название крипто-ключа
      style: simple
      schema:
        type: string

    path_project:
      name: project
      in: path
      required: true
      description: Путь к проекту.
      style: simple
      schema:
        type: string

    path_roleBinding:
      name: roleBinding
      in: path
      required: true
      description: Название биндинга роли для крипто-ключа
      style: simple
      schema:
        type: string

    path_version:
      name: version
      in: path
      required: true
      description: Версия крипто-ключа
      style: simple
      schema:
        type: string

    query_createOnly:
      name: createOnly
      in: query
      description: Создать ресурс. Если ресурс уже существует, будет возвращен ответ `AlreadyExists`
      style: form
      explode: true
      schema:
        type: boolean

    query_destructionIntervalDays:
      name: destructionIntervalDays
      in: query
      description: Количество дней, через которое крипто-материал будет безвозвратно удалён
      style: form
      explode: true
      schema:
        type: integer
        format: int32

    query_filter:
      name: filter
      in: query
      description: |-
        Строка фильтра.
        Для фильтрации используется ограниченная реализация AIP-160 (https://google.aip.dev/160).
        Она включает в себя операции =, !=, OR, AND и (), фильтрацию свойств вложенных объектов и wildcard-поиск подстрок
      style: form
      explode: true
      schema:
        type: string

    query_orderBy:
      name: orderBy
      in: query
      description: |-
        Строка сортировки.
        Для сортировки используется реализация AIP-132 (https://google.aip.dev/132#ordering).
        Указывается перечислением полей с направлением сортировки (asc, desc) через запятую.
        По умолчанию используется сортировка по возрастанию (asc)
      style: form
      explode: true
      schema:
        type: string

    query_pageSize:
      name: pageSize
      in: query
      description: Максимальное количество объектов, которые клиент готов принять. Сервис определяет значение по умолчанию и верхнюю границу
      style: form
      explode: true
      schema:
        type: integer

    query_pageToken:
      name: pageToken
      in: query
      description: Строка, из предыдущего ответа на аналогичный запрос, для получения следующей страницы с объектами. Не задано для получения первой страницы
      style: form
      explode: true
      schema:
        type: string

    query_updateOnly:
      name: updateOnly
      in: query
      description: |-
        Обновить ресурс, если он существует. Если ресурс не существует, будет возвращен ответ `Not Found`.
        Если прав на выполнение операции недостаточно, будет возвращен ответ `PermissionDenied`
      style: form
      explode: true
      schema:
        type: boolean

